{# templates/pages/conferences/form.html.twig #}
{% import "__macros.html.twig" as macros %}
<form class="form-horizontal" role="form" method="POST" autocomplete="off" autofill="off">
    <div class="card card-default">
        <div class="card-body">
            <h5>Information</h5>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="conference-name" class="control-label">Name</label>
                    <p class="hint-text small"><em>Event &amp; Organizer Name</em></p>
                </div>
                <div class="col-md-9">
                    {%
                        set attr = {
                            'type'          : 'text',
                            'class'         : 'form-control',
                            'id'            : 'conference-name',
                            'placeholder'   : 'Event Name',
                            'name'          : 'name',
                            'value'         : form.name|escape,
                            'title'         : '5 characters minimum, max at 500',
                            'pattern'       : '.{5,500}',
                            'minlength'     : 5,
                            'maxlength'     : 500,
                            'autocapitalize': 'none',
                            'autocomplete'  : 'off',
                            'autocorrect'   : 'off',
                            'spellcheck'    : 'true',
                            'required'      : true,
                        }
                    %}
                    <input {{ macros.setAttributes(attr) }}/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="startdate-input" class="control-label">Event Dates</label>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="start-datetimepicker-area"></div>
                            <div class="form-group-default" id="startdate-wrapper" data-target-input="#startdate-input">
                                <label>Date Starts</label>
                                {%
                                    set attr = {
                                        'type'          : 'text',
                                        'id'            : 'startdate-input',
                                        'class'         : 'form-control datetimepicker-input',
                                        'name'          : 'startdate',
                                        'value'         : form.startdate,
                                        'autocapitalize': 'none',
                                        'autocomplete'  : 'off',
                                        'autocorrect'   : 'off',
                                        'spellcheck'    : 'false',
                                        'required'      : false,
                                        'data-target'   : '#startdate-wrapper',
                                        'placeholder'   : 'Format YYYY-MM-DD',
                                    }
                                %}
                                <input {{ macros.setAttributes(attr) }}/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="end-datetimepicker-area"></div>
                            <div class="form-group-default" id="enddate-wrapper" data-target-input="#enddate-input">
                                <label>Date Ends</label>
                                {%
                                    set attr = {
                                        'type'          : 'text',
                                        'id'            : 'enddate-input',
                                        'class'         : 'form-control datetimepicker-input',
                                        'name'          : 'enddate',
                                        'value'         : form.enddate,
                                        'autocapitalize': 'none',
                                        'autocomplete'  : 'off',
                                        'autocorrect'   : 'off',
                                        'spellcheck'    : 'false',
                                        'required'      : false,
                                        'data-target'   : '#enddate-wrapper',
                                        'placeholder'   : 'Format YYYY-MM-DD',
                                    }
                                %}
                                <input {{ macros.setAttributes(attr) }}/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="country-select" class="control-label">Event Location</label>
                    <p class="hint-text small">
                        <em>
                            Select either City, Country or Region, the nearest known relation will be auto-fill.<br/>
                            If City is not listed, just enter the City name, and hit Enter.<br/>
                            <br/>
                            Change this to disable auto-fill.
                        </em>
                    </p>
                    <div>
                        {%
                            set attr = {
                                'id'              : 'country-auto',
                                'type'            : 'checkbox',
                                'name'            : 'auto',
                                'data-init-plugin': 'bootstrap4-toggle',
                                'data-on'         : 'Auto',
                                'data-off'        : 'Manual',
                                'data-size'       : 'xs',
                                'data-width'      : '100',
                                'data-onstyle'    : 'info',
                                'class'           : 'opacity-0',
                                'value'           : '1',
                                'checked'         : true
                            }
                        %}
                        <input {{ macros.setAttributes(attr) }}/>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row mb-2">
                        <div class="col-md-4">
                            <div class="form-group-default">
                                <label for="city-select">City</label>
                                {%
                                    set attr = {
                                        'id'              : 'city-select',
                                        'class'           : 'form-control show-tick',
                                        'name'            : 'city',
                                        'multiple'        : false,
                                        'data-init-plugin': 'select2',
                                        'data-tags'       : 'true',
                                        'data-allow-clear': 'true',
                                        'data-placeholder': 'n/a',
                                        'style'           : 'width: 100%;',
                                    }
                                %}
                                <select {{ macros.setAttributes(attr) }}>
                                    <option value=""></option>
                                    {%- for city in template.city -%}
                                        {%-
                                            set attr = {
                                                'value'   : city.name,
                                                'title'   : city.name,
                                                'selected': city.selected,
                                            }
                                        -%}
                                        <option {{ macros.setAttributes(attr) }}>{{ city.name }}</option>
                                    {%- endfor -%}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group-default">
                                <label for="state">State</label>
                                {%
                                    set attr = {
                                        'type'          : 'text',
                                        'class'         : 'form-control my-1',
                                        'id'            : 'state',
                                        'name'          : 'state',
                                        'value'         : form.state|escape,
                                        'autocapitalize': 'none',
                                        'autocomplete'  : 'off',
                                        'autocorrect'   : 'off',
                                        'spellcheck'    : 'true',
                                    }
                                %}
                                <input {{ macros.setAttributes(attr) }}/>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group-default">
                                <label for="cityguide">City Guide</label>
                                {%
                                    set attr = {
                                        'type'          : 'text',
                                        'class'         : 'form-control my-1',
                                        'id'            : 'cityguide',
                                        'name'          : 'cityguide',
                                        'value'         : form.cityguide|escape,
                                        'title'         : 'Maximum 150 characters',
                                        'pattern'       : '.{,150}',
                                        'maxlength'     : 150,
                                        'autocapitalize': 'none',
                                        'autocomplete'  : 'off',
                                        'autocorrect'   : 'off',
                                        'spellcheck'    : 'true',
                                    }
                                %}
                                <input {{ macros.setAttributes(attr) }}/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group-default">
                                <label>Country</label>
                                {%
                                    set attr = {
                                        'id'              : 'country-select',
                                        'class'           : 'form-control show-tick',
                                        'name'            : 'country',
                                        'multiple'        : false,
                                        'data-init-plugin': 'select2',
                                        'data-tags'       : 'false',
                                        'data-allow-clear': 'true',
                                        'data-placeholder': 'n/a',
                                        'style'           : 'width: 100%;',
                                    }
                                %}
                                <select {{ macros.setAttributes(attr) }}>
                                    <option value=""></option>
                                    {%- for country in template.country -%}
                                        {%-
                                            set attr = {
                                                'value'   : country.isocode,
                                                'selected': country.selected,
                                            }
                                        -%}
                                        <option {{ macros.setAttributes(attr) }}>{{ country.name }}</option>
                                    {%- endfor -%}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group-default">
                                <label>Region</label>
                                {%
                                    set attr = {
                                        'id'              : 'region-select',
                                        'class'           : 'form-control show-tick',
                                        'name'            : 'region',
                                        'multiple'        : false,
                                        'data-init-plugin': 'select2',
                                        'data-tags'       : 'false',
                                        'data-allow-clear': 'true',
                                        'data-placeholder': 'n/a',
                                        'style'           : 'width: 100%;',
                                    }
                                %}
                                <select {{ macros.setAttributes(attr) }}>
                                    <option value=""></option>
                                    {%- for region in template.region -%}
                                        {%-
                                            set attr = {
                                                'value'   : region.id,
                                                'title'   : region.name,
                                                'selected': region.selected,
                                            }
                                        -%}
                                        <option {{ macros.setAttributes(attr) }}>{{ region.caption }}</option>
                                    {%- endfor -%}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 control-label">Other Attributes</label>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3">
                            <p>On Cruise?</p>
                            {{  macros.printRadioFields('opt-cruise',
                                    {
                                        'inline': true,
                                        'values' : template.oncruise
                                    },
                                    'oncruise'
                                )
                            }}
                        </div>
                        <div class="col-md-3">
                            <p>On Line?</p>
                            {{ macros.printRadioFields('opt-online',
                                {
                                        'inline': true,
                                        'values' : template.online
                                    },
                                    'online'
                                )
                            }}
                        </div>
                        <div class="col-md-3">
                            <p>Key Congress?</p>
                            {{ macros.printRadioFields('opt-key-congress',
                                    {
                                        'inline': true,
                                        'values' : template.keycongress
                                    },
                                    'keycongress'
                                )
                            }}
                        </div>
                        <div class="col-md-3">
                            <p>Discontinued?</p>
                            {{ macros.printRadioFields('opt-discontinued',
                                {
                                        'inline': true,
                                        'values' : template.discontinued
                                    },
                                    'discontinued'
                                )
                            }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="specialty-selector" class="control-label">Specialties</label>
                    <p class="hint-text small">
                        <em>Select more then one Specialty by holding CTRL or CMD key.<br/>
                        To add new one, just simply type-in, then hit Enter key.</em>
                    </p>
                </div>
                <div class="col-md-9">
                    {%
                        set attr = {
                            'id'              : 'specialty-selector',
                            'class'           : 'form-control show-tick',
                            'name'            : 'specialty[]',
                            'multiple'        : true,
                            'data-init-plugin': 'select2',
                            'data-tags'       : 'true',
                            'data-allow-clear': 'true',
                            'style'           : 'width: 100%;',
                        }
                    %}
                    <select {{ macros.setAttributes(attr) }}>
                        {%- for specialty in template.specialty -%}
                            {%-
                                set attr = {
                                    'value'   : specialty.id,
                                    'selected': specialty.selected,
                                }
                            -%}
                            <option {{ macros.setAttributes(attr) }}>{{ specialty.name }}</option>
                        {%- endfor -%}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-default">
        <div class="card-body">
            <h5>Contacts</h5>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="contactnote" class="control-label">Contact</label>
                </div>
                <div class="col-md-9">
                    <textarea id="contactnote" name="contactnote" rows="5" class="form-control">{{ form.contactnote|raw }}</textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="contact-contactphone-repeater" class="control-label">Phones</label>
                </div>
                <div class="col-md-9">
                    {{ macros.printConferenceContactRepeaterFields('contactphone', 'text', 'Phone', form.contactphone) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="contact-contactemail-repeater" class="control-label">Emails</label>
                </div>
                <div class="col-md-9">
                    {{ macros.printConferenceContactRepeaterFields('contactemail', 'email', 'Email', form.contactemail) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="contact-contactfax-repeater" class="control-label">Faxes</label>
                </div>
                <div class="col-md-9">
                    {{ macros.printConferenceContactRepeaterFields('contactfax', 'text', 'Fax', form.contactfax) }}
                </div>
            </div>
        </div>
    </div>
    <div class="card card-default">
        <div class="card-body">
            <h5>Guide</h5>
            <div class="form-group row">
                <label class="col-md-3 control-label">Guide</label>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Include Guide?</p>
                            {{ macros.printRadioFields('opt-has-guide',
                                {
                                        'inline': true,
                                        'values' : template.hasguide
                                    },
                                    'hasguide'
                                )
                            }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="guide-links-repeater" class="control-label">Links</label>
                </div>
                <div class="col-md-9">
                    {{ macros.printConferenceLinksRepeaterFields('links', form.links) }}
                </div>
            </div>
        </div>
    </div>
    <div class="card card-default">
        <div class="card-body">
            <h5>Miscellaneous</h5>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="uniquename" class="control-label">Unique Name</label>
                    <p class="hint-text small">
                        <em>
                            Additional identifier to identify this Conference.
                        </em>
                    </p>
                </div>
                <div class="col-md-9">
                    {%
                        set attr = {
                            'type'          : 'text',
                            'id'            : 'uniquename',
                            'class'         : 'form-control',
                            'name'          : 'uniquename',
                            'value'         : form.uniquename|escape,
                            'title'         : 'Max 200 characters',
                            'pattern'       : '.{,200}',
                            'maxlength'     : 200,
                            'autocapitalize': 'none',
                            'autocomplete'  : 'off',
                            'autocorrect'   : 'off',
                            'spellcheck'    : 'false',
                            'required'      : false,
                        }
                    %}
                    <input {{ macros.setAttributes(attr) }}/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="preveventid" class="control-label">Event ID</label>
                    <p class="hint-text small">
                        <em>
                            32 Characters identifier used before, for reference only.
                            This Conference is reachable by this ID.
                        </em>
                    </p>
                </div>
                <div class="col-md-9">
                    {%
                        set attr = {
                            'type'          : 'text',
                            'id'            : 'preveventid',
                            'class'         : 'form-control text-master',
                            'value'         : (conference is defined ? (conference.getPreviousId() ?? '') : ''),
                            'disabled'      : true,
                        }
                    %}
                    <input {{ macros.setAttributes(attr) }}/>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <div>
                {% if conference is defined %}
                    {%
                        set attr = {
                            'id'   : 'remove-conference',
                            'class': 'btn btn-danger',
                            'href' : path('conference_remove', {'id': conference.getid() }),
                        }
                    %}
                    <a {{ macros.setAttributes(attr) }}>
                        <i class="far fa-trash-alt fa-lg mr-1"></i>
                        Remove this Conference
                    </a>
                {% endif %}
            </div>
            <div>
                {%
                    set attr = {
                        'type'    : 'submit',
                        'class'   : 'btn btn-primary',
                    }
                %}
                <button {{ macros.setAttributes(attr) }}>
                    <i class="fa fa-save fa-lg mr-1"></i>
                    {{ (conference is defined ? 'Update' : 'Register') }} Conference
                </button>
            </div>
        </div>
    </div>
</form>