{# templates/pages/conferences/modify.html.twig #}
{% extends 'layouts/content-central.html.twig' %}
{% import "__macros.html.twig" as macros %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ '/assets/vendor/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ '/assets/vendor/moment/moment.min.js' }}"></script>
    <script type="text/javascript" src="{{ '/assets/vendor/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' }}"></script>
    <script type="text/javascript" src="{{ '/assets/vendor/jquery.repeater/jquery.repeater.min.js' }}"></script>
    <script type="text/javascript" src="{{ asset('assets/build/page-conference-main-form.min.js') }}"></script>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('dashboard') }}">
                <i class="fa fa-home fa-lg"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <span>{{ head.entity }}</span>
        </li>
        <li class="breadcrumb-item active">
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">{{ head.action }}</a>
        </li>
    </ol>
{% endblock %}

{% block inner_body %}
    <div class="container-fluid container-fixed-lg">
        <div class="card card-transparent mb-1">
            <div class="card-header">
                <div class="card-title">
                    {{ head.entity }}
                </div>
            </div>
            <div class="card-body">
                <h3 class="text-primary mb-0">
                    <i class="far fa-calendar-times"></i>
                    {{ head.subtitle }}
                </h3>
            </div>
        </div>
        {% include 'pages/conferences/form.html.twig' %}
    </div>
{% endblock %}