{# templates/pages/conferences/search.html.twig #}
{% extends 'layouts/content-central.html.twig' %}
{% import "__macros.html.twig" as macros %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ '/assets/vendor/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' }}" />
    <link rel="stylesheet" type="text/css" href="{{ '/assets/vendor/datatables/dataTables.bootstrap4.min.css' }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/build/page-confjour-advance-search.min.css') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ '/assets/vendor/moment/moment.min.js' }}"></script>
    <script type="text/javascript" src="{{ '/assets/vendor/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' }}"></script>
    <script type="text/javascript" src="{{ '/assets/vendor/datatables/jquery.dataTables.min.js' }}"></script>
    <script type="text/javascript" src="{{ '/assets/vendor/datatables/dataTables.bootstrap4.min.js' }}"></script>
    <script type="text/javascript" src="{{ asset('assets/build/page-confjour-advance-search.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/build/page-conference-search.min.js') }}"></script>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('dashboard') }}">
                <i class="fa fa-home fa-lg"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <span>{{ head.entity }}</span>
        </li>
        <li class="breadcrumb-item active">
            <a href="{{ path(app.request.attributes.get('_route')) }}">{{ head.action }}</a>
        </li>
    </ol>
{% endblock %}

{% block inner_body %}
    <div class="container-fluid p-l-25 p-r-25 p-t-0 p-b-25 sm-padding-10">
        <div class="row">
            <div class="col-12">
                <div class="card card-transparent m--0">
                    <div class="card-header">
                        <div class="card-title">
                            {{ head.entity }}
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="text-primary">
                            <i class="fa fa-calendar-day"></i>
                            {{ head.subtitle }}
                        </h3>
                        <a name="results"></a>

                        <div class="card card-default {{ (meta.overall > 0 ? 'card-collapsed' : '') }}" data-pages="card">
                            <div class="card-header" data-toggle="collapse">
                                <div class="card-title">
                                    Search Form
                                </div>
                                <div class="card-controls">
                                    <ul>
                                        <li>
                                            <a data-toggle="collapse" class="card-collapse" href="#">
                                                <i class="icon fas fa-level-{{ (meta.overall > 0 ? 'down' : 'up') }}-alt"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body mt-2" {{ (meta.overall > 0 ? 'style="display:none;"' : '') }}>
                                <form id="conferences-search" class="search-form" role="form" method="GET" autocomplete="off" autofill="off">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="form-group form-group-default">
                                                <label>Name / Organization **</label>
                                                <p class="help-text text-primary hint-text small" style="display: none;">
                                                    Either Conference Name or Organization name. Consider using the search-symbol below to help filter down the results.
                                                </p>
                                                {%
                                                    set attr = {
                                                        'type'          : 'text',
                                                        'class'         : 'form-control',
                                                        'name'          : 'name',
                                                        'value'         : form.name,
                                                        'autocapitalize': 'none',
                                                        'autocomplete'  : 'off',
                                                        'autocorrect'   : 'off',
                                                        'spellcheck'    : 'false',
                                                        'required'      : false,
                                                    }
                                                %}
                                                <input {{ macros.setAttributes(attr) }}>
                                            </div>
                                            <div class="row help-text" style="display: none;">
                                                <div class="col-md-12">
                                                    <p class="text-primary hint-text small pt-0 pb-2 px-2">
                                                        You may select multiple Cities, Country or Region, by holding CRLT or CMD key while selection.<br/>
                                                        This will <b>broaden</b> the search results to which Conference at selected locality.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group form-group-default">
                                                        <label>City</label>
                                                        {%
                                                            set attr = {
                                                                'class'           : 'form-control show-tick',
                                                                'name'            : 'city[]',
                                                                'multiple'        : true,
                                                                'data-init-plugin': 'select2',
                                                                'data-tags'       : 'true',
                                                                'data-allow-clear': 'true',
                                                                'data-placeholder': 'Any City',
                                                                'style'           : 'width: 100%;',
                                                            }
                                                        %}
                                                        <select {{ macros.setAttributes(attr) }}>
                                                            {%- for city in template.city -%}
                                                                {%-
                                                                    set attr = {
                                                                        'value'   : city.name,
                                                                        'title'   : city.name,
                                                                        'selected': city.selected,
                                                                    }
                                                                -%}
                                                                <option {{ macros.setAttributes(attr) }}>{{ city.name }}</option>
                                                            {%- endfor -%}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group form-group-default">
                                                        <label>Country</label>
                                                        {%
                                                            set attr = {
                                                                'class'           : 'form-control show-tick',
                                                                'name'            : 'country[]',
                                                                'multiple'        : true,
                                                                'data-init-plugin': 'select2',
                                                                'data-allow-clear': 'true',
                                                                'data-placeholder': 'Any Country',
                                                                'style'           : 'width: 100%;',
                                                            }
                                                        %}
                                                        <select {{ macros.setAttributes(attr) }}>
                                                            {%- for country in template.country -%}
                                                                {%-
                                                                    set attr = {
                                                                        'value'   : country.isocode,
                                                                        'selected': country.selected,
                                                                    }
                                                                -%}
                                                                <option {{ macros.setAttributes(attr) }}>{{ country.name }}</option>
                                                            {%- endfor -%}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group form-group-default">
                                                        <label>Region</label>
                                                        {%
                                                            set attr = {
                                                                'id'              : 'region-select',
                                                                'class'           : 'form-control show-tick',
                                                                'name'            : 'region[]',
                                                                'multiple'        : true,
                                                                'data-init-plugin': 'select2',
                                                                'data-allow-clear': 'true',
                                                                'data-placeholder': 'Any Region',
                                                                'style'           : 'width: 100%;',
                                                            }
                                                        %}
                                                        <select {{ macros.setAttributes(attr) }}>
                                                            {%- for region in template.region -%}
                                                                {%-
                                                                    set attr = {
                                                                        'value'   : region.id,
                                                                        'title'   : region.name,
                                                                        'selected': region.selected,
                                                                    }
                                                                -%}
                                                                <option {{ macros.setAttributes(attr) }}>{{ region.caption }}</option>
                                                            {%- endfor -%}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-group-default">
                                                <label>Specialties</label>
                                                <p class="help-text text-primary hint-text small" style="display: none;">
                                                    You may select multiple Specialties by holding the CLRT or CMD key, or enter new one (as partial search) then hit enter.<br/>
                                                    This will <b>narrow</b> the search results to which assigned the selected Specialty.
                                                </p>
                                                {%
                                                    set attr = {
                                                        'class'           : 'form-control show-tick',
                                                        'name'            : 'specialty[]',
                                                        'multiple'        : true,
                                                        'data-init-plugin': 'select2',
                                                        'data-tags'       : 'true',
                                                        'data-allow-clear': 'true',
                                                        'data-placeholder': 'Any Specialty',
                                                        'style'           : 'width: 100%;',
                                                    }
                                                %}
                                                <select {{ macros.setAttributes(attr) }}>
                                                    {%- for specialty in template.specialty -%}
                                                        {%-
                                                            set attr = {
                                                                'value'   : specialty.id,
                                                                'selected': specialty.selected,
                                                            }
                                                        -%}
                                                        <option {{ macros.setAttributes(attr) }}>{{ specialty.name }}</option>
                                                    {%- endfor -%}
                                                </select>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div id="start-datetimepicker-area"></div>
                                                    <div class="form-group form-group-default" id="startdate-wrapper" data-target-input="#startdate-input">
                                                        <label>Date Starts</label>
                                                        {%
                                                            set attr = {
                                                                'type'          : 'text',
                                                                'id'            : 'startdate-input',
                                                                'class'         : 'form-control datetimepicker-input',
                                                                'name'          : 'startdate',
                                                                'value'         : form.startdate,
                                                                'autocapitalize': 'none',
                                                                'autocomplete'  : 'off',
                                                                'autocorrect'   : 'off',
                                                                'spellcheck'    : 'false',
                                                                'required'      : false,
                                                                'data-target'   : '#startdate-wrapper',
                                                                'placeholder'   : 'Format YYYY-MM-DD',
                                                            }
                                                        %}
                                                        <input {{ macros.setAttributes(attr) }}/>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div id="end-datetimepicker-area"></div>
                                                    <div class="form-group form-group-default" id="enddate-wrapper" data-target-input="#enddate-input">
                                                        <label>Date Ends</label>
                                                        {%
                                                            set attr = {
                                                                'type'          : 'text',
                                                                'id'            : 'enddate-input',
                                                                'class'         : 'form-control datetimepicker-input',
                                                                'name'          : 'enddate',
                                                                'value'         : form.enddate,
                                                                'autocapitalize': 'none',
                                                                'autocomplete'  : 'off',
                                                                'autocorrect'   : 'off',
                                                                'spellcheck'    : 'false',
                                                                'required'      : false,
                                                                'data-target'   : '#enddate-wrapper',
                                                                'placeholder'   : 'Format YYYY-MM-DD',
                                                            }
                                                        %}
                                                        <input {{ macros.setAttributes(attr) }}/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-group-default">
                                                <label>ID / UNID / Unique Name **</label>
                                                <p class="help-text text-primary hint-text small" style="display: none;">
                                                    Lookup on several IDs generated from current or previous system
                                                </p>
                                                {%
                                                    set attr = {
                                                        'type'          : 'text',
                                                        'class'         : 'form-control',
                                                        'name'          : 'ids',
                                                        'value'         : form.ids,
                                                        'autocapitalize': 'none',
                                                        'autocomplete'  : 'off',
                                                        'autocorrect'   : 'off',
                                                        'spellcheck'    : 'false',
                                                        'required'      : false,
                                                    }
                                                %}
                                                <input {{ macros.setAttributes(attr) }}/>
                                            </div>
                                            <div class="form-group form-group-default">
                                                <p class="text-muted fs-12">** Use these symbols to drill down the search result;</p>
                                                <ul class="text-muted fs-12 mt-2">
                                                    <li><code class="readable">^</code>&nbsp; Begins with <code class="readable">^X</code></li>
                                                    <li><code class="readable">$</code>&nbsp; Ends with <code class="readable">X$</code></li>
                                                    <li><code class="readable">*</code>&nbsp; Any / Wildcard <code class="readable">ab*x</code></li>
                                                    <li><code class="readable">+</code>&nbsp; Space concatenate between 2 words <code class="readable">ali+baba</code></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-3">
                                            <div class="row no-gutters">
                                                <div class="col-6 col-md-12">
                                                    <div class="form-group form-group-default">
                                                        <label>Key Congress</label>
                                                        {{ macros.printRadioFields('opt-key-congress',
                                                                {
                                                                    'inline': true,
                                                                    'values' : template.keycongress
                                                                },
                                                                'keycongress'
                                                            )
                                                        }}
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-12">
                                                    <div class="form-group form-group-default">
                                                        <label>On Cruise</label>
                                                        {{ macros.printRadioFields('opt-cruise',
                                                            {
                                                                    'inline': true,
                                                                    'values' : template.oncruise
                                                                },
                                                                'oncruise'
                                                            )
                                                        }}
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-12">
                                                    <div class="form-group form-group-default">
                                                        <label>On Line</label>
                                                        {{ macros.printRadioFields('opt-online',
                                                            {
                                                                    'inline': true,
                                                                    'values' : template.online
                                                                },
                                                                'online'
                                                            )
                                                        }}
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-12">
                                                    <div class="form-group form-group-default">
                                                        <label>Has Guide</label>
                                                        {{ macros.printRadioFields('opt-has-guide',
                                                            {
                                                                    'inline': true,
                                                                    'values' : template.hasguide
                                                                },
                                                                'hasguide'
                                                            )
                                                        }}
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-12">
                                                    <div class="form-group form-group-default">
                                                        <label>Discontinued</label>
                                                        {{ macros.printRadioFields('opt-discontinued',
                                                            {
                                                                    'inline': true,
                                                                    'values' : template.discontinued
                                                                },
                                                                'discontinued'
                                                            )
                                                        }}
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-12">
                                                    <div class="form-group form-group-default">
                                                        <label>Show Corrupted</label>
                                                        <p class="help-text text-primary hint-text small" style="display: none;">
                                                            Imported Conferences may have blank Name.
                                                        </p>
                                                        {{ macros.printRadioFields('opt-showcorrupted',
                                                            {
                                                                    'inline': true,
                                                                    'values' : template.showcorrupted
                                                                },
                                                                'showcorrupted'
                                                            )
                                                        }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-between">
                                            <div>
                                                <a href="#" id="help-text-toggle" class="btn btn-secondary">
                                                    <i class="fas fa-info-circle"></i>
                                                    Help
                                                </a>
                                                <button id="search-reset" type="reset" class="btn btn-secondary active" value="clear">
                                                    <i class="fas fa-redo-alt"></i>
                                                    Reset
                                                </button>
                                            </div>
                                            <button type="submit" class="btn btn-primary active">
                                                <i class="fas fa-search"></i>
                                                Search
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        {% if meta.searched is not empty %}
                            <div class="card card-transparent" id="results-card">
                                <div class="card-body">
                                    <h3 class="text-primary">Search Results</h3>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <div>
                                                <p>
                                                    {% if (meta.count == meta.overall) %}
                                                        Found {{ meta.count|number_format(0, '.', ',') }} Result{{ macros.ifTrueThenReturn((meta.count > 1), 's', '') }}.
                                                    {% else %}
                                                        Found {{ meta.overall|number_format(0, '.', ',') }} related results,
                                                        showing page {{ meta.page }} contains {{ meta.count|number_format(0, '.', ',') }} of result{{ macros.ifTrueThenReturn((meta.count > 1), 's', '') }}.
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="mt-1">
                                                {% include 'components/pagination.html.twig' with {
                                                    currentPage: meta.page,
                                                    lastPage   : meta.maxpage,
                                                } only %}
                                            </div>
                                        </div>
                                        {% if (meta.count > 0) %}
                                        <div>
                                            <a href="#" id="export-csv" class="btn btn-primary btn-sm" style="display: none;">
                                                <i class="fa fa-file-csv fa-2x"></i>
                                                &nbsp;Export CSV
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>

                                    {% if (meta.count > 0) %}
                                        <div class="mt-4">
                                            <div class="table-responsive">
                                                <table id="search-results" class="table table-sm table-striped table-condensed dataTable no-footer" role="grid">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th width="60%">Conference Name / Locality</th>
                                                            <th>Specialties</th>
                                                            <th>Attributes</th>
                                                            <th width="10%">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% set action_viewable = is_granted('ROLE_USER') %}
                                                        {% set action_editable = is_granted('ROLE_EDITOR') %}
                                                        {% for conference in results %}
                                                            <tr>
                                                                <td data-id="{{ conference.getId() }}" title="#{{ conference.getId() }} - {{ conference.getName() }}">
                                                                    <h6>{{ conference.getName() ?? '(No Name)' }}</h6>
                                                                    <div>
                                                                        {{ (conference.getCity()    ? conference.getCity() ~ ','              : '')  }}
                                                                        {{ (conference.getCountry() ? conference.getCountry().getName() ~ ',' : '')  }}
                                                                        {{ (conference.getRegion()  ? conference.getRegion().getName()        : '')  }}
                                                                    </div>
                                                                    <div class="hint-text">
                                                                        {{ restable.dates[ conference.getId() ] ?? '' }}
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex flex-wrap badge-wrapper">
                                                                        {% for specialty in conference.getSpecialties()|slice(0, 5) %}
                                                                            <span class="badge badge-info" title="{{ specialty.getSpecialty().getSpecialty() }}">
                                                                                {{- specialty.getSpecialty().getSpecialty() -}}
                                                                            </span>
                                                                        {% endfor %}
                                                                        {% if (conference.getSpecialties().count() > 5) %}
                                                                            <span class="badge badge-secondary">{{ conference.getSpecialties().count() - 5 }} more...</span>
                                                                        {% endif %}
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex flex-wrap badge-wrapper">
                                                                        {% if (conference.isKeyEvent()) %}
                                                                            <span class="badge badge-success">Key Congress</span>
                                                                        {% endif %}
                                                                        {% if (conference.isCruise()) %}
                                                                            <span class="badge badge-info">On Cruise</span>
                                                                        {% endif %}
                                                                        {% if (conference.isOnline()) %}
                                                                            <span class="badge badge-info">On Line</span>
                                                                        {% endif %}
                                                                        {% if (conference.isHasGuide()) %}
                                                                            <span class="badge badge-info">Has Guide</span>
                                                                        {% endif %}
                                                                        {% if (conference.isDiscontinued()) %}
                                                                            <span class="badge badge-danger">Discontinued</span>
                                                                        {% endif %}
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    {% if action_viewable %}
                                                                        <a href="{{ path('conference_view', {'id': conference.getId() }) }}" class="btn btn-primary" title="View Conference">
                                                                            <i class="far fa-eye"></i>
                                                                        </a>
                                                                    {% endif %}
                                                                    {% if action_editable %}
                                                                        <a href="{{ path('conference_modify', {'id': conference.getId() }) }}" class="btn btn-secondary active" title="Edit Conference">
                                                                            <i class="far fa-edit"></i>
                                                                        </a>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}