{# templates/pages/conferences/view.html.twig #}
{% extends 'layouts/content-central-with-right-pane.html.twig' %}
{% import "__macros.html.twig" as macros %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/assets/vendor/clipboard/clipboard.min.js"></script>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('dashboard') }}">
                <i class="fa fa-home fa-lg"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <span>{{ head.entity }}</span>
        </li>
        <li class="breadcrumb-item active">
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">{{ head.action }}</a>
        </li>
    </ol>
{% endblock %}

{%
    set sidedata = {
        'Details': [
            {
                'caption': 'Cruise',
                'value'  : (conference.isCruise() ? 'Yes' : 'No'),
                'color'  : (conference.isCruise() ? 'success' : 'info'),
            },
            {
                'caption': 'Online',
                'value'  : (conference.isOnline() ? 'Yes' : 'No'),
                'color'  : (conference.isOnline() ? 'success' : 'info'),
            },
            {
                'caption': 'Key Conference',
                'value'  : (conference.isKeyEvent() ? 'Yes' : 'No'),
                'color'  : (conference.isKeyEvent() ? 'success' : 'info'),
            },
            {
                'caption': 'Has Guide?',
                'value'  : (conference.isHasGuide() ? 'Yes' : 'No'),
                'color'  : (conference.isHasGuide() ? 'success' : 'info'),
            },
            {
                'caption': 'Discontinued',
                'value'  : (conference.isDiscontinued() ? 'Yes' : 'No'),
                'color'  : (conference.isDiscontinued() ? 'danger' : 'success'),
            },
            {
                'caption': 'Specialties',
                'value'  : (conference.getSpecialties().count()) ~ ' count' ~ (conference.getSpecialties().count() > 1 ? 's' : ''),
                'color'  : (conference.getSpecialties().count() > 0 ? 'success' : 'info'),
            },
            {
                'caption': 'Contacts',
                'value'  : [
                                (conference.getDetailsContactPhones()|length) ~ ' phone' ~ (conference.getDetailsContactPhones()|length > 1 ? 's' : ''),
                                (conference.getDetailsContactEmails()|length) ~ ' email' ~ (conference.getDetailsContactEmails()|length > 1 ? 's' : ''),
                                (conference.getDetailsContactFaxes()|length) ~ ' fax' ~ (conference.getDetailsContactFaxes()|length > 1 ? 'es' : ''),
                           ],
                'color'  : 'info'
            },
            {
                'caption': 'Links',
                'value'  : (conference.getDetailsContactLinks()|length) ~ ' Link' ~ (conference.getDetailsContactLinks()|length > 1 ? 's' : ''),
                'color'  : (conference.getDetailsContactLinks()|length > 0 ? 'success' : 'info'),
            },
        ],
        'Record': [
            {
                'caption': 'Created by',
                'show'   : (conference.getDetailsMetaCreatedBy() != null),
                'value'  : [
                                (conference.getDetailsMetaCreatedBy() ? conference.getDetailsMetaCreatedBy() : ''),
                                (conference.getDetailsMetaCreatedOn() ? conference.getDetailsMetaCreatedOn().format('j M Y') : ''),
                           ],
                'color'  : 'info'
            },
            {
                'caption': 'Updated by',
                'show'   : (conference.getDetailsMetaModifiedBy() != null),
                'value'  : [
                                (conference.getDetailsMetaModifiedBy() ? conference.getDetailsMetaModifiedBy() : ''),
                                (conference.getDetailsMetaModifiedOn() ? conference.getDetailsMetaModifiedOn().format('j M Y') : ''),
                           ],
                'color'  : 'info'
            }
        ],
    }
%}

{% block inner_links %}
    <div class="btn-group" role="group">
        <div class="btn-group" role="group">
            {%
                set attr = {
                    'id'           : 'conference-links',
                    'type'         : 'button',
                    'class'        : 'btn btn-secondary active dropdown-toggle',
                    'data-toggle'  : 'dropdown',
                    'aria-haspopup': 'true',
                    'aria-expanded': 'false',
                    'disabled'     : (conference.getDetailsContactLinks()|length == 0),
                }
            %}
            <button {{ macros.setAttributes(attr) }}>
                <i class="fa fa-external-link-alt"></i>
                Conference Links
            </button>
            {% if conference.getDetailsContactLinks()|length > 0 %}
                <div class="dropdown-menu mx-300px" aria-labelledby="conference-links">
                    {% for idx, link in conference.getDetailsContactLinks() %}
                        {% set link_url = link.url %}
                        {% if (('http' not in link.url) and ('//' not in link.url)) %}
                            {% set link_url = '//' ~ link.url %}
                        {% endif %}
                        <a class="dropdown-item text-truncate" href="{{- link_url -}}" target="_blank">
                            {{- link.caption -}}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% if is_granted('ROLE_EDITOR') %}
            <a href="{{ path('conference_modify', {'id': conference.getId() }) }}" class="btn btn-primary">
                <i class="fa fa-pencil-alt"></i>
                Edit
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block inner_body %}
    <div class="container-fluid">
        <div class="card card-transparent mb-1">
            <div class="card-header ">
                <div class="card-title">
                    {{ head.subtitle }}
                </div>
            </div>
            <div class="card-body">
                <h3 class="indented-heading-with-icon mb-0">
                    <i class="far fa-calendar-check"></i>
                    <span>{{ conference.getName() ?? '(no name)' }}</span>
                </h3>
                <h5 class="text-secondary mt-0 mb-4 m-l-35">
                    {{ (event_span|length > 0 ? event_span ~ ',' : '') }}
                    {{ ((conference.getCity() and conference.getCountry()) ? ' at' : '') }}
                    {{ (conference.getCity() ? conference.getCity() ~ ',' : '')  }}
                    {{ (conference.getCountry() ? conference.getCountry().getName() : '')  }}
                </h5>

                <div class="d-block d-lg-none">
                    <div class="text-right">
                        {{ block('inner_links') }}
                    </div>
                    {% for title, side in sidedata %}
                        <h6 class="mt-3 mb-1">{{ title }}</h6>
                        <div class="row no-gutters">
                        {% for sid in side %}
                            {% if ((sid.show is not defined) or ((sid.show is defined) and (sid.show == true))) %}
                                <div class="col-6 col-sm-4">
                                    <div class="bg-white b-a b-grey pl-2 py-1 mr-1 mb-1">
                                        <div class="font-weight-bolder">{{ sid.caption }}</div>
                                        <div class="mb-1">
                                            {% if sid.value is iterable %}
                                                {% for val in sid.value %}
                                                    <span class="badge badge-{{ sid.color }} fs-13 px-2 mt-1">{{ val }}</span>
                                                {% endfor %}
                                            {% else %}
                                                <span class="badge badge-{{ sid.color }} fs-13 px-2 mt-1">{{ sid.value }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endfor %}
                </div>

                <div class="table table-responsive mt-4">
                    <table class="table table-horizontal">
                        <tbody>
                            <tr>
                                <th width="15%" class="d-none d-md-table-cell">Date</th>
                                <td>
                                    <h4 class="mt-0 d-block d-md-none">Date</h4>
                                    <ul class="list-group list-group-xs list-separation head-bold list-group-flush flush-all">
                                        <li class="list-group-item">
                                            <span class="heading">Starts</span>
                                            <span class="value">{{ conference.getStartDate() ? conference.getStartDate().format('l, jS F Y'): '' }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="heading">Ends</span>
                                            <span class="value">{{ conference.getEndDate() ? conference.getEndDate().format('l, jS F Y'): '' }}</span>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th class="d-none d-md-table-cell">Location</th>
                                <td>
                                    <h4 class="mt-0 d-block d-md-none">Location</h4>
                                    <ul class="list-group list-group-xs list-separation separation-value-too head-bold list-group-flush flush-all" data-separation-addt-value="30">
                                        <li class="list-group-item d-flex justify-content-start">
                                            <div class="d-flex-item">
                                                <span class="heading">City</span>
                                                <span class="value">{{ (conference.getCity() ? conference.getCity() : '')  }}</span>
                                            </div>
                                            <div class="d-flex-item">
                                                <span class="heading">State</span>
                                                <span class="value">{{ conference.getDetailsState() }}</span>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-start">
                                            <div class="d-flex-item">
                                                <span class="heading">State Guide</span>
                                                <span class="value">{{ conference.getCityGuide() }}</span>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-start">
                                            <div class="d-flex-item">
                                                <span class="heading">Country</span>
                                                <span class="value">{{ (conference.getCountry() ? conference.getCountry().getName() : '')  }}</span>
                                            </div>
                                            <div class="d-flex-item">
                                                <span class="heading">Region</span>
                                                <span class="value">
                                                    {{- (conference.getRegion() ? conference.getRegion().getName() : '')  -}}
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            {% if conference.getSpecialties().count() > 0 %}
                            <tr>
                                <th class="d-none d-md-table-cell">Specialties</th>
                                <td>
                                    <h4 class="mt-0 d-block d-md-none">Specialties</h4>
                                    <p class="mb-0">
                                        {% for specialty in conference.getSpecialties() %}
                                            <span class="badge badge-info fs-13 mr-1 mb-2 py-2 px-3">
                                                {{- specialty.getSpecialty().getSpecialty() -}}
                                            </span>
                                        {% endfor %}
                                    </p>
                                </td>
                            </tr>
                            {% endif %}
                            {% if conference.getDetailsContactDesc()|length > 0 %}
                            <tr>
                                <th class="d-none d-md-table-cell">Note</th>
                                <td>
                                    <h4 class="mt-0 d-block d-md-none">Note</h4>
                                    {{ conference.getDetailsContactDesc()|nl2br }}
                                </td>
                            </tr>
                            {% endif %}
                            {% if conference.getDetailsContactPhones()|length > 0 %}
                            <tr>
                                <th class="d-none d-md-table-cell">Phones</th>
                                <td>
                                    <h4 class="mt-0 d-block d-md-none">Phones</h4>
                                    <ul class="list-group list-group-xs list-separation head-bold list-group-flush flush-all">
                                        {% for idx, phone in conference.getDetailsContactPhones() %}
                                            <li class="list-group-item">
                                                <span class="heading">#{{ (idx + 1) }}</span>
                                                <span class="value">
                                                    <btn class="btn btn-sm btn-secondary clipboard" data-clipboard-text="{{- phone -}}">
                                                        <i class="far fa-clone"></i>
                                                        Copy
                                                    </btn>
                                                    <a href="tel:{{- phone -}}" class="btn btn-sm btn-primary" target="_blank">
                                                        {{- phone -}}
                                                    </a>
                                                </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            {% endif %}
                            {% if conference.getDetailsContactFaxes()|length > 0 %}
                            <tr>
                                <th class="d-none d-md-table-cell">Faxes</th>
                                <td>
                                    <h4 class="mt-0 d-block d-md-none">Faxes</h4>
                                    <ul class="list-group list-group-xs list-separation head-bold list-group-flush flush-all">
                                        {% for idx, fax in conference.getDetailsContactFaxes() %}
                                            <li class="list-group-item">
                                                <span class="heading">#{{ (idx + 1) }}</span>
                                                <span class="value">
                                                    <btn class="btn btn-sm btn-secondary clipboard" data-clipboard-text="{{- fax -}}">
                                                        <i class="far fa-clone"></i>
                                                        Copy
                                                    </btn>
                                                    <a href="fax:{{- fax -}}" class="btn btn-sm btn-primary" target="_blank">
                                                        {{- fax -}}
                                                    </a>
                                                </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            {% endif %}
                            {% if conference.getDetailsContactEmails()|length > 0 %}
                            <tr>
                                <th class="d-none d-md-table-cell">Emails</th>
                                <td>
                                    <h4 class="mt-0 d-block d-md-none">Emails</h4>
                                    <ul class="list-group list-group-xs list-separation head-bold list-group-flush flush-all">
                                        {% for idx, email in conference.getDetailsContactEmails() %}
                                            <li class="list-group-item">
                                                <span class="heading">#{{ (idx + 1) }}</span>
                                                <span class="value">
                                                    <btn class="btn btn-sm btn-secondary clipboard" data-clipboard-text="{{- email -}}">
                                                        <i class="far fa-clone"></i>
                                                        Copy
                                                    </btn>
                                                    <a href="mailto:{{- email -}}" class="btn btn-sm btn-primary" target="_blank">
                                                        {{- email -}}
                                                    </a>
                                                </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            {% endif %}
                            {% if conference.getDetailsContactLinks()|length > 0 %}
                            <tr>
                                <th class="d-none d-md-table-cell">Links</th>
                                <td>
                                    <h4 class="mt-0 d-block d-md-none">Links</h4>
                                    <ul class="list-group list-group-xs list-separation head-bold list-group-flush flush-all">
                                        {% for idx, link in conference.getDetailsContactLinks() %}
                                            <li class="list-group-item">
                                                <span class="heading">#{{ (idx + 1) }}</span>
                                                <span class="value">
                                                    <btn class="btn btn-sm btn-secondary clipboard" data-clipboard-text="{{- link.url -}}">
                                                        <i class="far fa-clone"></i>
                                                        Copy
                                                    </btn>
                                                    {% set link_url = link.url %}
                                                    {% if (('http' not in link_url) and ('//' not in link_url)) %}
                                                        {% set link_url = '//' ~ link_url %}
                                                    {% endif %}
                                                    <a href="{{- link_url -}}" class="btn btn-sm btn-primary" target="_blank">
                                                        {{- link.caption -}}
                                                    </a>
                                                    {% if parse_links[idx].host is defined %}
                                                        <span class="truncate-hint hint-text ml-2 d-none d-xl-inline-block">
                                                            {{- parse_links[idx].host -}}
                                                            {% if parse_links[idx].path != null %}
                                                                &nbsp;&gt;&nbsp; {{- parse_links[idx].path -}}
                                                            {% endif %}
                                                        </span>
                                                    {% endif %}
                                                </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th class="d-none d-md-table-cell">IDs</th>
                                <td>
                                    <h4 class="mt-0 d-block d-md-none">IDs</h4>
                                    <ul class="list-group list-group-xs list-separation head-bold list-group-flush flush-all">
                                        <li class="list-group-item">
                                            <span class="heading">
                                                System ID
                                            </span>
                                            <span class="value">
                                                #{{ conference.getId() }}
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="heading">
                                                Event ID
                                            </span>
                                            <span class="value">
                                                {{ conference.getPreviousId() ? conference.getPreviousId() : '' }}
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="heading">
                                                Unique ID
                                            </span>
                                            <span class="value">
                                                {{ conference.getUniqueName() ? conference.getUniqueName() : '' }}
                                            </span>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block right_pane %}
    <div class="row no-gutters">
        <div class="col-12">
            <div class="mx-2 mb-4 text-center pt-4">
                {{ block('inner_links') }}
            </div>
            {% for title, side in sidedata %}
                <h6 class="p-3">{{ title }}</h6>
                <ul class="list-group list-group-flush mb-4">
                {% for sid in side %}
                    {% if ((sid.show is not defined) or ((sid.show is defined) and (sid.show == true))) %}
                        <li class="list-group-item d-flex justify-content-between">
                            <span class="text-truncate">
                                {{ sid.caption }}
                            </span>
                            <span class="text-right">
                                {% if sid.value is iterable %}
                                    {% for val in sid.value %}
                                        <span class="badge badge-{{ sid.color }} fs-13 px-2">{{ val }}</span>
                                    {% endfor %}
                                {% else %}
                                    <span class="badge badge-{{ sid.color }} fs-13 px-2">{{ sid.value }}</span>
                                {% endif %}
                            </span>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}