{% extends 'layouts/content-central.html.twig' %}
{% import "__macros.html.twig" as macros %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ '/assets/vendor/dataTables/css/dataTables.bootstrap.min.css' }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ '/dataTables/vendor/js/jquery.dataTables.min.js' }}"></script>
    <script type="text/javascript" src="{{ '/dataTables/vendor/js/dataTables.bootstrap.min.js' }}"></script>
    <script type="text/javascript" src="{{ asset('build/js/page-admin.min.js') }}"></script>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('dashboard') }}">
                <i class="fa fa-home fa-lg"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <span>Administrator</span>
        </li>
        <li class="breadcrumb-item active">
            <a href="{{ path('admin_manage_roles') }}">Manage Roles</a>
        </li>
    </ol>
{% endblock %}

{% block inner_body %}
    <div class="container-fluid p-l-25 p-r-25 p-t-0 p-b-25 sm-padding-10">
        <div class="card card-transparent">
            <div class="card-header ">
                <div class="card-title">
                    {{ head.subtitle }}
                </div>
            </div>
            <div class="card-body">
                <h3 class="text-primary no-margin">
                    <i class="fa fa-user-tag"></i>
                    {{ head.title }}
                </h3>
            </div>
        </div>
    </div>
{% endblock %}