{# templates/pages/dashboard.html.twig #}
{% extends 'layouts/content-central.html.twig' %}
{% import "__macros.html.twig" as macros %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/build/page-dashboard.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function($) {
            new DrugViewOverlay($('#quickview2'));
            new DrugViewOverlay($('#quickview3'), {'joey': true});
        });
    </script>
{% endblock %}

{% block inner_body %}
    <div class="container-fluid p-l-25 p-r-25 p-t-0 p-b-25 sm-padding-10">
        {% if not is_granted('ROLE_USER') %}
            {# VISITOR ONLY #}
            {% include 'components/content-central-limited-user.html.twig' %}
        {% else %}
            {# DURG SPECIFIC COUNT #}
            <div class="row">
                <div class="col-12">
                    <div class="card card-transparent mb-0">
                        <div class="card-header">
                            <div class="card-title">
                                Drugs Specific Count
                            </div>
                        </div>
                        <div class="card-body">
                            <h3 class="text-primary no-margin">Drugs</h3>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-12 text-right m-b-15 sm-text-center">
                                            <h2 class="m-0 d-none d-md-block">{{ widget_value.specific_drugs.sum[1] }}</h2>
                                            <h2 class="m-0 display-4 d-block d-md-none">{{ widget_value.specific_drugs.sum[1] }}</h2>
                                            <p class="m-0">{{ widget_value.specific_drugs.sum[0] }}</p>
                                        </div>
                                    </div>
                                    <div class="row no-gutters">
                                        <div class="col-12 card-header pl-0 sm-text-center">
                                            <h6 class="card-title">Drugs Record Counts</h6>
                                        </div>
                                        <div class="col-4 col-md-12 m-b-15 sm-text-center">
                                            <h2 class="mb-1">
                                                <i class="fa fa-microscope d-md-inline-block d-block m-auto sm-text-center"></i>
                                                {{ widget_value.drugs.experimental_count | number_format(0, '.', ',') }}
                                            </h2>
                                            <p class="m-0">
                                                Experimental Drugs
                                            </p>
                                        </div>
                                        <div class="col-4 col-md-12 m-b-15 sm-text-center">
                                            <h2 class="mb-1">
                                                <i class="fa fa-mortar-pestle d-md-inline-block d-block m-auto sm-text-center"></i>
                                                {{ widget_value.drugs.generic_count | number_format(0, '.', ',') }}
                                            </h2>
                                            <p class="m-0">
                                                Generic Drugs
                                                <span class="d-block d-sm-inline-block">
                                                    <span class="d-none d-md-inline-block">with </span>
                                                    <span class="d-inline-block d-md-none">+ </span>
                                                    {{ widget_value.drugs.generic_keywords | number_format(0, '.', ',') }}
                                                    <span class="d-none d-md-inline-block">Keywords</span>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="col-4 col-md-12 m-b-15 sm-text-center">
                                            <h2 class="mb-1">
                                                <i class="fa fa-pills d-md-inline-block d-block m-auto sm-text-center"></i>
                                                {{ widget_value.drugs.brand_count | number_format(0, '.', ',') }}
                                            </h2>
                                            <p class="m-0">
                                                Brand Drugs
                                                <span class="d-block d-sm-inline-block">
                                                    <span class="d-none d-md-inline-block">with </span>
                                                    <span class="d-inline-block d-md-none">+ </span>
                                                    {{ widget_value.drugs.brand_keywords | number_format(0, '.', ',') }}
                                                    <span class="d-none d-md-inline-block">Keywords</span>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="card card-default mb-0">
                                        <div class="card-header" data-toggle="collapse">
                                            <div class="card-title">
                                                Specific Counts
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <ul class="list-group-flush p-0">
                                                <li class="list-group-item d-flex justify-content-between pt-2 pb-1" data-toggle="tooltip" title="{{ widget_value.specific_drugs.all[1] }}">
                                                    <div>
                                                        <div>
                                                            <i class="fa fa-lg fa-microscope text-success"></i>
                                                            <i class="fa fa-xs fa-chevron-right text-success ml-2"></i>
                                                            <i class="fa fa-lg fa-mortar-pestle text-success ml-2"></i>
                                                            <i class="fa fa-xs fa-chevron-right text-success ml-2"></i>
                                                            <i class="fa fa-lg fa-pills text-success ml-2"></i>
                                                        </div>
                                                        <div class="enforce-grid">
                                                            {# <h6 class="mb-0 mt-1">Experimental to Brand</h6> #}
                                                            <h6 class="mb-0 pb-1 mt-1 text-truncate small hint-text">{{ widget_value.specific_drugs.all[0] }}</h6>
                                                        </div>
                                                    </div>
                                                    <div class="text-right">
                                                        <h2 class="mb-0 mt-1">{{ widget_value.specific_drugs.all[2] }}</h2>
                                                    </div>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between pt-2 pb-1" data-toggle="tooltip" title="{{ widget_value.specific_drugs.e_g[1] }}">
                                                    <div>
                                                        <div>
                                                            <i class="fa fa-lg fa-microscope text-success"></i>
                                                            <i class="fa fa-xs fa-chevron-right text-success ml-2"></i>
                                                            <i class="fa fa-lg fa-mortar-pestle text-success ml-2"></i>
                                                            <i class="fa fa-xs fa-times hint-text ml-2"></i>
                                                            <i class="fa fa-lg fa-pills hint-text ml-2"></i>
                                                        </div>
                                                        <div class="enforce-grid">
                                                            {# <h6 class="mb-0 mt-1">Experimental to Generic</h6> #}
                                                            <h6 class="mb-0 pb-1 mt-1 text-truncate small hint-text">{{ widget_value.specific_drugs.e_g[0] }}</h6>
                                                        </div>
                                                    </div>
                                                    <div class="text-right">
                                                        <h2 class="mb-0 mt-1">{{ widget_value.specific_drugs.e_g[2] }}</h2>
                                                    </div>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between pt-2 pb-1" data-toggle="tooltip" title="{{ widget_value.specific_drugs.g_b[1] }}">
                                                    <div>
                                                        <div>
                                                            <i class="fa fa-lg fa-microscope hint-text"></i>
                                                            <i class="fa fa-xs fa-times hint-text ml-2"></i>
                                                            <i class="fa fa-lg fa-mortar-pestle text-success ml-2"></i>
                                                            <i class="fa fa-xs fa-chevron-right text-success ml-2"></i>
                                                            <i class="fa fa-lg fa-pills text-success ml-2"></i>
                                                        </div>
                                                        <div class="enforce-grid">
                                                            {# <h6 class="mb-0 mt-1">Generic to Brand</h6> #}
                                                            <h6 class="mb-0 pb-1 mt-1 text-truncate small hint-text">{{ widget_value.specific_drugs.g_b[0] }}</h6>
                                                        </div>
                                                    </div>
                                                    <div class="text-right">
                                                        <h2 class="mb-0 mt-1">{{ widget_value.specific_drugs.g_b[2] }}</h2>
                                                    </div>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between pt-2 pb-1" data-toggle="tooltip" title="{{ widget_value.specific_drugs.b_g[1] }}">
                                                    <div>
                                                        <div>
                                                            <i class="fa fa-lg fa-microscope hint-text"></i>
                                                            <i class="fa fa-xs fa-times hint-text ml-2"></i>
                                                            <i class="fa fa-lg fa-mortar-pestle text-success ml-2"></i>
                                                            <i class="fa fa-xs fa-chevron-left text-success ml-2"></i>
                                                            <i class="fa fa-lg fa-pills text-success ml-2"></i>
                                                        </div>
                                                        <div class="enforce-grid">
                                                            {# <h6 class="mb-0 mt-1">Brand to Generic</h6> #}
                                                            <h6 class="mb-0 pb-1 mt-1 text-truncate small hint-text">{{ widget_value.specific_drugs.b_g[0] }}</h6>
                                                        </div>
                                                    </div>
                                                    <div class="text-right">
                                                        <h2 class="mb-0 mt-1">{{ widget_value.specific_drugs.b_g[2] }}</h2>
                                                    </div>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between pt-2 pb-1" data-toggle="tooltip" title="{{ widget_value.specific_drugs.e[1] }}">
                                                    <div>
                                                        <div>
                                                            <i class="fa fa-lg fa-microscope text-success"></i>
                                                            <i class="fa fa-xs fa-times hint-text ml-2"></i>
                                                            <i class="fa fa-lg fa-mortar-pestle hint-text ml-2"></i>
                                                            <i class="fa fa-xs fa-times hint-text ml-2"></i>
                                                            <i class="fa fa-lg fa-pills hint-text ml-2"></i>
                                                        </div>
                                                        <div class="enforce-grid">
                                                            {# <h6 class="mb-0 mt-1">Experimental</h6> #}
                                                            <h6 class="mb-0 pb-1 mt-1 text-truncate small hint-text">{{ widget_value.specific_drugs.e[0] }}</h6>
                                                        </div>
                                                    </div>
                                                    <div class="text-right">
                                                        <h2 class="mb-0 mt-1">{{ widget_value.specific_drugs.e[2] }}</h2>
                                                    </div>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between pt-2 pb-1" data-toggle="tooltip" title="{{ widget_value.specific_drugs.g[1] }}">
                                                    <div>
                                                        <div>
                                                            <i class="fa fa-lg fa-microscope hint-text"></i>
                                                            <i class="fa fa-xs fa-times hint-text ml-2"></i>
                                                            <i class="fa fa-lg fa-mortar-pestle text-success ml-2"></i>
                                                            <i class="fa fa-xs fa-times hint-text ml-2"></i>
                                                            <i class="fa fa-lg fa-pills hint-text ml-2"></i>
                                                        </div>
                                                        <div class="enforce-grid">
                                                            {# <h6 class="mb-0 mt-1">Generic</h6> #}
                                                            <h6 class="mb-0 pb-1 mt-1 text-truncate small hint-text">{{ widget_value.specific_drugs.g[0] }}</h6>
                                                        </div>
                                                    </div>
                                                    <div class="text-right">
                                                        <h2 class="mb-0 mt-1">{{ widget_value.specific_drugs.g[2] }}</h2>
                                                    </div>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between pt-2 pb-1" data-toggle="tooltip" title="{{ widget_value.specific_drugs.b[1] }}">
                                                    <div>
                                                        <div>
                                                            <i class="fa fa-lg fa-microscope hint-text"></i>
                                                            <i class="fa fa-xs fa-times hint-text ml-2"></i>
                                                            <i class="fa fa-lg fa-mortar-pestle hint-text ml-2"></i>
                                                            <i class="fa fa-xs fa-times hint-text ml-2"></i>
                                                            <i class="fa fa-lg fa-pills text-success ml-2"></i>
                                                        </div>
                                                        <div class="enforce-grid">
                                                            {# <h6 class="mb-0 mt-1">Brand</h6> #}
                                                            <h6 class="mb-0 pb-1 mt-1 text-truncate small hint-text">{{ widget_value.specific_drugs.b[0] }}</h6>
                                                        </div>
                                                    </div>
                                                    <div class="text-right">
                                                        <h2 class="mb-0 mt-1">{{ widget_value.specific_drugs.b[2] }}</h2>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="card-footer">
                                            <div class="pull-right">
                                                {%
                                                    set attr = {
                                                        'id'              : 'generic-with-fullcode-switch',
                                                        'type'            : 'checkbox',
                                                        'data-init-plugin': 'bootstrap4-toggle',
                                                        'data-on'         : 'Generic with Full code',
                                                        'data-off'        : 'Generic without Full code',
                                                        'data-width'      : '210px',
                                                        'data-height'     : '31px',
                                                        'data-size'       : 'sm',
                                                        'class'           : 'opacity-0',
                                                        'value'           : 'yes',
                                                        'checked'         : opt_has_code,
                                                    }
                                                %}
                                                <input {{ macros.setAttributes(attr) }}/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# DRUG COUNT BREAKS DOWN #}
            <div class="row">
                <div class="col-12">
                    <div class="card card-default card-collapsed" data-pages="card">
                        <div class="card-header" data-toggle="collapse">
                            <div class="card-title">
                                Drugs Detailed Breaks Down
                            </div>
                            <div class="card-controls">
                                <ul>
                                    <li>
                                        <a data-toggle="collapse" class="card-collapse" href="#">
                                            <i class="fas fa-level-down-alt icon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body" style="display: none;">
                            <table class="table table-condensed table-bordered mb-4">
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="text-center" width="15%">Item</th>
                                        <th class="text-center" colspan="2">Experimental</th>
                                        <th class="text-center" colspan="2">Generic</th>
                                        <th class="text-center" colspan="2">Brand</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dbdwn in widget_value.drug_breaks_down %}
                                        <tr>
                                            <td class="lead bold">{{ dbdwn.head }}</td>
                                            {% for dbtype in ['experimental', 'generic', 'brand'] %}
                                                {% if dbdwn[dbtype] is iterable %}
                                                    <td class="text-center">{{ dbdwn[dbtype][0] }}</td>
                                                    <td class="text-center">{{ dbdwn[dbtype][1] }}</td>
                                                {% else %}
                                                    <td class="text-center" colspan="2">{{ dbdwn[dbtype] }}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <p class="text-black">Definition of several Terms uses in table above</p>
                            <ol type="i" class="text-black">
                                <li>A <strong>Valid</strong> / An <strong>Invalid</strong> refers to the status flag on individual Drug.</li>
                                <li>
                                    An <strong>Orphan</strong> mainly refers to <strong>Generic</strong> or <strong>Brand</strong> that <u>did not have</u> any attachment to any Drug in its respective relation. ie:
                                    <ul class="">
                                        <li>Generic Drug which did not have any relation Experimental Drug, or</li>
                                        <li>Brand Drug which did not have any relation Generic Drug.</li>
                                    </ul>
                                </li>
                                <li>
                                    An <strong>Orphan</strong> may also refers to keywords; either <strong>Synonym</strong> or <strong>Typo</strong> that <u>did not have</u> any Drug reference.
                                    <ul class="">
                                        <li>These numbers should be expected empty at all time.</li>
                                    </ul>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            {# DRUG MISC FEATURE #}
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    <div class="card social-card share full-width m-b-10 no-border" data-social="item" id="dashboard-widgets-data-card">
                        <div class="card-header">
                            <h5 class="text-primary pull-left fs-12">Dashboard Widgets Data <i class="fa fa-circle text-{{ widget_value.top_level_stats.cache.status }} fs-11"></i></h5>
                            <div class="clearfix"></div>
                        </div>
                        <div class="card-description">
                            <ul class="small pl-4 mb-1">
                                {% for caption in widget_value.top_level_stats.cache.captions %}
                                    <li class="text-{{ caption[0] }}">
                                        {{ caption[1] }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-footer">
                            {% if is_granted('ROLE_EDITOR') %}
                                <a href="#" id="refesh-dashboard-widgets" class="btn btn-primary btn-xs">Refresh the Indexes now</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card social-card share full-width m-b-10 no-border" data-social="item" id="drug-initial-sync-card">
                        <div class="card-header">
                            <h5 class="text-primary pull-left fs-12">
                                Drugs Initial Sync <i class="fa fa-circle text-{{ widget_value.top_level_stats.drug_initial.status }} fs-11"></i></h5>
                            <div class="clearfix"></div>
                        </div>
                        <div class="card-description">
                            <ul class="small pl-4 mb-1">
                                {% for caption in widget_value.top_level_stats.drug_initial.captions %}
                                    <li class="text-{{ caption[0] }}">
                                        {{ caption[1] }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card social-card share full-width m-b-10 no-border" data-social="item" id="drug_sync-conn-info-card">
                        <div class="card-header">
                            <h5 class="text-primary pull-left fs-12">
                                Remote Drugs Sync <i class="fa fa-circle text-{{ widget_value.top_level_stats.drug_sync.status }} fs-11"></i>
                            </h5>
                            <div class="clearfix"></div>
                        </div>
                        <div class="card-description">
                            <ul class="small pl-4 mb-1">
                                {% for caption in widget_value.top_level_stats.drug_sync.captions %}
                                    <li class="text-{{ caption[0] }}">
                                        {{ caption[1] }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-footer clearfix">
                            <div class="pull-left">via {{ widget_value.top_level_stats.drug_sync.db }}</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    <div class="card social-card share full-width m-b-10 no-border" data-social="item" id="journals-data-card">
                        <div class="card-header">
                            <h5 class="text-primary pull-left fs-12">
                                Journal Records <i class="fa fa-circle text-{{ widget_value.top_level_stats.journal_data.status }} fs-11"></i></h5>
                            <div class="clearfix"></div>
                        </div>
                        <div class="card-description">
                            <ul class="small pl-4 mb-1">
                                {% for caption in widget_value.top_level_stats.journal_data.captions %}
                                    <li class="text-{{ caption[0] }}">
                                        {{ caption[1] }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card social-card share full-width m-b-10 no-border" data-social="item" id="journal-initial-sync-card">
                        <div class="card-header">
                            <h5 class="text-primary pull-left fs-12">
                                Journals Initial Sync <i class="fa fa-circle text-{{ widget_value.top_level_stats.journal_initial.status }} fs-11"></i></h5>
                            <div class="clearfix"></div>
                        </div>
                        <div class="card-description">
                            <ul class="small pl-4 mb-1">
                                {% for caption in widget_value.top_level_stats.journal_initial.captions %}
                                    <li class="text-{{ caption[0] }}">
                                        {{ caption[1] }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card social-card share full-width m-b-10 no-border" data-social="item" id="journal-info-card">
                        <div class="card-header">
                            <h5 class="text-primary pull-left fs-12">
                                Remote Journals Sync <i class="fa fa-circle text-{{ widget_value.top_level_stats.journal_sync.status }} fs-11"></i></h5>
                            <div class="clearfix"></div>
                        </div>
                        <div class="card-description">
                            <ul class="small pl-4 mb-1">
                                {% for caption in widget_value.top_level_stats.journal_sync.captions %}
                                    <li class="text-{{ caption[0] }}">
                                        {{ caption[1] }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-footer clearfix">
                            <div class="pull-left">via {{ widget_value.top_level_stats.journal_sync.db }}</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    <div class="card social-card share full-width m-b-10 no-border" data-social="item" id="conferences-data-card">
                        <div class="card-header">
                            <h5 class="text-primary pull-left fs-12">
                                Conference Records <i class="fa fa-circle text-{{ widget_value.top_level_stats.conference_data.status }} fs-11"></i></h5>
                            <div class="clearfix"></div>
                        </div>
                        <div class="card-description">
                            <ul class="small pl-4 mb-1">
                                {% for caption in widget_value.top_level_stats.conference_data.captions %}
                                    <li class="text-{{ caption[0] }}">
                                        {{ caption[1] }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="card social-card share full-width m-b-10 no-border" data-social="item" id="conference-initial-sync-card">
                        <div class="card-header">
                            <h5 class="text-primary pull-left fs-12">
                                Conferences Initial Sync <i class="fa fa-circle text-{{ widget_value.top_level_stats.conference_initial.status }} fs-11"></i></h5>
                            <div class="clearfix"></div>
                        </div>
                        <div class="card-description">
                            <ul class="small pl-4 mb-1">
                                {% for caption in widget_value.top_level_stats.conference_initial.captions %}
                                    <li class="text-{{ caption[0] }}">
                                        {{ caption[1] }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card social-card share full-width m-b-10 no-border" data-social="item" id="conference-info-card">
                        <div class="card-header">
                            <h5 class="text-primary pull-left fs-12">
                                Remote Conference Sync <i class="fa fa-circle text-{{ widget_value.top_level_stats.conference_sync.status }} fs-11"></i></h5>
                            <div class="clearfix"></div>
                        </div>
                        <div class="card-description">
                            <ul class="small pl-4 mb-1">
                                {% for caption in widget_value.top_level_stats.conference_sync.captions %}
                                    <li class="text-{{ caption[0] }}">
                                        {{ caption[1] }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-footer clearfix">
                            <div class="pull-left">via {{ widget_value.top_level_stats.conference_sync.db }}</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}