{# templates/pages/lock.html.twig #}
{% extends 'layouts/content-right-side.html.twig' %}
{% set body_classes = 'page-login lockscreen' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/assets/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/build/page-login.min.js') }}"></script>
{% endblock %}

{% block inner_body %}
    <h4 class="p-t-35">Welcome back <strong>{{ cookie.name }}</strong>!</h4>
    <!-- START Login Form -->
    <form id="form-login" class="p-t-15" role="form" action="{{ path('login') }}" method="POST">
        <!-- START Form Control-->
        <div class="form-group form-group-default">
            <label>Password</label>
            <div class="controls">
                <input type="password" name="_password" class="input-sm form-control fg-input" required />
            </div>
        </div>
        <!-- END Form Control-->
        <button class="btn btn-primary btn-cons m-t-10" type="submit">Sign in</button>
        <a href="{{ path('login', {'new': 1}) }}" class="btn btn-default m-t-10">Change User</a>
        <input type="hidden" name="_email" class="input-sm form-control fg-input" value="{{ cookie.email }}" required />
        <input type="hidden" name="_target_path" value="{{ target_path }}" />
    </form>
    <!--END Login Form-->
    <div class="pull-bottom sm-pull-bottom">
        <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
            <div class="col-sm-12 no-padding m-t-10">
                <p><small>All work copyright of P\S\L Group © 2018-2019.</small></p>
            </div>
        </div>
    </div>
{% endblock %}