{# templates/pages/login.html.twig #}
{% extends 'layouts/content-right-side.html.twig' %}
{% set body_classes = 'page-login' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/assets/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/build/page-login.min.js') }}"></script>
{% endblock %}

{% block inner_body %}
    <p class="p-t-35">Sign using your official credential</p>
    <!-- START Login Form -->
    <form id="form-login" class="p-t-15" role="form" action="{{ path('login') }}" method="POST">
        <!-- START Form Control-->
        <div class="form-group form-group-default">
            <label>Email</label>
            <div class="controls">
                <input type="email" name="_email" class="input-sm form-control fg-input" required />
            </div>
        </div>
        <!-- END Form Control-->
        <!-- START Form Control-->
        <div class="form-group form-group-default">
            <label>Password</label>
            <div class="controls">
                <input type="password" name="_password" class="input-sm form-control fg-input" required />
            </div>
        </div>
        <!-- START Form Control-->
        <div class="row">
            <div class="col-md-6 no-padding sm-p-l-10">
                &nbsp;
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-end">
                <small class="text-info">Help? Contact Support</small>
            </div>
        </div>
        <!-- END Form Control-->
        <button class="btn btn-primary btn-cons m-t-10" type="submit">Sign in</button>
        <input type="hidden" name="_target_path" value="{{ target_path }}" />
    </form>
    <!--END Login Form-->
    <div class="pull-bottom sm-pull-bottom">
        <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
            <div class="col-sm-12 no-padding m-t-10">
                <p><small>All work copyright of P\S\L Group © 2018-2019.</small></p>
            </div>
        </div>
    </div>
{% endblock %}