{# templates/pages/login.html.twig #}
{% extends 'layouts/content-right-side.html.twig' %}
{% set body_classes = 'page-maintenance' %}
{% set login_wrapper_classes = 'status-error' %}

{% block stylesheets %}
    <meta http-equiv="refresh" content="15">
{% endblock %}

{% block inner_body %}
    <div class="p-t-30">
        <h3>Offline</h3>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            <br/>
        {% endfor %}

        <h6 class="text-muted">Our site is getting a little tune up and some love.</h6>

        <p>
            We apologize for the inconvenience, but we're performing some maintenance.
            We'll be back up soon!
        <p>
    </div>
{% endblock %}