{# templates/layouts/content-central.html.twig #}
{% set has_search_overlay = true %}
{% set has_drug_view_overlay = true %}
{% extends 'base.html.twig' %}
{% set body_classes = 'menu-pin menu-behind' %}

{% block body %}
    {% include 'components/content-central-nav-left.html.twig' %}

    <div class="page-container">

        {% include 'components/content-central-nav-top.html.twig' %}

        <div class="page-content-wrapper">
            {# START PAGE-CONTENT #}
            <div class="content">
                <div class="jumbotron" data-pages="parallax">
                    <div class="container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
                        {# START BREADCRUMB #}
                        <div class="container-fluid container-fixed-lg">
                            {% block breadcrumbs %}{% endblock %}
                        </div>
                        {# END BREADCRUMB #}

                        {# START PAGE-CONTAINER #}
                        <div class="container-fluid container-fixed-lg">
                            {% block inner_body %}{% endblock %}
                        </div>
                        {# END PAGE-CONTAINER #}
                    </div>
                </div>
            </div>
            {# END PAGE-CONTENT #}

            {% include 'components/content-central-flash-alerts.html.twig' %}

            {% include 'components/content-central-nav-bottom.html.twig' %}
        </div>
    </div>
{% endblock %}