{# templates/layouts/content-boxed-center.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<div class="register-container full-height sm-p-t-30">
    <div class="d-flex justify-content-center flex-column full-height ">
        <img src="/assets/images/logo/logo-drugdb-clear-h100.png" alt="logo" class="brand" data-src="/assets/images/logo/logo-drugdb-clear-h100.png" data-src-retina="assets/images/logo/logo-drugdb-clear-h1000.png" height="100" width="266">

        {% block inner_body %}{% endblock %}
    </div>
</div>
<div class="full-width">
    <div class="register-container m-b-10 clearfix">
        <div class="m-b-30 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix d-flex-md-up">
            <div class="col-md-2 no-padding d-flex align-items-center">
                <img src="/assets/images/logo/logo-drugdb-h22.png" alt="logo" class="brand" data-src="/assets/images/logo/logo-drugdb-h22.png" data-src-retina="assets/images/logo/logo-drugdb-h100.png" height="22">
            </div>
            <div class="col-md-9 no-padding d-flex align-items-center">
                <p class="hinted-text small inline sm-p-t-10">No part of this website or any of its contents may be reproduced, copied, modified or adapted, without the prior written consent of the author, unless otherwise indicated for stand-alone materials.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}