{# templates/layouts/content-right-side.html.twig #}
{% extends 'base.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/build/layout-content-right-side.min.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="login-wrapper {{ login_wrapper_classes|default('status-ok') }}">
        {# START Login Background Pic Wrapper #}
        <div class="bg-pic">
            <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
                <h2 class="semi-bold text-white"></h2>
                <p class="small text-success bg-pic-caption"></p>
            </div>
        </div>
        {# END Login Background Pic Wrapper #}

        {# START Login Right Container #}
        <div class="login-container bg-white">
            <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
                <img src="/assets/images/logo/logo-drugdb-h100.png" alt="logo" class="brand" data-src="/assets/images/logo/logo-drugdb-h100.png" data-src-retina="assets/images/logo/logo-drugdb-h100.png" height="100">

                <div class="flash-messages p-t-35">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} mb-1" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>

                {% block inner_body %}{% endblock %}

            </div>
        </div>
        {# END Login Right Container #}
    </div>
{% endblock %}