{# templates/layouts/content-central-with-right-pane.html.twig #}
{% set has_search_overlay = true %}
{% set has_drug_view_overlay = true %}
{% extends 'base.html.twig' %}
{% set body_classes = 'menu-pin menu-behind' %}

{% block body %}
    {% include 'components/content-central-nav-left.html.twig' %}

    <div class="page-container">

        {% include 'components/content-central-nav-top.html.twig' %}

        <div class="page-content-wrapper">
            {# START PAGE-CONTENT #}
            <div class="content full-height">
                <div class="container-fluid full-height no-padding">
                    <div class="row full-height no-margin">
                        <div class="col-md-12 col-lg-9 no-padding b-r b-grey full-height">
                            <div class="full-height placeholder">
                                {# START BREADCRUMB #}
                                <div class="container-fluid">
                                    {% block breadcrumbs %}{% endblock %}
                                </div>
                                {# END BREADCRUMB #}

                                {# START PAGE-CONTAINER #}
                                {% block inner_body %}{% endblock %}
                                {# END PAGE-CONTAINER #}
                            </div>
                        </div>
                        <div class="col-md-3 no-padding d-none d-lg-block">
                            <div class="bg-white full-height">
                                {# START PAGE-RIGHT-PANE-HEADING #}
                                {% if block('right_pane_heading') is not empty %}
                                    <div class="right-fixed-pane-heading">
                                        {% block right_pane_heading %}{% endblock %}
                                    </div>
                                {% endif %}
                                {# START PAGE-RIGHT-PANE-HEADING #}
                                {# START PAGE-RIGHT-PANE #}
                                <div class="right-fixed-pane">
                                    {% block right_pane %}{% endblock %}
                                </div>
                                {# END PAGE-RIGHT-PANE #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# END PAGE-CONTENT #}

            {% include 'components/content-central-flash-alerts.html.twig' %}

            {% include 'components/content-central-nav-bottom.html.twig' %}
        </div>
    </div>
{% endblock %}