{% extends 'layouts/content-central.html.twig' %}
{% import "__macros.html.twig" as macros %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ '/assets/vendor/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' }}" />
    <link rel="stylesheet" type="text/css" href="{{ '/assets/vendor/datatables/dataTables.bootstrap4.min.css' }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ '/assets/vendor/datatables/jquery.dataTables.min.js' }}"></script>
    <script type="text/javascript" src="{{ '/assets/vendor/datatables/dataTables.bootstrap4.min.js' }}"></script>
    <script type="text/javascript" src="{{ '/assets/vendor/moment/moment.min.js' }}"></script>
    <script type="text/javascript" src="{{ '/assets/vendor/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' }}"></script>
    <script type="text/javascript" src="{{ asset('assets/build/page-dgmonitor-papers-only.min.js') }}"></script>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('dashboard') }}">
                <i class="fa fa-home fa-lg"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <span>{{ head.title }}</span>
        </li>
        <li class="breadcrumb-item active">
            <a href="{{ path('dgmonitor_papers_only') }}">{{ head.action }}</a>
        </li>
    </ol>
{% endblock %}

{% block inner_body %}
    <div class="container-fluid p-l-25 p-r-25 p-t-0 p-b-25 sm-padding-10">
        <div class="row">
            <div class="col-12">
                <div class="card card-transparent">
                    <div class="card-header ">
                        <div class="card-title">
                            {{ head.entity }}
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="text-primary no-margin">
                            <i class="far fa-newspaper"></i>
                            {{ head.subtitle }}
                        </h3>
                        <div class="row">&nbsp;</div>
                        <div class="form-group row">
                            <div class="form-group-default" style="max-width: 120px;">
                                <label for="date" class="control-label">Search date:</label>
                            </div>
                            <div id="dgmonitor-date-search-form" class="col-sm-auto">
                                <div class="input-group date" id="date-search" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" data-target="#date-search"/>
                                    <div class="input-group-append" data-target="#date-search" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" id="searchByDateBtn" class="btn btn-primary active">
                                <i class="fas fa-search"></i>
                                Search by date
                            </button>
                        </div>
                        <div class="mt-4">
                            <table id="dgmonitor-papers-only" class="table table-sm table-striped table-condensed dataTable no-footer">
                                <thead class="thead-dark">
                                    <tr><th width="20%">Updated</th><th>Title</th><th width="10%">Status</th></tr>
                                </thead>
                                <tbody>
                                    {% for article in body.ESdata %}
                                        <tr>
                                            <td>{{ article.updated }} </td>
                                            <td><span title="{{ article.title }}">{{ article.title }}</span></td>
                                            <td style="text-align: center;">
                                                {% if ('1' == article.status) %}
                                                <i class="fa fa-check"></i>
                                                {% else %}
                                                <i class="fa fa-times"></i>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}