{# templates/pages/feedbuilder/view.html.twig #}
{% extends 'layouts/content-central.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/build/page-feedbuilder-article.min.css') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/assets/vendor/clipboard/clipboard.min.js"></script>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('dashboard') }}">
                <i class="fa fa-home fa-lg"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <span>{{ head.entity }}</span>
        </li>
        <li class="breadcrumb-item active">
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">{{ head.action }}</a>
        </li>
    </ol>
{% endblock %}
{% block inner_body %}
    <div class="container-fluid">
        <div class="card card-transparent mb-1">
            <div class="card-header ">
                <div class="card-title">
                    {{ head.subtitle }}
                </div>
            </div>
            <div class="card-body">
                <h3 class="indented-heading-with-icon mb-0">
                    <i class="far fa-newspaper"></i>
                    <span>{{ article.title ?? '(no title)'  }}</span>
                </h3>
                <h5 class="text-secondary mt-0 m-l-35">
                    {{ article.type }}
                </h5>
                <div class="table table-responsive mt-4">
                    <table class="table table-horizontal">
                        <tbody>
                            <tr>
                                <th class="d-none d-md-table-cell" colspan="2">
                                    <span class="heading">Publication Date:</span>
                                    <span class="value  font-weight-normal">{{ article.publication_date }}</span>
                                    <span class="heading">Updated On:</span>
                                    <span class="value  font-weight-normal">{{ article.updated }}</span>
                                    <span class="heading">Created On:</span>
                                    <span class="value  font-weight-normal">{{ article.created }}</span>
                                </th>
                            </tr>
                            {% if article.tags is defined %}
                                <tr>
                                    <th class="d-none d-md-table-cell" colspan="2"><h2>Tags</h2></th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        {% for category, tags in article.tags %}
                                            <button type="button" class="btn btn-primary">
                                                {{ category }}
                                                {% for tag in tags %}
                                                    <span class="badge badge-pill badge-light">{{ tag }}</span>
                                                {% endfor %}
                                            </button><br/>
                                        {% endfor %}
                                        {% if article.external_ids is defined %}
                                            <button type="button" class="btn btn-primary">
                                                <div style="float: left; padding-right: 5px;">External Ids</div>
                                            {% for type, ids in article.external_ids %}
                                                {% for id in ids %}
                                                <span class="pill-container">
                                                    <span class="id-pill pill-left">{{ type }}</span>
                                                    <span class="id-pill pill-right">{{ id }}</span>
                                                </span>
                                                {% endfor %}
                                            {% endfor %}
                                            </button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th width="15%" class="d-none d-md-table-cell">Body</th>
                                <td>
                                    <p class="mb-0">
                                        {{ article.body | raw }}
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <th class="d-none d-md-table-cell">Status</th>
                                <td>
                                    {% if ('1' == article.status) %}
                                        <i class="fa fa-check"></i>
                                    {% else %}
                                        <i class="fa fa-times"></i>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th class="d-none d-md-table-cell">Lima Parser</th>
                                <td>
                                    {% if ('1' == article.lima_parser) %}
                                        <i class="fa fa-check"></i>
                                    {% else %}
                                        <i class="fa fa-times"></i>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th width="15%" class="d-none d-md-table-cell">Human URL</th>
                                <td>
                                    <p class="mb-0">
                                        {{ article.human_url }}
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <th width="15%" class="d-none d-md-table-cell">MD5 Human URL</th>
                                <td>
                                    <p class="mb-0">
                                        {{ article.md5_human_url }}
                                    </p>
                                </td>
                            </tr>
                            {% if article.extra_fields is defined %}
                            <tr>
                                <th class="d-none d-md-table-cell" colspan="2"><h2>Extra Fields</h2></th>
                            </tr>
                            {% for key, value in article.extra_fields %}
                            <tr>
                                <th width="15%" class="d-none d-md-table-cell">{{ key }}</th>
                                <td style="word-wrap: break-word; min-width: 0; max-width: 0;">
                                    <h4 class="mt-0 d-block d-md-none">{{ key }}</h4>
                                    <p class="mb-0">
                                        {% if (value is same as (1)) %}
                                        <i class="fa fa-check"></i>
                                        {% elseif (value is same as (0)) %}
                                        <i class="fa fa-times"></i>
                                        {% else %}
                                        {{ value | raw }}
                                        {% endif %}
                                    </p>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
