/**
 * FONTS
 */
/** Montserrat Light **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/montserrat/Montserrat-Light.eot");
    src: url("../fonts/montserrat/Montserrat-Light.eot?#iefix") format('embedded-opentype'),
         url("../fonts/montserrat/Montserrat-Light.woff2") format("woff2"),
         url("../fonts/montserrat/Montserrat-Light.woff") format("woff");
}

/** Montserrat Light-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: italic;
    src: url("../fonts/montserrat/Montserrat-LightItalic.eot");
    src: url("../fonts/montserrat/Montserrat-LightItalic.eot?#iefix") format('embedded-opentype'),
         url("../fonts/montserrat/Montserrat-LightItalic.woff2") format("woff2"),
         url("../fonts/montserrat/Montserrat-LightItalic.woff") format("woff");
}

/** Montserrat Regular **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/montserrat/Montserrat-Regular.eot");
    src: url("../fonts/montserrat/Montserrat-Regular.eot?#iefix") format('embedded-opentype'),
         url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"),
         url("../fonts/montserrat/Montserrat-Regular.woff") format("woff");
}

/** Montserrat Regular-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/montserrat/Montserrat-Italic.eot");
    src: url("../fonts/montserrat/Montserrat-Italic.eot?#iefix") format('embedded-opentype'),
         url("../fonts/montserrat/Montserrat-Italic.woff2") format("woff2"),
         url("../fonts/montserrat/Montserrat-Italic.woff") format("woff");
}

/** Montserrat Medium **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/montserrat/Montserrat-Medium.eot");
    src: url("../fonts/montserrat/Montserrat-Medium.eot?#iefix") format('embedded-opentype'),
         url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2"),
         url("../fonts/montserrat/Montserrat-Medium.woff") format("woff");
}

/** Montserrat Medium-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: italic;
    src: url("../fonts/montserrat/Montserrat-MediumItalic.eot");
    src: url("../fonts/montserrat/Montserrat-MediumItalic.eot?#iefix") format('embedded-opentype'),
         url("../fonts/montserrat/Montserrat-MediumItalic.woff2") format("woff2"),
         url("../fonts/montserrat/Montserrat-MediumItalic.woff") format("woff");
}

/** Montserrat SemiBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/montserrat/Montserrat-SemiBold.eot");
    src: url("../fonts/montserrat/Montserrat-SemiBold.eot?#iefix") format('embedded-opentype'),
         url("../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"),
         url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff");
}

/** Montserrat SemiBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: italic;
    src: url("../fonts/montserrat/Montserrat-SemiBoldItalic.eot");
    src: url("../fonts/montserrat/Montserrat-SemiBoldItalic.eot?#iefix") format('embedded-opentype'),
         url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"),
         url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff") format("woff");
}

/* font-awesome-free v5 */
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("../vendor/font-awesome/webfonts/fa-solid-900.eot");
  src: url("../vendor/font-awesome/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
       url("../vendor/font-awesome/webfonts/fa-solid-900.woff2") format("woff2"),
       url("../vendor/font-awesome/webfonts/fa-solid-900.woff") format("woff"),
       url("../vendor/font-awesome/webfonts/fa-solid-900.ttf") format("truetype"),
       url("../vendor/font-awesome/webfonts/fa-solid-900.svg#fontawesome") format("svg");
}