.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
/*!
* direction.less v0.1.0
*/
/* Page Loader
------------------------------------
*/
.pace .pace-progress {
    background: #007be8;
    height: 3px;
}
.pace .pace-progress-inner {
    box-shadow: none;
}
.pace .pace-activity {
    -webkit-animation: none;
    animation: none;
    top: 73px;
    background: url('../images/progress/progress-circle-success.svg') no-repeat top left;
    background-size: 100% auto;
    margin: 0 auto;
    border-width: 0;
    border-radius: 0;
    width: 28px;
    height: 40px;
    right: 19px;
    left: auto;
}
/*------------------------------------------------------------------
[1. Core Layout]
*/
html {
    height: 100%;
}
/* Body Triggers for layout options
------------------------------------------------------------------
*/
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f6f9fa;
    direction: ltr;
    -moz-osx-font-smoothing: grayscale;
}
body.fixed-header .header {
    position: fixed;
    left: 0;
    top: 0;
}
body.no-header .page-container .page-content-wrapper .content {
    padding-top: 0px;
}
body.no-header .header {
    border-bottom-color: transparent;
}
body.dashboard {
    background: #f6f9fa;
}
body.dashboard .page-container {
    background: #f6f9fa;
}
body.rtl [class^="col-"],
body.rtl [class*="col-"] {
    float: left;
}
body.menu-pin .overlay {
    padding-left: 0;
}
body.menu-pin .overlay .overlay-brand {
    margin-left: 0;
}
/* Page Container
------------------------------------
*/
.page-container {
    width: 100%;
    height: 100%;
    padding-left: 70px;
}
.page-container .page-content-wrapper {
    min-height: 100%;
    position: relative;
}
.page-container .page-content-wrapper .content {
    /* Content holder */
    z-index: 10;
    padding-top: 60px;
    padding-bottom: 69px;
    min-height: 100%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.page-container .page-content-wrapper .content.full-width {
    width: 100%;
}
.page-container .page-content-wrapper .content .content-inner {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    padding-left: 30px;
    position: relative;
}
.page-container .page-content-wrapper .content:only-child {
    padding-bottom: 0px;
}
.page-container .page-content-wrapper .content.overlay-footer {
    padding-bottom: 0px;
}
.page-container .page-content-wrapper .footer {
    /* Footer */
    width: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
}
.page-container .page-content-wrapper .footer.fixed {
    position: fixed;
}
.page-container .page-content-wrapper .right-fixed-pane-heading {
    min-height: 145px;
}
.page-title {
    margin-top: 0px;
}
.group-container {
    white-space: nowrap !important;
}
.group-container .single-group {
    vertical-align: top;
    display: inline-block;
    white-space: normal;
}
.jumbotron {
    position: relative;
    overflow: hidden;
    display: block;
    padding: 0;
    background-color: #f2f4f5;
}
.jumbotron .inner {
    position: relative;
    z-index: 2;
}
.jumbotron.lg {
    height: 600px;
}
.jumbotron .cover-photo {
    width: 100%;
    height: inherit;
    overflow: hidden;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    background-size: cover;
    background-color: #007be8;
}
.jumbotron .cover-photo img {
    display: none;
}
.jumbotron h1 {
    font-size: 44px;
}
/* Other overides */
.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}
.copyright {
    padding: 25px 0;
    border-top: 1px solid rgba(122, 137, 148, 0.07);
}
.pager {
    margin: 0;
}
/* SPLIT VIEW FOR EMAIL and APPS
------------------------------------
*/
.split-view {
    position: relative;
    height: 100%;
}
.split-view .split-list {
    float: left;
    width: 360px;
    background: #fff;
    height: 100%;
    overflow-y: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
    border-right: 1px solid #eaecee;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.split-view .split-list .list-view-fake-header {
    font-size: 10.8px !important;
    line-height: normal !important;
}
.split-view .split-list.slideLeft {
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
}
.split-view .split-list .list-refresh {
    position: absolute;
    right: 18px;
    top: 4px;
    color: #7a8994;
    opacity: .34;
    z-index: 101;
}
.split-view .split-list .list-refresh i {
    font-size: 11px;
}
.split-view .split-list .list-view-fake-header,
.split-view .split-list .list-view-group-header {
    background: #f2f4f5;
    height: 28px;
    color: rgba(122, 137, 148, 0.7);
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 10.8px;
    padding-left: 12px;
    padding-top: 6px;
    letter-spacing: 0.07em;
    width: 100%;
}
.split-view .split-list .item {
    height: 111px;
    list-style: none;
    position: relative;
    border-bottom: 1px solid rgba(234, 236, 238, 0.7);
    cursor: pointer;
}
.split-view .split-list .item .inline {
    width: 230px;
}
.split-view .split-list .item .inline > * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: arial;
}
.split-view .split-list .item .recipients {
    letter-spacing: 0.01em;
    padding-bottom: 2px;
}
.split-view .split-list .item .checkbox {
    float: left;
    clear: left;
    display: none;
    max-width: 32px;
}
.split-view .split-list .item .subject {
    font-family: 'Helvetica';
    font-size: 14.33px;
    color: #47525e;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 38px;
    display: -webkit-box;
    white-space: normal;
    line-height: 18px;
}
.split-view .split-list .item .body {
    font-size: 12.6px;
    opacity: .52;
    height: 22px;
}
.split-view .split-list .item .datetime {
    color: #16191b;
    font-family: arial;
    font-size: 11.1px;
    position: absolute;
    right: 20px;
    top: 15px;
    opacity: 0.46;
}
.split-view .split-details {
    position: relative;
    overflow: auto;
    height: 100%;
}
.split-view .split-details .no-result {
    bottom: 0;
    left: 0;
    margin-top: -34px;
    opacity: 0.5;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
}
.split-view .split-details .actions {
    height: 50px;
    float: left;
}
.split-view .split-details .actions li {
    list-style: none;
    position: relative;
}
.split-view .split-details .actions li:last-child:after {
    display: none;
}
.split-view .split-details .actions li:after {
    content: "";
    height: 14px;
    position: absolute;
    right: -4px;
    top: 18px;
    width: 1px;
    background: rgba(0, 0, 0, 0.07);
}
.split-view .split-details .actions li a {
    font-size: 13.1px;
    color: #7a8994;
    font-weight: 600;
    padding: 0 13px;
    line-height: 50px;
    white-space: nowrap;
}
/* Horizontal Menu
------------------------------------
*/
.horizontal-app-menu {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.horizontal-app-menu.fixed-header {
    overflow: hidden;
}
.horizontal-app-menu.fixed-header .header {
    position: relative;
}
.horizontal-app-menu.fixed-header .page-container {
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.horizontal-app-menu .header {
    display: block;
    height: auto;
    border-bottom: none;
    background-color: #fff;
    color: #627182;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.horizontal-app-menu .header .header-inner {
    height: 60px;
    background-color: transparent;
    position: relative;
    color: #627182;
}
.horizontal-app-menu .header .header-lg-height {
    height: 75px;
}
.horizontal-app-menu .header .header-md-height {
    height: 51px;
}
.horizontal-app-menu .header .header-sm-height {
    height: 50px;
}
.horizontal-app-menu .header .search-link {
    color: #627182;
}
.horizontal-app-menu .header .header-inner .brand.inline {
    position: relative;
    border-right: 1px solid #40444d;
    padding-right: 15px;
    margin-right: 0px;
    width: auto;
}
.horizontal-app-menu .header .header-inner .brand.inline > img {
    width: auto;
}
.horizontal-app-menu .header .notification-list {
    border: none;
}
.horizontal-app-menu .header .title-bar {
    padding-bottom: 18px;
}
.horizontal-app-menu .header .page-title {
    color: #627182;
    font-size: 21px;
    line-height: 21px;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 15px;
}
.horizontal-app-menu .header .pg {
    color: #627182;
    display: block;
}
.horizontal-app-menu .menu-bar {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    color: #627182;
}
.horizontal-app-menu .menu-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.horizontal-app-menu .menu-bar ul li a .arrow {
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 15px;
    width: 23px;
}
.horizontal-app-menu .menu-bar ul li a .arrow:before {
    font-size: 16px;
    font-family: 'Font Awesome 5 Free';
    height: auto;
    content: "\f104";
    font-weight: 900;
    text-shadow: none;
    position: relative;
    top: 2px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
}
.horizontal-app-menu .menu-bar ul li {
    line-height: 24px;
}
.horizontal-app-menu .menu-bar ul li .sub-menu {
    padding: 0;
    left: 50%;
    top: 0;
    visibility: hidden;
    opacity: 0;
    min-width: calc(100% + 4px);
    padding: 18px 25px;
    background: #fff;
    z-index: 1;
    position: absolute;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
    -webkit-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0);
    -ms-transform: translate(15px, 0);
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}
.horizontal-app-menu .menu-bar ul li .sub-menu li a {
    min-width: 50px;
    width: 100%;
    padding: 4px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.horizontal-app-menu .menu-bar ul li:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate3d(34%, 0, 0);
    transform: translate3d(34%, 0, 0);
    -ms-transform: translate(34%, 0);
}
.horizontal-app-menu .menu-bar > ul {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
.horizontal-app-menu .menu-bar > ul > li {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    position: relative;
}
.horizontal-app-menu .menu-bar > ul > li:hover:not(".open") > a {
    color: #000;
}
.horizontal-app-menu .menu-bar > ul > li:first-child > a {
    padding-left: 0;
}
.horizontal-app-menu .menu-bar > ul > li:last-child > a {
    padding-right: 0;
}
.horizontal-app-menu .menu-bar > ul > li > a {
    padding: 0 20px;
}
.horizontal-app-menu .menu-bar > ul > li > ul {
    display: none;
    opacity: 0;
    list-style: none;
    border: 0;
    top: -7px;
    left: -4px;
    min-width: calc(100% + 4px);
    padding: 0 25px;
    padding-top: 60px;
    padding-bottom: 18px;
    background: #fff;
    z-index: 1;
    position: absolute;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
}
.horizontal-app-menu .menu-bar > ul > li.open > ul {
    display: block;
}
.horizontal-app-menu .menu-bar > ul > li.open > ul:before {
    content: '';
    position: absolute;
    height: 1px;
    top: 52px;
    width: calc(100% -    50px);
    background-color: rgba(0, 0, 0, 0.07);
}
.horizontal-app-menu .menu-bar > ul > li.open > ul > li {
    padding-left: 0;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    -ms-transform: translate(0, -10px);
    opacity: 0;
    transition: all 0.18s ease;
    border-bottom: none;
}
.horizontal-app-menu .menu-bar > ul > li.open > ul > li > a {
    min-width: 50px;
    width: 100%;
    padding: 4px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.horizontal-app-menu .menu-bar > ul > li.open > ul > li > a > .arrow:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.horizontal-app-menu .menu-bar > ul > li.open > ul > li:last-child > a {
    padding-bottom: 0;
}
.horizontal-app-menu .menu-bar > ul > li.open > a {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    -ms-transform: translate(0, -10px);
    opacity: 0;
    transition: all 0.18s ease !important;
}
.horizontal-app-menu .menu-bar > ul > li.opening > ul {
    opacity: 1;
}
.horizontal-app-menu .menu-bar > ul > li.opening > ul > li {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    opacity: 1;
}
.horizontal-app-menu .menu-bar > ul > li.opening > a {
    position: relative;
    z-index: 10;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -ms-transform: translate(0, 0);
    opacity: 1;
}
.horizontal-app-menu .menu-bar > ul > li.closing > ul {
    opacity: 0;
}
.horizontal-app-menu .menu-bar > ul > li.closing > ul > li {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    -ms-transform: translate(0, -10px);
    opacity: 0;
}
.horizontal-app-menu .menu-bar > ul > li.closing > a {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    -ms-transform: translate(0, -10px);
    opacity: 0;
}
.horizontal-app-menu .menu-bar > ul li > a {
    color: #627182;
}
.horizontal-app-menu .secondary-sidebar {
    margin-left: -25px;
    border: 1px solid rgba(0, 0, 0, 0.07);
}
.horizontal-app-menu .inner-content {
    margin-left: 225px;
}
.horizontal-app-menu .content {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
}
.horizontal-app-menu .page-container {
    padding-left: 0;
}
.horizontal-app-menu .page-container .page-content-wrapper .content {
    padding-top: 0;
}
.horizontal-app-menu .ghost-nav-dropdown {
    top: -7px;
    left: -4px;
    background: #fff;
    z-index: 1000;
    position: absolute;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    transition: all 0.18s ease-in;
}
.horizontal-app-menu .calendar .calendar-header {
    background-color: transparent;
    padding-left: 0;
    position: relative;
    left: -20px;
}
.horizontal-app-menu .calendar .options {
    padding-left: 0;
}
.horizontal-app-menu .calendar .months .month:first-child {
    padding-left: 0;
}
.horizontal-app-menu .calendar .weeks-wrapper {
    margin-left: 0;
    padding-left: 0;
}
.horizontal-app-menu .calendar .week-dragger {
    margin-left: 0;
}
.horizontal-app-menu .calendar .calendar-container .grid {
    overflow: hidden;
}
@media (max-width: 991px) {
    body.horizontal-menu-open .header {
        z-index: 1000;
    }
    .horizontal-menu-backdrop {
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 0;
        transition: opacity .3s ease;
        display: none;
    }
    .horizontal-app-menu .menu-bar {
        position: fixed;
        top: 0;
        bottom: 0;
        background-color: #fff;
        width: 270px;
        left: -270px;
        overflow-y: auto;
        -webkit-transition: -webkit-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
        transition: transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -webkit-perspective: 1000;
        flex-direction: column;
        z-index: 1;
    }
    .horizontal-app-menu .menu-bar.open {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        -ms-transform: translate(100%, 0);
    }
    .horizontal-app-menu .menu-bar > ul {
        flex-flow: column nowrap;
        overflow-x: hidden;
    }
    .horizontal-app-menu .menu-bar > ul > li:first-child a,
    .horizontal-app-menu .menu-bar > ul > li:last-child a {
        padding-right: 32px !important;
        padding-left: 20px !important;
    }
    .horizontal-app-menu .menu-bar ul {
        width: 100%;
    }
    .horizontal-app-menu .menu-bar ul li {
        min-height: 45px;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .horizontal-app-menu .menu-bar ul li > ul {
        padding: 0;
        overflow: hidden;
        margin-top: 6px;
        position: static;
        background: #fff;
        opacity: 1;
        padding: 12px 0 10px 10px;
        min-width: 0;
        left: 0;
        box-shadow: none;
    }
    .horizontal-app-menu .menu-bar ul li > ul:before {
        display: none;
    }
    .horizontal-app-menu .menu-bar ul li > ul > li {
        padding-left: 0;
        min-height: 40px;
    }
    .horizontal-app-menu .menu-bar ul li > ul > li > a {
        font-size: 13px;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        line-height: 40px;
    }
    .horizontal-app-menu .menu-bar ul li a {
        font-family: Arial, sans-serif;
        display: inline-block;
        padding-left: 20px !important;
        padding-right: 32px !important;
        min-height: 40px;
        line-height: 40px;
        font-size: 14px;
        clear: both;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }
    .horizontal-app-menu .menu-bar ul li a > .arrow {
        float: right;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        transition: all 0.12s ease;
        transform-origin: 90% 50%;
        padding-left: 17px;
    }
    .horizontal-app-menu .menu-bar ul li a > .arrow.open {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
    .horizontal-app-menu .menu-bar ul li.active {
        border: none;
    }
    .horizontal-app-menu .menu-bar ul li.open ul li {
        opacity: 1;
        transform: none;
    }
    .horizontal-app-menu .menu-bar ul li.open > a {
        opacity: 1;
        transform: none;
        color: #fff;
        padding-left: 20px !important;
    }
    .horizontal-app-menu .menu-bar .search-link {
        background: rgba(98, 113, 130, 0.1);
        display: block;
        height: 54px;
        width: 100%;
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
        color: #627182;
        flex-shrink: 0;
        margin-top: auto;
    }
    .horizontal-app-menu .menu-bar .search-link i,
    .horizontal-app-menu .menu-bar .search-link svg {
        margin: 0;
    }
    .horizontal-app-menu .menu-bar .toggle-sidebar {
        width: 35px;
        text-align: center;
        margin: 7px 10px 10px 8px;
        padding: 10px;
    }
    .horizontal-app-menu[data-pages-direction="slideRight"] {
        right: 0;
    }
    .horizontal-app-menu .header .header-sm-height {
        height: 100%;
    }
    .horizontal-app-menu .ghost-nav-dropdown {
        display: none;
    }
    .horizontal-app-menu .options {
        padding-left: 10px !important;
    }
}
@media (max-width: 1400px) {
    .header .brand.inline::after {
        top: -7px !important;
    }
}
@media (min-width: 980px) {
    .horizontal-menu .page-content {
        margin-left: 0;
    }
    .horizontal-menu .page-content .content {
        padding-top: 123px;
    }
}
/* Secondary App Menu */
.inner-content {
    margin-top: 0px;
    padding: 0px;
    overflow: auto;
    min-height: 100%;
    margin-left: 250px;
}
.toggle-secondary-sidebar {
    display: none;
}
.secondary-sidebar {
    background: #1e2835;
    width: 250px;
    float: left;
    padding-left: 47px;
    height: 100%;
    position: fixed;
    padding: 20px 0;
}
.secondary-sidebar.not-fixed {
    position: inherit;
}
.secondary-sidebar.open {
    position: fixed;
    visibility: hidden;
    display: block;
}
.secondary-sidebar .btn-compose {
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.secondary-sidebar .menu-title {
    color: rgba(98, 113, 130, 0.7);
    font-size: 10.8px;
    font-family: 'Montserrat';
    font-weight: normal;
    letter-spacing: 0.03em;
}
.secondary-sidebar .menu-title {
    padding-left: 30px;
}
.secondary-sidebar > ul > li {
    padding-left: 0;
}
.secondary-sidebar ul li a {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}
.secondary-sidebar ul li a > .icon-thumbnail {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: auto;
    line-height: auto;
}
.secondary-sidebar ul li a > .icon-thumbnail > svg {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}
.secondary-sidebar ul li a.active {
    color: #373e43;
}
.secondary-sidebar ul li a > .title {
    width: 100%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}
.secondary-sidebar ul li a > .title:after {
    display: none;
}
.secondary-sidebar ul li a > .badge {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}
.secondary-sidebar ul li a > .arrow:before {
    float: right;
    display: inline;
    font-size: 16px;
    font-family: 'Font Awesome 5 Free';
    height: auto;
    content: "\f104";
    font-weight: 900;
    text-shadow: none;
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
}
.secondary-sidebar ul li ul {
    margin: 0;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 7px;
}
.secondary-sidebar ul li ul li {
    padding: 0;
    margin-bottom: 9px;
    margin-top: 5px;
}
.secondary-sidebar ul li.open > a {
    color: #373e43;
}
.secondary-sidebar ul li.open > a .arrow:before {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.secondary-sidebar ul li.open > ul {
    display: block;
}
.secondary-sidebar ul li > ul {
    display: none;
}
.secondary-sidebar .main-menu {
    padding-left: 0;
}
.secondary-sidebar .main-menu > li {
    list-style: none;
}
.secondary-sidebar .main-menu > li.active > a {
    color: #00e8ba;
}
.secondary-sidebar .main-menu > li.active > a:hover {
    color: #00e8ba;
}
.secondary-sidebar .main-menu > li.active > a > .title {
    position: relative;
}
.secondary-sidebar .main-menu > li.active > a > .title:after {
    background: #00e8ba;
    border-radius: 50%;
    content: "";
    height: 7px;
    position: absolute;
    right: -14px;
    top: 6.5px;
    width: 7px;
}
.secondary-sidebar .main-menu > li a {
    font-size: 14px;
    color: #627182;
    line-height: 37px;
}
.secondary-sidebar .main-menu > li a:hover {
    color: #fff;
}
.secondary-sidebar .main-menu > li a > .title i {
    margin-right: 6px;
    opacity: .9;
}
.secondary-sidebar .sub-menu {
    margin-left: 23px;
}
.secondary-sidebar .sub-menu li {
    list-style: none;
    padding: 0;
}
.secondary-sidebar .sub-menu li.active a {
    color: #fff !important;
}
.secondary-sidebar .sub-menu li a {
    color: rgba(98, 113, 130, 0.89);
    line-height: 25px;
}
.secondary-sidebar .sub-menu li a:hover {
    color: #fff;
}
.secondary-sidebar .sub-menu li a .badge,
.secondary-sidebar .main-menu li a .badge {
    background: transparent;
    font-size: 13px;
    color: #627182;
    line-height: 25px;
}
.secondary-sidebar.light {
    background-color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
}
.secondary-sidebar.light .menu-title {
    color: rgba(98, 113, 130, 0.6);
    opacity: 1;
}
.secondary-sidebar.light .icon-thumbnail {
    background-color: transparent;
}
.secondary-sidebar.light .main-menu li a:hover {
    color: #373e43;
}
.secondary-sidebar.light .main-menu li.active > a {
    color: #373e43;
}
.secondary-sidebar.light .sub-menu {
    margin-top: 5px;
}
.secondary-sidebar.light .sub-menu li.active a {
    color: #373e43 !important;
}
.secondary-sidebar.light .sub-menu li a {
    color: rgba(98, 113, 130, 0.6);
}
.secondary-sidebar.light .sub-menu li a:hover {
    color: #373e43;
}
/* Header
------------------------------------
*/
.header {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    width: 100%;
    padding: 0 20px 0 0;
    z-index: 800;
    background-color: #fff;
    border-bottom: 1px solid rgba(234, 236, 238, 0.7);
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header a {
    color: #7a8994;
}
.header a:hover,
.header a:active,
.header a:focus {
    color: #7a8994;
}
.header .header-inner {
    height: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header.transparent {
    background-color: transparent !important;
}
.header .brand {
    vertical-align: middle;
    width: 280px;
    text-align: center;
}
.header .bubble {
    border-radius: 100%;
    height: 12px;
    width: 12px;
    background-color: #ea2c54;
    color: #fff;
    position: absolute;
    top: -6px;
    float: right;
    right: -5px;
}
.header .notification-list {
    display: inline-block;
    line-height: 23px;
}
.header .search-link {
    display: inline-block;
    margin-left: 15px;
    color: #7a8994;
    opacity: .7;
    font-size: 14px;
    vertical-align: middle;
    line-height: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.header .search-link i {
    font-size: 16px;
}
.header .search-link i,
.header .search-link svg {
    margin-right: 15px;
    vertical-align: middle;
}
.header .search-link:hover {
    opacity: 1;
}
.header .pg {
    font-size: 16px;
}
.header ul li {
    line-height: 12px;
    vertical-align: middle;
}
.header .dropdown {
    line-height: 12px;
}
.header .dropdown-menu {
    margin-top: 10px;
}
/* Bootstrap navbar
------------------------------------
*/
.navbar {
    min-height: 50px;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid transparent;
    top: -1px;
}
.navbar-nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav > li > a {
    padding: 10px 15px;
}
.navbar-default {
    background-color: #fff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}
.navbar-toggle {
    border-radius: 0;
    background-color: transparent !important;
}
.navbar-default .navbar-nav > li > a {
    color: #7a8994;
}
.nav-collapse.collapse {
    height: 100%    !important;
}
.navbar-center,
.navbar-center > li {
    float: none;
    display: inline-block;
    *display: inline;
    /* ie7 fix */
    *zoom: 1;
    /* hasLayout ie7 trigger */
    vertical-align: top;
}
.navbar-nav li a {
    min-width: 50px;
}
/* Header Responsive Classes
------------------------------------
*/
@media only screen and (min-width: 980px) {
    body.menu-pin .header .brand {
        width: 245px;
    }
    body.menu-behind .header .brand {
        width: 200px;
        text-align: left;
        padding-left: 20px;
    }
    body.box-layout {
        background-color: #fff;
    }
    body.box-layout > .container,
    body.box-layout > .full-height > .container {
        height: 100%;
        padding: 0;
        background-color: #f6f9fa;
    }
    body.box-layout .header {
        background-color: transparent;
        border: 0;
        padding: 0;
    }
    body.box-layout .header > .container {
        background-color: #fff;
        border-bottom: 1px solid rgba(230, 230, 230, 0.7);
        padding: 0 20px 0 0;
        height: 100%;
    }
    .header .brand {
        position: relative;
    }
    .header .user-info-wrapper .user-details .user-name {
        font-size: 16px;
    }
    .header .user-info-wrapper .user-details .user-other {
        font-size: 10px;
    }
    .header .user-info-wrapper .user-pic {
        position: relative;
        top: -6px;
    }
    .notification-panel {
        width: 400px;
    }
}
@media (max-width: 991px) {
    body.box-layout .header > .container {
        padding: 0;
    }
    body.box-layout .header > .container .pull-right .sm-action-bar {
        right: 0;
    }
    body.horizontal-app-menu .header > .container {
        padding: 0;
    }
    .header {
        padding: 0 15px;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    }
    .header .header-inner {
        text-align: center;
    }
    .header .header-inner .mark-email {
        left: 45px;
        position: absolute;
        top: 23px;
    }
    .header .brand {
        width: auto;
    }
    .header > .pull-left,
    .header > .pull-right {
        position: relative;
    }
    .header > .pull-right .sm-action-bar {
        right: 0;
    }
}
.windows .header .search-link {
    font-size: 15px;
}
/* Breadcrumbs
------------------------------------
*/
.breadcrumb {
    font-family: 'Montserrat';
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    box-shadow: none;
    background-color: transparent;
    padding: 15px 0;
    margin: 0;
    border: none;
    text-transform: uppercase;
}
.breadcrumb.breadcrumb-alt {
    padding: 8px 0;
    text-transform: none;
}
.breadcrumb.breadcrumb-alt a,
.breadcrumb.breadcrumb-alt span {
    letter-spacing: normal;
    color: #000;
    font-size: 12px !important;
}
.breadcrumb.breadcrumb-alt > .breadcrumb-item,
.breadcrumb.breadcrumb-alt > .breadcrumb-item.active {
    letter-spacing: normal;
    opacity: .46;
    color: #000;
    font-size: 12px !important;
}
.breadcrumb a,
.breadcrumb span {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10.5px !important;
    letter-spacing: 0.06em;
    font-weight: 500;
    color: #7b7d82;
}
.breadcrumb .breadcrumb-item {
    float: left;
    padding-left: 0px;
}
.breadcrumb > .breadcrumb-item + .breadcrumb-item:before {
    padding: 0 5px;
    color: #515050;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f105";
    font-size: 12px;
    font-weight: bold;
}
.breadcrumb > .breadcrumb-item.active {
    font-weight: 500;
    color: #0090d9;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10.5px !important;
    letter-spacing: 0.06em;
}
.breadcrumb > .breadcrumb-item.active:before {
    padding-right: 10px;
}
/* Main Menu Sidebar
------------------------------------
*/
body.mobile .sidebar-menu {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
body.mobile .sidebar-menu > ul {
    height: auto !important;
    overflow: visible !important;
    -webkit-overflow-scrolling: touch !important;
}
body.mobile .page-sidebar .sidebar-menu .menu-items li:hover a {
    color: #627182;
}
body.mobile .page-sidebar .sidebar-menu .menu-items li:hover .icon-thumbnail {
    color: #627182 !important;
}
body.mobile .page-sidebar .sidebar-menu .menu-items li.active > a,
body.mobile .page-sidebar .sidebar-menu .menu-items li.open > a {
    color: #fff;
}
body.mobile .page-sidebar .sidebar-menu .menu-items li.active > .icon-thumbnail,
body.mobile .page-sidebar .sidebar-menu .menu-items li.open > .icon-thumbnail {
    color: #fff;
}
body.mobile .drager {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
body.sidebar-visible .page-sidebar .scroll-element {
    visibility: visible;
}
body.sidebar-visible .page-sidebar .menu-items .icon-thumbnail {
    -webkit-transform: translate3d(-14px, 0, 0);
    transform: translate3d(-14px, 0, 0);
    -ms-transform: translate(-14px, 0);
}
body.sidebar-visible .page-sidebar .sidebar-header .sidebar-header-controls {
    -webkit-transform: translate3d(48px, 0, 0);
    transform: translate3d(48px, 0, 0);
    -ms-transform: translate(48px, 0);
}
.page-sidebar {
    width: 280px;
    background-color: #fff;
    z-index: 1000;
    left: -210px;
    position: fixed;
    bottom: 0;
    top: 0;
    right: auto;
    overflow: hidden;
    -webkit-transition: -webkit-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    -moz-transition: -moz-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    -o-transition: -o-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    transition: transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}
.page-sidebar a,
.page-sidebar button {
    color: #627182;
}
.page-sidebar a:hover,
.page-sidebar button:hover,
.page-sidebar a:active,
.page-sidebar button:active {
    color: #000;
    background-color: transparent !important;
}
.page-sidebar a:hover:focus,
.page-sidebar button:hover:focus,
.page-sidebar a:active:focus,
.page-sidebar button:active:focus {
    color: #000;
}
.page-sidebar a:visited,
.page-sidebar button:visited,
.page-sidebar a:focus,
.page-sidebar button:focus {
    color: #627182;
}
.page-sidebar button.sidebar-slide-toggle.active {
    color: #627182;
}
.page-sidebar button.sidebar-slide-toggle.active:focus {
    background: transparent;
}
.page-sidebar .scroll-element {
    visibility: hidden;
}
.page-sidebar .sidebar-header {
    /* Side-bar header */
    display: block;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #e6e6e6;
    color: #fff;
    width: 100%;
    padding: 0 20px;
    padding-left: 30px;
    clear: both;
    z-index: 10;
    position: relative;
}
.page-sidebar .sidebar-header .sidebar-header-controls {
    display: inline-block;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.05, 0.74, 0.27, 0.99);
    transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.27, 0.99);
    -webkit-backface-visibility: hidden;
}
.page-sidebar .sidebar-header .sidebar-slide-toggle i {
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
}
.page-sidebar .sidebar-header .sidebar-slide-toggle.active i {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.page-sidebar .close-sidebar {
    position: absolute;
    right: 19px;
    top: 14px;
    padding: 9px;
    z-index: 1;
}
.page-sidebar .close-sidebar > i {
    color: rgba(255, 255, 255, 0.57);
}
.page-sidebar .sidebar-overlay-slide {
    /* Side-bar Top Slider */
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: block;
    z-index: 9;
    padding: 80px 20px 20px 20px;
}
.page-sidebar .sidebar-overlay-slide.from-top {
    top: -100%;
    position: absolute;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.page-sidebar .sidebar-overlay-slide.from-top.show {
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
}
/* Side-bar Menu */
.page-sidebar .sidebar-menu {
    font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    height: calc(100% - 50px);
    position: relative;
    width: 100%;
}
.page-sidebar .sidebar-menu .outer-tab-nav-section {
    display: inline-block;
    width: 45px;
    position: absolute;
    height: 100%;
    background-color: #0aa699 !important;
}
.page-sidebar .sidebar-menu .menu-items {
    /* Side-bar Menut Items */
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: calc(100% - 10px);
    width: 100%;
}
.page-sidebar .sidebar-menu .menu-items li:hover > .icon-thumbnail,
.page-sidebar .sidebar-menu .menu-items li.open > .icon-thumbnail,
.page-sidebar .sidebar-menu .menu-items li.active > .icon-thumbnail {
    color: #000;
}
.page-sidebar .sidebar-menu .menu-items li:hover > a
.page-sidebar .sidebar-menu .menu-items li.open > a,
.page-sidebar .sidebar-menu .menu-items li.active > a {
    color: #000;
    font-weight: 500;
}
.page-sidebar .sidebar-menu .menu-items li > a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
}
.page-sidebar .sidebar-menu .menu-items > li {
    display: block;
    padding: 0;
    clear: right;
}
.page-sidebar .sidebar-menu .menu-items > li:after,
.page-sidebar .sidebar-menu .menu-items > li:before {
    display: table;
    content: " ";
    clear: both;
}
.page-sidebar .sidebar-menu .menu-items > li > a {
    display: inline-block;
    padding-left: 32px;
    min-height: 40px;
    line-height: 40px;
    font-size: 14px;
    clear: both;
}
.page-sidebar .sidebar-menu .menu-items > li > a.open {
    background: #313131;
}
.page-sidebar .sidebar-menu .menu-items > li > a > .arrow {
    float: right;
    padding-right: 5px;
}
.page-sidebar .sidebar-menu .menu-items > li > a > .arrow:before {
    float: right;
    display: inline;
    font-size: 16px;
    font-family: 'Font Awesome 5 Free';
    height: auto;
    content: "\f104";
    font-weight: 900;
    text-shadow: none;
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
}
.page-sidebar .sidebar-menu .menu-items > li > a > .arrow.open:before {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.page-sidebar .sidebar-menu .menu-items > li > a > .badge {
    margin-top: 12px;
}
.page-sidebar .sidebar-menu .menu-items > li > a > .title {
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 85%;
}
.page-sidebar .sidebar-menu .menu-items > li > a > .details {
    font-size: 12px;
    opacity: 0.4;
    display: block;
    clear: both;
}
.page-sidebar .sidebar-menu .menu-items > li > a.detailed > .title {
    line-height: 28px;
}
.page-sidebar .sidebar-menu .menu-items > li > a.detailed > .details {
    line-height: 16px;
}
.page-sidebar .sidebar-menu .menu-items > li.active > ul.sub-menu {
    display: block;
}
.page-sidebar .sidebar-menu .menu-items > li > .icon-thumbnail:first-letter {
    text-transform: uppercase;
}
.page-sidebar .sidebar-menu .menu-items > li > ul.sub-menu > li ul.sub-menu li {
    padding-left: 10px;
    padding-right: 3px;
}
.page-sidebar .sidebar-menu .menu-items > li > ul.sub-menu > li ul.sub-menu .icon-thumbnail {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 10px;
}
.page-sidebar .sidebar-menu .menu-items > li > ul.sub-menu li > a > .arrow:before {
    float: right;
    margin-top: 1px;
    margin-right: 20px;
    display: inline;
    font-size: 16px;
    font-family: 'Font Awesome 5 Free';
    height: auto;
    content: "\f104";
    font-weight: 900;
    text-shadow: none;
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
}
.page-sidebar .sidebar-menu .menu-items > li > ul.sub-menu li > a > .arrow.open:before {
    float: right;
    margin-top: 1px;
    margin-right: 18px;
    display: inline;
    font-family: 'Font Awesome 5 Free';
    height: auto;
    font-size: 16px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-weight: 900;
    text-shadow: none;
}
.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu {
    display: none;
    list-style: none;
    clear: both;
    margin: 0 0 10px 0;
    background-color: #fff;
    padding: 18px 0 10px 0;
}
.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li {
    background: none;
    padding: 0px 20px 0 40px;
    margin-top: 1px;
}
.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li:hover > .icon-thumbnail {
    color: #000;
}
.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li > a {
    display: inline-block;
    padding: 5px 0px;
    font-size: 13px;
    white-space: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li .icon-thumbnail {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    background-color: #fff;
    font-size: 14px;
}
.page-sidebar .sidebar-menu .muted {
    color: #576775;
    opacity: .45;
}
.page-sidebar .sidebar-menu ul.sub-menu li.saperator {
    line-height: 1px;
    margin-top: -0.1em;
    margin-bottom: 0.5em;
}
.page-sidebar .sidebar-menu ul.sub-menu li.saperator > span {
    width: 90%;
    border-top: 1px solid #eaeaea;
    display: inline-block;
    line-height: 1px;
}
.page-sidebar .icon-thumbnail [class^="bg-"],
.page-sidebar [class*="bg-"] {
    color: #fff;
}
[data-toggle-pin="sidebar"] > i:before {
    content: "\f10c";
}
/* Sidebar icon holder
------------------------------------
*/
.icon-thumbnail {
    display: inline-block;
    background: #fff;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    left: 0;
    float: right;
    margin-right: 14px;
    color: #627182;
    font-size: 16px;
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.05, 0.74, 0.27, 0.99);
    transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.27, 0.99);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-weight: bold;
    cursor: pointer;
}
.icon-thumbnail > i {
    font-size: 14px;
}
.icon-thumbnail > svg {
    width: auto;
    height: auto;
    display: inline;
}
/* Sidebar Responsive Classes
------------------------------------
*/
@media only screen and (max-width: 1400px) {
    .page-sidebar .page-sidebar-inner .sidebar-slide .sidebar-menu {
        bottom: 50px;
    }
    .page-sidebar .page-sidebar-inner .sidebar-slide .sidebar-widgets {
        display: none;
    }
}
@media only screen and (min-width: 980px) {
    body.ie9.menu-pin .page-sidebar {
        transform: none !important;
        -webkit-transform: none !important;
        -ms-transform: none !important;
    }
    body.menu-pin [data-toggle-pin="sidebar"] > i:before {
        content: "\f192";
    }
    body.menu-pin .page-sidebar {
        transform: translate(210px, 0) !important;
        -webkit-transform: translate(210px, 0) !important;
        -ms-transform: translate(210px, 0) !important;
    }
    body.menu-pin .page-sidebar {
        width: 250px;
    }
    body.menu-pin .page-sidebar .sidebar-header .sidebar-header-controls {
        -webkit-transform: translateX(18px);
        -ms-transform: translateX(18px);
        transform: translateX(18px);
    }
    body.menu-pin .page-sidebar .menu-items .icon-thumbnail {
        -webkit-transform: translate3d(-14px, 0, 0);
        transform: translate3d(-14px, 0, 0);
        -ms-transform: translate(-14px, 0);
    }
    body.menu-behind .page-sidebar {
        z-index: 799;
    }
    body.box-layout .page-sidebar {
        left: auto;
        transform: none !important;
        -webkit-transform: none !important;
    }
}
@media (max-width: 991px) {
    .page-sidebar {
        width: 250px;
        z-index: auto;
        left: 0 !important;
        -webkit-transform: translate3d(0, 0px, 0px) !important;
        transform: translate3d(0, 0px, 0px) !important;
    }
    .page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li {
        padding: 0px 30px 0 36px;
    }
    .icon-thumbnail {
        margin-right: 24px;
    }
    .page-sidebar {
        display: none;
        z-index: auto;
    }
    .page-sidebar.visible {
        display: block;
    }
    .page-sidebar .page-sidebar-inner {
        z-index: 1;
        left: 0 !important;
        width: 260px;
    }
    .page-sidebar .page-sidebar-inner .sidebar-slide .sidebar-menu {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        top: 40px;
        bottom: 0;
    }
    .page-sidebar .page-sidebar-inner .sidebar-slide .sidebar-menu ul > li > a > .badge {
        display: inline-block;
    }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .page-sidebar .sidebar-menu .menu-items ul {
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .page-sidebar .sidebar-menu .menu-items > li > a {
        padding-left: 27px;
    }
    .page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li {
        padding: 0px 27px 0 31px;
    }
}
@media (max-width: 991px) {
    .sidebar-menu .icon-thumbnail {
        margin-right: 15px;
    }
}
@media (max-width: 767px) {
    .page-sidebar .sidebar-header {
        padding: 0 12px;
    }
    .page-sidebar .sidebar-menu .menu-items > li > a {
        padding-left: 20px;
    }
    .page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li {
        padding: 0px 25px 0 28px;
    }
}
@media (max-width: 480px) {
    body .header .header-inner .toggle-secondary-sidebar {
        font-size: 16px;
        top: 12px;
    }
    .page-sidebar .sidebar-header {
        height: 48px;
        line-height: 48px;
    }
}
/* END Sidebar
------------------------------------
*/
/* Overlay Search
------------------------------------
*/
.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.95);
    z-index: 1010;
    padding-left: 64px;
    overflow: auto;
}
.overlay .inline-block {
    display: inline-block;
}
.overlay .overlay-brand {
    margin-left: -7px !important;
}
.overlay > div {
    width: 100%;
    height: 260px;
    display: block;
    overflow: hidden;
}
.overlay .has-results {
    overflow: visible;
}
.overlay .overlay-search {
    font-weight: 700;
    font-size: 77px;
    height: 100px;
    letter-spacing: -1.925px;
    line-height: 100px;
    width: 100%;
    padding-left: 0 !important;
    font-family: Montserrat;
}
.overlay .close-icon-light.overlay-close {
    position: absolute;
    right: 25px;
    top: 5px;
}
.overlay .close-icon-light.overlay-close .fa-times {
    font-size: 16px;
}
.overlay .search-results {
    width: 100%;
    margin-left: -0.6em;
}
.overlay .search-results table tbody td a.btn:active:hover,
.overlay .search-results table tbody td a.btn:focus {
    background-color: initial !important;
}
body.overlay-search-open {
    overflow: hidden;
}
/* Pages Scroll bar
------------------------------------
*/
.scroll {
    position: relative;
    overflow: auto;
}
.scroll-wrapper > .scroll-element,
.scroll-wrapper > .scroll-element div {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}
.scroll-wrapper > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
.scroll-wrapper > .scroll-element.scroll-x {
    bottom: 2px;
    height: 7px;
    left: 0;
    min-width: 100%;
    width: 100%;
}
.scroll-wrapper > .scroll-element.scroll-y {
    height: 100%;
    min-height: 100%;
    right: 2px;
    top: 0;
    width: 4px;
}
.scroll-wrapper > .scroll-element .scroll-element_outer {
    opacity: 0.3;
}
.scroll-wrapper > .scroll-element .scroll-element_size {
    background-color: rgba(0, 0, 0, 0.07);
    opacity: 0;
}
.scroll-wrapper > .scroll-element .scroll-bar {
    background-color: #697686;
}
.scroll-wrapper > .scroll-element.scroll-x .scroll-bar {
    bottom: 0;
    height: 4px;
    min-width: 24px;
    top: auto;
}
.scroll-wrapper > .scroll-element.scroll-x .scroll-element_outer {
    bottom: 0;
    top: auto;
    left: 2px;
    -webkit-transition: height 0.2s;
    transition: height 0.2s;
}
.scroll-wrapper > .scroll-element.scroll-x .scroll-element_size {
    left: -4px;
}
.scroll-wrapper > .scroll-element.scroll-y .scroll-bar {
    left: auto;
    min-height: 24px;
    right: 0;
    width: 4px;
}
.scroll-wrapper > .scroll-element.scroll-y .scroll-element_outer {
    left: auto;
    right: 0;
    top: 2px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.scroll-wrapper > .scroll-element.scroll-y .scroll-element_size {
    top: -4px;
}
.scroll-wrapper > .scroll-content {
    box-sizing: inherit !important;
}
.scroll-wrapper.auto-hide > .scroll-element .scroll-element_track {
    display: none;
}
.scroll-wrapper > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
    left: -11px;
}
.scroll-wrapper > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
    top: -11px;
}
/* hover & drag */
.scroll-wrapper > .scroll-element:hover .scroll-element_outer,
.scroll-wrapper > .scroll-element.scroll-draggable .scroll-element_outer {
    overflow: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}
.scroll-wrapper > .scroll-element:hover .scroll-element_outer .scroll-element_size,
.scroll-wrapper > .scroll-element.scroll-draggable .scroll-element_outer .scroll-element_size {
    opacity: 1;
}
.scroll-wrapper > .scroll-element:hover .scroll-element_outer .scroll-bar,
.scroll-wrapper > .scroll-element.scroll-draggable .scroll-element_outer .scroll-bar {
    height: 100%;
    width: 100%;
}
.scroll-wrapper > .scroll-element.scroll-x:hover .scroll-element_outer,
.scroll-wrapper > .scroll-element.scroll-x.scroll-draggable .scroll-element_outer {
    height: 10px;
    min-height: 7px;
}
.scroll-wrapper > .scroll-element.scroll-y:hover .scroll-element_outer,
.scroll-wrapper > .scroll-element.scroll-y.scroll-draggable .scroll-element_outer {
    min-width: 7px;
    width: 7px;
}