/*------------------------------------------------------------------
[5. Typography]
*/
/* Standard elements
--------------------------------------------------
*/
html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    color: #7a8994;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
}
/* Headings
------------------------------------
*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
    font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-weight: 300;
    color: #373e43;
}
h1 {
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.08px;
}
h2 {
    font-size: 31px;
    line-height: 40px;
}
h3 {
    font-size: 27px;
    line-height: 35px;
}
h4 {
    font-size: 22px;
    line-height: 31.88px;
}
h5 {
    font-size: 18px;
    line-height: 25.88px;
}
h3 small,
h4 small,
h5 small {
    font-weight: 300;
}
h1.block,
h2.block,
h3.block,
h4.block,
h5.block,
h6.block {
    padding-bottom: 10px;
}
/* Lins and Others
------------------------------------
*/
a {
    text-shadow: none !important;
    color: #0064bc;
    transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
}
a:focus,
a:hover,
a:active {
    color: #007be8;
}
a,
a:focus,
a:hover,
a:active {
    outline: 0 !important;
    text-decoration: none;
}
a[ng-click] {
    cursor: pointer;
}
br {
    line-height: normal;
    clear: both;
}
code {
    color: #be2444;
    background-color: #f2f4f5;
}
code:hover {
    background-color: #fbd5dd;
}
code.readable {
    font-size: 1em;
    padding: 5px 15px;
}
pre.code-block {
    color: #fdfdfd;
    background-color: #292c2d;
    padding: 15px 20px;
}
p {
    display: block;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.01em;
    line-height: 22px;
    margin: 0px 0px 10px 0px;
    font-style: normal;
    white-space: normal;
}
small,
.small {
    line-height: 18px;
    font-size: 85%;
}
label.inline {
    display: inline-block;
    position: relative;
    top: 0px;
    font-size: 13px;
}
ul,
ol {
    margin-bottom: 10px;
}
ul > li,
ol > li {
    padding-left: 3px;
    line-height: 24px;
}
ul.small > li,
ol.small > li {
    line-height: 18px;
}
ul.lg-icon > li,
ol.lg-icon > li {
    font-size: 21px;
}
ul.lg-icon > li span,
ol.lg-icon > li span {
    font-size: 14px;
}
ul.no-style,
ol.no-style {
    list-style: none;
    padding-left: 5px;
}
address {
    margin-bottom: 0px;
}
address a {
    color: #7a8994;
}
blockquote {
    padding: 0 0 0 18px;
    border-left: 0;
}
blockquote:before {
    content: '';
    font-family: 'Font Awesome 5 Free';
    content: "\f10d";
    margin-right: 13px;
    float: left;
    font-weight: 900;
}
blockquote p {
    font-size: 16px;
}
blockquote small {
    line-height: 29px;
    color: #8b91a0;
    padding-left: 30px;
}
blockquote small:before {
    content: "";
}
blockquote.pull-right {
    border-right: 0;
}
blockquote.pull-right:before {
    float: right;
    content: '';
    font-family: 'Font Awesome 5 Free';
    content: "\f10d";
    margin-left: 13px;
    margin-right: 0;
    font-weight: 900;
}
blockquote.pull-right small {
    padding-right: 30px;
}
blockquote.pull-right small:after {
    content: "";
}
hr {
    border-color: #eaecee;
}
hr.double {
    border-width: 2px;
}
hr.dotted {
    border-style: dotted none none;
}
hr.light {
    border-color: #f5f5f5;
}
/* Font Sizes
------------------------------------
*/
.small-text {
    font-size: 12px !important;
}
.normal-text {
    font-size: 13px !important;
}
.large-text {
    font-size: 15px !important;
}
/* Font Weights
------------------------------------
 */
.normal {
    font-weight: normal;
}
.semi-bold {
    font-weight: 400 !important;
}
.bold {
    font-weight: bold !important;
}
.light {
    font-weight: 300 !important;
}
/* Misc
------------------------------------
*/
.logo {
    margin: 18px 14px;
}
.all-caps {
    text-transform: uppercase;
}
.word-caps {
    text-transform: capitalize;
}
.muted {
    color: #ffffff;
}
.hint-text {
    opacity: .7;
}
.no-decoration {
    text-decoration: none !important;
}
/* Monochrome Colors
------------------------------------
 */
.bg-master {
    background-color: #7a8994;
}
.bg-master-light {
    background-color: #eaecee;
}
.bg-master-lighter {
    background-color: #f2f4f5;
}
.bg-master-lightest {
    background-color: #f6f9fa;
}
.bg-master-dark {
    background-color: #373e43;
}
.bg-master-darker {
    background-color: #212528;
}
.bg-master-darkest {
    background-color: #16191b;
}
/* Contextual Colors
------------------------------------
*/
/* Primary
------------------------------------
*/
.bg-primary {
    background-color: #007be8 !important;
}
.bg-primary-dark {
    background-color: #0064bc;
}
.bg-primary-darker {
    background-color: #004a8b;
}
.bg-primary-light {
    background-color: #3395ed;
}
.bg-primary-lighter {
    background-color: #cce5fa;
}
/* Complete
------------------------------------
*/
.bg-complete {
    background-color: #00e8ba;
}
.bg-complete-dark {
    background-color: #00bc97;
}
.bg-complete-darker {
    background-color: #008b70;
}
.bg-complete-light {
    background-color: #33edc8;
}
.bg-complete-lighter {
    background-color: #ccfaf1;
}
/* Success
------------------------------------
*/
.bg-success {
    background-color: #007be8 !important;
}
.bg-success-dark {
    background-color: #0064bc;
}
.bg-success-darker {
    background-color: #004a8b;
}
.bg-success-light {
    background-color: #3395ed;
}
.bg-success-lighter {
    background-color: #cce5fa;
}
/* Info
------------------------------------
*/
.bg-info {
    background-color: #47525e !important;
}
.bg-info-dark {
    background-color: #3a424c;
}
.bg-info-darker {
    background-color: #2b3138;
}
.bg-info-light {
    background-color: #6c757e;
}
.bg-info-lighter {
    background-color: #dadcdf;
}
/* Danger
------------------------------------
*/
.bg-danger {
    background-color: #ea2c54 !important;
}
.bg-danger-dark {
    background-color: #be2444;
}
.bg-danger-darker {
    background-color: #8c1a32;
}
.bg-danger-light {
    background-color: #ee5676;
}
.bg-danger-lighter {
    background-color: #fbd5dd;
}
/* Warning
------------------------------------
 */
.bg-warning {
    background-color: #fed76e !important;
}
.bg-warning-dark {
    background-color: #ceae59;
}
.bg-warning-darker {
    background-color: #988142;
}
.bg-warning-light {
    background-color: #fedf8b;
}
.bg-warning-lighter {
    background-color: #fff7e2;
}
/* More Color Options
------------------------------------
*/
/* Menu
------------------------------------
*/
.bg-menu-dark {
    background-color: #fff;
}
.bg-menu {
    background-color: #fff;
}
.bg-menu-light {
    background-color: #627182;
}
/* Gradients
------------------------------------
*/
.gradient-grey {
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 75%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 75%);
}
.gradient-black {
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 75%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 75%);
}
/* Other Colors
------------------------------------
*/
.bg-white {
    background-color: #fff;
}
.bg-transparent {
    background-color: transparent !important;
}
/* Text Colors */
.link {
    opacity: .7;
}
.link:hover {
    opacity: 1;
}
.text-master {
    color: #7a8994 !important;
}
.text-master-light {
    color: #eaecee !important;
}
.text-black {
    color: #373e43 !important;
}
.text-white {
    color: #fff !important;
}
.text-complete {
    color: #00e8ba !important;
}
.text-success {
    color: #007be8 !important;
}
.text-info {
    color: #47525e !important;
}
.text-warning {
    color: #fed76e !important;
}
.text-warning-dark {
    color: #ceae59 !important;
}
.text-danger {
    color: #ea2c54 !important;
}
.text-primary {
    color: #007be8 !important;
}
/* Text Aligngments
------------------------------------
*/
.text-right {
    text-align: right !important;
}
.text-left {
    text-align: left !important;
}
.text-center {
    text-align: center !important;
}
/* Labels
------------------------------------
*/
.label {
    padding: 3px 9px;
    font-size: 11px;
    line-height: 1;
    text-shadow: none;
    background-color: #eaecee;
    font-weight: 600;
    color: #7a8994;
    border-radius: .25em;
}
.label-success {
    background-color: #007be8;
    color: #fff;
}
.label-warning {
    background-color: #fed76e;
    color: #fff;
}
.label-important,
.label-danger {
    background-color: #ea2c54;
    color: #fff;
}
.label-info {
    background-color: #00e8ba;
    color: #fff;
}
.label-inverse {
    background-color: #00bc97;
    color: #fff;
}
.label-white {
    background-color: #fff;
    color: #7a8994;
}
/* Font Sizes
------------------------------------
*/
.fs-8 {
    font-size: 8px !important;
}
.fs-9 {
    font-size: 9px !important;
}
.fs-10 {
    font-size: 10px !important;
}
.fs-11 {
    font-size: 10.5px !important;
}
.fs-12 {
    font-size: 12px !important;
}
.fs-13 {
    font-size: 13px !important;
}
.fs-14 {
    font-size: 14px !important;
}
.fs-15 {
    font-size: 15px !important;
}
.fs-16 {
    font-size: 16px !important;
}
/* Line-heights
------------------------------------
*/
.lh-normal {
    line-height: normal;
}
.lh-8 {
    line-height: 8px;
}
.lh-9 {
    line-height: 9px;
}
.lh-10 {
    line-height: 10px;
}
.lh-11 {
    line-height: 11px;
}
.lh-12 {
    line-height: 12px;
}
.lh-13 {
    line-height: 13px;
}
.lh-14 {
    line-height: 14px;
}
.lh-15 {
    line-height: 15px;
}
.lh-16 {
    line-height: 16px;
}
.lh-17 {
    line-height: 17px;
}
.lh-18 {
    line-height: 18px;
}
.lh-19 {
    line-height: 19px;
}
.lh-20 {
    line-height: 20px;
}
/* Font Faces
------------------------------------
*/
.font-arial {
    font-family: Arial, sans-serif !important;
}
.font-montserrat {
    font-family: 'Montserrat' !important;
}
.font-georgia {
    font-family: Georgia !important;
}
.font-heading {
    font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
/* Wells
------------------------------------
*/
.well {
    background-color: #eaecee;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    background-image: none;
}
.well.well-large {
    padding: 24px;
    width: auto;
}
.well.well-small {
    padding: 13px;
    width: auto;
}
.well.green {
    background-color: #00e8ba;
    color: #fff;
    border: none;
}
.overflow-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.jumbotron {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.jumbotron p {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: inherit;
}
.jumbotron p.small {
    font-size: 85%;
}
/* Responsive Handlers : Typo
------------------------------------
*/
@media (max-width: 1400px) {
    body,
    p {
        font-size: 13px;
        line-height: 20px;
    }
    h1 {
        font-size: 33px;
        line-height: 44px;
        letter-spacing: -0.08px;
    }
    h2 {
        font-size: 28px;
        line-height: 40px;
    }
    h3 {
        font-size: 24px;
        line-height: 35.88px;
    }
    h4 {
        font-size: 18px;
        line-height: 33.88px;
    }
    h5 {
        font-size: 16px;
        line-height: 25.88px;
    }
    small,
    .small {
        font-size: 89%;
        line-height: 17px;
    }
}
/* For Windows : Fixes
------------------------------------
*/
.windows body,
.windows p {
    font-size: 13px;
    letter-spacing: normal;
}
.windows h3 {
    font-size: 29px;
    line-height: 33px;
}
.windows h4 {
    font-size: 23px;
    line-height: 32px;
}
.windows h5 {
    font-size: 19px;
    line-height: 28px;
    font-weight: normal;
}
.windows h1,
.windows h2,
.windows h3,
.windows h4,
.windows h5 {
    letter-spacing: normal;
}
.windows .jumbotron p {
    font-size: 13px;
}
.windows .jumbotron p.small {
    font-size: 85%;
}
.windows small,
.windows .small {
    font-size: 89%;
}
.alert > p,
.alert > ul {
    margin-bottom: 0;
}
.table > tbody > tr > td,
.table > tbody > tr > th {
    line-height: 1.42857143;
}
.table > tfoot > tr > td,
.table > tfoot > tr > th {
    line-height: 1.42857143;
}
.table > thead > tr > td,
.table > thead > tr > th {
    line-height: 1.42857143;
}