/*------------------------------------------------------------------
[6. Buttons]
*/
/*
[Buttons Base Styles]
*/
.btn {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    margin-bottom: 0;
    border: 1px solid #f2f4f5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-image: none !important;
    color: #7a8994;
    background-color: #fff;
    text-shadow: none;
    box-shadow: none;
    line-height: 21px;
    position: relative;
    transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
    padding: 6px 17px;
}
.btn:hover {
    background-color: #fafafa;
    border: 1px solid rgba(122, 137, 148, 0.27);
    color: #333;
}
.btn.active {
    border-color: #eaecee;
    background: #fff;
    color: #333;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none !important;
    outline-style: none;
    color: #333;
    background-color: #fff;
}
.btn .caret {
    margin-left: 3px;
}
.btn .caret.single {
    margin-left: 0px;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    box-shadow: none;
}
button:focus {
    outline: none !important;
}
/*
Alternate buttons
--------------------------------------------------
*/
.btn-primary,
.btn-primary:focus {
    color: #fff;
    background-color: #007be8;
    border-color: #007be8;
}
.btn-primary.active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary.active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled):active:hover,
.show .dropdown-toggle.btn-primary {
    background-color: #0064bc;
    border-color: #0064bc;
    color: #fff;
    box-shadow: none;
}
.btn-primary.hover,
.btn-primary:hover,
.show .dropdown-toggle.btn-primary {
    background-color: #3395ed;
    border-color: #3395ed;
    color: #fff;
}
.btn-primary.active:hover {
    background: #006ac8;
    border-color: #006ac8;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #007be8;
    border-color: #007be8;
}
.btn-primary .badge {
    color: #007be8;
    background-color: #fff;
}
.btn-success,
.btn-success:focus {
    color: #fff;
    background-color: #007be8;
    border-color: #007be8;
}
.btn-success.active,
.btn-success:not(:disabled):not(.disabled):active,
.btn-success.active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled):active:hover,
.show .dropdown-toggle.btn-success {
    background-color: #0064bc;
    border-color: #0064bc;
    color: #fff;
    box-shadow: none;
}
.btn-success.hover,
.btn-success:hover,
.show .dropdown-toggle.btn-success {
    background-color: #3395ed;
    border-color: #3395ed;
    color: #fff;
}
.btn-success.active:hover {
    background: #006ac8;
    border-color: #006ac8;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #007be8;
    border-color: #007be8;
}
.btn-success .badge {
    color: #007be8;
    background-color: #fff;
}
.btn-complete,
.btn-complete:focus {
    color: #fff;
    background-color: #00e8ba;
    border-color: #00e8ba;
}
.btn-complete.active,
.btn-complete:not(:disabled):not(.disabled):active,
.btn-complete.active:focus,
.btn-complete:not(:disabled):not(.disabled):active:focus,
.btn-complete:not(:disabled):not(.disabled):active:hover,
.show .dropdown-toggle.btn-complete {
    background-color: #00bc97;
    border-color: #00bc97;
    color: #fff;
    box-shadow: none;
}
.btn-complete.hover,
.btn-complete:hover,
.show .dropdown-toggle.btn-complete {
    background-color: #33edc8;
    border-color: #33edc8;
    color: #fff;
}
.btn-complete.active:hover {
    background: #00c8a0;
    border-color: #00c8a0;
}
.btn-complete.disabled,
.btn-complete[disabled],
fieldset[disabled] .btn-complete,
.btn-complete.disabled:hover,
.btn-complete[disabled]:hover,
fieldset[disabled] .btn-complete:hover,
.btn-complete.disabled:focus,
.btn-complete[disabled]:focus,
fieldset[disabled] .btn-complete:focus,
.btn-complete.disabled:active,
.btn-complete[disabled]:active,
fieldset[disabled] .btn-complete:active,
.btn-complete.disabled.active,
.btn-complete[disabled].active,
fieldset[disabled] .btn-complete.active {
    background-color: #00e8ba;
    border-color: #00e8ba;
}
.btn-complete .badge {
    color: #00e8ba;
    background-color: #fff;
}
.btn-info,
.btn-info:focus {
    color: #fff;
    background-color: #47525e;
    border-color: #47525e;
}
.btn-info.active,
.btn-info:not(:disabled):not(.disabled):active,
.btn-info.active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled):active:hover,
.show .dropdown-toggle.btn-info {
    background-color: #3a424c;
    border-color: #3a424c;
    color: #fff;
    box-shadow: none;
}
.btn-info.hover,
.btn-info:hover,
.show .dropdown-toggle.btn-info {
    background-color: #6c757e;
    border-color: #6c757e;
    color: #fff;
}
.btn-info.active:hover {
    background: #3d4751;
    border-color: #3d4751;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #47525e;
    border-color: #47525e;
}
.btn-info .badge {
    color: #47525e;
    background-color: #fff;
}
.btn-warning,
.btn-warning:focus {
    color: #fff;
    background-color: #fed76e;
    border-color: #fed76e;
}
.btn-warning.active,
.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning.active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled):active:hover,
.show .dropdown-toggle.btn-warning {
    background-color: #ceae59;
    border-color: #ceae59;
    color: #fff;
    box-shadow: none;
}
.btn-warning.hover,
.btn-warning:hover,
.show .dropdown-toggle.btn-warning {
    background-color: #fedf8b;
    border-color: #fedf8b;
    color: #fff;
}
.btn-warning.active:hover {
    background: #dab95f;
    border-color: #dab95f;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
    background-color: #fed76e;
    border-color: #fed76e;
}
.btn-warning .badge {
    color: #fed76e;
    background-color: #fff;
}
.btn-danger,
.btn-danger:focus {
    color: #fff;
    background-color: #ea2c54;
    border-color: #ea2c54;
}
.btn-danger.active,
.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger.active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled):active:hover,
.show .dropdown-toggle.btn-danger {
    background-color: #be2444;
    border-color: #be2444;
    color: #fff;
    box-shadow: none;
}
.btn-danger.hover,
.btn-danger:hover,
.show .dropdown-toggle.btn-danger {
    background-color: #ee5676;
    border-color: #ee5676;
    color: #fff;
}
.btn-danger.active:hover {
    background: #c92648;
    border-color: #c92648;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #ea2c54;
    border-color: #ea2c54;
}
.btn-danger .badge {
    color: #ea2c54;
    background-color: #fff;
}
.btn-default,
.btn-default:focus {
    color: #5e5e5e;
    background-color: #fff;
    border-color: #f2f4f5;
}
.btn-default.active,
.btn-default:active,
.btn-default.active:focus,
.btn-default:active:focus,
.btn-default:active:hover {
    background-color: #f2f4f5;
    border-color: #eaecee;
    color: #373e43;
}
.btn-default.hover,
.btn-default:hover {
    background-color: #f6f9fa;
    border-color: rgba(122, 137, 148, 0.27);
    color: #212528;
}
.btn-default.active:hover {
    background: #f0f0f0;
}
.btn-link {
    color: #5e5e5e;
    background-color: transparent;
    border: none;
}
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active,
.btn-link.disabled,
.btn-link[disabled] {
    background-color: transparent;
    border: none;
    text-decoration: none;
    outline: none;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
/*
Button Sizes
--------------------------------------------------
*/
.btn-lg,
.btn-group-lg > .btn {
    padding-left: 28px;
    padding-right: 28px;
    line-height: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-sm,
.btn-group-sm > .btn {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 11.9px;
    line-height: 20px;
}
.btn-xs,
.btn-group-xs > .btn {
    padding: 2px 9px;
    font-size: 10.5px;
}
.btn-cons {
    margin-right: 5px;
    min-width: 120px;
}
/*
Rounded buttons
--------------------------------------------------
*/
.btn-rounded {
    border-radius: 100px !important;
}
/*
 Dropdown menus
--------------------------------------------------
*/
.btn-group.show .dropdown-toggle,
.show .dropdown-toggle,
.show.dropdown-default .dropdown-toggle {
    box-shadow: none;
}
/* Pages default dropdown */
.dropdown-default {
    display: inline-block;
}
.dropdown-default.toggle-only {
    padding-left: 9px;
    padding-right: 9px;
}
.dropdown-default.toggle-only:after {
    position: initial;
}
.dropdown-default.show > .btn.dropdown-toggle {
    border-color: transparent !important;
    background: transparent !important;
    z-index: 791 !important;
    color: #7a8994;
}
.dropdown-default.show .dropdown-menu {
    opacity: 1;
    transform: scale(1, 1) !important;
    z-index: 700;
    pointer-events: all;
}
.dropdown-default.show .dropdown-menu .dropdown-item {
    visibility: visible;
}
.dropdown-default.show.dropup > .btn-primary + .dropdown-menu:after,
.dropdown-default.show.dropup > .btn-success + .dropdown-menu:after,
.dropdown-default.show.dropup > .btn-complete + .dropdown-menu:after,
.dropdown-default.show.dropup > .btn-warning + .dropdown-menu:after,
.dropdown-default.show.dropup > .btn-danger + .dropdown-menu:after,
.dropdown-default.show.dropup > .btn-info + .dropdown-menu:after {
    top: auto;
    bottom: 0;
}
.dropdown-default.show > .btn-primary + .dropdown-menu:after,
.dropdown-default.show > .btn-success + .dropdown-menu:after,
.dropdown-default.show > .btn-complete + .dropdown-menu:after,
.dropdown-default.show > .btn-warning + .dropdown-menu:after,
.dropdown-default.show > .btn-danger + .dropdown-menu:after,
.dropdown-default.show > .btn-info + .dropdown-menu:after {
    top: 0;
    height: 42px;
}
.dropdown-default.show > .btn-primary + .dropdown-menu:after {
    background-color: #007be8;
}
.dropdown-default.show > .btn-success + .dropdown-menu:after {
    background-color: #007be8;
}
.dropdown-default.show > .btn-complete + .dropdown-menu:after {
    background-color: #00e8ba;
}
.dropdown-default.show > .btn-warning + .dropdown-menu:after {
    background-color: #fed76e;
}
.dropdown-default.show > .btn-danger + .dropdown-menu:after {
    background-color: #ea2c54;
}
.dropdown-default.show > .btn-info + .dropdown-menu:after {
    background-color: #47525e;
}
.dropdown-default.dropup .btn.dropdown-toggle.btn-lg + .dropdown-menu {
    margin-bottom: -47px;
    padding-bottom: 49px;
}
.dropdown-default.dropup .btn.dropdown-toggle.btn-lg + .dropdown-menu:after {
    bottom: 49px;
}
.dropdown-default.dropup .btn.dropdown-toggle.btn-sm + .dropdown-menu {
    margin-bottom: -34px;
    padding-bottom: 36px;
}
.dropdown-default.dropup .btn.dropdown-toggle.btn-sm + .dropdown-menu:after {
    bottom: 36px;
}
.dropdown-default.dropup .btn.dropdown-toggle.btn-xs + .dropdown-menu {
    margin-bottom: -29px;
    padding-bottom: 31px;
}
.dropdown-default.dropup .btn.dropdown-toggle.btn-xs + .dropdown-menu:after {
    bottom: 31px;
}
.dropdown-default.dropup .dropdown-menu {
    margin-bottom: -40px;
    padding: 0 3px 44px 0 !important;
    transform-origin: center bottom 0;
    top: auto !important;
    bottom: 100% !important;
}
.dropdown-default.dropup .dropdown-menu:after {
    bottom: 43px;
    top: auto !important;
}
.dropdown-default .btn.dropdown-toggle {
    text-align: left;
    padding-right: 27px;
}
.dropdown-default .btn.dropdown-toggle.btn-lg {
    padding-right: 42px;
}
.dropdown-default .btn.dropdown-toggle.btn-lg:after {
    right: 26px;
}
.dropdown-default .btn.dropdown-toggle.btn-lg + .dropdown-menu {
    margin-top: -47px;
    padding-top: 49px;
}
.dropdown-default .btn.dropdown-toggle.btn-lg + .dropdown-menu:after {
    top: 49px;
}
.dropdown-default .btn.dropdown-toggle.btn-sm {
    padding-right: 26px;
}
.dropdown-default .btn.dropdown-toggle.btn-sm:after {
    right: 16px;
}
.dropdown-default .btn.dropdown-toggle.btn-sm + .dropdown-menu {
    margin-top: -34px;
    padding-top: 36px;
}
.dropdown-default .btn.dropdown-toggle.btn-sm + .dropdown-menu:after {
    top: 36px;
}
.dropdown-default .btn.dropdown-toggle.btn-xs {
    padding-right: 21px;
}
.dropdown-default .btn.dropdown-toggle.btn-xs:after {
    right: 8px;
}
.dropdown-default .btn.dropdown-toggle.btn-xs + .dropdown-menu {
    margin-top: -29px;
    padding-top: 31px;
}
.dropdown-default .btn.dropdown-toggle.btn-xs + .dropdown-menu:after {
    top: 31px;
}
.dropdown-default .btn.dropdown-toggle:after {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -2px;
}
.dropdown-default .btn-rounded {
    padding-left: 17px;
    padding-right: 17px;
}
.dropdown-default .btn-rounded + .dropdown-menu {
    border-radius: 17px;
}
.dropdown-default .dropdown-menu {
    margin-top: -4px;
    width: 100%;
    padding-top: 42px;
    overflow: hidden;
    backface-visibility: hidden;
    display: block;
    opacity: 0;
    transform: scale(1, 0) !important;
    transform-origin: center top 0;
    -webkit-transition: all 170ms cubic-bezier(0.05, 0.74, 0.27, 0.99) 0s;
    transition: all 170ms cubic-bezier(0.05, 0.74, 0.27, 0.99) 0s;
    z-index: -1;
}
.dropdown-default .dropdown-menu:after {
    content: "";
    position: absolute;
    height: 1px;
    left: 0;
    top: 42px;
    background: #eaecee;
    width: 100%;
}
.dropdown-default .dropdown-menu li,
.dropdown-default .dropdown-menu .dropdown-item {
    visibility: hidden;
}
.navbar-nav .dropdown-menu {
    position: absolute;
}
.dropdown-menu {
    position: absolute;
    display: none;
    float: left;
    list-style: none;
    text-shadow: none;
    -webkit-box-shadow: 0px 0px 5px rgba(122, 137, 148, 0.2);
    box-shadow: 0px 0px 5px rgba(122, 137, 148, 0.2);
    border: none;
    border-radius: 3px;
    font-size: 13px;
    margin: 0;
    background: #f6f9fa;
    min-width: 50px;
    z-index: 700 !important;
}
.dropdown-menu .divider {
    background-color: #eaecee;
    height: 1px;
    margin: 3px 0;
    border-bottom: 0px;
}
.dropdown-menu > li,
.dropdown-menu > .dropdown-item {
    padding-left: 0px;
    line-height: 35px;
    color: #7a8994;
    padding: 0 20px;
    border-radius: 3px;
    display: block;
    clear: both;
    white-space: nowrap;
    text-align: left;
}
.dropdown-menu > li:hover,
.dropdown-menu > .dropdown-item:hover,
.dropdown-menu > li:focus,
.dropdown-menu > .dropdown-item:focus,
.dropdown-menu > li:active,
.dropdown-menu > .dropdown-item:active {
    color: #212528;
    text-decoration: none;
    background-color: transparent;
}
.dropdown-menu > li:first-child,
.dropdown-menu > .dropdown-item:first-child {
    padding-top: 9px;
}
.dropdown-menu > li:last-child,
.dropdown-menu > .dropdown-item:last-child {
    padding-bottom: 9px;
}
.dropdown-menu > li.dropdown-header,
.dropdown-menu > .dropdown-item.dropdown-header {
    padding: 3px 20px;
}
.dropdown-menu > li.active > a,
.dropdown-menu > .dropdown-item.active > a,
.dropdown-menu > li.active,
.dropdown-menu > .dropdown-item.active,
.dropdown-menu > li.active > a:hover,
.dropdown-menu > .dropdown-item.active > a:hover,
.dropdown-menu > li.active:hover,
.dropdown-menu > .dropdown-item.active:hover,
.dropdown-menu > li.active > a:focus,
.dropdown-menu > .dropdown-item.active > a:focus,
.dropdown-menu > li.active:focus,
.dropdown-menu > .dropdown-item.active:focus {
    color: #212528;
    text-decoration: none;
    background-color: #f2f4f5;
}
.dropdown-menu > li.disabled > a,
.dropdown-menu > .dropdown-item.disabled > a,
.dropdown-menu > li.disabled,
.dropdown-menu > .dropdown-item.disabled,
.dropdown-menu > li.disabled > a:hover,
.dropdown-menu > .dropdown-item.disabled > a:hover,
.dropdown-menu > li.disabled:hover,
.dropdown-menu > .dropdown-item.disabled:hover,
.dropdown-menu > li.disabled > a:focus,
.dropdown-menu > .dropdown-item.disabled > a:focus,
.dropdown-menu > li.disabled:focus,
.dropdown-menu > .dropdown-item.disabled:focus {
    color: #b3bbc1;
}
.dropdown-menu > li.disabled > a:hover,
.dropdown-menu > .dropdown-item.disabled > a:hover,
.dropdown-menu > li.disabled:hover,
.dropdown-menu > .dropdown-item.disabled:hover,
.dropdown-menu > li.disabled > a:focus,
.dropdown-menu > .dropdown-item.disabled > a:focus,
.dropdown-menu > li.disabled:focus,
.dropdown-menu > .dropdown-item.disabled:focus {
    text-decoration: none;
    cursor: default;
}
.dropdown-menu > li > a,
.dropdown-menu > .dropdown-item > a {
    line-height: 35px;
    color: #7a8994;
    padding: 0 20px;
    border-radius: 3px;
    display: block;
    clear: both;
    white-space: nowrap;
    text-align: left;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > .dropdown-item > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .dropdown-item > a:focus {
    color: #212528;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
}
.dropdown-menu > li {
    padding: 0;
}
.dropdown-backdrop {
    z-index: 600;
}
/*
Animated buttons
--------------------------------------------------
*/
.btn-animated {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.btn-animated > span {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.btn-animated:before {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 2.5;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.btn-animated:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.btn-animated.from-top:before {
    left: 0;
    top: -100%;
}
.btn-animated.from-top:hover:before,
.btn-animated.from-top.show-icon:before {
    top: 0;
}
.btn-animated.from-top:hover > span,
.btn-animated.from-top.show-icon > span {
    -webkit-transform: translateY(300%);
    -ms-transform: translateY(300%);
    transform: translateY(300%);
}
.btn-animated.from-left:before {
    left: -100%;
    top: 0;
}
.btn-animated.from-left:hover:before,
.btn-animated.from-left.show-icon:before {
    left: 0;
}
.btn-animated.from-left:hover > span,
.btn-animated.from-left.show-icon > span {
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
}
.btn-animated.fa:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
/*
Tag buttons
--------------------------------------------------
*/
.btn.disabled {
    cursor: not-allowed;
}
.btn-tag {
    line-height: 17px;
    border-radius: 17px 3px 3px 17px;
    padding: 5px 19px;
}
.btn-tag:hover,
.btn-tag.hover {
    border-color: transparent;
}
.btn-tag.btn-tag-light {
    background: #fafdff;
    color: #5b8ca5;
    border: 1px solid #cbe4f0;
}
.btn-tag.btn-tag-light:hover {
    background: #fff;
}
.btn-tag.btn-tag-dark {
    background: #eaecee;
    color: #7a8994;
}
.btn-tag.btn-tag-dark:hover {
    background: #eff1f2;
}
.btn-tag.btn-tag-rounded {
    border-radius: 17px;
}
/*
Misc buttons
--------------------------------------------------
*/
.btn-toolbar .btn {
    padding-left: 14px;
    padding-right: 14px;
}
.pager .disabled > button,
.pager .disabled > button:hover,
.pager .disabled > button:focus,
.pager .disabled > span {
    cursor: not-allowed;
    opacity: .5;
}
.modal-content a.btn-primary:not([href]):not([tabindex]) {
    color: #fff;
}
.modal-content a.btn-primary:not([href]):not([tabindex]):hover,
.modal-content a.btn-primary:not([href]):not([tabindex]):focus {
    color: #fff;
}