/*------------------------------------------------------------------
[7. Alerts]
*/
.alert {
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    padding: 9px 19px 9px 15px;
    border-radius: 3px;
    font-size: 13px;
    border-width: 0;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}
.alert.bordered {
    border-width: 1px;
}
.alert .link {
    color: #ce8f22;
    font-weight: bold;
}
.alert .alert-heading {
    color: #ce8f22 !important;
    margin-bottom: 5px;
    font-weight: 600;
}
.alert .btn-small {
    position: relative;
    top: -3.5px;
}
.alert .button-set .btn {
    position: relative;
    top: 8px;
}
.alert .close {
    background: url("../images/icons/noti-cross.png") no-repeat scroll 0 0 transparent;
    background-position: -9px -10px;
    width: 10px;
    height: 9px;
    position: relative;
    opacity: 0.8;
    top: 4.5px;
    float: right;
    margin-left: 20px;
    font-size: 0;
}
.alert .close:hover {
    opacity: 1;
}
/* Alert : Color Options
------------------------------------
*/
.alert-danger,
.alert-error {
    background-color: #fbd5dd;
    color: #8c1a32;
    border-color: #8c1a32;
}
.alert-danger .close,
.alert-error .close {
    background-position: -95px -10px !important;
}
.alert-warning {
    background-color: #fff7e2;
    color: #988142;
    border-color: #988142;
}
.alert-info {
    background-color: #ccfaf1;
    color: #008b70;
    border-color: #008b70;
}
.alert-info .close {
    background-position: -67px -10px !important;
}
.alert-success {
    background-color: #cce5fa;
    color: #004a8b;
    border-color: #004a8b;
}
.alert-success .close {
    background-position: -38px -10px !important;
}
.alert-default {
    background-color: #fff;
    color: #7a8994;
    border-color: #eaecee;
}
.alert-default .close {
    background-position: -67px -10px !important;
}