/*------------------------------------------------------------------
[8. Notifications]
*/
/* Badges
--------------------------------------------------
*/
.badge {
    text-shadow: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    background-color: #eaecee;
    font-size: 11px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 4px;
    color: #7a8994;
    border-radius: 10px;
}
.badge-success {
    background-color: #007be8;
    color: #fff;
}
.badge-warning {
    background-color: #fed76e;
    color: #fff;
}
.badge-important {
    background-color: #ea2c54;
    color: #fff;
}
.badge-danger {
    background-color: #ea2c54;
    color: #fff;
}
.badge-info {
    background-color: #47525e;
    color: #fff;
}
.badge-inverse {
    background-color: #008b70;
    color: #fff;
}
.badge-white {
    background-color: #fff;
    color: #7a8994;
}
.badge-disable {
    background-color: #373e43;
    color: #7a8994;
}
/* Tool Tip
--------------------------------------------------
*/
.tooltip-inner {
    font-size: 12px;
}
/* Notification popup
--------------------------------------------------
*/
.popover {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px rgba(191, 191, 191, 0.36);
    z-index: 790;
}
.notification-toggle {
    top: 35px;
    left: -26px;
    padding: 0;
}
.notification-toggle:before {
    border-bottom: 0px !important;
}
.notification-toggle:after {
    border-bottom: 0px !important;
}
.notification-panel {
    background-color: #fff;
    border: 1px solid #eaecee;
}
.notification-panel .notification-body {
    height: auto;
    max-height: 350px;
    position: relative;
    overflow: hidden;
}
.notification-panel .notification-body .notification-item {
    position: relative;
    margin-left: 25px;
    background-color: #fff;
    padding-right: 26px;
}
.notification-panel .notification-body .notification-item.unread .heading {
    opacity: 1;
}
.notification-panel .notification-body .notification-item.unread .option {
    background-color: #ccfaf1;
}
.notification-panel .notification-body .notification-item.unread .option .mark {
    color: #33edc8;
}
.notification-panel .notification-body .notification-item .heading {
    line-height: 43px;
    margin-right: 5px;
    background: #fff;
    border-bottom: 1px solid #eaecee;
    position: relative;
    float: left;
    width: 100%;
    font-size: 14px;
    opacity: 0.7;
}
.notification-panel .notification-body .notification-item .heading:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #fff;
    right: 0;
    top: 1px;
}
.notification-panel .notification-body .notification-item .heading .thumbnail-wrapper {
    cursor: pointer;
}
.notification-panel .notification-body .notification-item .heading .thumbnail-wrapper i {
    -webkit-transition: all 0.12s linear;
    transition: all 0.12s linear;
}
.notification-panel .notification-body .notification-item .heading .time {
    font-size: 11px;
    margin-right: 8px;
}
.notification-panel .notification-body .notification-item .heading.open {
    display: block;
}
.notification-panel .notification-body .notification-item .heading.open .more-details {
    display: block;
}
.notification-panel .notification-body .notification-item .heading.open .thumbnail-wrapper i {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.notification-panel .notification-body .notification-item .heading .thumbnail-wrapper.d24 {
    line-height: 20px;
}
.notification-panel .notification-body .notification-item .more-details {
    display: none;
    background-color: #fff;
    width: 100%;
    height: 100%;
    clear: both;
    position: relative;
}
.notification-panel .notification-body .notification-item .more-details .more-details-inner {
    margin-left: 10px;
    padding-left: 28px;
    padding-top: 15px;
    margin-bottom: 20px;
    position: relative;
    border-left: 1px solid rgba(234, 236, 238, 0.7);
    text-align: left;
}
.notification-panel .notification-body .notification-item .more-details .more-details-inner:after {
    width: 14px;
    height: 14px;
    position: absolute;
    content: '';
    background-color: #fff;
    left: -7px;
    top: 25px;
    border: 1px solid rgba(234, 236, 238, 0.9);
    border-radius: 99px;
    -webkit-border-radius: 99px;
    -moz-border-radius: 99px;
}
.notification-panel .notification-body .notification-item .more-details .more-details-inner:before {
    color: #cad0d4;
    position: absolute;
    bottom: 0;
    left: -5px;
    content: ' \25CF';
    font-size: 13px;
    line-height: 5px;
    background-color: #fff;
    height: 9px;
}
.notification-panel .notification-body .notification-item .more-details .more-details-inner .hint-text {
    opacity: .44;
}
.notification-panel .notification-body .notification-item .option {
    font-size: 10px;
    position: absolute;
    height: 44px;
    width: 26px;
    right: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 44px;
    background-color: #f6f9fa;
    height: 100%;
}
.notification-panel .notification-body .notification-item .option .mark {
    background-color: transparent;
    color: #cad0d4;
}
.notification-panel .notification-body .notification-item .option .mark:before {
    content: ' \25CF';
    font-size: 12px;
}
.notification-panel .notification-body .notification-item:last-child .heading {
    border-bottom: 0px;
}
.notification-panel .notification-footer {
    padding: 10px;
    display: block;
    border-top: 1px solid #eaecee;
}
.notification-panel .notification-footer a {
    color: #7a8994;
    opacity: .54;
}
.notification-panel .notification-footer a:hover {
    opacity: .74;
}
/* Simple alerts
--------------------------------------------------
*/
.alerts-container {
    position: fixed;
    width: 350px;
    right: 20px;
    z-index: 999;
    top: 80px;
}
.alerts-container[data-placement$='-left'] {
    left: 100px;
    right: auto;
}
.alerts-container[data-placement$='-right'] {
    right: 20px;
    left: auto;
}
.alerts-container[data-placement^='top-'] {
    top: 80px;
    bottom: auto;
}
.alerts-container[data-placement^='bottom-'] {
    top: auto;
    bottom: 20px;
}
.alerts-container[data-placement='bottom-right'] .alert:last-child,
.alerts-container[data-placement='bottom-left'] .alert:last-child {
    margin-bottom: 0;
}
.alerts-container .alert {
    position: relative;
}
.alerts-container .alert .close {
    position: absolute;
    right: 9px;
    top: 15px;
}
/* Pages Notifications plugin
--------------------------------------------------
*/
/* Pages Notification customizations */
body:not(.horizontal-app-menu) .pgn-wrapper[data-position="top"] {
    top: 60px;
    left: 70px;
}
body:not(.horizontal-app-menu) .pgn-wrapper[data-position="bottom"] {
    left: 70px;
}
body:not(.horizontal-app-menu) .pgn-wrapper[data-position$='-left'] {
    left: 90px;
    right: auto;
}
body:not(.horizontal-app-menu) .pgn-wrapper[data-position^='top-'] {
    top: 80px;
    bottom: auto;
}
body.menu-pin .pgn-wrapper[data-position$='-left'],
body.menu-pin .pgn-wrapper[data-position="top"],
body.menu-pin .pgn-wrapper[data-position="bottom"] {
    left: 250px;
}
body.horizontal-app-menu .pgn-wrapper {
    z-index: 799;
}
.pgn-wrapper {
    position: fixed;
    z-index: 1051;
}
.pgn-wrapper[data-position$='-left'] {
    left: 30px;
}
.pgn-wrapper[data-position$='-right'] {
    right: 20px;
}
.pgn-wrapper[data-position^='top-'] {
    top: 20px;
}
.pgn-wrapper[data-position^='bottom-'] {
    bottom: 20px;
}
.pgn-wrapper[data-position='top'] {
    top: 0;
    left: 0;
    right: 0;
}
.pgn-wrapper[data-position='bottom'] {
    bottom: 0;
    left: 0;
    right: 0;
}
.pgn {
    position: relative;
    margin: 10px;
}
.pgn .alert {
    margin: 0;
}
/* Simple
------------------------------------
*/
.pgn-simple .alert {
    padding-top: 13px;
    padding-bottom: 13px;
    max-width: 500px;
    animation: fadeIn 0.3s cubic-bezier(0.05, 0.74, 0.27, 0.99) forwards;
    -webkit-animation: fadeIn 0.3s cubic-bezier(0.05, 0.74, 0.27, 0.99) forwards;
    max-height: 250px;
    overflow: hidden;
}
/* Bar
------------------------------------
*/
.pgn-bar {
    overflow: hidden;
    margin: 0;
}
.pgn-bar .alert {
    border-radius: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    max-height: 91px;
}
.pgn-wrapper[data-position='top'] .pgn-bar .alert {
    animation: slideInFromTop 0.5s cubic-bezier(0.05, 0.74, 0.27, 0.99) forwards;
    -webkit-animation: slideInFromTop 0.5s cubic-bezier(0.05, 0.74, 0.27, 0.99) forwards;
    transform-origin: top left;
    -webkit-transform-origin: top left;
    opacity: 0.9;
}
.pgn-wrapper[data-position='bottom'] .pgn-bar .alert {
    animation: slideInFromBottom 0.5s cubic-bezier(0.05, 0.74, 0.27, 0.99) forwards;
    -webkit-animation: slideInFromBottom 0.5s cubic-bezier(0.05, 0.74, 0.27, 0.99) forwards;
    transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
}
.pgn-bar .alert span {
    opacity: 0;
    animation: fadeIn 0.3s cubic-bezier(0.05, 0.74, 0.27, 0.99) forwards;
    -webkit-animation: fadeIn 0.3s cubic-bezier(0.05, 0.74, 0.27, 0.99) forwards;
}
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@-webkit-keyframes slideInFromTop {
    0% {
        -webkit-transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
@-webkit-keyframes slideInFromBottom {
    0% {
        -webkit-transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
/* Circle
------------------------------------
*/
.pgn-circle .alert {
    margin-bottom: 10px;
    border-radius: 300px;
    animation: fadeInCircle 0.3s ease forwards, resizeCircle 0.3s 0.4s cubic-bezier(0.25, 0.25, 0.4, 1.6) forwards;
    -webkit-animation: fadeInCircle 0.3s ease forwards, resizeCircle 0.3s 0.4s cubic-bezier(0.25, 0.25, 0.4, 1.6) forwards;
    height: 60px;
    overflow: hidden;
    padding: 6px 55px 6px 6px;
    -webkit-transform: translateZ(0);
    position: relative;
}
.pgn-wrapper[data-position$='-right'] .pgn-circle .alert {
    float: right;
}
.pgn-wrapper[data-position$='-left'] .pgn-circle .alert {
    float: left;
}
.pgn-wrapper[data-position^='bottom-'] .pgn-circle .alert {
    margin-bottom: 20px;
}
.pgn-circle .alert > div > div.pgn-thumbnail > div {
    border-radius: 50%;
    overflow: hidden;
    width: 48px;
    height: 48px;
}
.pgn-circle .alert > div > div.pgn-thumbnail > div > img {
    width: 100%;
    height: 100%;
}
.pgn-circle .alert > div > div.pgn-thumbnail > div > i {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2.8em;
}
.pgn-circle .alert > div > div.pgn-thumbnail > div > svg {
    width: 80%;
    height: 80%;
    margin: 5px;
}
.pgn-circle .alert > div > div.pgn-message > div {
    opacity: 0;
    height: 47px;
    padding-left: 9px;
    animation: fadeIn .3s .5s ease forwards;
    -webkit-animation: fadeIn .3s .5s ease forwards;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    word-wrap: break-word;
}
.pgn-circle .alert > div > div.pgn-message > div p:only-child {
    padding: 12px 0;
}
.pgn-circle .alert .close {
    margin-top: -12px;
    position: absolute;
    right: 18px;
    top: 50%;
    opacity: 0;
    animation: fadeIn .3s .5s ease forwards;
    -webkit-animation: fadeIn .3s .5s ease forwards;
}
.pgn-circle .alert p {
    margin-bottom: 0;
}
.pgn-circle .alert > div {
    display: table;
    height: 100%;
}
.pgn-circle .alert > div > div {
    display: table-cell;
    vertical-align: middle;
}
@keyframes fadeInCircle {
    0% {
        opacity: 0;
        width: 60px;
    }
    100% {
        opacity: 1;
        width: 60px;
    }
}
@-webkit-keyframes fadeInCircle {
    0% {
        opacity: 0;
        width: 60px;
    }
    100% {
        opacity: 1;
        width: 60px;
    }
}
@keyframes resizeCircle {
    0% {
        width: 60px;
    }
    100% {
        width: 300px;
    }
}
@-webkit-keyframes resizeCircle {
    0% {
        width: 60px;
    }
    100% {
        width: 300px;
    }
}
/* Flip
------------------------------------
*/
.pgn-wrapper[data-position^='bottom-'] .pgn-flip .alert {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.pgn-flip .alert {
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    box-shadow: 0 6px 4px -3px rgba(0, 0, 0, 0.2);
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    border-radius: 0;
    padding: 25px 35px;
    max-width: 500px;
    max-height: 250px;
    overflow: hidden;
}
@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
        -webkit-transition-timing-function: ease-in;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 20deg);
        -webkit-transition-timing-function: ease-out;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -10deg);
        -webkit-transition-timing-function: ease-in;
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
        -webkit-transition-timing-function: ease-out;
    }
    100% {
        -webkit-transform: perspective(400px);
    }
}
@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 20deg);
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -10deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.pgn-circle .alert .close {
    margin-top: -4px;
}
body > .pgn-wrapper {
    z-index: 900;
}
@media (max-width: 979px) {
    body .pgn-wrapper[data-position="top"] {
        left: 0 !important;
    }
    body .pgn-wrapper[data-position="bottom"] {
        left: 0 !important;
    }
}
@media (max-width: 767px) {
    body .pgn-wrapper[data-position$='-left'],
    body .pgn-wrapper[data-position$='-right'] {
        left: 10px !important;
        right: 10px !important;
    }
    body .pgn-wrapper[data-position$='-right'] .alert,
    body .pgn-wrapper[data-position$='-left'] .alert {
        max-width: 100%;
        width: 100%;
    }
}
/* Notifications demo
--------------------------------------------------
*/
.notification-positions {
    border-radius: 4px;
    border: 3px dashed #eaecee;
    height: 370px;
    position: relative;
}
.notification-positions > div > .position:not(:only-child) {
    max-width: 50%;
}
.notification-positions .position {
    padding: 15px;
}
.notification-positions .position img {
    border: 3px solid transparent;
}
.notification-positions .position:hover {
    cursor: pointer;
}
.notification-positions .position.active img {
    border-color: #0090d9;
}
.notification-positions .position.pull-top,
.notification-positions .position.pull-bottom {
    left: 0;
    right: 0;
}
.notification-positions .position img {
    width: 100%;
}
.notification-tabs {
    flex-wrap: wrap;
}