/*------------------------------------------------------------------
[4. Cards]
*/
.card {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    word-wrap: none;
}
.card .card-header {
    background: transparent;
    border-radius: 0px;
    border-bottom: 0px;
    padding: 20px 20px 7px 20px;
    position: relative;
    z-index: 3;
    min-height: 48px;
}
.card .card-header.separator:after {
    content: "";
    height: 1px;
    background: rgba(0, 0, 0, 0.08);
    left: 16px;
    right: 16px;
    position: absolute;
    bottom: 0;
}
.card .card-header + .card-body {
    padding-top: 0;
}
.card .card-header .card-title {
    font-family: 'Montserrat';
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 0.06em;
    font-size: 10.5px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-stroke: 0px;
    filter: alpha(opacity=40);
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.card .card-header .card-controls {
    float: right;
    margin-top: -3px;
}
.card .card-header .card-controls ul {
    margin: 0;
    padding: 0;
}
.card .card-header .card-controls ul li {
    display: inline-block;
    list-style: none;
    line-height: 0;
}
.card .card-header .card-controls:after {
    content: "";
    display: table;
    clear: both;
}
.card .card-header.card-header-hover .card-title {
    opacity: .4;
}
.card .card-header.card-header-hover:hover .card-title {
    opacity: 1;
}
.card.card-default {
    border: 1px solid rgba(0, 0, 0, 0.07);
}
.card.card-default > .card-header {
    color: #333;
}
.card.card-bordered {
    border: 1px solid rgba(234, 236, 238, 0.7);
}
.card.card-borderless {
    border: none;
}
.card.card-condensed .card-header {
    padding: 13px 13px 0 13px;
    min-height: 30px;
}
.card.card-condensed .card-header .card-title {
    opacity: .4;
}
.card.card-condensed .card-body {
    padding: 13px;
}
.card.card-hover .card-header .card-title {
    opacity: .4;
}
.card.card-hover:hover .card-header .card-title {
    opacity: 1;
}
.card.card-transparent {
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.card.card-transparent .card-body {
    background: transparent;
}
.card.full-height {
    height: calc(100%);
}
.card.full-height .card-body {
    height: auto;
    width: 100%;
    height: 100%;
}
.card.card-featured {
    -webkit-box-shadow: -1px 1px 3px 0px rgba(121, 129, 135, 0.14);
    box-shadow: -1px 1px 3px 0px rgba(121, 129, 135, 0.14);
    width: calc(100% - 50px);
    float: right;
}
.card.card-featured .card-title h4 {
    font-family: 'Montserrat';
    font-size: 16px;
    text-transform: uppercase;
    color: #f2f4f5;
}
.card.card-featured .card-body h3 {
    line-height: 34px;
    font-size: 26px;
}
.card.card-featured .footer .username {
    line-height: 8px;
    padding-top: 10px;
    font-size: 16px;
}
.card.card-featured .footer .buttons li {
    display: inline;
    list-style: none;
    font-weight: bold;
    margin-left: 20px;
}
.card.card-featured .footer .buttons li:first-child {
    margin-left: 0;
}
.card.card-featured .footer .buttons .heart {
    color: #ea2c54;
}
.card.card-featured .footer .buttons .comment {
    color: #7a8994;
}
.card.card-featured .ribbon {
    width: 38px;
    height: 38px;
    margin-left: -39px;
    float: left;
    -webkit-box-shadow: inset -3px 0px 3px 0px rgba(0, 0, 0, 0.14);
    box-shadow: inset -3px 0px 3px 0px rgba(0, 0, 0, 0.14);
}
.card.card-featured .ribbon.green {
    background: #00e8ba;
}
.card.card-featured .ribbon.blue {
    background: #007be8;
}
.card.hover-fill:hover {
    background: #f2f4f5;
}
.card.hover-stroke:hover {
    border: 1px solid #eaecee;
}
.card .card-body {
    padding: 20px;
}
.card .card-body.no-padding .row {
    margin-left: 0;
    margin-right: 0;
}
.card .card-body.no-bottom-padding {
    padding-bottom: 0;
}
.card .card-body.no-top-padding {
    padding-top: 0;
}
.card .card-body .title {
    margin-top: 0px;
}
.card .card-body.scrollable {
    margin-bottom: 20px;
}
/* Portlets
------------------------------------
*/
.card-progress {
    background: rgba(255, 255, 255, 0.8);
    bottom: 0;
    left: 0;
    position: absolute !important;
    right: 0;
    top: 0;
    display: none;
    z-index: 2;
}
.card-progress > .progress,
.card-progress > .progress.progress-small {
    height: 3px;
}
.card-progress > .progress-circle-indeterminate,
.card-progress > .card-bar-indeterminate {
    display: block;
    left: 50%;
    margin-left: -17px;
    margin-top: -17px;
    position: absolute;
    top: 50%;
}
.card-progress > .progress-circle-indeterminate {
    width: 35px;
    height: 35px;
}
.card-maximized {
    position: fixed !important;
    left: 280px;
    top: 59px;
    bottom: 0;
    right: 0;
    z-index: 600;
    margin: 0;
    width: auto;
}
/* Pages notification holder */
.card .pgn-wrapper {
    position: absolute;
    z-index: 602;
    left: 0 !important;
    top: 0 !important;
}
.card-header a:not(.btn) {
    color: #7a8994 !important;
    opacity: .4;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card-header a:not(.btn).card-refresh {
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.card-header a:not(.btn).card-refresh.refreshing {
    opacity: 1;
}
.card-header .dropdown-menu .dropdown-item {
    padding: 0 20px !important;
}
.card-header .dropdown-menu .dropdown-item:hover {
    opacity: 1;
    background-color: transparent;
}
.card-header a[data-toggle]:hover {
    opacity: 1;
}
.card-icon-close:before {
    content: "\e60a";
}
.card-icon-maximize:before {
    content: "\e634";
}
.card-icon-refresh:before {
    content: "\e600";
}
.card-icon-collapse:before {
    content: "\e62c";
}
.card-icon-settings:before {
    content: "\e655";
}
.card-icon-refresh-lg-master,
.card-icon-refresh-lg-white {
    width: 15px;
    height: 15px;
    display: block;
    background-size: cover;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.card-icon-refresh-lg-master.fade,
.card-icon-refresh-lg-white.fade {
    opacity: 0.1;
}
.card-icon-refresh-lg-master {
    background-image: url('../images/progress/progress-circle-lg-master-static.svg');
}
.card-icon-refresh-lg-white {
    background-image: url('../images/progress/progress-circle-lg-white-static.svg');
}
.card-icon-refresh-lg-master-animated,
.card-icon-refresh-lg-white-animated {
    width: 15px;
    height: 15px;
    display: block;
    background-size: cover;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.card-icon-refresh-lg-master-animated.active,
.card-icon-refresh-lg-white-animated.active {
    opacity: 1;
}
.card-icon-refresh-lg-master-animated {
    background-image: url('../images/progress/progress-circle-lg-master.svg');
}
.card-icon-refresh-lg-white-animated {
    background-image: url('../images/progress/progress-circle-lg-white.svg');
}
/* For demo purpose only */
.card-scroll {
    height: 100px;
}
.sortable .card-header {
    cursor: move;
}
/* To prevent lag while dragging */
.ui-sortable-handle {
    transition: max-height 0.3s ease 0s;
}
.sortable .grid .grid-title {
    cursor: move;
}
.ui-sortable {
    min-height: 0px !important;
}
.ui-sortable-placeholder {
    border: 1px dotted black;
    visibility: visible !important;
    height: 100% !important;
}
.ui-sortable-placeholder * {
    visibility: hidden;
}
.sortable-box-placeholder {
    background-color: #f2f4f5;
    border: 1px dashed #eaecee;
    display: block;
    margin-top: 0px !important;
    margin-bottom: 24px !important;
}
.sortable-box-placeholder * {
    visibility: hidden;
}
.sortable .card {
    transition: none;
}
.sortable-column {
    padding-bottom: 100px;
}
.demo-card-scrollable {
    height: 158px;
}
.card-body {
    padding: 15px;
}
.card-body .indented-heading-with-icon {
    margin-left: 32px;
    text-indent: -32px;
}