/*------------------------------------------------------------------
[15. Form Elements]
*/
label,
input,
button,
select,
textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
input[type="radio"],
input[type="checkbox"] {
    margin-top: 1px 0 0;
    line-height: normal;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
select[multiple],
select[size] {
    height: auto !important;
}
input:focus,
select:focus,
textarea:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
form legend {
    margin: 15px 0px 10px 0px;
}
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.07);
    font-family: Arial, sans-serif;
    -webkit-appearance: none;
    color: #373e43;
    outline: 0;
    padding: 8px 12px;
    line-height: normal;
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
    min-height: 35px;
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: background 0.2s linear 0s;
    transition: background 0.2s linear 0s;
}
.form-control:focus {
    border-color: rgba(0, 0, 0, 0.1);
    background-color: #f2f4f5;
    outline: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control:focus::-moz-placeholder {
    color: inherit;
    opacity: 0.7;
}
.form-control:focus:-ms-input-placeholder {
    color: inherit;
    opacity: 0.7;
}
.form-control:focus::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.7;
}
.form-control::-moz-placeholder {
    color: inherit;
    opacity: 0.33;
}
.form-control:-ms-input-placeholder {
    color: inherit;
    opacity: 0.33;
}
.form-control::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.33;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background: #f9f9fa;
    color: rgba(122, 137, 148, 0.23);
}
.form-control.transparent {
    background-color: transparent;
    border-color: transparent;
}
.form-control.transparent:focus {
    background-color: transparent;
    border-color: transparent;
}
/* Input Sizes
--------------------------------------------------
*/
.input-sm,
.form-horizontal .form-group-sm .form-control {
    font-size: 13px;
    min-height: 32px;
    padding: 7px 9px;
}
.input-lg,
.form-horizontal .form-group-lg .form-control {
    border-radius: 3px;
    font-size: 18px;
    min-height: 45px;
    padding: 11px 13px;
}
.input-xlg {
    min-height: 51px;
    font-size: 18px;
    line-height: 22px;
}
.input-group-lg .form-control {
    padding: 6px 1rem;
}
.input-group-sm .form-control {
    padding: 0 .5rem;
    min-height: 32px;
}
.select2-lg .select2-container .select2-selection.select2-selection--single {
    height: 45px;
    padding: 11px 13px;
}
.select2-lg .select2-container .select2-selection.select2-selection--single .select2-selection__rendered {
    padding-top: 0px;
    line-height: 22px;
    font-size: 18px;
}
.select2-lg .select2-container .select2-selection.select2-selection--single .select2-selection__arrow {
    bottom: 9px;
}
.select2-sm .select2-container .select2-selection.select2-selection--single {
    height: 32px;
    padding: 8px 9px;
}
.select2-sm .select2-container .select2-selection.select2-selection--single .select2-selection__rendered {
    padding-top: 0px;
    line-height: 16px;
    font-size: 13px;
}
.select2-sm .select2-container .select2-selection.select2-selection--single .select2-selection__arrow {
    bottom: 4px;
}
/* Checkboxes and Radio buttons
--------------------------------------------------
*/
.radio,
.checkbox {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 0px;
}
.radio label,
.checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    min-width: 17px;
    min-height: 17px;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 0;
}
.radio label:before,
.checkbox label:before {
    -webkit-box-sizing: inherit;
    box-sizing: border-box;
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    position: absolute;
    left: 0px;
    background-color: #fff;
    border: 1px solid #d7dcdf;
    top: 1px;
}
.radio label {
    margin-bottom: 6px;
}
.radio label:before {
    bottom: 2.5px;
    border-radius: 99px;
    -webkit-transition: border 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
    transition: border 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
}
.radio input[type=radio]:checked + label:before {
    border-width: 5px;
}
.radio input[type="radio"]:focus + label {
    color: #373e43;
}
.radio input[type=radio] {
    opacity: 0;
    width: 0;
    height: 0;
}
.radio input[type=radio][disabled] + label {
    opacity: 0.65;
}
.radio.radio-success input[type=radio]:checked + label:before {
    border-color: #007be8;
}
.radio.radio-primary input[type=radio]:checked + label:before {
    border-color: #007be8;
}
.radio.radio-info input[type=radio]:checked + label:before {
    border-color: #47525e;
}
.radio.radio-warning input[type=radio]:checked + label:before {
    border-color: #fed76e;
}
.radio.radio-danger input[type=radio]:checked + label:before {
    border-color: #ea2c54;
}
.radio.radio-complete input[type=radio]:checked + label:before {
    border-color: #00e8ba;
}
.checkbox + .checkbox,
.radio + .radio {
    margin-top: -5px;
}
.checkbox input[type=radio][disabled] + label:after {
    background-color: #eaecee;
}
.checkbox label {
    transition: border 0.2s linear 0s, color 0.2s linear 0s;
}
.checkbox label:before {
    top: 1.4px;
    border-radius: 3px;
    transition: border 0.2s linear 0s, color 0.2s linear 0s;
}
.checkbox label::after {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 3.5px;
    top: 0px;
    font-size: 11px;
    transition: border 0.2s linear 0s, color 0.2s linear 0s;
}
.checkbox label:after {
    border-radius: 3px;
}
.checkbox input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
}
.checkbox.checkbox-circle label:after {
    border-radius: 99px;
}
.checkbox.checkbox-circle label:before {
    border-radius: 99px;
}
.checkbox input[type=checkbox]:checked + label:before {
    border-width: 8.5px;
}
.checkbox input[type=checkbox]:checked + label::after {
    font-family: 'Font Awesome 5 Free';
    content: "\F00C";
    color: #fff;
    font-weight: 900;
}
.checkbox input[type="checkbox"]:focus + label {
    color: #373e43;
}
.checkbox input[type="checkbox"]:focus + label:before {
    background-color: #eaecee;
}
.checkbox input[type=checkbox][disabled] + label {
    opacity: 0.65;
}
.checkbox input[type=checkbox][disabled] + label:before {
    background-color: #eceff3;
}
.checkbox.right label {
    margin-right: 35px;
    padding-left: 0 !important;
}
.checkbox.right label:before {
    right: -35px;
    left: auto;
}
.checkbox.right input[type=checkbox]:checked + label {
    position: relative;
}
.checkbox.right input[type=checkbox]:checked + label::after {
    font-family: 'Font Awesome 5 Free';
    content: "\F00C";
    position: absolute;
    right: -27px;
    left: auto;
    font-weight: 900;
}
body.rtl .checkbox label::after {
    left: -1.2px;
}
.checkbox.check-success input[type=checkbox]:checked + label:before {
    border-color: #007be8;
}
.checkbox.check-primary input[type=checkbox]:checked + label:before {
    border-color: #007be8;
}
.checkbox.check-complete input[type=checkbox]:checked + label:before {
    border-color: #00e8ba;
}
.checkbox.check-warning input[type=checkbox]:checked + label:before {
    border-color: #fed76e;
}
.checkbox.check-danger input[type=checkbox]:checked + label:before {
    border-color: #ea2c54;
}
.checkbox.check-info input[type=checkbox]:checked + label:before {
    border-color: #47525e;
}
.checkbox.check-success input[type=checkbox]:checked + label::after,
.checkbox.check-primary input[type=checkbox]:checked + label::after,
.checkbox.check-complete input[type=checkbox]:checked + label::after,
.checkbox.check-warning input[type=checkbox]:checked + label::after,
.checkbox.check-danger input[type=checkbox]:checked + label::after,
.checkbox.check-info input[type=checkbox]:checked + label::after {
    color: #fff;
}
.input-group-text {
    background-color: #f2f4f5;
    color: rgba(122, 137, 148, 0.47);
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
}
.input-group-text.primary {
    border: 1px solid #007be8;
    color: #fff;
    background-color: #007be8;
}
.input-group-text.success {
    background-color: #0090d9;
    color: #fff;
}
.input-group-text.info {
    background-color: #1f3853;
    color: #fff;
}
.input-group-text.warning {
    background-color: #fbb05e;
    color: #fff;
}
.input-group-text.danger {
    background-color: #f35958;
    color: #fff;
}
.input-group-text.transparent {
    background-color: transparent;
}
.input-group-append .input-group-text {
    border-left: 0;
}
.input-group-prepend .input-group-text {
    border-right: 0;
}
/* Form layouts
--------------------------------------------------
*/
@media only screen and (min-width: 768px) {
    form .row {
        margin-left: 0;
        margin-right: 0;
    }
    form .row [class*='col-']:not(:first-child),
    form .row [class*='col-']:not(:last-child) {
        padding-right: 7px;
        padding-left: 7px;
    }
    form .row.no-gutters [class*='col-']:not(:first-child),
    form .row.no-gutters [class*='col-']:not(:last-child) {
        padding-right: 0px;
        padding-left: 0px;
    }
    form .row [class*='col-']:first-child {
        padding-left: 0;
    }
    form .row [class*='col-']:last-child {
        padding-right: 0;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    /*form .row [class*="col-md-"]:not(:first-child),
    form .row [class*="col-md-"]:not(:last-child){
        padding-right: 0;
        padding-left: 0;
    }*/
}
/* Form layouts    : Horizontal
--------------------------------------------------
*/
.form-horizontal .form-group {
    border-bottom: 1px solid #eaecee;
    padding-top: 19px;
    padding-bottom: 19px;
    margin-bottom: 0;
}
.form-horizontal .form-group:last-child {
    border-bottom: none;
}
.form-horizontal .form-group:hover .control-label {
    opacity: 1;
}
.form-horizontal .form-group.focused .control-label {
    opacity: 1;
}
.form-horizontal .form-group .control-label {
    text-align: left;
    opacity: .8;
    -webkit-transition: opacity ease 0.3s;
    transition: opacity ease 0.3s;
}
.form-horizontal .radio {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
}
/* Form layouts    : Attached
--------------------------------------------------
*/
.form-group-attached .form-group.form-group-default {
    border-radius: 0;
    margin-bottom: 0;
}
.form-group-attached > div {
    margin: 0;
}
.form-group-attached > div:first-child.row > [class*='col-']:first-child .form-group-default {
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-left-radius: 2px;
}
.form-group-attached > div:first-child.row > [class*='col-']:last-child .form-group-default {
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 2px;
}
.form-group-attached > div:first-child.form-group-default {
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 2px;
}
.form-group-attached > div:last-child.row > [class*='col-']:first-child .form-group-default {
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-left-radius: 2px;
}
.form-group-attached > div:last-child.row > [class*='col-']:last-child .form-group-default {
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    border-bottom-right-radius: 2px;
}
.form-group-attached > div:last-child.form-group-default {
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    border-bottom-right-radius: 2px;
}
.form-group-attached > div.row > [class*='col-'] {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.form-group-attached > div.row > [class*='col-']:not(:only-child):not(:last-child) > .form-group-default {
    border-right-color: transparent;
}
.form-group-attached > div:not(:last-child) .form-group-default,
.form-group-attached > div:not(:last-child).form-group-default {
    border-bottom-color: transparent;
}
/* Form layouts    : Responsive Handlers
--------------------------------------------------
*/
@media (max-width: 767px) {
    .form-group-attached .form-group-default {
        border-right-color: rgba(0, 0, 0, 0.07) !important;
    }
}
@media only screen and (min-width: 768px) {
    .form-group-attached > div.row > [class*='col-'] .form-group {
        height: 100%;
        width: 100%;
    }
}
/* Form Groups
--------------------------------------------------
*/
.form-group {
    margin-bottom: 10px;
}
.form-group label:not(.error) {
    font-family: 'Montserrat';
    font-size: 10.5px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 500;
}
.form-group label .help {
    margin-left: 8px;
}
.form-group .help {
    font-size: 12px;
    color: rgba(122, 137, 148, 0.55);
}
.form-group-default {
    background-color: #fff;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 2px;
    padding-top: 7px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 4px;
    overflow: hidden;
    width: 100%;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}
.form-group-default.required:after {
    color: #ea2c54;
    content: "*";
    font-family: arial;
    font-size: 20px;
    position: absolute;
    right: 12px;
    top: 6px;
}
.form-group-default.disabled {
    background: #f9f9fa;
    color: rgba(122, 137, 148, 0.23);
}
.form-group-default.disabled input {
    opacity: .6;
}
.form-group-default.disabled.focused {
    background: #f9f9fa;
}
.form-group-default.disabled.focused label {
    opacity: 1;
}
.form-group-default.focused {
    border-color: rgba(0, 0, 0, 0.1) !important;
    background-color: #fbfbfb;
}
.form-group-default.focused label {
    color: #555;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.form-group-default.has-error {
    background-color: rgba(234, 44, 84, 0.1);
}
.form-group-default.has-success .form-control-feedback,
.form-group-default.has-error .form-control-feedback {
    display: none !important;
}
.form-group-default.has-success .form-control,
.form-group-default.has-success .form-control:focus,
.form-group-default.has-error .form-control,
.form-group-default.has-error .form-control:focus {
    border: none;
    box-shadow: none;
}
.form-group-default.input-group {
    padding: 0;
}
.form-group-default.input-group > label {
    margin-top: 6px;
    padding-left: 12px;
}
.form-group-default.input-group > label.inline {
    margin-top: 6px;
    float: left;
}
.form-group-default.input-group > .form-control {
    margin-top: -2px;
    margin-bottom: 3px;
    padding-left: 12px;
}
.form-group-default.input-group label {
    margin-top: 6px;
    padding-left: 12px;
}
.form-group-default.input-group .form-input-group {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.form-group-default.input-group .form-control {
    margin-top: -2px;
    margin-bottom: 3px;
    padding-left: 12px;
    width: 100%;
}
.form-group-default.input-group .input-group-text {
    border: 0;
    border-radius: 0;
    min-width: 50px;
}
.form-group-default.input-group .input-group-text i {
    width: 100%;
}
.form-group-default.input-group .btn {
    border-top: 0;
    border-bottom: 0;
}
.form-group-default .form-control {
    border: none;
    height: 25px;
    min-height: 25px;
    padding: 0;
    margin-top: -4px;
    background: none;
}
.form-group-default .form-control.error {
    color: #373e43;
}
.form-group-default .form-control:focus {
    background: none;
}
.form-group-default textarea.form-control {
    padding-top: 5px;
}
.form-group-default label {
    margin: 0;
    display: block;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}
.form-group-default label.label-lg {
    font-size: 13px;
    left: 13px;
    top: 9px;
}
.form-group-default label.label-sm {
    font-size: 11px;
    left: 11px;
    top: 6px;
}
.form-group-default label.highlight {
    opacity: 1;
}
.form-group-default label.fade {
    opacity: .5;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.form-group-default > .input-lg {
    height: 29px;
    min-height: 29px;
    padding-left: 1px;
}
.form-group-default > .input-sm {
    min-height: 18px;
    height: 18px;
}
.form-group-default.form-group-default-select {
    overflow: visible;
}
.form-group-default.form-group-default-select .ui-select-container.ui-select-bootstrap.dropdown .ui-select-match {
    padding-top: 6px;
    height: 23px;
}
.form-group-default.form-group-default-select .ui-select-container .select2-choices {
    border: 0px;
}
.form-group-default.form-group-default-select2 {
    padding: 0;
}
.form-group-default.form-group-default-select2 > label {
    position: absolute;
    z-index: 10;
    padding: 7px 12px 0 12px;
}
.form-group-default.form-group-default-select2 > label.label-lg {
    left: 0;
    top: 0;
}
.form-group-default.form-group-default-select2 > label.label-sm {
    left: 0;
    top: 0;
}
.form-group-default.form-group-default-select2 .select2-container .select2-selection--single {
    padding-top: 20px;
    height: 52px;
    border: 0 !important;
}
.form-group-default.form-group-default-select2 .select2-container .select2-selection--single .select2-arrow b:before {
    top: 20px;
}
.form-group-default.form-group-default-select2 .select2-container .select2-selection--single .select2-chosen {
    padding-left: 3px;
    padding-top: 1px;
}
.form-group-default.form-group-default-select2 .select2-container .select2-selection--multiple {
    padding-top: 19px;
    padding-bottom: 0;
    min-height: 52px;
    border: 0px !important;
}
.form-group-default.form-group-default-select2 .select2-container .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    margin-top: 5px;
}
.form-group-default.form-group-default-select2.input-lg {
    height: auto;
    padding: 0;
}
.form-group-default.form-group-default-select2.input-lg .select2-container .select2-selection--single {
    padding-top: 26px;
    height: 58px;
}
.form-group-default.form-group-default-select2.input-lg .select2-container .select2-selection--single .select2-selection__rendered {
    font-size: 18px;
}
.form-group-default.form-group-default-select2.input-sm {
    height: auto;
    padding: 0;
}
.form-group-default.form-group-default-select2.input-sm .select2-container .select2-selection--single {
    padding-top: 21px;
    height: 49px;
}
.form-group-default.form-group-default-select2.input-sm .select2-container .select2-selection--single .select2-selection__rendered {
    font-size: 13px;
}
.form-group-default.form-group-default-selectFx {
    padding: 0;
}
.form-group-default.form-group-default-selectFx > label {
    position: absolute;
    z-index: 10;
    padding: 7px 12px 0 12px;
}
.form-group-default.form-group-default-selectFx > label.label-lg {
    left: 0;
    top: 0;
}
.form-group-default.form-group-default-selectFx > label.label-sm {
    left: 0;
    top: 0;
}
.form-group-default.form-group-default-selectFx .cs-wrapper .cs-placeholder {
    padding-top: 28px;
    height: 52px;
    padding-left: 12px;
}
.form-group-default.form-group-default-selectFx .cs-wrapper .cs-select {
    height: auto;
}
.form-group-default.form-group-default-selectFx .cs-wrapper .cs-select > span:after,
.form-group-default.form-group-default-selectFx .cs-wrapper .cs-select .cs-selected span:after {
    top: 39px;
}
.form-group-default.form-group-default-selectFx .cs-wrapper .cs-select.input-lg .cs-placeholder {
    height: 60px;
}
.form-group-default.form-group-default-selectFx .cs-wrapper .cs-select.input-sm .cs-placeholder {
    height: 50px;
}
.form-group-default.form-group-default-selectFx .cs-wrapper .dropdown-placeholder {
    vertical-align: top;
}
/* Form validation
--------------------------------------------------
*/
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
    color: #0064bc;
}
.has-success .form-control {
    border-color: #0064bc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.has-success .form-control:focus {
    border-color: #004989;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.has-success .input-group-addon {
    background: #f2f4f5;
    border: 1px solid rgba(0, 0, 0, 0.07);
    color: rgba(122, 137, 148, 0.47);
}
.has-success .form-control-feedback {
    color: #0064bc;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
    color: #ceae59;
}
.has-warning .form-control {
    border-color: #ceae59;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.has-warning .form-control:focus {
    border-color: #bc9838;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.has-warning .input-group-addon {
    background: #f2f4f5;
    border: 1px solid rgba(0, 0, 0, 0.07);
    color: rgba(122, 137, 148, 0.47);
}
.has-warning .form-control-feedback {
    color: #ceae59;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
    color: #ea2c54;
}
.has-error .form-control {
    border-color: #ea2c54;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.has-error .form-control:focus {
    border-color: #ce153c;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.has-error .input-group-addon {
    background: #f2f4f5;
    border: 1px solid rgba(0, 0, 0, 0.07);
    color: rgba(122, 137, 148, 0.47);
}
.has-error .form-control-feedback {
    color: #ea2c54;
}
.error {
    font-size: 12px;
    color: #ea2c54;
    display: block;
}
/* Plugins
--------------------------------------------------
Datepicker
https://github.com/eternicode/bootstrap-datepicker
*/
.datepicker {
    padding: 16px 25px;
    border-radius: 2px;
    font-size: 12px;
}
.datepicker:after {
    border-bottom-color: #f6f9fa;
}
.datepicker thead tr .datepicker-switch {
    color: #6f7b8a;
    font-size: 13px;
}
.datepicker thead tr .next,
.datepicker thead tr .prev {
    color: #007be8;
    content: '';
    font-size: 0px;
}
.datepicker thead tr .next:before,
.datepicker thead tr .prev:before {
    color: #007be8;
    font-family: 'Font Awesome 5 Free';
    font-size: 10px;
    font-weight: 900;
}
.datepicker thead tr .prev:before {
    content: "\f053";
}
.datepicker thead tr .next:before {
    content: "\f054";
}
.datepicker thead tr .dow {
    font-family: 'Montserrat';
    color: #007be8;
    text-transform: uppercase;
    font-size: 11px;
}
.datepicker thead tr th {
    width: 31px;
    height: 29px;
}
.datepicker tbody tr .odd {
    color: #d0d3d8;
}
.datepicker table tr td {
    width: 31px;
    height: 29px;
}
.datepicker table tr td.old,
.datepicker table tr td.new {
    color: #eaecee;
}
.datepicker table tr td.day:hover {
    background: #f2f4f5;
}
.datepicker table tr td.active {
    background-color: #007be8 !important;
}
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
    background-image: none;
    text-shadow: none;
    font-weight: 600;
}
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    background-color: #f2f4f5;
    background-image: none;
}
.datepicker table tr td span {
    border-radius: 4px;
    width: 42px;
    height: 42px;
    line-height: 42px;
}
.datepicker table tr td span.active {
    background-color: #007be8 !important;
}
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
    background-image: none;
    border: none;
    text-shadow: none;
}
.datepicker.dropdown-menu {
    border-color: #eaecee;
    color: #7a8994;
}
.datepicker.datepicker-dropdown.datepicker-orient-bottom:before {
    border-color: #eaecee;
}
.datepicker-inline {
    width: auto;
}
.input-daterange .input-group-addon {
    text-shadow: none;
    border: 0;
    margin: 0;
}
/* Timepicker
https://github.com/m3wolf/bootstrap3-timepicker
*/
.bootstrap-timepicker-widget table td a i {
    font-size: 12px;
}
.bootstrap-timepicker-widget a.btn,
.bootstrap-timepicker-widget .bootstrap-timepicker-widget input {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}
.bootstrap-timepicker-widget.dropdown-menu {
    background: #fff;
}
/* Daterangepicker
http://www.dangrossman.info/
*/
.daterangepicker {
    background: #fff;
}
.daterangepicker .calendar .calendar-date {
    border: 1px solid rgba(0, 0, 0, 0.07);
}
.daterangepicker .calendar .prev,
.daterangepicker .calendar .next,
.daterangepicker .calendar th {
    color: #007be8;
    text-transform: uppercase;
    font-size: 11px;
}
.daterangepicker .calendar .month {
    color: #6f7b8a;
    font-size: 13px;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #007be8;
    border-color: #007be8;
}
/* Select2
http://ivaynberg.github.io/select2/
*/
.form-group-default .select2-container .select2-selection,
.select2-container-multi .select2-choices {
    border-color: transparent;
}
select.full-width + .select2-container {
    width: 100% !important;
}
.select2-container *:focus {
    outline: none;
}
.select2-container .select2-selection {
    background-image: none;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.07) !important;
    padding: 2px 9px;
    transition: border 0.2s linear 0s;
}
.select2-container .select2-selection .select2-selection__rendered {
    padding: 0;
    padding-left: 3px;
    padding-top: 1px;
}
.select2-container .select2-selection .select2-selection__rendered .select2-selection__clear {
    font-weight: normal;
    right: 16px;
    width: 20px;
    text-align: center;
    color: #888;
}
.select2-container .select2-selection .select2-selection__arrow {
    top: auto;
    bottom: 5px;
    right: 10px !important;
    left: auto;
    background: transparent;
    border-left: 0px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.select2-container .select2-selection.select2-selection--single {
    height: 35px;
}
.select2-container .select2-selection > .select2-chosen {
    margin-right: 26px;
    margin-left: 0;
}
.select2-container.select2-drop-above .select2-choice {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
.select2-container--default .select2-results__option[id][aria-selected="true"] {
    background-color: #ececec;
}
.select2-container--default .select2-results__option[id][aria-selected="true"]:after {
    font-size: 16px;
    font-family: 'Font Awesome 5 Free';
    height: auto;
    content: "\f058";
    margin-right: 1em;
    float: right;
}
.select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
    color: transparent !important;
    margin-right: 0 !important;
}
.select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove:before {
    font-size: 13px;
    font-family: 'Font Awesome 5 Free';
    height: auto;
    content: "\f00d";
    color: #717171!important;
}
.select2-container--default .select2-results > .select2-results__options {
    max-height: 380px;
    overflow-y: auto;
}
.select2-container--default .select2-results__group {
    color: #373e43;
}
.select2-search input,
.select2-search-choice-close,
.select2-container .select2-choice abbr,
.select2-container .select2-choice .select2-arrow b {
    background-image: none !important;
}
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    background-image: none !important;
    border: 1px solid rgba(0, 0, 0, 0.07);
    background: #f2f4f5;
}
.select2-dropdown-open .select2-choice .select2-arrow {
    -webkit-transform: scale(scale(1, -1));
    -ms-transform: scale(scale(1, -1));
    transform: scale(scale(1, -1));
}
.select2-dropdown {
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-bottom: none;
    border-radius: 2px;
    padding-top: 0px;
}
.select2-dropdown.select2-drop-above {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: none;
}
.select2-container--open .select2-selection {
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.07);
    background: #f2f4f5;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.select2-search--dropdown {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
}
.select2-search--dropdown input {
    background: #fff !important;
    vertical-align: baseline;
    line-height: 28px;
    border-radius: 2px;
    border: none;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.07) !important;
}
.select2-results {
    margin: 3px 8px 10px 8px;
}
.select2-results li {
    color: #7a8994;
}
.select2-results li.select2-result-with-children > .select2-result-label {
    color: #373e43;
}
.select2-results li.select2-result-with-children > .select2-result-label:first-child {
    padding-top: 8px;
}
.select2-results .select2-results__option--highlighted {
    background-color: #f2f4f5 !important;
    border-radius: 3px;
    color: #7a8994 !important;
}
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
    background: none;
    color: #7a8994;
    font-size: 12px;
    padding-left: 8px;
    padding-top: 0px;
    position: relative;
    top: -5px;
}
.select2-dropdown {
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    padding-top: 5px;
    z-index: 790;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.select2-container--open .select2-selection--multiple .select2-selection__choice {
    background-color: #fff !important;
}
.select2-selection--multiple .select2-selection__rendered {
    background-image: none;
}
.select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    background-color: #eaecee;
    background-image: none;
    border: none;
    box-shadow: none;
    color: inherit;
    border-radius: 8px;
    margin: 6px 6px 0px 0;
    padding: 0 8px 0 7px;
    line-height: 21px;
}
.select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
    color: #626262;
    font-weight: 900;
    margin-right: 4px;
}
.select2-selection--multiple.select2-container-active .select2-choices {
    border: 1px solid rgba(0, 0, 0, 0.07);
    box-shadow: none;
}
.select2-selection--multiple .select2-search-choice-close {
    left: 6px;
}
.select2-search-choice-close {
    background: none;
    top: 4px;
    right: 0;
}
.select2-search-choice-close:hover {
    text-decoration: none;
}
.select2-drop-multi .select2-results .select2-no-results,
.select2-drop-multi .select2-results .select2-searching,
.select2-drop-multi .select2-results .select2-selection-limit {
    top: 0px;
}
.select2.form-control {
    padding: 0;
    box-shadow: none;
    border: 0;
}
.select2-drop-mask {
    z-index: 700;
}
.ui-select-bootstrap .ui-select-choices-row.active > span {
    background: #f2f4f5;
    border-radius: 3px;
    color: #7a8994;
}
.ui-select-bootstrap > .ui-select-choices {
    background-color: #fff;
}
.ui-select-choices-group-label {
    color: #373e43;
    font-weight: bold;
}
.modal-open .select2-drop-active {
    z-index: 1000;
}
.modal-open .select2-container {
    z-index: 1000;
}
.modal-open .datepicker.dropdown-menu {
    z-index: 1000 !important;
}
.modal-open .select2-drop-mask {
    z-index: 999;
}
.modal-open .cs-skin-slide.cs-active {
    z-index: 999;
}
.dropdown-placeholder {
    display: inline-block;
    vertical-align: middle;
}
.dropdown-mask {
    bottom: 0;
    display: none;
    left: 0;
    outline: 0 none;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 600;
}
.ui-select-bootstrap *:focus {
    outline: none;
}
.ui-select-bootstrap .ui-select-choices-row > span {
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 24px;
    font-size: 14px;
}
.ui-select-bootstrap .ui-select-match {
    box-shadow: none;
}
.ui-select-bootstrap .ui-select-choices-group-label {
    padding-left: 15px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 700;
    color: #626262;
}
.ui-select-bootstrap .ui-select-match.btn-default-focus {
    background-color: transparent;
}
.form-group-default-select {
    padding-bottom: 2px;
}
.form-group-default-select .ui-select-bootstrap .ui-select-dropdown {
    width: calc(100% + 24px) !important;
    margin-left: -12px;
    padding: 10px;
}
.form-group-default-select .ui-select-bootstrap .ui-select-match-text {
    width: calc(100% + 24px);
    margin-top: -17px;
    margin-left: -16px;
    padding: 16px 16px 0;
}
.form-group-default-select .ui-select-bootstrap .ui-select-match {
    padding-top: 2px !important;
}
.form-group-default-select .ui-select-bootstrap .ui-select-match i.caret {
    margin-top: 10px;
}
.form-group-default-select .ui-select-bootstrap .ui-select-match.btn-default-focus {
    outline: none;
}
.form-group-default-select .ui-select-bootstrap .ui-select-match > .ui-select-toggle {
    width: calc(100% + 27px);
    height: 50px;
    margin-top: -34px;
    margin-left: -16px;
    padding: 32px 16px 16px;
}
.form-group-default-select .ui-select-bootstrap .dropdown-menu .divider {
    display: none;
}
.form-group-default-select .ui-select-bootstrap.ui-select-container {
    margin-top: -3px;
    padding-bottom: 2px;
}
.form-group-default-select .ui-select-multiple {
    margin-top: -7px;
}
.form-group-default-select .ui-select-multiple .select2-search-field input {
    height: 23px !important;
}
.form-group-default-select .ui-select-multiple .select2-search-choice {
    margin-top: 2px;
    margin-bottom: 0;
}
.form-group-default-select .ui-select-multiple .select2-search-choice:first-child {
    margin-left: 0;
}
.form-group-default-select .select2-container-multi .select2-choices {
    background-color: transparent;
}
/* Bootstrap Tags input
https://github.com/timschlechter/bootstrap-tagsinput
*/
.form-group-default .bootstrap-tagsinput {
    border: 0px;
    margin-bottom: 0;
    padding-top: 0;
    vertical-align: top;
    padding-bottom: 0px;
    padding-left: 0;
    margin-top: -3px;
}
.form-group-default .bootstrap-tagsinput .tag {
    padding: 2px 9px;
    line-height: 18px;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 2px;
}
.form-group-default .bootstrap-tagsinput .tag [data-role="remove"] {
    display: inline-block;
    vertical-align: top;
}
.form-group-default .bootstrap-tagsinput input {
    min-height: 20px;
}
.form-group-default .bootstrap-tagsinput input:first-child {
    margin-left: 0;
}
.bootstrap-tagsinput {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    padding: 0;
    padding-top: 5px;
    padding-right: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    -webkit-transition: background 0.2s linear 0s;
    transition: background 0.2s linear 0s;
}
.bootstrap-tagsinput.active-element {
    background-color: #eaecee;
}
.bootstrap-tagsinput input {
    border: none;
    margin: 5px;
    margin-top: 0;
    margin-right: 0;
    min-height: 25px;
    min-width: 10em !important;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-flex-shrink: 0;
    -webkit-flex-grow: 1;
    -webkit-flex-basis: auto;
}
.bootstrap-tagsinput .tag {
    padding: 3px 9px;
    padding-right: 6px;
    border-radius: 3px;
    line-height: 18px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-flex-shrink: 0;
    -webkit-flex-grow: 1;
    -webkit-flex-basis: auto;
    margin: 5px;
    margin-top: 0;
    margin-right: 0;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 4px;
    float: right;
    vertical-align: middle;
}
.bootstrap-tagsinput .tag[data-role="remove"]:hover:active,
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
    box-shadow: none;
}
/* Bootstrap3 wysihtml5
https://github.com/Waxolunist/bootstrap3-wysihtml5-bower
*/
.wysiwyg5-wrapper {
    position: relative;
}
.wysiwyg5-wrapper .wysihtml5-toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /*height: 50px;*/
    background: #f2f4f5;
    border-top: 1px solid #eaecee;
}
.wysiwyg5-wrapper .wysihtml5-toolbar .btn {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: transparent;
    border-right-color: #eaecee;
    color: #A5A5A5;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    padding: 0 5px;
    border-width: 1px;
    border-radius: 0 !important;
    box-shadow: none !important;
}
.wysiwyg5-wrapper .wysihtml5-toolbar .btn:hover .editor-icon {
    opacity: .8;
}
.wysiwyg5-wrapper .wysihtml5-toolbar .btn.active .editor-icon {
    opacity: 1;
}
.wysiwyg5-wrapper .wysihtml5-toolbar .btn.dropdown-toggle {
    padding-left: 10px;
    padding-right: 20px;
}
.wysiwyg5-wrapper .wysihtml5-toolbar .btn.dropdown-toggle .current-font {
    opacity: .5;
    font-size: 14px;
}
.wysiwyg5-wrapper .wysihtml5-toolbar > li {
    margin: 0;
    padding: 0;
}
.wysiwyg5-wrapper .wysiwyg {
    width: 100%;
    min-height: 200px;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 50px !important;
    border: 0;
}
.wysiwyg5-wrapper .wysiwyg:focus {
    background-color: #f6f9fa;
    outline: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.wysiwyg5-wrapper .expand-wysiwyg {
    bottom: 0;
    color: #A5A5A5;
    font-size: 20px;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    position: absolute;
    right: 0;
}
.wysiwyg5-wrapper .wysihtml5-sandbox {
    border: none !important;
    padding: 16px 16px 50px !important;
    width: 100% !important;
}
.wysiwyg5-wrapper .wysihtml5-sandbox.expanded {
    height: 100% !important;
}
.toggle-wysiwyg {
    position: absolute;
    right: 15px;
    top: 0;
}
.toggle-wysiwyg li {
    display: inline-block;
    font-weight: 600;
}
.editor-icon {
    background-image: url("../images/misc/editor_tray.png");
    display: inline-block;
    height: 40px;
    margin-top: 5px;
    opacity: 0.4;
    vertical-align: top;
    width: 40px;
}
.editor-icon-headline {
    background-position: 0 0;
    width: 31px;
}
.editor-icon-bold {
    background-position: -40px 0;
}
.editor-icon-italic {
    background-position: -80px 0;
}
.editor-icon-underline {
    background-position: -120px 0;
}
.editor-icon-link {
    background-position: -160px 0;
}
.editor-icon-quote {
    background-position: -200px 0;
}
.editor-icon-ul {
    background-position: -240px 0;
}
.editor-icon-ol {
    background-position: -280px 0;
}
.editor-icon-outdent {
    background-position: -320px 0;
}
.editor-icon-indent {
    background-position: -360px 0;
}
.editor-icon-image {
    background-position: -400px 0;
}
.editor-icon-html {
    background-position: -440px 0;
}
input,
input:focus {
    -webkit-transition: none !important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #f2f4f5 inset !important;
}
input.error:-webkit-autofill,
input.error:-webkit-autofill:focus,
.has-error input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #F9E9E9 inset !important;
}
/* Pages SelectFx */
/* Default custom select styles */
div.cs-select {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    background: #fff;
    width: 100%;
    max-width: 500px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div.cs-select:focus {
    outline: none;
    /* For better accessibility add a style for this in your skin */
}
.cs-select select {
    display: none;
}
.cs-select span {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Placeholder and selected option */
.cs-select > span {
    padding-right: 3em;
}
.cs-select > span::after,
.cs-select .cs-selected span::after {
    speak: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.cs-select > span::after {
    content: '\25BE';
    right: 1em;
}
.cs-select .cs-selected span::after {
    content: '\2713';
    margin-left: 1em;
}
.cs-select.cs-active > span::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}
/* Options */
.cs-select .cs-options {
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #fff;
    visibility: hidden;
}
.cs-select.cs-active .cs-options {
    visibility: visible;
}
.cs-select ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.cs-select ul span {
    padding: 1em;
}
.cs-select ul li.cs-focus span {
    background-color: #ddd;
}
/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
    padding-left: 1em;
}
.cs-select li.cs-optgroup > span {
    cursor: default;
}
div.cs-skin-slide {
    color: #fff;
    /*font-size: 1.5em;*/
    width: 300px;
}
@media screen and (max-width: 30em) {
    div.cs-skin-slide {
        font-size: 1em;
        width: 250px;
    }
}
div.cs-skin-slide::before {
    content: '';
    background: #282b30;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.cs-skin-slide.cs-active::before {
    -webkit-transform: scale3d(1.1, 3.5, 1);
    transform: scale3d(1.1, 3.5, 1);
}
.cs-skin-slide > span {
    height: 80px;
    line-height: 32px;
    -webkit-transition: text-indent 0.3s, opacity 0.3s;
    transition: text-indent 0.3s, opacity 0.3s;
}
@media screen and (max-width: 30em) {
    .cs-skin-slide > span {
        height: 60px;
        line-height: 28px;
    }
}
.cs-skin-slide.cs-active > span {
    text-indent: -290px;
    opacity: 0;
}
.cs-skin-slide.cs-active > span::after {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}
.cs-skin-slide .cs-options {
    background: transparent;
    width: 70%;
    height: 400%;
    padding: 1.9em 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate(-50%, -50%);
}
@media screen and (max-width: 30em) {
    .cs-skin-slide .cs-options {
        padding-top: 3em;
    }
}
.cs-skin-slide .cs-options li {
    opacity: 0;
    -webkit-transform: translate3d(30%, 0, 0);
    transform: translate3d(30%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}
.cs-skin-slide.cs-active .cs-options li {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
.cs-skin-slide.cs-active .cs-options li:first-child {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}
.cs-skin-slide.cs-active .cs-options li:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.cs-skin-slide.cs-active .cs-options li:nth-child(3) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
.cs-skin-slide.cs-active .cs-options li:nth-child(4) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.cs-skin-slide.cs-active .cs-options li:nth-child(5) {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}
/* more options need more delay declaration */
.cs-skin-slide .cs-options li span {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 65%;
    padding: 0.8em 1em 0.8em 2.5em;
}
.cs-skin-slide .cs-options li span:hover,
.cs-skin-slide .cs-options li.cs-focus span,
.cs-skin-slide .cs-options li.cs-selected span {
    color: #eb7e7f;
    background: transparent;
}
.cs-skin-slide .cs-selected span::after {
    content: '';
}
/* Pages Select    overriding */
.form-group-default .cs-skin-slide > span {
    padding: 0 30px 0 0;
    height: 22px;
    line-height: 21px;
}
.form-group-default .cs-wrapper {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.cs-wrapper {
    display: inline-block;
}
.form-control.cs-select:not(.cs-active) {
    width: 100% !important;
}
.cs-select {
    background-color: transparent;
}
.cs-select span {
    text-overflow: initial;
}
.cs-select .cs-placeholder {
    width: 100%;
}
div.cs-skin-slide {
    width: auto;
    font-family: Arial, sans-serif;
    color: #5e5e5e;
}
div.cs-skin-slide:before {
    background-color: transparent;
}
div.cs-skin-slide.cs-transparent {
    background: none;
}
div.cs-skin-slide.cs-transparent .cs-backdrop {
    border-color: transparent;
    background: none;
}
div.cs-skin-slide.cs-transparent.cs-active .cs-backdrop {
    background: #f6f9fa;
}
div.cs-skin-slide > span {
    height: 35px;
    padding: 6px 33px 6px 17px;
    line-height: 23px;
    z-index: 1;
}
div.cs-skin-slide.cs-active {
    z-index: 790;
}
div.cs-skin-slide.cs-active:before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
div.cs-skin-slide.cs-active .cs-backdrop {
    border: transparent;
    background: #f6f9fa;
    box-shadow: -1px 0 1px #ccc, 1px 0 1px #ccc;
}
div.cs-skin-slide > span:after,
div.cs-skin-slide.cs-active > span:after {
    content: "\f0d7";
    font-family: 'Font Awesome 5 Free';
    color: #5e5e5e;
    font-weight: 900;
}
div.cs-skin-slide .cs-options {
    height: auto;
    padding: 9px 0;
    width: auto;
    padding: 10px;
    max-height: 350px;
    transform: translate3d(1, 1, 1);
    overflow: hidden;
    z-index: 1;
}
div.cs-skin-slide .cs-options ul {
    width: 100%;
    display: table;
}
div.cs-skin-slide .cs-options ul li {
    display: table-row;
}
div.cs-skin-slide .cs-options ul li span {
    display: table-cell;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: normal;
    padding: 5px 0;
    text-transform: none;
    max-height: 350px;
    overflow-y: auto;
}
div.cs-skin-slide .cs-options ul li span:hover,
div.cs-skin-slide .cs-options ul li.cs-focus span,
div.cs-skin-slide .cs-options ul li.cs-selected span {
    color: #373e43;
}
.cs-backdrop {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid rgba(0, 0, 0, 0.07);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.cs-skin-slide.cs-active .cs-options li:nth-child(6) {
    transition-delay: 0.3s;
}
.cs-skin-slide.cs-active .cs-options li:nth-child(7) {
    transition-delay: 0.35s;
}
.cs-skin-slide.cs-active .cs-options li:nth-child(8) {
    transition-delay: 0.4s;
}
.cs-skin-slide.cs-active .cs-options li:nth-child(9) {
    transition-delay: 0.45s;
}
.cs-skin-slide.cs-active .cs-options li:nth-child(10) {
    transition-delay: 0.5s;
}
.cs-skin-slide.cs-active .cs-options li:nth-child(11) {
    transition-delay: 0.55s;
}
.cs-input-group-addon {
    background: #f2f4f5;
    border: 1px solid rgba(0, 0, 0, 0.07);
    padding: 6px 10px;
}
.twitter-typeahead {
    width: 100%;
}
.tt-menu {
    width: 100%;
    padding: 3px 10px 3px 3px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-top: 0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.tt-suggestion {
    color: #7a8994;
    padding: 3px 7px 4px;
    padding-left: 26px;
    line-height: 24px;
}
.tt-suggestion:hover {
    cursor: pointer;
    background: #f2f4f5;
}
.tt-suggestion.tt-cursor {
    background: #f2f4f5;
}
.tt-suggestion p {
    margin: 0;
}
.form-group-default.typehead {
    overflow: inherit;
}
.form-group-default .tt-menu {
    width: calc(100% + 24px);
    margin: 4px -12px;
}
.dropzone {
    overflow: hidden;
}
.dropzone .dz-default.dz-message {
    width: 100%;
}
/* Dropzone for Angular */
.dropzone[dropzone="dropzone"] input[type="file"] {
    visibility: hidden;
}
/* end overrides */
/* Demo specifc classes */
.demo-form-wysiwyg {
    height: 250px;
}
.error-form .form-group-default {
    padding: 0;
    justify-content: space-between;
}
.error-form .form-group-default label {
    margin-top: 6px;
    padding-left: 12px;
}
.error-form .form-group-default .form-control {
    margin-top: -2px;
    margin-bottom: 3px;
    padding-left: 12px;
}
.error-container.bottom-container {
    margin-top: 0;
}
.h-c-50 {
    height: calc(50px);
}
.card-toolbar .note-editor .btn-toolbar {
    display: block;
}


/**
 * DrugDb Expansion
 */
.form-group.good-data input[type=text].form-control,
.form-group.good-data .select2-container .select2-selection,
.form-group-default.good-data {
    border-color: #abe6ad !important;
    background-color: #f6fff0 !important;
}

.form-group .radio.good-data {
    border: 1px solid #abe6ad;
    background-color: #f6fff0;
}