/*------------------------------------------------------------------
[16. Tables and Datatables]
*/
.dataTables_wrapper .dataTables_paginate {
    float: right;
}
.dataTables_wrapper .dataTables_paginate ul > li.disabled a {
    opacity: .5;
}
.dataTables_wrapper .dataTables_paginate ul > li > a {
    padding: 5px 10px;
    color: #7a8994;
    opacity: .35;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.dataTables_wrapper .dataTables_paginate ul > li > a:hover {
    opacity: .65;
}
.dataTables_wrapper .dataTables_paginate ul > li.next > a,
.dataTables_wrapper .dataTables_paginate ul > li.prev > a {
    opacity: 1;
}
.dataTables_wrapper .dataTables_paginate ul > li.disabled a {
    opacity: .35;
}
.dataTables_wrapper .dataTables_paginate ul > li.disabled a:hover {
    opacity: .35;
}
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
    margin-top: 25px !important;
}
.dataTables_paginate.paging_bootstrap.pagination {
    padding-top: 0;
    padding-right: 20px;
}
.dataTables_wrapper .dataTables_info {
    clear: none;
    font-size: 12px;
    padding: 0 33px;
    color: #7a8994;
}
.dataTables_wrapper .dataTables_paginate ul > li {
    display: inline-block;
    padding-left: 0;
    font-size: 11px;
}
/**
 * Overridden
 */
.dataTable thead .sorting:before,
.dataTable thead .sorting:after,
.dataTable thead .sorting_asc:before,
.dataTable thead .sorting_asc:after,
.dataTable thead .sorting_desc:before,
.dataTable thead .sorting_desc:after,
.dataTable thead .sorting_asc_disabled:before,
.dataTable thead .sorting_asc_disabled:after,
.dataTable thead .sorting_desc_disabled:before,
.dataTable thead .sorting_desc_disabled:after {
    font-size: 2em;
}
.dataTables_wrapper .dataTables_paginate ul > li > a {
    opacity: 1;
    font-size: 1.3em;
    line-height: 1.5em;
}