/*------------------------------------------------------------------
[16. Tables and Datatables]
*/
/* Generic Tables
------------------------------------
*/
.table {
    margin-bottom: 0;
    margin-top: 5px;
}
.table thead tr th {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Montserrat';
    font-size: 10.5px;
    letter-spacing: 0.06em;
    padding-top: 14px;
    padding-bottom: 14px;
    vertical-align: middle;
    border-bottom: 1px solid rgba(234, 236, 238, 0.7);
    color: rgba(55, 62, 67, 0.35);
    border-top: none;
}
.table:not(.dataTable) thead tr th[class*='sorting_']:not([class='sorting_disabled']) {
    color: #373e43;
}
.table thead tr th:first-child {
    padding-left: 18px !important;
}
.table thead tr th .btn {
    margin-top: -20px;
    margin-bottom: -20px;
}
.table tbody tr td {
    background: #fff;
    border-bottom: 1px solid rgba(234, 236, 238, 0.7);
    border-top: 0px;
    padding: 20px;
    font-size: 13.5px;
}
.table tbody tr td .btn-tag {
    background: rgba(55, 62, 67, 0.07);
    display: inline-block;
    margin: 5px;
    border-radius: 4px;
    padding: 5px;
    color: #62605a !important;
}
.table tbody tr td .btn-tag:hover {
    background: rgba(55, 62, 67, 0.15);
}
.table tbody tr td[class*='sorting_'] {
    color: #000;
}
.table tbody tr td .checkbox label::after {
    left: 0.5px;
}
.table tbody tr.selected td {
    background: #fff7e2;
}
.table.table-hover tbody tr:hover td {
    background: #daeffd !important;
}
.table.table-hover tbody tr.selected:hover td {
    background: #fff7e2 !important;
}
.table.table-striped tbody tr td {
    background: #fff !important;
}
.table.table-striped tbody tr:nth-child(2n+1) td {
    background: #f9f9f9 !important;
}
.table.table-borderless tbody tr td {
    border-top: 0;
}
.table.table-condensed {
    table-layout: fixed;
}
.table.table-condensed thead tr th {
    padding-left: 20px;
    padding-right: 20px;
}
.table.table-condensed tbody tr td {
    padding-top: 12px;
    padding-bottom: 12px;
}
.table.table-condensed thead tr th,
.table.table-condensed tbody tr td,
.table.table-condensed tbody tr td *:not(.dropdown-default) {
    white-space: nowrap;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table.table-condensed thead tr th.reset-overflow *,
.table.table-condensed tbody tr td.reset-overflow *,
.table.table-condensed tbody tr td *:not(.dropdown-default).reset-overflow * {
    overflow: initial !important;
}
.table.table-condensed.table-detailed > tbody > tr.shown > td {
    background: #fff7e2;
}
.table.table-condensed.table-detailed > tbody > tr.shown > td:first-child:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.table.table-condensed.table-detailed > tbody > tr.shown + tr > td {
    background: rgba(255, 255, 255, 0.4);
    padding: 0px 40px;
}
.table.table-condensed.table-detailed > tbody > tr.shown + tr > td .table-inline {
    margin-top: 13px;
    margin-bottom: 13px;
    background: transparent;
}
.table.table-condensed.table-detailed > tbody > tr.shown + tr > td .table-inline tr,
.table.table-condensed.table-detailed > tbody > tr.shown + tr > td .table-inline td {
    background: transparent;
    font-weight: 600;
}
.table.table-condensed.table-detailed > tbody > tr.row-details > td:first-child:before {
    content: '';
    display: none;
}
.table.table-condensed.table-detailed > tbody > tr > td:hover {
    cursor: pointer;
}
.table.table-condensed.table-detailed > tbody > tr > td:first-child:before {
    content: "\f054";
    display: inline-block;
    font-size: 8px;
    top: -1px;
    position: relative;
    margin-right: 8px;
    font-family: 'Font Awesome 5 Free';
    -webkit-transition: all 0.12s linear;
    transition: all 0.12s linear;
    font-weight: 900;
}
.table.table-condensed.table-detailed .table-inline td {
    border: none;
    text-align: left;
}
.table.table-borderless > tbody > tr > td {
    border-bottom: 0px;
}
.fht-table {
    margin-bottom: 0 !important;
}
.table.table-sm tr td {
    padding: 5px;
}
.table.table-xs tr td {
    padding: 2px;
}
table.dataTable .sorting:before,
table.dataTable .sorting_asc:before,
table.dataTable .sorting_desc:before {
    right: 1.1em !important;
}