/*------------------------------------------------------------------
[18. List]
*/
.list-view-wrapper {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}
.list-view-container {
    position: relative;
}
.list-view-container .list-quickscroll ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 120;
    padding-top: 10px;
    padding-bottom: 10px;
}
.list-view-container .list-quickscroll ul li a {
    font-size: 0.7em;
    vertical-align: baseline;
}
.list-view-group-container {
    margin: 0;
    min-height: 1px;
    overflow: hidden;
    padding: 26px 0 0 0;
    position: relative;
}
.list-view-group-container:last-child ul {
    border: 0;
}
.list-view-group-header,
.list-view-fake-header {
    background: #f6f9fa;
    color: #232830;
    font: normal 11px/14px 'Montserrat', Arial;
    text-transform: uppercase;
    margin: 0;
    padding: 6px 0 5px 15px;
    position: absolute;
    z-index: 10;
}
.list-view-group-header {
    bottom: auto;
    min-height: 1px;
    top: 0;
    width: 100%;
    border-top: 0;
}
.list-view-fake-header {
    width: 100%;
    z-index: 100;
    font-size: 11px !important;
    line-height: 14px !important;
}
.list-view-fake-header.list-view-hidden {
    visibility: hidden;
}
.list-view-group-container.list-view-animated .list-view-group-header {
    bottom: 0;
    top: auto;
}
input.list-view-search {
    font-size: 15px;
    color: #232830;
}
.no-top-border .list-view-fake-header {
    border-top: 0;
}
.list-view ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.list-view li {
    padding-left: 15px;
    white-space: nowrap;
    cursor: pointer;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.list-view li:hover {
    background-color: #ccfaf1;
}
.list-view li.active {
    background-color: #fff7e2;
}
.list-view li p {
    margin: 0;
    line-height: 19px;
}
.list-view li > a {
    margin-right: 15px;
    width: 100%;
}
.list-view li > * {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: normal!important;
    -webkit-flex-direction: row!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.list-view.boreded li > a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.list-view.boreded li:last-child > a {
    border-bottom: 0;
}
.list-view.boreded li + li {
    border-top: 0;
}
[data-ios="true"] .list-view-group-header,
[data-ios="true"] .list-view-fake-header {
    width: 288px;
    /*scrollbars aren't visible in iOS devices, so make the headers wider */
}
.list-group-item {
    border: 1px solid #f2f4f5;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: #3395ed;
    border-color: #3395ed;
}
.list-group-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.list-group-item:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.list-group-sm .list-group-item {
    padding: 0.5em 1em;
}
.list-group-xs .list-group-item {
    padding: 0.25em 0.5em;
}
.list-group.list-group-flush.flush-all .list-group-item {
    border: 0 !important;
}

/**
 * LIST SEPARATION
 */
.list-group.list-separation .list-group-item > span,
.list-group.list-separation .list-group-item > .d-flex-item > span {
    display: inline-block;
}

.list-group.list-separation.head-bold .list-group-item .heading,
.list-group.list-separation.value-bold .list-group-item .value {
    font-weight: bold;
}

.list-group.list-separation.value-bold .list-group-item .heading,
.list-group.list-separation.head-bold .list-group-item .value {
    font-weight: normal;
}