/*------------------------------------------------------------------
[22. Login]
*/
.login-wrapper {
    height: 100%;
    background-color: #007be8;
}
.login-wrapper.status-error {
    background-color: #500000;
}
.login-wrapper > * {
    height: 100%;
}
.login-wrapper .bg-pic {
    position: absolute;
    width: 100%;
    overflow: hidden;
    /* background-image: url('../images/login/athletes-endurance-energy-685534-lowres.jpg'); will be set by JS */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-blend-mode: color-dodge;
    background-color: #083871;
}
.login-wrapper.status-error .bg-pic {
    background-color: #500000;
    background-blend-mode: hard-light;
}
.login-wrapper .login-container {
    width: 496px;
    display: block;
    position: relative;
    float: right;
}
.login-wrapper .bg-caption {
    width: 500px;
}
.register-container {
    width: 550px;
    margin: auto;
    height: 100%;
}
/* Responsive handlers : Login
------------------------------------
*/
@media (max-width: 768px) {
    .login-wrapper .login-container {
        width: 100%;
    }
    .register-container {
        width: 100%;
        padding: 15px;
    }
}
@media only screen and (max-width: 321px) {
    .login-wrapper .login-container {
        width: 100%;
    }
}