/*------------------------------------------------------------------
[28. Misc : Helper Classes]
*/
.custom {
    height: 150px;
}
.icon-list .fa-item {
    display: block;
    color: #16191b;
    line-height: 32px;
    height: 32px;
    padding-left: 10px;
}
.icon-list .fa-item > i {
    width: 32px;
    font-size: 14px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}
.push-on-sidebar-open {
    -webkit-transition: -webkit-transform 0.25s ease;
    transition: transform 0.25s ease;
    -webkit-backface-visibility: hidden;
}
/* Thumbnail for icons and profile pics
------------------------------------
*/
.thumbnail-wrapper {
    display: inline-block;
    overflow: hidden;
    float: left;
}
.thumbnail-wrapper.circular {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.thumbnail-wrapper.bordered {
    border-width: 4px;
    border-style: solid;
}
.thumbnail-wrapper.bordered.d16 {
    width: 20px;
    height: 20px;
}
.thumbnail-wrapper.bordered.d16 > * {
    line-height: 12px;
}
.thumbnail-wrapper.bordered.d24 {
    width: 28px;
    height: 28px;
}
.thumbnail-wrapper.bordered.d24 > * {
    line-height: 24px;
}
.thumbnail-wrapper.bordered.d32 {
    width: 36px;
    height: 36px;
}
.thumbnail-wrapper.bordered.d32 > * {
    line-height: 28px;
}
.thumbnail-wrapper.bordered.d48 {
    width: 52px;
    height: 52px;
}
.thumbnail-wrapper.bordered.d48 > * {
    line-height: 44px;
}
.thumbnail-wrapper.d16 {
    width: 16px;
    height: 16px;
}
.thumbnail-wrapper.d16 > * {
    line-height: 16px;
}
.thumbnail-wrapper.d24 {
    width: 24px;
    height: 24px;
}
.thumbnail-wrapper.d24 > * {
    line-height: 24px;
}
.thumbnail-wrapper.d32 {
    width: 32px;
    height: 32px;
}
.thumbnail-wrapper.d32 > * {
    line-height: 32px;
}
.thumbnail-wrapper.d39 {
    width: 39px;
    height: 39px;
}
.thumbnail-wrapper.d39 > * {
    line-height: 39px;
}
.thumbnail-wrapper.d48 {
    width: 48px;
    height: 48px;
}
.thumbnail-wrapper.d48 > * {
    line-height: 50px;
}
.thumbnail-wrapper > * {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
}
/* Profile dropdown
------------------------------------
*/
.profile-dropdown {
    background: #fff;
    padding: 0;
}
.profile-dropdown:before {
    position: absolute;
    top: -7px;
    right: 15px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}
.profile-dropdown:after {
    position: absolute;
    top: -6px;
    right: 16px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}
.profile-dropdown > a {
    opacity: .8;
    -webkit-transition: opacity ease 0.3s;
    transition: opacity ease 0.3s;
    padding-left: 17px;
    padding-right: 37px;
    min-width: 138px;
}
.profile-dropdown > a > i {
    margin-right: 5px;
}
.profile-dropdown > a:hover {
    opacity: 1;
    color: #08f !important;
}
.profile-dropdown > a:last-child {
    margin-top: 11px;
    padding-bottom: 3px !important;
    padding-top: 3px;
}
.profile-dropdown-toggle {
    background: transparent;
    border: none;
}
/* Scroll
------------------------------------
*/
.scrollable {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
/* Overides
------------------------------------
*/
.no-padding {
    padding: 0px !important;
}
.no-margin {
    margin: 0px !important;
}
.no-overflow {
    overflow: hidden !important;
}
.auto-overflow {
    overflow: auto !important;
}
.reset-overflow {
    overflow: initial !important;
}
.center-margin {
    margin-left: auto;
    margin-right: auto;
}
.inherit-size {
    width: inherit;
    height: inherit;
}
.inherit-height {
    height: inherit;
}
.image-responsive-height {
    width: 100%;
}
.image-responsive-width {
    height: 100%;
}
.overlayer {
    position: absolute;
    display: block;
    z-index: 21;
}
.overlayer.fullwidth {
    width: 100%;
}
.overlayer-wrapper {
    position: relative;
    display: block;
    z-index: 10;
}
.overlay-fixed {
    position: fixed !important;
    top: auto !important;
}
.top-left {
    position: absolute !important;
    top: 0;
    left: 0;
}
.top-right {
    position: absolute !important;
    top: 1px;
    right: 0;
}
.bottom-left {
    position: absolute !important;
    bottom: 1px;
    left: 0;
}
.bottom-right {
    position: absolute !important;
    bottom: 0;
    right: 0;
}
.pull-bottom {
    position: absolute !important;
    bottom: 0;
}
.pull-up {
    position: absolute !important;
    top: 0;
}
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
.pull-center {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    display: table;
    z-index: 1;
}
.cursor {
    cursor: pointer;
}
.scroll-x-hidden {
    overflow-x: hidden !important;
}
/* Generic Padding Helpers
------------------------------------
*/
.p-t-0 {
    padding-top: 0px !important;
}
.p-r-0 {
    padding-right: 0px !important;
}
.p-l-0 {
    padding-left: 0px !important;
}
.p-b-0 {
    padding-bottom: 0px !important;
}
.padding-0 {
    padding: 0px !important;
}
.p-t-5 {
    padding-top: 5px !important;
}
.p-r-5 {
    padding-right: 5px !important;
}
.p-l-5 {
    padding-left: 5px !important;
}
.p-b-5 {
    padding-bottom: 5px !important;
}
.padding-5 {
    padding: 5px !important;
}
.p-t-10 {
    padding-top: 10px !important;
}
.p-r-10 {
    padding-right: 10px !important;
}
.p-l-10 {
    padding-left: 10px !important;
}
.p-b-10 {
    padding-bottom: 10px !important;
}
.padding-10 {
    padding: 10px !important;
}
.p-t-15 {
    padding-top: 15px !important;
}
.p-r-15 {
    padding-right: 15px !important;
}
.p-l-15 {
    padding-left: 15px !important;
}
.p-b-15 {
    padding-bottom: 15px !important;
}
.padding-15 {
    padding: 15px !important;
}
.p-t-20 {
    padding-top: 20px !important;
}
.p-r-20 {
    padding-right: 20px !important;
}
.p-l-20 {
    padding-left: 20px !important;
}
.p-b-20 {
    padding-bottom: 20px !important;
}
.padding-20 {
    padding: 20px !important;
}
.p-t-25 {
    padding-top: 25px !important;
}
.p-r-25 {
    padding-right: 25px !important;
}
.p-l-25 {
    padding-left: 25px !important;
}
.p-b-25 {
    padding-bottom: 25px !important;
}
.padding-25 {
    padding: 25px !important;
}
.p-t-30 {
    padding-top: 30px !important;
}
.p-r-30 {
    padding-right: 30px !important;
}
.p-l-30 {
    padding-left: 30px !important;
}
.p-b-30 {
    padding-bottom: 30px !important;
}
.padding-30 {
    padding: 30px !important;
}
.p-t-35 {
    padding-top: 35px !important;
}
.p-r-35 {
    padding-right: 35px !important;
}
.p-l-35 {
    padding-left: 35px !important;
}
.p-b-35 {
    padding-bottom: 35px !important;
}
.padding-35 {
    padding: 35px !important;
}
.p-t-40 {
    padding-top: 40px !important;
}
.p-r-40 {
    padding-right: 40px !important;
}
.p-l-40 {
    padding-left: 40px !important;
}
.p-b-40 {
    padding-bottom: 40px !important;
}
.padding-40 {
    padding: 40px !important;
}
.p-t-45 {
    padding-top: 45px !important;
}
.p-r-45 {
    padding-right: 45px !important;
}
.p-l-45 {
    padding-left: 45px !important;
}
.p-b-45 {
    padding-bottom: 45px !important;
}
.padding-45 {
    padding: 45px !important;
}
.p-t-50 {
    padding-top: 50px !important;
}
.p-r-50 {
    padding-right: 50px !important;
}
.p-l-50 {
    padding-left: 50px !important;
}
.p-b-50 {
    padding-bottom: 50px !important;
}
.padding-50 {
    padding: 50px !important;
}
/* Generic Margin Helpers
------------------------------------
 */
.m-t-0 {
    margin-top: 0px;
}
.m-r-0 {
    margin-right: 0px;
}
.m-l-0 {
    margin-left: 0px;
}
.m-b-0 {
    margin-bottom: 0px;
}
.m-t-5 {
    margin-top: 5px;
}
.m-r-5 {
    margin-right: 5px;
}
.m-l-5 {
    margin-left: 5px;
}
.m-b-5 {
    margin-bottom: 5px;
}
.m-t-10 {
    margin-top: 10px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-l-10 {
    margin-left: 10px;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-t-15 {
    margin-top: 15px;
}
.m-r-15 {
    margin-right: 15px;
}
.m-l-15 {
    margin-left: 15px;
}
.m-b-15 {
    margin-bottom: 15px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-r-20 {
    margin-right: 20px;
}
.m-l-20 {
    margin-left: 20px;
}
.m-b-20 {
    margin-bottom: 20px;
}
.m-t-25 {
    margin-top: 25px;
}
.m-r-25 {
    margin-right: 25px;
}
.m-l-25 {
    margin-left: 25px;
}
.m-b-25 {
    margin-bottom: 25px;
}
.m-t-30 {
    margin-top: 30px;
}
.m-r-30 {
    margin-right: 30px;
}
.m-l-30 {
    margin-left: 30px;
}
.m-b-30 {
    margin-bottom: 30px;
}
.m-t-35 {
    margin-top: 35px;
}
.m-r-35 {
    margin-right: 35px;
}
.m-l-35 {
    margin-left: 35px;
}
.m-b-35 {
    margin-bottom: 35px;
}
.m-t-40 {
    margin-top: 40px;
}
.m-r-40 {
    margin-right: 40px;
}
.m-l-40 {
    margin-left: 40px;
}
.m-b-40 {
    margin-bottom: 40px;
}
.m-t-45 {
    margin-top: 45px;
}
.m-r-45 {
    margin-right: 45px;
}
.m-l-45 {
    margin-left: 45px;
}
.m-b-45 {
    margin-bottom: 45px;
}
.m-t-50 {
    margin-top: 50px;
}
.m-r-50 {
    margin-right: 50px;
}
.m-l-50 {
    margin-left: 50px;
}
.m-b-50 {
    margin-bottom: 50px;
}
.full-height {
    height: 100% !important;
}
.full-width {
    width: 100%;
}
.hide {
    display: none !important;
}
.inline {
    display: inline-block !important;
}
.block {
    display: block !important;
}
.b-blank {
    border-color: #000;
}
/* Border Helpers
------------------------------------
*/
.b-a,
.b-r,
.b-l,
.b-t,
.b-b {
    border-style: solid;
    border-width: 0;
}
.b-r {
    border-right-width: 1px;
}
.b-l {
    border-left-width: 1px;
}
.b-t {
    border-top-width: 1px;
}
.b-b {
    border-bottom-width: 1px;
}
.b-a {
    border-width: 1px;
}
.b-dashed {
    border-style: dashed;
}
.b-thick {
    border-width: 2px;
}
.b-transparent {
    border-color: rgba(0, 0, 0, 0.4);
}
.b-transparent-white {
    border-color: rgba(255, 255, 255, 0.3);
}
.b-grey {
    border-color: #eaecee;
}
.b-white {
    border-color: #fff;
}
.b-primary {
    border-color: #007be8;
}
.b-complete {
    border-color: #007be8;
}
.b-success {
    border-color: #007be8;
}
.b-info {
    border-color: #47525e;
}
.b-danger {
    border-color: #ea2c54;
}
.b-warning {
    border-color: #fed76e;
}
/* Border Radius
------------------------------------
*/
.b-rad-sm {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.b-rad-md {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.b-rad-lg {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}
.no-border {
    border: none !important;
}
/** Profile Wrappers **/
.profile-img-wrapper {
    float: left;
    border-radius: 100px 100px 100px 100px;
    display: inline-block;
    height: 35px;
    overflow: hidden;
    width: 35px;
    -webkit-flex: 1;
    -moz-flex: 1;
    flex: 1;
}
.profile-img-wrapper.big {
    height: 68px;
    width: 68px;
}
.profile-img-wrapper.with-left-space-custom {
    margin-left: 7px;
}
.relative {
    position: relative;
}
.flex-1 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
[data-pages-bg-image] {
    background-size: cover;
}
/* Demo Purposes */
.icon-set-preview {
    transition: opacity 0.1s linear;
}
#icon-list {
    transition: all 0.1s ease-in-out;
}
.error-number {
    font-family: 'Montserrat';
    font-size: 90px;
    line-height: 90px;
}
.error-container-innner {
    margin-left: auto;
    margin-right: auto;
    width: 360px;
}
.error-container {
    margin-top: -100px;
    width: 38%;
}
.visible-xlg {
    display: none;
}
.hidden-xlg {
    display: block;
}
.sm-gutter .row > [class^="col-"],
.sm-gutter .row > [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}
.sm-gutter .row {
    margin-left: -5px;
    margin-right: -5px;
}
/* Aspect ratio */
.ar-1-1 .card,
.ar-2-1 .card,
.ar-1-2 .card,
.ar-3-2 .card,
.ar-2-3 .card {
    margin: 0;
}
.ar-1-1 {
    position: relative;
    width: 100%;
    /* desired width */
    overflow: hidden;
}
.ar-1-1:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* initial ratio of 1:1*/
}
.ar-1-1 > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.ar-2-1 {
    position: relative;
    width: 100%;
    /* desired width */
    overflow: hidden;
}
.ar-2-1:before {
    content: "";
    display: block;
    padding-top: calc(50% -    5px);
    /* initial ratio of 1:1*/
}
.ar-2-1 > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.ar-1-2 {
    position: relative;
    width: 100%;
    /* desired width */
    overflow: hidden;
}
.ar-1-2:before {
    content: "";
    display: block;
    padding-top: calc(150% -    5px);
    /* initial ratio of 1:1*/
}
.ar-1-2 > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.ar-3-2 {
    position: relative;
    width: 100%;
    /* desired width */
    overflow: hidden;
}
.ar-3-2:before {
    content: "";
    display: block;
    padding-top: calc(75% -    5px);
    /* initial ratio of 1:1*/
}
.ar-3-2 > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.ar-2-3 {
    position: relative;
    width: 100%;
    /* desired width */
    overflow: hidden;
}
.ar-2-3:before {
    content: "";
    display: block;
    padding-top: calc(125% -    5px);
    /* initial ratio of 1:1*/
}
.ar-2-3 > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.v-align-bottom {
    vertical-align: bottom !important;
}
.v-align-top {
    vertical-align: top !important;
}
.v-align-middle {
    vertical-align: middle !important;
}
/* vertical alignment styles */
.col-top {
    vertical-align: top !important;
}
.col-middle {
    vertical-align: middle !important;
}
.col-bottom {
    vertical-align: bottom !important;
}
/* MISC
------------------------------------
 */
.w-1 {
    width: 1%;
}
.w-2 {
    width: 2%;
}
.w-3 {
    width: 3%;
}
.w-4 {
    width: 4%;
}
.w-5 {
    width: 5%;
}
.w-10 {
    width: 10%;
}
.w-15 {
    width: 15%;
}
.w-20 {
    width: 20%;
}
.w-80 {
    width: 80%;
}
.w-90 {
    width: 90%;
}
.mx-10px {
    max-width: 10px;
}
.mx-20px {
    max-width: 20px;
}
.mx-30px {
    max-width: 30px;
}
.mx-50px {
    max-width: 50px;
}
.mx-60px {
    max-width: 60px;
}
.mx-70px {
    max-width: 70px;
}
.mx-80px {
    max-width: 80px;
}
.mx-90px {
    max-width: 90px;
}
.mx-100px {
    max-width: 100px;
}
.mx-110px {
    max-width: 110px;
}
.mx-120px {
    max-width: 120px;
}
.mx-130px {
    max-width: 130px;
}
.mx-140px {
    max-width: 140px;
}
.mx-150px {
    max-width: 150px;
}
.mx-200px {
    max-width: 200px;
}
.mx-250px {
    max-width: 250px;
}
.mx-300px {
    max-width: 300px;
}
.enforce-grid {
    display: grid;
}
/* columns of same height styles
------------------------------------
*/
.container-xs-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.row-xs-height {
    display: table-row;
}
.col-xs-height {
    display: table-cell;
    float: none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }
    .row-sm-height {
        /*display:table-row;*/
    }
    .col-sm-height {
        /*display:table-cell !important;
                float:none !important;*/
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }
    .row-md-height {
        display: table-row;
    }
    .col-md-height {
        display: table-cell !important;
        float: none !important;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }
    .row-lg-height {
        display: table-row;
    }
    .col-lg-height {
        display: table-cell !important;
        float: none !important;
    }
}
.windows .d-flex {
    -ms-flex-wrap: wrap;
}
.icon-text {
    display: inline-block;
    font: normal normal normal 14px/1 Arial;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 800;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 1.4em;
    height: 1.4em;
}
.cursor-initial {
    cursor: initial !important;
}
.opacity-0 {
    opacity: 0;
}
.cover-parent {
    position: absolute;
    background-color: rgba(33, 33, 33, 0.89);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}