/*------------------------------------------------------------------
[29. Print]
*/
@media print {
    .header,
    .page-sidebar,
    .overlay {
        display: none;
    }
    .page-container {
        padding-left: 0;
    }
    .page-content-wrapper .content {
        border-top: 0;
    }
    .page-content-wrapper .content .card {
        border: none;
    }
    .page-content-wrapper .content .card .card-body {
        padding: 0;
    }
    [class^='padding-'],
    [class*='padding-'],
    .table tbody tr td {
        padding: 10px;
    }
}
/* Views page */
.view-iframe-wrapper {
    width: 100%;
    height: 255px;
    background: #fff;
    position: relative;
}
.view-iframe-wrapper iframe {
    width: 100%;
    height: 100%;
    padding: 45px 45px 0 45px;
}
@media (max-width: 1200px) {
    .view-iframe-wrapper iframe {
        padding: 0;
    }
}
.visible-xlg {
    display: none;
}
.hidden-xlg {
    display: block;
}
/*** Large screens ***/
@media (min-width: 1824px) {
    .visible-xlg {
        display: block !important;
    }
    .hidden-xlg {
        display: none !important;
    }
    .container-fluid.container-fixed-lg {
        width: 1700px;
        margin-right: auto;
        margin-left: auto;
    }
    .menu-pin .container-fluid.container-fixed-lg {
        width: 1450px;
    }
    .col-xlg-1,
    .col-xlg-2,
    .col-xlg-3,
    .col-xlg-4,
    .col-xlg-5,
    .col-xlg-6,
    .col-xlg-7,
    .col-xlg-8,
    .col-xlg-9,
    .col-xlg-10,
    .col-xlg-11 {
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
    }
    .col-xlg-12 {
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-xlg-11 {
        flex: 0 0 91.6667%;
        max-width: 91.6667%;
    }
    .col-xlg-10 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .col-xlg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xlg-8 {
        flex: 0 0 66.6667%;
        max-width: 66.6667%;
    }
    .col-xlg-7 {
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
    }
    .col-xlg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xlg-5 {
        flex: 0 0 41.6667%;
        max-width: 41.6667%;
    }
    .col-xlg-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .col-xlg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xlg-2 {
        flex: 0 0 16.6667%;
        max-width: 16.6667%;
    }
    .col-xlg-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-xlg-pull-12 {
        right: 100%;
    }
    .col-xlg-pull-11 {
        right: 91.6667%;
    }
    .col-xlg-pull-10 {
        right: 83.3333%;
    }
    .col-xlg-pull-9 {
        right: 75%;
    }
    .col-xlg-pull-8 {
        right: 66.6667%;
    }
    .col-xlg-pull-7 {
        right: 58.3333%;
    }
    .col-xlg-pull-6 {
        right: 50%;
    }
    .col-xlg-pull-5 {
        right: 41.6667%;
    }
    .col-xlg-pull-4 {
        right: 33.3333%;
    }
    .col-xlg-pull-3 {
        right: 25%;
    }
    .col-xlg-pull-2 {
        right: 16.6667%;
    }
    .col-xlg-pull-1 {
        right: 8.33333%;
    }
    .col-xlg-pull-0 {
        right: 0;
    }
    .col-xlg-push-12 {
        left: 100%;
    }
    .col-xlg-push-11 {
        left: 91.6667%;
    }
    .col-xlg-push-10 {
        left: 83.3333%;
    }
    .col-xlg-push-9 {
        left: 75%;
    }
    .col-xlg-push-8 {
        left: 66.6667%;
    }
    .col-xlg-push-7 {
        left: 58.3333%;
    }
    .col-xlg-push-6 {
        left: 50%;
    }
    .col-xlg-push-5 {
        left: 41.6667%;
    }
    .col-xlg-push-4 {
        left: 33.3333%;
    }
    .col-xlg-push-3 {
        left: 25%;
    }
    .col-xlg-push-2 {
        left: 16.6667%;
    }
    .col-xlg-push-1 {
        left: 8.33333%;
    }
    .col-xlg-push-0 {
        left: 0;
    }
    .col-xlg-offset-12 {
        margin-left: 100%;
    }
    .col-xlg-offset-11 {
        margin-left: 91.6667%;
    }
    .col-xlg-offset-10 {
        margin-left: 83.3333%;
    }
    .col-xlg-offset-9 {
        margin-left: 75%;
    }
    .col-xlg-offset-8 {
        margin-left: 66.6667%;
    }
    .col-xlg-offset-7 {
        margin-left: 58.3333%;
    }
    .col-xlg-offset-6 {
        margin-left: 50%;
    }
    .col-xlg-offset-5 {
        margin-left: 41.6667%;
    }
    .col-xlg-offset-4 {
        margin-left: 33.3333%;
    }
    .col-xlg-offset-3 {
        margin-left: 25%;
    }
    .col-xlg-offset-2 {
        margin-left: 16.6667%;
    }
    .col-xlg-offset-1 {
        margin-left: 8.33333%;
    }
    .col-xlg-offset-0 {
        margin-left: 0;
    }
}
/*** Desktops ***/
/*** Medium Size Screen ***/
@media only screen and (max-width: 1400px) {
    .footer-widget {
        padding: 11px 21px !important;
    }
}
@media only screen and (max-width: 1199px) {
    .visible-xl-down {
        display: block !important;
    }
}
/*** Desktops & Laptops ***/
@media only screen and (min-width: 980px) {
    body.menu-pin .page-container {
        padding-left: 0;
    }
    body.menu-pin .page-container .page-content-wrapper .content {
        padding-left: 250px;
    }
    body.menu-pin .page-container .page-content-wrapper .footer {
        left: 250px;
    }
    body.box-layout {
        background-color: #fff;
    }
    body.box-layout .page-container .page-content-wrapper .footer {
        width: auto;
    }
}
/*** General tablets and phones ***/
@media (max-width: 991px) {
    .hidden-lg-down {
        display: none !important;
    }
    .page-container {
        padding-left: 0;
    }
    .d-flex-lg-down {
        display: flex;
    }
    .justify-between-lg-down {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    body.sidebar-open .page-container {
        -webkit-transform: translate3d(250px, 0, 0);
        transform: translate3d(250px, 0, 0);
        -ms-transform: translate(250px, 0);
        overflow: hidden;
        position: fixed;
    }
    body.sidebar-open .push-on-sidebar-open {
        -webkit-transform: translate3d(250px, 0, 0);
        transform: translate3d(250px, 0, 0);
        -ms-transform: translate(250px, 0);
        overflow: hidden;
    }
    body.box-layout > .container {
        padding: 0;
        height: 100%;
    }
    body.horizontal-app-menu .secondary-sidebar {
        margin-left: 0;
    }
    .sm-action-bar {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 10;
    }
    .sm-action-bar > a {
        padding: 10px;
        display: inline-block;
    }
    .pace .pace-activity {
        top: 60px;
    }
    .page-container {
        padding-left: 0;
        position: relative;
        transition: transform .25s ease;
        -webkit-transition: -webkit-transform 0.25s ease;
    }
    .page-container .page-content-wrapper .content {
        overflow-x: hidden;
        height: auto;
    }
    .icon-thumbnail {
        margin-right: 24px;
    }
    .page-sidebar {
        display: none;
        z-index: auto;
    }
    .page-sidebar.visible {
        display: block;
    }
    .page-sidebar .page-sidebar-inner {
        z-index: 1;
        left: 0 !important;
        width: 260px;
    }
    .page-sidebar .page-sidebar-inner .sidebar-slide .sidebar-menu {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        top: 40px;
        bottom: 0;
    }
    .page-sidebar .page-sidebar-inner .sidebar-slide .sidebar-menu ul > li > a > .badge {
        display: inline-block;
    }
    .secondary-sidebar {
        float: none;
        height: auto;
        left: 50%;
        margin-left: -125px;
        padding: 20px;
        position: absolute;
        right: 0;
        top: 60px;
        z-index: 9999;
        display: none;
        border-radius: 10px;
    }
    .secondary-sidebar .btn-compose {
        display: none;
    }
    .inner-content,
    .horizontal-app-menu .inner-content {
        margin: 0;
    }
    .breadcrumb {
        padding-left: 15px;
        padding-right: 15px;
    }
    .copyright {
        padding-left: 15px;
        padding-right: 15px;
    }
    body > .pgn-wrapper[data-position="top"] {
        top: 48px;
        left: 0;
    }
    body > .pgn-wrapper[data-position="bottom"] {
        left: 0;
    }
    body > .pgn-wrapper[data-position$='-left'] {
        left: 20px;
        right: auto;
    }
    .sm-table {
        display: table;
        width: 100%;
    }
    .user-profile-wrapper {
        position: absolute;
        right: 50px;
        top: -9px;
    }
    .container {
        width: 100%;
    }
    .table-responsive-block table,
    .table-responsive-block thead,
    .table-responsive-block tbody,
    .table-responsive-block th,
    .table-responsive-block td,
    .table-responsive-block tr {
        display: block;
    }
    .table-responsive-block thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .table-responsive-block tr {
        border: 1px solid rgba(230, 230, 230, 0.7);
        margin-bottom: 15px;
    }
    .table-responsive-block td {
        /* Behave    like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }
    .table-responsive-block td:last-child {
        border-bottom: 0;
    }
    .table-responsive-block td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
    .table-responsive-block td:before {
        content: attr(data-title);
    }
    .kill-pull-md-down {
        position: relative;
        display: block;
        width: inherit;
    }
    .kill-pull-md-down .toggle-secondary-sidebar {
        display: inline-block;
        font-size: 18px;
    }
    .nav-tabs-header.nav-tabs-linetriangle {
        height: 61px;
    }
    .overlay {
        padding-left: 15px;
    }
}
/* Landscape view of all tablet devices */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .page-container .page-content-wrapper .content {
        padding-top: 60px;
    }
    body.box-layout > .container {
        width: 100%;
    }
    .error-page .error-container {
        width: auto;
    }
    .inner-content {
        margin-left: 0;
    }
    .secondary-sidebar {
        float: none;
        height: auto;
        left: 50%;
        margin-left: -155px;
        padding: 20px;
        position: absolute;
        right: 0;
        top: 60px;
        z-index: 9999;
        display: none;
        border-radius: 10px;
    }
    .secondary-sidebar .btn-compose {
        display: none;
    }
    .horizontal-app-menu .secondary-sidebar {
        display: inline-block;
        position: relative;
        top: inherit;
        left: inherit;
        right: inherit;
        padding: 20px 0;
        border-radius: 0;
        float: left;
        height: 100%;
    }
    .split-details {
        margin-left: 0;
    }
    .toggle-secondary-sidebar {
        display: block;
        font-size: 18px;
        left: 50%;
        margin-left: -36px;
        position: absolute;
    }
    .toggle-secondary-sidebar ~ .brand {
        display: none !important;
    }
}
@media (max-width: 991px) {
    .sm-b-r,
    .sm-b-l,
    .sm-b-t,
    .sm-b-b {
        border-width: 0;
    }
    .sm-b-r {
        border-right-width: 1px;
    }
    .sm-b-l {
        border-left-width: 1px;
    }
    .sm-b-t {
        border-top-width: 1px;
    }
    .sm-b-b {
        border-bottom-width: 1px;
    }
    .sidebar-menu .icon-thumbnail {
        margin-right: 15px;
    }
}
@media (min-width: 1200px) {
    .row-same-height {
        overflow: hidden;
    }
    .row-same-height > [class*="col-lg"] {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }
}
@media (max-width: 1199px) and (min-width: 992px) {
    .visible-md {
        display: block!important;
    }
}
@media (min-width: 992px) {
    .row-same-height {
        overflow: hidden;
    }
    .row-same-height > [class*="col-md"] {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }
}
@media (min-width: 768px) {
    .row-same-height {
        overflow: hidden;
    }
    .row-same-height > [class*="col-sm"] {
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }
    .box-layout .container .jumbotron,
    .container-fluid .jumbotron {
        padding: 0;
    }
    .d-flex-md-up {
        display: flex;
    }
    .navbar-toggle {
        display: none;
    }
    .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
    }
    .dataTables_wrapper.form-inline .checkbox input[type=checkbox],
    .form-inline .radio input[type=radio] {
        position: absolute;
    }
    .justify-end-md-up {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}
@media (min-width: 700px) {
    .dd {
        float: none;
    }
}
/* Portrait view of all tablet devices */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .icon-thumbnail {
        margin-right: 21px;
    }
    .error-page .error-container {
        width: auto;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .visible-sm {
        display: block;
    }
    .hidden-sm {
        display: none;
    }
    .visible-sm-inline-block {
        display: inline-block !important;
    }
    .md-p-t-0 {
        padding-top: 0px;
    }
    .md-p-r-0 {
        padding-right: 0px;
    }
    .md-p-l-0 {
        padding-left: 0px;
    }
    .md-p-b-0 {
        padding-bottom: 0px;
    }
    .md-p-t-5 {
        padding-top: 5px;
    }
    .md-p-r-5 {
        padding-right: 5px;
    }
    .md-p-l-5 {
        padding-left: 5px;
    }
    .md-p-b-5 {
        padding-bottom: 5px;
    }
    .md-p-t-10 {
        padding-top: 10px;
    }
    .md-p-r-10 {
        padding-right: 10px;
    }
    .md-p-l-10 {
        padding-left: 10px;
    }
    .md-p-b-10 {
        padding-bottom: 10px;
    }
    .md-p-t-15 {
        padding-top: 15px;
    }
    .md-p-r-15 {
        padding-right: 15px;
    }
    .md-p-l-15 {
        padding-left: 15px;
    }
    .md-p-b-15 {
        padding-bottom: 15px;
    }
    .md-m-t-5 {
        margin-top: 5px;
    }
    .md-m-r-5 {
        margin-right: 5px;
    }
    .md-m-l-5 {
        margin-left: 5px;
    }
    .md-m-b-5 {
        margin-bottom: 5px;
    }
    .md-m-t-10 {
        margin-top: 10px;
    }
    .md-m-r-10 {
        margin-right: 10px;
    }
    .md-m-l-10 {
        margin-left: 10px;
    }
    .md-m-b-10 {
        margin-bottom: 10px;
    }
    .md-m-t-15 {
        margin-top: 15px;
    }
    .md-m-r-15 {
        margin-right: 15px;
    }
    .md-m-l-15 {
        margin-left: 15px;
    }
    .md-m-b-15 {
        margin-bottom: 15px;
    }
}
@media (max-width: 979px) {
    .toggle-secondary-sidebar {
        font-size: 18px;
        position: static;
        display: block;
    }
    .toggle-secondary-sidebar ~ .brand {
        display: none !important;
    }
    .secondary-sidebar {
        float: none;
        height: auto;
        left: 50%;
        margin-left: -125px;
        padding: 20px;
        position: absolute;
        right: 0;
        top: 60px;
        z-index: 9999;
        display: none;
        border-radius: 10px;
    }
    .secondary-sidebar .btn-compose {
        display: none;
    }
    .split-view .split-list {
        width: 100%;
        height: auto;
        bottom: 50px;
        left: 0;
        top: 0;
        position: absolute;
        z-index: 1000;
        float: none;
    }
    .split-view .split-list .item {
        padding: 8px;
    }
    .split-view .split-list .item .inline {
        width: 188px;
    }
    .split-view .split-details {
        margin-left: 0;
        width: 100%;
    }
    .split-view .split-details .email-content-wrapper {
        overflow: auto;
        padding: 0;
        height: calc(100% - 50px);
    }
    .split-view .split-details .email-content-wrapper .email-content {
        width: 90%;
    }
    .compose-wrapper {
        display: block !important;
    }
    .compose-wrapper .btn-compose {
        display: block !important;
    }
}
@media (max-width: 767px) {
    .header {
        height: 48px;
    }
    .header .header-inner {
        height: 48px;
    }
    .header .user-info-wrapper {
        display: none;
    }
    .header .search-link {
        height: 19px;
        width: 16px;
        overflow: hidden;
    }
    .jumbotron,
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .page-container .page-content-wrapper .content {
        padding-top: 48px;
        padding-bottom: 100px;
    }
    .icon-thumbnail {
        margin-right: 20px;
    }
    .secondary-sidebar {
        top: 48px;
    }
    .split-details {
        margin-left: 0;
    }
    .email-composer {
        padding-left: 30px;
        padding-right: 30px;
    }
    .sm-pull-bottom,
    .sm-pull-up {
        position: relative !important;
    }
    .sm-p-t-0 {
        padding-top: 0px !important;
    }
    .sm-p-r-0 {
        padding-right: 0px !important;
    }
    .sm-p-l-0 {
        padding-left: 0px !important;
    }
    .sm-p-b-0 {
        padding-bottom: 0px !important;
    }
    .sm-padding-0 {
        padding: 0px !important;
    }
    .sm-p-t-5 {
        padding-top: 5px !important;
    }
    .sm-p-r-5 {
        padding-right: 5px !important;
    }
    .sm-p-l-5 {
        padding-left: 5px !important;
    }
    .sm-p-b-5 {
        padding-bottom: 5px !important;
    }
    .sm-padding-5 {
        padding: 5px !important;
    }
    .sm-p-t-10 {
        padding-top: 10px !important;
    }
    .sm-p-r-10 {
        padding-right: 10px !important;
    }
    .sm-p-l-10 {
        padding-left: 10px !important;
    }
    .sm-p-b-10 {
        padding-bottom: 10px !important;
    }
    .sm-padding-10 {
        padding: 10px !important;
    }
    .sm-p-t-15 {
        padding-top: 15px !important;
    }
    .sm-p-r-15 {
        padding-right: 15px !important;
    }
    .sm-p-l-15 {
        padding-left: 15px !important;
    }
    .sm-p-b-15 {
        padding-bottom: 15px !important;
    }
    .sm-padding-15 {
        padding: 15px !important;
    }
    .sm-p-t-20 {
        padding-top: 20px !important;
    }
    .sm-p-r-20 {
        padding-right: 20px !important;
    }
    .sm-p-l-20 {
        padding-left: 20px !important;
    }
    .sm-p-b-20 {
        padding-bottom: 20px !important;
    }
    .sm-padding-20 {
        padding: 20px !important;
    }
    .sm-p-t-25 {
        padding-top: 25px !important;
    }
    .sm-p-r-25 {
        padding-right: 25px !important;
    }
    .sm-p-l-25 {
        padding-left: 25px !important;
    }
    .sm-p-b-25 {
        padding-bottom: 25px !important;
    }
    .sm-padding-25 {
        padding: 25px !important;
    }
    .sm-m-t-5 {
        margin-top: 5px !important;
    }
    .sm-m-r-5 {
        margin-right: 5px !important;
    }
    .sm-m-l-5 {
        margin-left: 5px !important;
    }
    .sm-m-b-5 {
        margin-bottom: 5px !important;
    }
    .sm-m-t-10 {
        margin-top: 10px !important;
    }
    .sm-m-r-10 {
        margin-right: 10px !important;
    }
    .sm-m-l-10 {
        margin-left: 10px !important;
    }
    .sm-m-b-10 {
        margin-bottom: 10px !important;
    }
    .sm-m-t-15 {
        margin-top: 15px !important;
    }
    .sm-m-r-15 {
        margin-right: 15px !important;
    }
    .sm-m-l-15 {
        margin-left: 15px !important;
    }
    .sm-m-b-15 {
        margin-bottom: 15px !important;
    }
    .sm-m-t-20 {
        margin-top: 20px !important;
    }
    .sm-m-r-20 {
        margin-right: 20px !important;
    }
    .sm-m-l-20 {
        margin-left: 20px !important;
    }
    .sm-m-b-20 {
        margin-bottom: 20px !important;
    }
    .sm-m-t-25 {
        margin-top: 25px !important;
    }
    .sm-m-r-25 {
        margin-right: 25px !important;
    }
    .sm-m-l-25 {
        margin-left: 25px !important;
    }
    .sm-m-b-25 {
        margin-bottom: 25px !important;
    }
    .sm-no-margin {
        margin: 0px !important;
    }
    .sm-no-padding {
        padding: 0px !important;
    }
    .sm-text-right {
        text-align: right !important;
    }
    .sm-text-left {
        text-align: left !important;
    }
    .sm-text-center {
        text-align: center !important;
    }
    .sm-pull-right {
        float: right !important;
    }
    .sm-pull-left {
        float: left !important;
    }
    .sm-pull-reset {
        float: none !important;
    }
    .sm-block {
        display: block;
    }
    .error-container {
        width: auto;
    }
    .sm-image-responsive-height {
        width: 100%;
        height: auto;
    }
    .email-composer {
        padding-left: 30px;
        padding-right: 30px;
    }
    .sm-padding-10 {
        padding: 10px!important;
    }
    .lock-box {
        align-items: flex-start;
        height: auto;
    }
    .login-box {
        padding-right: 15px;
        padding-left: 15px;
    }
    .visible-xs-inline-block {
        display: inline-block !important;
    }
    .nav-tabs-linetriangle.nav-cust {
        flex-direction: column;
    }
    .nav-tabs-linetriangle li a.active:after,
    .nav-tabs-linetriangle li a.active:before {
        display: none;
    }
    .sm-vh-25 {
        height: 25vh !important;
    }
    .sm-vh-50 {
        height: 50vh !important;
    }
    .sm-vh-75 {
        height: 75vh !important;
    }
    .sm-vh-100 {
        height: 100vh !important;
    }
    .horizontal-app-menu .page-container .page-content-wrapper .content > .container {
        padding-left: 0;
        padding-right: 0;
    }
    .summernote-wrapper .btn-group {
        -ms-flex-flow: wrap;
        flex-flow: wrap;
    }
}
/*** Phones ***/
@media (max-width: 480px) {
    body {
        width: 100%;
    }
    body .header {
        width: 100%;
        height: 48px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    }
    body .header .header-inner {
        height: 48px;
        text-align: center;
    }
    body .header .header-inner .mark-email {
        left: 35px;
        top: 14px;
    }
    body .header .dropdown-submenu {
        top: 12px;
    }
    body #overlay-search {
        font-size: 48px;
        height: 118px;
        line-height: 46px;
    }
    .page-sidebar .sidebar-header {
        height: 48px;
        line-height: 48px;
    }
    .card .card-heading {
        padding-left: 15px;
    }
    .card .card-body {
        padding: 15px;
        padding-top: 0;
    }
    .error-page {
        padding: 15px;
    }
    .error-page .error-container {
        margin-top: 30px;
        width: auto;
    }
    .error-page .pull-bottom {
        position: relative;
    }
    .map-controls {
        left: 10px;
    }
    .register-container {
        height: auto !important;
    }
    .error-container-innner {
        width: auto;
    }
}
/*** Retina Display Images **/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 200/100), only screen and (min-device-pixel-ratio: 2) {
    .editor-icon {
        background-image: url("../images/misc/editor_tray_2x.png");
        background-size: 480px 40px;
    }
    .alert .close {
        background: url("../images/icons/noti-cross-2x.png") no-repeat scroll 0 0 transparent;
        background-position: -9px -10px;
        width: 10px;
        height: 9px;
        position: relative;
        opacity: 0.8;
        background-size: 114px 29px;
    }
}
.hidden {
    display: none !important;
}
.visible-sm,
.visible-xs {
    display: none;
}
@media (max-width: 767px) {
    .visible-xs {
        display: block;
    }
    .hidden-xs {
        display: none;
    }
}
.theme .page-sidebar .sidebar-header {
    border-bottom: transparent;
}
.theme .header {
    border-bottom: transparent;
    background-color: #f6f9fa;
}
.theme .header.light {
    background-color: #f6f9fa;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.theme .header.light.bg-white {
    background-color: #fff;
}
.theme .notification-toggle {
    left: -368px;
}
.theme .page-sidebar {
    border: 1px solid #f2f2f2;
}
.theme body.mobile .page-sidebar .sidebar-menu .menu-items li.active > a,
.theme body.mobile .page-sidebar .sidebar-menu .menu-items li.open > a {
    color: #000;
}
.theme body.mobile .page-sidebar .sidebar-menu .menu-items li.active > .icon-thumbnail,
.theme body.mobile .page-sidebar .sidebar-menu .menu-items li.open > .icon-thumbnail {
    color: #000;
}
.theme .jumbotron {
    background-color: #f6f9fa;
}
.theme .breadcrumb > .breadcrumb-item.active {
    color: #000;
}
.theme .secondary-sidebar.light {
    background-color: #f6f9fa;
}
.theme .split-view .split-list .item {
    background-color: #f6f9fa;
}
@media (max-width: 979px) {
    .theme .header {
        background: #fff;
    }
}
.page-sidebar .sidebar-header {
    border-bottom: transparent;
}
.header {
    border-bottom: transparent;
    background-color: #f6f9fa;
}
.header.light {
    background-color: #f6f9fa;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.header.light.bg-white {
    background-color: #fff;
}
.notification-toggle {
    left: -368px;
}
.page-sidebar {
    border: 1px solid #f2f2f2;
}
body.mobile .page-sidebar .sidebar-menu .menu-items li.active > a,
body.mobile .page-sidebar .sidebar-menu .menu-items li.open > a {
    color: #000;
}
body.mobile .page-sidebar .sidebar-menu .menu-items li.active > .icon-thumbnail,
body.mobile .page-sidebar .sidebar-menu .menu-items li.open > .icon-thumbnail {
    color: #000;
}
.jumbotron {
    background-color: #f6f9fa;
}
.breadcrumb > .breadcrumb-item.active {
    color: #000;
}
.secondary-sidebar.light {
    background-color: #f6f9fa;
}
.split-view .split-list .item {
    background-color: #f6f9fa;
}
@media (max-width: 979px) {
    .header {
        background: #fff;
    }
}