body.dark-theme .pace .pace-progress {
    background: #1dbb99;
}

body.dark-theme {
    background-color: #f5f5f5;
}

body.dark-theme .dashboard,
body.dark-theme .dashboard .page-container {
    background: #f0f0f0;
}

body.dark-theme .jumbotron {
    background-color: #f5f5f5;
}

body.dark-theme .copyright {
    border-top: 1px solid rgba(87, 87, 87, 0.07);
}

body.dark-theme .header {
    border-bottom: 1px solid rgba(225, 225, 225, 0.7);
}

body.dark-theme .header a {
    color: #575757;
}

body.dark-theme .header a:hover,
body.dark-theme .header a:active,
body.dark-theme .header a:focus {
    color: #575757;
}

body.dark-theme .header .bubble {
    background-color: #f35958;
}

body.dark-theme .header .search-link {
    color: #575757;
}

body.dark-theme .page-sidebar {
    background-color: #323237;
}


body.dark-theme .page-sidebar a,
body.dark-theme .page-sidebar button {
    color: #85858e;
}

body.dark-theme .page-sidebar a:hover,
body.dark-theme .page-sidebar button:hover,
body.dark-theme .page-sidebar a:active,
body.dark-theme .page-sidebar button:active {
    color: #fff;
}

body.dark-theme .page-sidebar a:hover:focus,
body.dark-theme .page-sidebar button:hover:focus,
body.dark-theme .page-sidebar a:active:focus,
body.dark-theme .page-sidebar button:active:focus {
    color: #fff;
}

body.dark-theme .page-sidebar a:visited,
body.dark-theme .page-sidebar button:visited,
body.dark-theme .page-sidebar a:focus,
body.dark-theme .page-sidebar button:focus {
    color: #85858e;
}

body.dark-theme .page-sidebar button.sidebar-slide-toggle.active {
    color: #85858e;
}

body.dark-theme .page-sidebar .sidebar-header {
    border-bottom: 1px solid #29292d;
}

body.dark-theme .page-sidebar .sidebar-overlay-slide {
    background-color: #2d2d32;
}

body.dark-theme .page-sidebar .sidebar-menu .menu-items li:hover > .icon-thumbnail,
body.dark-theme .page-sidebar .sidebar-menu .menu-items li.open > .icon-thumbnail,
body.dark-theme .page-sidebar .sidebar-menu .menu-items li.active > .icon-thumbnail {
    color: #fff;
}

body.dark-theme .page-sidebar .sidebar-menu .menu-items li:hover > a,
body.dark-theme .page-sidebar .sidebar-menu .menu-items li.open > a,
body.dark-theme .page-sidebar .sidebar-menu .menu-items li.active > a {
    color: #fff;
}

body.dark-theme .page-sidebar .sidebar-menu .menu-items > li ul.sub-menu {
    background-color: #27272a;
}

body.dark-theme .page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li:hover > .icon-thumbnail {
    color: #fff;
}

body.dark-theme .page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li .icon-thumbnail {
    background-color: transparent;
}

body.dark-theme .icon-thumbnail {
    background: #27272a;
    color: #85858e;
}

body.dark-theme .page-sidebar .sidebar-menu ul.sub-menu li.saperator > span {
    border-color: #414146;
}