label[for] {
    cursor: pointer;
}
/**
 * SweetAlert
 */
.swal2-container {
    font-family: Montserrat !important;
    zoom: 0.9;
}
.swal2-container .swal2-title {
    font-family: Montserrat !important;
    font-weight: 400;
    font-size: 1.7em;
}
.swal2-container .swal2-progress-steps .swal2-progress-step {
    padding: 0;
    margin: 0;
}
.swal2-container .swal2-icon {
    width: 5em !important;
    height: 5em !important;
    border-width: .25em !important;
}
.swal2-container .swal2-actions button {
    font-weight: 400;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    bottom: 0.45em !important;
}

/**
 * DateTimePicker TS4
 */
.bootstrap-datetimepicker-widget.dropdown-menu {
    width: initial !important;
    border: 1px solid #e6e6e6 !important;
    padding: 0 0.8em !important;
    background: #fdfdfd !important;
}
.bootstrap-datetimepicker-widget .timepicker > div {
    margin-top: 5em;
}
.bootstrap-datetimepicker-widget .timepicker .timepicker-picker .table-condensed tr td a.btn {
    padding: 10px;
    background-color: #efefef;
    color: #929292;
}
.bootstrap-datetimepicker-widget .timepicker .timepicker-picker .table-condensed tr td a.btn:hover {
    background-color: #c5c5c5;
    color: #5d5d5d;
}
.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
    background: initial !important;
}
.bootstrap-datetimepicker-widget .datepicker > div table thead tr:first-child th:hover {
    background: #efefef !important;
}
.bootstrap-datetimepicker-widget .datepicker > div table thead tr:first-child th.picker-switch {
    color:  #5d5d5d;
}
.bootstrap-datetimepicker-widget .datepicker .prev svg.svg-inline--fa path[fill=currentColor],
.bootstrap-datetimepicker-widget .datepicker .next svg.svg-inline--fa path[fill=currentColor] {
    display: none;
}
.bootstrap-datetimepicker-widget table td.disabled {
    color: #d3d3d3;
}

/**
 * Select2
 */
.select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    max-width: -webkit-fill-available;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**
 * Modal
 */
.modal.double-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

body.drug-overlay-shown .modal.double-overlay .modal-dialog {
    margin-right: 10em;
}

@media (max-width: 992px) {
    body.drug-overlay-shown .modal.double-overlay .modal-dialog {
        margin-right: 0em;
    }
}
@media (max-width: 768px) {
    body.drug-overlay-shown .modal.double-overlay .modal-dialog {
        margin-right: 0.5rem;
    }
}