.table.table-sm tbody tr td {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.table.table-sm tbody tr td a.btn.drug-experimental {
    background-color: #ffb0b0;
    color: #555;
    font-weight: 600;
}

.table.table-sm tbody tr td a.btn.drug-experimental.typo,
.table.table-sm tbody tr td a.btn.drug-experimental.synonym {
    background-color: #fddcdc;
    color: #555;
    font-weight: normal;
}

.table.table-sm tbody tr td a.btn.drug-generic {
    background-color: #ffdbb0;
    color: #555;
    font-weight: 600;
}

.table.table-sm tbody tr td a.btn.drug-generic.typo,
.table.table-sm tbody tr td a.btn.drug-generic.synonym {
    background-color: #ffecd5;
    color: #555;
    font-weight: normal;
}

.table.table-sm tbody tr td a.btn.drug-brand {
    background-color: #99c2ff;
    color: #555;
    font-weight: 600;
}

.table.table-sm tbody tr td a.btn.drug-brand.typo,
.table.table-sm tbody tr td a.btn.drug-brand.synonym {
    background-color: #d6e7ff;
    color: #555;
    font-weight: normal;
}