#drug-map-wraper {
    height: 250px;
    border: 1px solid #f1f1f1;
    overflow: auto;
    transition: all 0.5s ease;
}

#drug-map {
    min-height: 100%;
    width: 970px;
    margin: 0 auto;
}

#drug-map-actions {
    position: absolute;
    top: 78px;
    right: 30px;
    padding: 10px;
    background-color: rgba(192, 255, 190, 0.66);
    border-width: 1px;
    border-color: #b1b1b1;
    border-style: solid;
    border-radius: 3px;
    z-index: 1;
    box-shadow: 0 0 3px 0px #a2a2a2;
}

#drug-map-actions:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f053";
    font-size: 25px;
    position: absolute;
    top: -3px;
    left: -15px;
    color: #0df10c;
    text-shadow: 0px 0px 4px #4a4a4a;
}

#drug-map-legend .info-box {
    height: 28px;
    overflow: hidden;
}

#drug-map-legend .info-box.drugs {
    border: 1px solid #eaeaea;
    font-size: 18px;
}

.flowchart-operator.experimental {
    background-color: #ecf3ff;
}

#drug-map-legend .subdrug.experimental-drug,
#drug-map-legend .info-box.experimental-drug,
.flowchart-operator.experimental .flowchart-operator-title {
    background-color: #3b79e8;
    color: #fff;
}

.flowchart-operator.generic {
    background-color: #f1fdee;
}

#drug-map-legend .subdrug.generic-drug,
#drug-map-legend .info-box.generic-drug,
.flowchart-operator.generic .flowchart-operator-title {
    background-color: #a2ff90;
    color: #636363;
}

.flowchart-operator.brand {
    background-color: #f7f0ff;
}

#drug-map-legend .subdrug.brand-drug,
#drug-map-legend .info-box.brand-drug,
.flowchart-operator.brand .flowchart-operator-title {
    background-color: #903eff;
    color: #fff;
}

#drug-map-legend .info-box.selected-drug,
.flowchart-operator.selected {
    border-color: #ffa42d;
}

#drug-map-legend .info-box.selected-drug .subdrug {
    width: 33%;
}

#drug-map-legend .info-box.relations {
}

#drug-map-legend .info-box.relations .outer {
    font-size: 0;
    margin-top: 8px;
}

#drug-map-legend .info-box.relations .inner {
    background-color: #cbcbcb;
    color: #cbcbcb;
    display: inline-block;
    font-size: 7px;
    font-weight: 700;
    height: 14px;
    line-height: 15px;
    text-align: center;
    vertical-align: middle;
    width: 30%;
    margin: 0 -1px 0 -1px;
}

#drug-map-legend .info-box.relations .outer:before,
#drug-map-legend .info-box.relations .outer:after {
    content:'';
    display: inline-block;
    width:0;
    height:0;
    border:7px solid transparent;
    vertical-align: middle;
}
#drug-map-legend .info-box.relations .outer:before {
    border-top-color: #cbcbcb;
    border-bottom-color: #cbcbcb;
    border-right-color: #cbcbcb;
}
#drug-map-legend .info-box.relations .outer:after {
    border-left-color: #cbcbcb;
}

#drug-map-legend .info-box.saved-relation .inner {
    background-color: #3465ff;
    color: #3465ff;
}
#drug-map-legend .info-box.saved-relation .outer:before {
    border-top-color: #3465ff;
    border-bottom-color: #3465ff;
    border-right-color: #3465ff;
}
#drug-map-legend .info-box.saved-relation .outer:after {
    border-left-color: #3465ff;
}

#drug-map-legend .info-box.unsaved-relation .inner {
    background-color: #ff141c;
    color: #ff141c;
}
#drug-map-legend .info-box.unsaved-relation .outer:before {
    border-top-color: #ff141c;
    border-bottom-color: #ff141c;
    border-right-color: #ff141c;
}
#drug-map-legend .info-box.unsaved-relation .outer:after {
    border-left-color: #ff141c;
}

#drug-map-legend .info-box.selected-relation .inner {
    background-color: #45d5f6;
    color: #45d5f6;
}
#drug-map-legend .info-box.selected-relation .outer:before {
    border-top-color: #45d5f6;
    border-bottom-color: #45d5f6;
    border-right-color: #45d5f6;
}
#drug-map-legend .info-box.selected-relation .outer:after {
    border-left-color: #45d5f6;
}