.table.table-condensed tbody tr td,
.table.table-condensed tbody tr td :not(.dropdown-default),
.table.table-condensed thead tr th > div.abstractsReadOnlyTitles {
    max-height: 155px;
    overflow-y: auto;
    overflow-x: auto;
    text-overflow: clip;
}