.generic-fullcode-table .fullcode-heading {
    font-size: 1.2em;
}
.generic-fullcode-table .fullcode-heading span {
    font-family: monospace;
    letter-spacing: 0.2em;
}
.generic-fullcode-table tbody tr td {
    border-bottom: 0;
}