.modal-header .ncbi-logo {
    margin-bottom: 10px;
}
.modal-header .ncbi-logo img {
    width: 35px;
    height: 50px;
}
.modal-header .ncbi-logo h2 {
    margin-top: 2px;
    margin-left: 10px;
}

/** --breakpoint-sm: 576px; */
@media (min-width: 576px) {
    .ncbi-overwrite-question .swal2-modal {
        margin-right: 8.3333% !important;
    }
}