.pill-container {
    margin: 0;
    padding: 0;
}
.id-pill {
    padding: 0px 5px 0px 5px;
    font-size: 11px;
}
.pill-left {
    border-radius: 10px 0px 0px 10px;
    background-color: #bd03a6;
    float: left;
}

.pill-right {
    border-radius: 0px 10px 10px 0px;
    background-color: #28a745;
    float: left;
    margin-right: 5px;
}