{# templates/pages/drugs/brand.html.twig #}
{% extends 'layouts/content-central.html.twig' %}
{% import "__macros.html.twig" as macros %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ '/assets/vendor/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/build/page-drug-keywords.min.css') }}" />
    <script type="text/javascript">
        //<![CDATA[
        var CONST_CONTRIES   = {{ template.countries|json_encode|raw }};
        var CONST_DRUGGENREF = {{ template.generic_fullcode|json_encode|raw }};
        //]]>
    </script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ '/assets/vendor/moment/moment.min.js' }}"></script>
    <script type="text/javascript" src="{{ '/assets/vendor/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' }}"></script>
    <script type="text/javascript" src="{{ '/assets/vendor/jquery.repeater/jquery.repeater.min.js' }}"></script>
    <script type="text/javascript" src="{{ asset('assets/build/page-drug-keywords.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/build/page-drug.min.js') }}"></script>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('dashboard') }}">
                <i class="fa fa-home fa-lg"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('drug_search') }}">{{ head.entity }}</a>
        </li>
        <li class="breadcrumb-item active">
            <span>{{ head.action }}</span>
        </li>
        <li class="breadcrumb-item active">
            <a href="{{ path('drug_register_brand') }}" class="active">Brand</a>
        </li>
    </ol>
{% endblock %}

{% block inner_body %}
    {% if (is_granted('ROLE_EDITOR')) %}
    <form class="" role="form" method="POST" autocomplete="off" autofill="off">
    {% endif %}
        <div class="container-fluid p-l-25 p-r-25 p-t-0 p-b-25 sm-padding-10">

            {% include 'components/drug/heading.html.twig' %}

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="">Basic Details</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Drug Name</label>
                                        {%
                                            set attr = {
                                                'type'          : 'text',
                                                'class'         : 'form-control drug-name-field',
                                                'placeholder'   : 'Drug Name',
                                                'name'          : 'name',
                                                'value'         : drug.name,
                                                'title'         : '2 characters minimum',
                                                'pattern'       : '.{2,}',
                                                'minlength'     : 2,
                                                'maxlength'     : 150,
                                                'autocapitalize': 'none',
                                                'autocomplete'  : 'off',
                                                'autocorrect'   : 'off',
                                                'spellcheck'    : 'false',
                                                'required'      : true,
                                                'disabled'      : (not is_granted('ROLE_EDITOR'))
                                            }
                                        %}
                                        <input {{ macros.setAttributes(attr) }}/>
                                    </div>
                                    <div class="form-group">
                                        <label>UNID</label>
                                        {%
                                            set attr = {
                                                'type'          : 'text',
                                                'class'         : 'form-control input-sm',
                                                'name'          : 'unid',
                                                'value'         : drug.unid,
                                                'placeholder'   : 'Drug UNID',
                                                'maxlength'     : 32,
                                                'autocapitalize': 'off',
                                                'autocorrect'   : 'off',
                                                'autocomplete'  : 'off',
                                                'spellcheck'    : 'false',
                                                'disabled'      : (not is_granted('ROLE_EDITOR')),
                                            }
                                        %}
                                        <input {{ macros.setAttributes(attr) }}/>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="drug-valid">Valid</label>
                                                <div>
                                                    {%
                                                        set attr = {
                                                            'id'              : 'drug-valid',
                                                            'type'            : 'checkbox',
                                                            'name'            : 'valid',
                                                            'data-init-plugin': 'bootstrap4-toggle',
                                                            'data-on'         : 'Yes',
                                                            'data-off'        : 'No',
                                                            'data-size'       : 'sm',
                                                            'class'           : 'opacity-0',
                                                            'value'           : '1',
                                                            'disabled'        : (not is_granted('ROLE_EDITOR')),
                                                            'checked'         : (drug.valid_int == 1)
                                                        }
                                                    %}
                                                    <input {{ macros.setAttributes(attr) }}/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="drug-auto-encode-exclude">Auto-Encode-Exclude</label>
                                                <div>
                                                    {%
                                                        set attr = {
                                                            'id'              : 'drug-auto-encode-exclude',
                                                            'type'            : 'checkbox',
                                                            'name'            : 'auto_encode_explude',
                                                            'data-init-plugin': 'bootstrap4-toggle',
                                                            'data-on'         : 'Yes',
                                                            'data-off'        : 'No',
                                                            'data-size'       : 'sm',
                                                            'class'           : 'opacity-0',
                                                            'value'           : '1',
                                                            'disabled'        : (not is_granted('ROLE_EDITOR')),
                                                            'checked'         : (drug.auto_encode_explude_int == 1),
                                                        }
                                                    %}
                                                    <input {{ macros.setAttributes(attr) }}/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Comments</label>
                                        {%
                                            set attr = {
                                                'class'      : 'form-control auto-size',
                                                'name'       : 'comments',
                                                'rows'       : 11,
                                                'placeholder': '',
                                                'disabled'   : (not is_granted('ROLE_EDITOR'))
                                            }
                                        %}
                                        <textarea {{ macros.setAttributes(attr) }}>{{ drug.comments|raw }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Creation Date</label>
                                        <div class="input-group date" id="creation-dtpicker" data-target-input="nearest">
                                            {%
                                                set attr = {
                                                    'type'       : 'text',
                                                    'id'         : 'creation-dtpicker-input',
                                                    'class'      : 'form-control datetimepicker-input',
                                                    'name'       : 'creation_date',
                                                    'placeholder': 'Format yyyy-mm-dd hh:mm:ss',
                                                    'value'      : drug.creation_date,
                                                    'disabled'   : (not is_granted('ROLE_EDITOR')),
                                                    'data-target': '#creation-dtpicker',
                                                    'data-toggle': 'datetimepicker',
                                                }
                                            %}
                                            <input {{ macros.setAttributes(attr) }}/>
                                            <div class="input-group-append" data-target="#creation-dtpicker" data-toggle="datetimepicker">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="">Keywords</h5>
                            {{ macros.printDrugKeywordsSection('brand', drug.synonyms, drug.typos) }}
                        </div>

                        {# SUBMIT #}
                        {{ macros.printDrugSubmitCard('brand', new, drug.id) }}
                    </div>
                </div>
            </div>
        </div>
    {% if (is_granted('ROLE_EDITOR')) %}
    </form>
    {% endif %}
{% endblock %}