{# templates/pages/drugs/map.html.twig #}
{% extends 'layouts/content-central.html.twig' %}
{% import "__macros.html.twig" as macros %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ '/assets/vendor/jquery.flowchart/jquery.flowchart.min.css' }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/build/page-drug-map.min.css') }}" />
{% endblock %}

{% block heading_closure %}
    <script type="text/javascript" charset="utf-8" async defer>
        //<![CDATA[
        var map_data = {{ map|json_encode|raw }};
        //]]>
    </script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ '/assets/vendor/jquery.flowchart/jquery.flowchart.min.js' }}"></script>
    <script type="text/javascript" src="{{ asset('assets/build/page-drug-map.min.js') }}"></script>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('dashboard') }}">
                <i class="fa fa-home fa-lg"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <span>{{ head.entity }}</span>
        </li>
        <li class="breadcrumb-item active">
            <a href="{{ path('drug_open_map') }}">{{ head.action }}</a>
        </li>
    </ol>
{% endblock %}

{% block inner_body %}
    <div class="container-fluid p-l-25 p-r-25 p-t-0 sm-padding-10">
        <div class="row" id="drug-map-action-btns">
            <div class="col-12">
                {{ block('actions') }}
            </div>
        </div>

        <div class="row my-2" id="drug-map-legend" style="display: none;">
            {{ block('legend') }}
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        {{ block('warnings') }}

                        <div id="drug-map-wraper">
                            <div id="drug-map">
                                <div id="drug-map-actions" style="display: none;">
                                    <div class="remove-relation">
                                        <a href="#" class="btn btn-danger btn-sm" id="drug-map-action-remove-relation">
                                            <i class="fa fa-unlink fa-lg"></i>
                                            Unlink
                                        </a>
                                        <a href="#" class="btn btn-secondary active btn-sm" id="drug-map-action-remove-relation-cancel">
                                            Cancel
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div id="drug-map-cover" class="cover-parent" style="display: none;">
                                <div class="m-t-35 text-center">
                                    <i class="fas fa-spinner fa-pulse fa-6x text-light"></i>
                                    <h4 class="text-light">Please wait, saving taking a bit longer...</h4>
                                </div>
                            </div>
                        </div>

                        {% if (app.environment == 'dev') %}
                            <div class="m-t-40">
                                <p class="text-danger small hint-text py-2">This should be available on development only.</p>
                                <button class="btn btn-sm btn-danger" id="map-viewdata">
                                    <i class="fa fa-dumpster-fire fa-3x"></i>
                                    Dump JSON Data
                                </button>
                            </div>
                            <div class="mt-2">
                                <pre id="drug-map-data" class="code-block">{ empty }</pre>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_overlays %}
    <div class="modal fade slide-right" id="drug-map-add-new-modal" tabindex="-1" role="dialog" aria-labelledby="drug-map-add-new-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Register new Drug</h2>
                </div>

                <div class="modal-body">
                    <p>This will Register a Drug on-the-fly, then pull them on current Map.</p>

                    <div class="form-group form-group-default required mt-4">
                        <label>Type</label>
                        <div class="radio radio-success mt-0">
                            {% for type in ['experimental', 'generic', 'brand'] %}
                                <div class="d-block d-lg-inline-block mr-4 ml-4 ml-lg-0">
                                    <input type="radio" name="new-type" class="inp-new-type" value="{{ type }}" id="new-type-{{ type }}" {{ ('experimental' == type ? 'checked' : '') }}>
                                    <label for="new-type-{{ type }}">
                                        {{ type|capitalize }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group form-group-default required">
                        <label>Drug Name</label>
                        <input type="text" class="form-control" value="" id="inp-new-name">
                    </div>

                    <div class="form-group form-group-default">
                        <label for="inp-new-valid">Valid</label>
                        <div class="pull-right">
                            {%
                                set attr = {
                                    'id'              : 'inp-new-valid',
                                    'type'            : 'checkbox',
                                    'data-init-plugin': 'bootstrap4-toggle',
                                    'data-on'         : 'Yes',
                                    'data-off'        : 'No',
                                    'data-width'      : '80px',
                                    'class'           : 'opacity-0',
                                    'value'           : 'yes',
                                    'checked'         : false,
                                }
                            %}
                            <input {{ macros.setAttributes(attr) }}/>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-default btn-sm active" id="clear-new-drug">Reset</button>
                        <button type="button" class="btn btn-primary btn-sm" id="submit-new-drug">Create Drug</button>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm active" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade slide-right" id="drug-map-add-existing-modal" tabindex="-1" role="dialog" aria-labelledby="drug-map-add-existing-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Search Existing Drug</h2>
                </div>

                <div class="modal-body">
                    <p>This will Look up Drug with search terms below, then pull them on current Map.</p>

                    <div class="form-group form-group-default required mt-4">
                        <label>Type</label>
                        <div class="radio radio-success mt-0">
                            {% for type in ['any', 'experimental', 'generic', 'brand'] %}
                                <div class="d-block d-lg-inline-block mr-4 ml-4 ml-lg-0">
                                    <input type="radio" name="existing-type" class="inp-existing-type" value="{{ type }}" id="existing-type-{{ type }}" {{ ('any' == type ? 'checked' : '') }}>
                                    <label for="existing-type-{{ type }}">
                                        {{ type|capitalize }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group form-group-default required">
                        <label>Drug Name</label>
                        <input type="text" class="form-control" name="existing-name" value="" id="inp-existing-name">
                    </div>

                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-default btn-sm active" id="clear-existing-drug">Reset</button>
                        <button type="button" class="btn btn-primary btn-sm" id="submit-existing-drug">Search Drug</button>
                    </div>

                    <div id="existing-drug-search-results" class="m-t-40" style="display: none;">
                        <h4>Results</h4>
                        <div class="row">
                        </div>
                        <div class="template d-none">
                            <div class="col-12 res-col">
                                <div class="p-1 btn-group w-100">
                                    <a href="#" class="btn btn-primary w-90 d-flex drug-pull-link" title="Pull to Map">
                                        <i class="fas fa-spinner fa-pulse mr-2 mt-1 drug-pull-wait" style="display: none;"></i>
                                        <i class="fa fa-sign-in-alt fa-flip-horizontal mr-2 mt-1 drug-pull-icon"></i>
                                        <i class="drug-icon mr-2 fa-lg"></i>
                                        <strong class="text-truncate">
                                            <span class="drug-name"></span><span class="drug-desc badge badge-light ml-2 text-dark"></span>
                                        </strong>
                                    </a>
                                    <a href="#" class="btn btn-primary active drug-view-link" title="View Drug">
                                        <i class="fa fa-file-prescription fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="wait d-none">
                            <div class="col-12 text-center waiting">
                                <i class="fas fa-spinner fa-pulse fa-4x"></i>
                                <h6>
                                    Searching Drug...
                                </h6>
                            </div>
                        </div>
                        <div class="empty d-none">
                            <div class="col-12 text-center">
                                <i class="far fa-question-circle fa-4x"></i>
                                <h6>
                                    No drug found
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary active btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade fill-in" id="drug-map-instructions" tabindex="-1" role="dialog" aria-labelledby="drug-map-instructions" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Drugs Map</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <p>This map show you the relation between Drugs as a node, with heading of</p>
                            <ul class="list mb-1">
                                <li>{{ macros.printDrugFaIcon('experimental') }} or <code>E:</code> represent a <strong>Experimental</strong> Drug (far left)</li>
                                <li>{{ macros.printDrugFaIcon('generic') }} or <code>G:</code> represent a <strong>Generic</strong> Drug (middle)</li>
                                <li>{{ macros.printDrugFaIcon('brand') }} or <code>B:</code> represent a <strong>Brand</strong> Drug (far right)</li>
                            </ul>
                            <p>
                                Under the heading indicate of <u>number of <b>known</b> relation</u> of each Input / Output, in example;
                            </p>
                            <ul class="list mb-1">
                                <li>Under <code>Generic</code> heading, "<code>B: 0</code>" represent the Drug have <u>1 known relation</u> to a <code>Brand</code> drug, or</li>
                                <li>Under <code>Generic</code> heading, "<code>B: 4</code>" represent the Drug have <u>4 known relations</u> to a <code>Brand</code> drugs, and</li>
                                <li>Each of the <code>Brand</code> heading, should have "<code>G: 1</code>" that point back to said <code>Generic</code> drug</li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <h5>Drug Nodes</h5>

                            <h6>View / Edit Drug</h6>
                            <ul class="list">
                                <li>Single click on a Drug in map, then details of the drug-view-modal will be presented.</li>
                                <li>You may jump across between Drug's family, or back to Map by click Close, or hit ESC key.</li>
                                <li>
                                    On the drug-view-modal, you be able to either click Edit, to modify the drug details, or jump to it's family Map.
                                    <ul class="list">
                                        <li>Just make sure to <span class="text-danger">Saved all your changes</span> (<em>see below</em>) on current Map, before open another.</li>
                                    </ul>
                                </li>
                            </ul>

                            <h6>Delete Drug</h6>
                            <ul class="list">
                                <li>For Drug removal, please proceed to individual Drug's Edit page.</li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <h5>Relations</h5>

                            <h6>Allowed Relation</h6>
                            <ul class="list">
                                <li>Each <code>Experimental</code> shall link to <u>multiple</u> <code>Generic</code>.</li>
                                <li>However a <code>Generic</code> only link to <u>one</u> <code>Experimental</code>.</li>
                                <li>A <code>Generic</code> can be link to <u>multiple</u> <code>Brand</code>.</li>
                                <li>But a <code>Brand</code> can only link back to a <u>single</u> <code>Generic</code>.</li>
                            </ul>

                            <h6>Add Relation</h6>
                            <ul class="list">
                                <li>Single click on available <u>Output</u> (arrow on right) of a Drug.</li>
                                <li>Once click, a line will follow to an <u>Input</u> (arrow on left) of a drug.</li>
                                <li>Then save (<em>see below</em>) the changes</li>
                            </ul>

                            <h6>Remove Relation</h6>
                            <ul class="list">
                                <li>Single click on a Link/Line between Drugs.</li>
                                <li>Once click, a pop-up prompt will shown with <code>Unlink</code>, click it to remove relation.</strong>
                                <li>Then save (<em>see below</em>) the changes</li>
                            </ul>
                        </div>
                        <div class="col-12">
                            <h5>Saving Changes</h5>
                            <ul class="list">
                                <li>If <code>Auto Save</code> button is checked, all changes will be automatically save without prompt.</li>
                                <li>By unchecked this, a <code>Save Changes</code> button appear, and it to be clicked to submit any changes made on Map.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block actions %}
    <div class="card card-transparent m-b-0">
        <div class="card-header">
            <div class="card-title">
                {{ head.entity }}
            </div>
        </div>
        <div class="card-body">
            <h3 class="text-primary">
                <i class="fa fa-link"></i>
                {{ head.subtitle }}
            </h3>
            <div id="action-pull-away" class="">
                <div class="btn-group pull-right">
                    <a href="#" id="map-save" class="btn btn-secondary btn-sm disabled" disabled title="Save Changes" data-help="Once map changed, you may save the changes here" style="display: none;">
                        <i class="fa fa-save fa-lg"></i>
                        <span class="d-none d-lg-inline-block">Save Changes</span>
                    </a>
                    <span class="btn btn-secondary active btn-sm rounded-left" data-help="This option will submit any changes immediately without any other confirmation / prompt" title="Auto Save">
                        <i class="fas fa-spinner fa-pulse fa-lg mr-1" style="color: #00ff80;display: none;" id="autosave-map-indicator"></i>
                        <label for="autosave-map" class="m-0 lh-10 small mr-2 d-none d-lg-inline-block">Auto Save</label>
                        {%
                            set attr = {
                                'id'              : 'autosave-map',
                                'type'            : 'checkbox',
                                'data-init-plugin': 'bootstrap4-toggle',
                                'data-width'      : '45px',
                                'data-height'     : '12px',
                                'data-size'       : 'xs',
                                'data-onstyle'    : 'danger',
                                'data-offstyle'   : 'light',
                                'class'           : 'opacity-0',
                                'value'           : 'yes',
                                'checked'         : true,
                            }
                        %}
                        <input {{ macros.setAttributes(attr) }}/>
                    </span>
                    <a href="#" id="export-drug" class="btn btn-secondary btn-sm disabled" disabled title="Export Drugs on Map" data-help="Once map contains any Drugs, you may have option to export them into CSV file">
                        <i class="fa fa-download fa-lg"></i>
                        <span class="d-none d-lg-inline-block">Export Drugs on Map</span>
                    </a>
                    <a href="#" id="add-new-drug" class="btn btn-success active btn-sm" data-toggle="modal" data-target="#drug-map-add-new-modal" title="Add New Drug" data-help="Create new Drug on-the-fly, and pull them to Map">
                        <i class="fa fa-magic fa-lg"></i>
                        <span class="d-none d-lg-inline-block">Add New Drug</span>
                    </a>
                    <a href="#" id="add-existing-drug" class="btn btn-success active btn-sm" data-toggle="modal" data-target="#drug-map-add-existing-modal" title="Add Existing Drug" data-help="Search an existing Drug and pull them to Map">
                        <i class="fa fa-search-plus fa-lg"></i>
                        <span class="d-none d-lg-inline-block">Add Existing Drug</span>
                    </a>
                    <a href="#" id="toggle-legend" class="btn btn-primary btn-sm" title="Toggle view Legend" data-toggle="#drug-map-legend" data-help="To see this help messages">
                        <i class="fa fa-info fa-lg"></i>
                        <span class="d-none d-lg-inline-block">Legend</span>
                    </a>
                    <a href="#" id="toggle-instructions" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#drug-map-instructions" title="Read Instruction" data-help="Read full instruction explaining what and how to use this Map">
                        <i class="fa fa-question-circle fa-lg"></i>
                        <span class="d-none d-lg-inline-block">Read Instruction</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block warnings %}
    <div class="d-block d-sm-none pt-4">
        <div class="alert alert-danger text-center pt-4">
            <div class="fa-layers fa-fw fa-4x">
                <i class="fa fa-mobile-alt" data-fa-transform="grow-6"></i>
                <i class="fa fa-times" data-fa-transform="grow-2 right-4 up-1" style="opacity: 0.9;color: #ed143d;"></i>
            </div>
            <div class="pt-4 pb-2">
                This Map meant for Laptop / Desktop, or a wide screen.<br/>
                You might be having an issue to view/interact.
            </div>
        </div>
    </div>
    <div class="d-none d-sm-block d-md-none">
        <div class="alert alert-danger text-center pt-4">
            <div class="fa-layers fa-fw fa-4x">
                <i class="fa fa-tablet-alt fa-rotate-90" data-fa-transform="grow-2"></i>
                <i class="fa fa-undo fa-flip-horizontal" data-fa-transform="grow-6" style="opacity: 0.5;color: #ed8e14;"></i>
            </div>
            <div class="pt-4 pb-2">
                This Map meant for a wider screen.<br/>
                <strong>Try rotate the screen to see the map on its entirety</strong>.
            </div>
        </div>
    </div>
{% endblock %}

{% block legend %}
    <div class="col-12">
        <h6>Legend</h6>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-4 text-center">
                        Experimental Drug
                        <div class="info-box drugs experimental-drug">
                            {{ macros.printDrugFaIcon('experimental') }} &nbsp;
                            <small class="small semi-bold">Name</small>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        Generic Drug
                        <div class="info-box drugs generic-drug">
                            {{ macros.printDrugFaIcon('generic') }} &nbsp;
                            <small class="small semi-bold">Name</small>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        Brand Drug
                        <div class="info-box drugs brand-drug">
                            {{ macros.printDrugFaIcon('brand') }} &nbsp;
                            <small class="small semi-bold">Name</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center p-1">
                        <p>
                            <em class="hint-text">
                                Click on the Drug heading to view Drug details
                            </em>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-4 text-center">
                        Saved/Known Relation
                        <div class="info-box relations saved-relation">
                            <div class="outer">
                                <div class="inner">----</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        New Relation (unsaved)
                        <div class="info-box relations unsaved-relation">
                            <div class="outer">
                                <div class="inner">----</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 text-center">
                        Selected Relation
                        <div class="info-box relations selected-relation">
                            <div class="outer">
                                <div class="inner">----</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center p-1">
                        <p class="lh-17 p-1">
                            <em class="hint-text">
                                To create, click &amp; drag between Drug's output symbol, to another.<br/>
                                To remove, click on the Drug relation line for remove prompt.
                            </em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}