{# templates/pages/drugs/search.html.twig #}
{% extends 'layouts/content-central.html.twig' %}
{% import "__macros.html.twig" as macros %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ '/assets/vendor/datatables/dataTables.bootstrap4.min.css' }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/build/page-drug-search.min.css') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ '/assets/vendor/datatables/jquery.dataTables.min.js' }}"></script>
    <script type="text/javascript" src="{{ '/assets/vendor/datatables/dataTables.bootstrap4.min.js' }}"></script>
    <script type="text/javascript" src="{{ asset('assets/build/page-drug-search.min.js') }}"></script>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('dashboard') }}">
                <i class="fa fa-home fa-lg"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <span>{{ head.entity }}</span>
        </li>
        <li class="breadcrumb-item active">
            <a href="{{ path('drug_search') }}">{{ head.action }}</a>
        </li>
    </ol>
{% endblock %}

{% block inner_body %}
    <div class="container-fluid p-l-25 p-r-25 p-t-0 sm-padding-10">
        <div class="row">
            <div class="col-12">
                <div class="card card-transparent m-b-0">
                    <div class="card-header">
                        <div class="card-title">
                            {{ head.entity }}
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="text-primary">
                            <i class="fab fa-searchengin"></i>
                            {{ head.subtitle }}
                        </h3>
                        <a name="results"></a>

                        <div class="card card-default {{ (searched is not empty ? 'card-collapsed' : '') }}" data-pages="card">
                            <div class="card-header" data-toggle="collapse">
                                <div class="card-title">
                                    Search Form
                                </div>
                                <div class="card-controls">
                                    <ul>
                                        <li>
                                            <a data-toggle="collapse" class="card-collapse" href="#">
                                                <i class="icon fas fa-level-{{ (searched is not empty ? 'down' : 'up') }}-alt"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body" {{ (searched is not empty ? 'style="display:none;"' : '') }}>
                                <h6>Search by Drug Name alphabetical index</h6>
                                <div class="">
                                    {% for ind in indexing %}
                                        {%
                                            set attr = {
                                                'class': "btn btn-#{ macros.ifTrueThenReturn(ind.selected, 'success', 'info') } btn-xs m-b-5",
                                                'href' : "#{ ind.link }#results"
                                            }
                                        %}
                                        <a {{ macros.setAttributes(attr) }}>
                                            <span class="text-nowrap">{{ ind.caption }}</span>
                                        </a>
                                    {% endfor %}
                                </div>

                                <h6>or, Detail search</h6>
                                <form method="POST" class="" role="form">
                                    <div class="row">
                                        <div class="col-12 col-md-7 col-lg-7 col-xl-7">
                                            <div class="form-group form-group-default">
                                                <label>Drug Name Keyword</label>
                                                <input type="text" class="form-control" name="q" value="{{ q }}" required="required" id="search-query" />
                                            </div>
                                            <div class="form-group form-group-default">
                                                <p class="text-muted fs-12">Use these symbols to drill down the search result;</p>
                                                <ul class="text-muted fs-12 mt-2">
                                                    <li><code class="readable">^</code>&nbsp; Begins with <code class="readable">^X</code></li>
                                                    <li><code class="readable">$</code>&nbsp; Ends with <code class="readable">X$</code></li>
                                                    <li><code class="readable">*</code>&nbsp; Any / Wildcard <code class="readable">ab*x</code></li>
                                                    <li><code class="readable">+</code>&nbsp; Space concatenate between 2 words <code class="readable">ali+baba</code></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-5 col-lg-5 col-xl-4">
                                            <div class="form-group form-group-default required">
                                                <label>Type</label>
                                                <select name="type" id="search-type" data-init-plugin="select2" class="form-control" style="width: 100%;">
                                                    <option value="any"{{ macros.ifTrueThenReturn((type == 'any'), ' selected', '')}}>
                                                        Any
                                                    </option>
                                                    <option value="experimental"{{ macros.ifTrueThenReturn((type == 'experimental'), ' selected', '')}}>
                                                        Experimental Only
                                                    </option>
                                                    <option value="generic"{{ macros.ifTrueThenReturn((type == 'generic'), ' selected', '')}}>
                                                        Generic Only
                                                    </option>
                                                    <option value="brand"{{ macros.ifTrueThenReturn((type == 'brand'), ' selected', '')}}>
                                                        Brand Only
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="form-group form-group-default">
                                                <label for="opt-has-code">Limit Generic which has Full Code only</label>
                                                <div class="pull-right">
                                                    {%
                                                        set attr = {
                                                            'id'              : 'opt-has-code',
                                                            'name'            : 'has-code',
                                                            'type'            : 'checkbox',
                                                            'data-init-plugin': 'bootstrap4-toggle',
                                                            'data-on'         : 'Yes',
                                                            'data-off'        : 'No',
                                                            'data-width'      : '113px',
                                                            'data-size'       : 'sm',
                                                            'class'           : 'opacity-0',
                                                            'value'           : 'true',
                                                            'checked'         : (has_code ? true : (searched is empty)),
                                                        }
                                                    %}
                                                    <input {{ macros.setAttributes(attr) }}/>
                                                </div>
                                            </div>
                                            <div class="form-group form-group-default">
                                                <label for="opt-uid-search">Search for UID instead</label>
                                                <div class="pull-right">
                                                    {%
                                                        set attr = {
                                                            'id'              : 'opt-uid-search',
                                                            'name'            : 'uid-search',
                                                            'type'            : 'checkbox',
                                                            'data-init-plugin': 'bootstrap4-toggle',
                                                            'data-on'         : 'Yes',
                                                            'data-off'        : 'No',
                                                            'data-width'      : '113px',
                                                            'data-size'       : 'sm',
                                                            'class'           : 'opacity-0',
                                                            'value'           : 'true',
                                                            'checked'         : uid_search,
                                                        }
                                                    %}
                                                    <input {{ macros.setAttributes(attr) }}/>
                                                </div>
                                            </div>
                                            <div class="text-right">
                                                <button type="submit" class="btn btn-primary">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        {% if searched is not empty %}
                            <div class="card card-transparent" id="results-card" data-result-size="{{ overall }}">
                                <div class="card-body">
                                    <h3 class="text-primary">Search Results</h3>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <p>
                                                {% if (count == overall) %}
                                                    Found {{ count|number_format(0, '.', ',') }} Result{{ macros.ifTrueThenReturn((count > 1), 's', '') }}.
                                                {% else %}
                                                    Found {{ overall|number_format(0, '.', ',') }} related results overall,
                                                    Showing first {{ count|number_format(0, '.', ',') }} Result{{ macros.ifTrueThenReturn((count > 1), 's', '') }}.
                                                {% endif %}
                                            </p>
                                            <small class="hint-text">NOTE: This table shown partial data relevant to search terms.</small>
                                        </div>
                                        {% if (count > 0) %}
                                        <div>
                                            <a href="#" id="export-csv" class="btn btn-primary btn-sm">
                                                <i class="fa fa-file-csv fa-2x"></i>
                                                &nbsp;Export CSV
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>

                                    {% if (count > 0) %}
                                        <div class="mt-4">
                                            <div class="table-responsive">
                                                <table id="search-results" class="table table-sm table-striped table-condensed dataTable no-footer" role="grid">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th>Experimental Drug</th>
                                                            <th>Generic Drug</th>
                                                            <th>Brand Drug</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <textarea class="d-none" style="display: none;" id="search-results-data">
                                {{- found|json_encode|raw -}}
                            </textarea>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}