{# templates/pages/journals/form.html.twig #}
{% import "__macros.html.twig" as macros %}
<form class="form-horizontal" role="form" method="POST" autocomplete="off" autofill="off">
    <div class="card card-default">
        <div class="card-body">
            <h5>Information</h5>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="name" class="control-label">Name</label>
                </div>
                <div class="col-md-9">
                    <div class="input-group">
                        {%
                            set attr = {
                                'type'          : 'text',
                                'id'            : 'name',
                                'class'         : 'form-control',
                                'placeholder'   : 'Name',
                                'name'          : 'name',
                                'value'         : form.name|escape,
                                'title'         : '5 characters minimum, max at 100',
                                'pattern'       : '.{5,100}',
                                'minlength'     : 5,
                                'maxlength'     : 100,
                                'autocapitalize': 'none',
                                'autocomplete'  : 'off',
                                'autocorrect'   : 'off',
                                'spellcheck'    : 'true',
                                'required'      : true,
                            }
                        %}
                        <input {{ macros.setAttributes(attr) }}/>
                        <div class="input-group-append">
                            {%
                                set attr = {
                                    'href'           : '#',
                                    'class'          : 'btn btn-secondary ncbi-search active',
                                    'data-ncbi-field': 'title',
                                    'title'          : 'Lookup Journal Name on NCBI',
                                    'data-toggle'    : 'modal',
                                    'data-target'    : '#ncbi-search-modal',
                                    'disabled'       : true,
                                }
                            %}
                            <a {{ macros.setAttributes(attr) }}/>
                                <i class="fas fa-search mr-1"></i> NCBI
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="abbreviation" class="control-label">Abbreviation</label>
                </div>
                <div class="col-md-9">
                    <div class="input-group">
                        {%
                            set attr = {
                                'type'          : 'text',
                                'id'            : 'abbreviation',
                                'class'         : 'form-control',
                                'placeholder'   : 'Abbreviation',
                                'name'          : 'abbreviation',
                                'value'         : form.abbreviation|escape,
                                'title'         : '5 characters minimum, max at 100',
                                'pattern'       : '.{5,100}',
                                'minlength'     : 5,
                                'maxlength'     : 100,
                                'autocapitalize': 'none',
                                'autocomplete'  : 'off',
                                'autocorrect'   : 'off',
                                'spellcheck'    : 'true',
                                'required'      : true,
                            }
                        %}
                        <input {{ macros.setAttributes(attr) }}/>
                        <div class="input-group-append">
                            {%
                                set attr = {
                                    'href'           : '#',
                                    'class'          : 'btn btn-secondary ncbi-search active',
                                    'data-ncbi-field': 'abbreviation',
                                    'title'          : 'Lookup Journal Abbreviation on NCBI',
                                    'data-toggle'    : 'modal',
                                    'data-target'    : '#ncbi-search-modal',
                                    'disabled'       : true,
                                }
                            %}
                            <a {{ macros.setAttributes(attr) }}/>
                                <i class="fas fa-search mr-1"></i> NCBI
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="specialty-selector" class="control-label">Specialties</label>
                    <p class="hint-text small">
                        <em>Select more then one Specialty by holding CTRL or CMD key.<br/>
                        To add new one, just simply type-in, then hit Enter key.</em>
                    </p>
                </div>
                <div class="col-md-9">
                    {%
                        set attr = {
                            'id'              : 'specialty-selector',
                            'class'           : 'form-control show-tick',
                            'name'            : 'specialty[]',
                            'multiple'        : true,
                            'data-init-plugin': 'select2',
                            'data-tags'       : 'true',
                            'data-allow-clear': 'true',
                            'style'           : 'width: 100%;',
                        }
                    %}
                    <select {{ macros.setAttributes(attr) }}>
                        {%- for specialty in template.specialty -%}
                            {%-
                                set attr = {
                                    'value'   : specialty.id,
                                    'selected': specialty.selected,
                                }
                            -%}
                            <option {{ macros.setAttributes(attr) }}>{{ specialty.name }}</option>
                        {%- endfor -%}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="fname" class="control-label">Year / Volumes / Issue</label>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group-default">
                                <label for="volume">Year</label>
                                {%
                                    set attr = {
                                        'type'          : 'text',
                                        'id'            : 'volume',
                                        'class'         : 'form-control',
                                        'name'          : 'volume',
                                        'value'         : form.volume|escape,
                                        'title'         : '4 characters minimum, max at 200',
                                        'pattern'       : '.{4,200}',
                                        'minlength'     : 4,
                                        'maxlength'     : 200,
                                        'autocapitalize': 'none',
                                        'autocomplete'  : 'off',
                                        'autocorrect'   : 'off',
                                        'spellcheck'    : 'false',
                                    }
                                %}
                                <input {{ macros.setAttributes(attr) }}/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group-default">
                                <label for="issue">Volume / Issue</label>
                                {%
                                    set attr = {
                                        'type'          : 'text',
                                        'id'            : 'issue',
                                        'class'         : 'form-control',
                                        'name'          : 'issue',
                                        'value'         : form.issue|escape,
                                        'title'         : '4 characters minimum, max at 200',
                                        'pattern'       : '.{4,200}',
                                        'minlength'     : 4,
                                        'maxlength'     : 200,
                                        'autocapitalize': 'none',
                                        'autocomplete'  : 'off',
                                        'autocorrect'   : 'off',
                                        'spellcheck'    : 'false',
                                    }
                                %}
                                <input {{ macros.setAttributes(attr) }}/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="fname" class="control-label">Journal Report</label>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group-default">
                                <label for="jr1">JR1</label>
                                {%
                                    set attr = {
                                        'type'   : 'text',
                                        'id'     : 'jr1',
                                        'class'  : 'form-control',
                                        'name'   : 'jr1',
                                        'value'  : form.jr1,
                                        'step'   : '.01',
                                        'min'    : '0.00',
                                        'pattern': '\\d{1,2}\\\.\\d{2}',
                                    }
                                %}
                                <input {{ macros.setAttributes(attr) }}/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group-default">
                                <label for="jr2">JR2</label>
                                {%
                                    set attr = {
                                        'type' : 'text',
                                        'id'   : 'jr2',
                                        'class': 'form-control',
                                        'name' : 'jr2',
                                        'value': form.jr2,
                                        'step' : '.01',
                                        'min'  : '0.00',
                                        'pattern': '\\d{1,2}\\\.\\d{2}',
                                    }
                                %}
                                <input {{ macros.setAttributes(attr) }}/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 control-label">Other Attributes</label>
                <div class="col-md-9">
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <p>MedLine Journal?</p>
                            {{ macros.printRadioFields('opt-is-medline',
                                {
                                        'inline': true,
                                        'values' : template.ismedline
                                    },
                                    'ismedline'
                                )
                            }}
                            <div id="issn-wrapper" style="display: none;">
                                <div class="form-group-default">
                                    <label>ISSN</label>
                                    <div class="input-group">
                                        {%
                                            set attr = {
                                                'type'          : 'text',
                                                'id'            : 'issn',
                                                'class'         : 'form-control mt-1',
                                                'name'          : 'issn',
                                                'value'         : form.issn,
                                                'pattern'       : '.{4}-.{4}',
                                                'minlength'     : 9,
                                                'maxlength'     : 9,
                                                'autocapitalize': 'none',
                                                'autocomplete'  : 'off',
                                                'autocorrect'   : 'off',
                                                'spellcheck'    : 'false',
                                            }
                                        %}
                                        <input {{ macros.setAttributes(attr) }}/>
                                        <div class="input-group-append">
                                            {%
                                                set attr = {
                                                    'href'           : '#',
                                                    'class'          : 'btn btn-secondary ncbi-search active btn-xs',
                                                    'data-ncbi-field': 'issn',
                                                    'title'          : 'Lookup Journal ISSN on NCBI',
                                                    'data-toggle'    : 'modal',
                                                    'data-target'    : '#ncbi-search-modal',
                                                    'disabled'       : true,
                                                }
                                            %}
                                            <a {{ macros.setAttributes(attr) }}/>
                                                <i class="fas fa-search mr-1"></i> NCBI
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p>SecondLine Journal?</p>
                            {{ macros.printRadioFields('opt-is-secondline',
                                {
                                        'inline': true,
                                        'values' : template.issecondline
                                    },
                                    'issecondline'
                                )
                            }}
                        </div>
                        <div class="col-md-4">
                            <p>DgAbstract Journal?</p>
                            {{ macros.printRadioFields('opt-is-dg-abstract',
                                {
                                        'inline': true,
                                        'values' : template.isdgabstract
                                    },
                                    'isdgabstract'
                                )
                            }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <p>Not being Updated?</p>
                            {{ macros.printRadioFields('opt-is-not-updated',
                                {
                                        'inline': true,
                                        'values' : template.notbeingupdated
                                    },
                                    'notbeingupdated'
                                )
                            }}
                        </div>
                        <div class="col-md-4">
                            <p>Drug being monitored?</p>
                            {{ macros.printRadioFields('opt-is-drug-monitored',
                                {
                                        'inline': true,
                                        'values' : template.drugsmonitored
                                    },
                                    'drugsmonitored'
                                )
                            }}
                        </div>
                        <div class="col-md-4">
                            <p>Global Edition journal?</p>
                            {{ macros.printRadioFields('opt-is-global-journal',
                                {
                                        'inline': true,
                                        'values' : template.globaleditionjournal
                                    },
                                    'globaleditionjournal'
                                )
                            }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <p>Manual Creation?</p>
                            {{ macros.printRadioFields('opt-manual-creation',
                                {
                                        'inline': true,
                                        'values' : template.manualcreation
                                    },
                                    'manualcreation'
                                )
                            }}
                        </div>
                        <div class="col-md-4">
                            <p>Deleted?</p>
                            {{ macros.printRadioFields('opt-is-deleted',
                                {
                                        'inline': true,
                                        'values' : template.deleted
                                    },
                                    'deleted'
                                )
                            }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-default">
        <div class="card-body">
            <h5>URL</h5>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="urlurl" class="control-label">URL</label>
                </div>
                <div class="col-md-9">
                    {%
                        set attr = {
                            'type'          : 'url',
                            'id'            : 'urlurl',
                            'class'         : 'form-control',
                            'name'          : 'urlurl',
                            'value'         : form.urlurl|escape,
                            'autocapitalize': 'none',
                            'autocomplete'  : 'off',
                            'autocorrect'   : 'off',
                            'spellcheck'    : 'false',
                        }
                    %}
                    <input {{ macros.setAttributes(attr) }}/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="fname" class="control-label">Dates</label>
                </div>
                <div class="col-md-9">
                    <div class="row mb-2">
                        <div class="col-4">
                            <div id="urlupdatedon-datetimepicker-area"></div>
                            <div class="form-group-default" id="urlupdatedon-wrapper" data-target-input="#urlupdatedon-input">
                                <label for="urlupdatedon-input">Updated On</label>
                                {%
                                    set attr = {
                                        'type'          : 'text',
                                        'id'            : 'urlupdatedon-input',
                                        'class'         : 'form-control datetimepicker-input',
                                        'name'          : 'urlupdatedon',
                                        'value'         : form.urlupdatedon,
                                        'autocapitalize': 'none',
                                        'autocomplete'  : 'off',
                                        'autocorrect'   : 'off',
                                        'spellcheck'    : 'false',
                                        'required'      : false,
                                        'data-target'   : '#urlupdatedon-wrapper',
                                        'placeholder'   : 'Format YYYY-MM-DD',
                                    }
                                %}
                                <input {{ macros.setAttributes(attr) }}/>
                            </div>
                        </div>
                        <div class="col-4">
                            <div id="urltoupdate-datetimepicker-area"></div>
                            <div class="form-group-default" id="urltoupdate-wrapper" data-target-input="#urltoupdate-input">
                                <label for="urltoupdate-input">To Update</label>
                                {%
                                    set attr = {
                                        'type'          : 'text',
                                        'id'            : 'urltoupdate-input',
                                        'class'         : 'form-control datetimepicker-input',
                                        'name'          : 'urltoupdate',
                                        'value'         : form.urltoupdate,
                                        'autocapitalize': 'none',
                                        'autocomplete'  : 'off',
                                        'autocorrect'   : 'off',
                                        'spellcheck'    : 'false',
                                        'required'      : false,
                                        'data-target'   : '#urltoupdate-wrapper',
                                        'placeholder'   : 'Format YYYY-MM-DD',
                                    }
                                %}
                                <input {{ macros.setAttributes(attr) }}/>
                            </div>
                        </div>
                        <div class="col-4">
                            <div id="urlviewedon-datetimepicker-area"></div>
                            <div class="form-group-default" id="urlviewedon-wrapper" data-target-input="#urlviewedon-input">
                                <label for="urlviewedon-input">Viewed On</label>
                                {%
                                    set attr = {
                                        'type'          : 'text',
                                        'id'            : 'urlviewedon-input',
                                        'class'         : 'form-control datetimepicker-input',
                                        'name'          : 'urlviewedon',
                                        'value'         : form.urlviewedon,
                                        'autocapitalize': 'none',
                                        'autocomplete'  : 'off',
                                        'autocorrect'   : 'off',
                                        'spellcheck'    : 'false',
                                        'required'      : false,
                                        'data-target'   : '#urlviewedon-wrapper',
                                        'placeholder'   : 'Format YYYY-MM-DD',
                                    }
                                %}
                                <input {{ macros.setAttributes(attr) }}/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group-default">
                                <label for="urlviewedoncomment">Viewed On Comment</label>
                                {%
                                    set attr = {
                                        'type'          : 'text',
                                        'id'            : 'urlviewedoncomment',
                                        'class'         : 'form-control',
                                        'name'          : 'urlviewedoncomment',
                                        'value'         : form.urlviewedoncomment,
                                        'autocapitalize': 'none',
                                        'autocomplete'  : 'off',
                                        'autocorrect'   : 'off',
                                        'spellcheck'    : 'false',
                                    }
                                %}
                                <input {{ macros.setAttributes(attr) }}/>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group-default">
                                <label for="urlfrequency">Frequency</label>
                                {%
                                    set attr = {
                                        'type'          : 'text',
                                        'id'            : 'urlfrequency',
                                        'class'         : 'form-control',
                                        'name'          : 'urlfrequency',
                                        'value'         : form.urlfrequency,
                                        'autocapitalize': 'none',
                                        'autocomplete'  : 'off',
                                        'autocorrect'   : 'off',
                                        'spellcheck'    : 'false',
                                    }
                                %}
                                <input {{ macros.setAttributes(attr) }}/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="fname" class="control-label">Notes</label>
                </div>
                <div class="col-md-9">
                    <textarea name="urlnote" rows="6" class="form-control">{{ form.urlnote|raw }}</textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="fname" class="control-label">Credentials</label>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group-default">
                                <label for="urlusername">Username</label>
                                {%
                                    set attr = {
                                        'type'          : 'text',
                                        'id'            : 'urlusername',
                                        'class'         : 'form-control',
                                        'name'          : 'urlusername',
                                        'value'         : form.urlusername|escape,
                                        'autocapitalize': 'none',
                                        'autocomplete'  : 'off',
                                        'autocorrect'   : 'off',
                                        'spellcheck'    : 'false',
                                    }
                                %}
                                <input {{ macros.setAttributes(attr) }}/>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group-default">
                                <label for="urlpassword">Password</label>
                                {%
                                    set attr = {
                                        'type'          : 'text',
                                        'id'            : 'urlpassword',
                                        'class'         : 'form-control',
                                        'name'          : 'urlpassword',
                                        'value'         : form.urlpassword|escape,
                                        'autocapitalize': 'none',
                                        'autocomplete'  : 'off',
                                        'autocorrect'   : 'off',
                                        'spellcheck'    : 'false',
                                    }
                                %}
                                <input {{ macros.setAttributes(attr) }}/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-default">
        <div class="card-body">
            <h5>Publisher</h5>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="publishername" class="control-label">Type / Name</label>
                </div>
                <div class="col-md-9">
                    {%
                        set attr = {
                            'type'          : 'text',
                            'id'            : 'publishername',
                            'class'         : 'form-control',
                            'name'          : 'publishername',
                            'value'         : form.publishername|escape,
                            'autocomplete'  : 'on',
                            'autocorrect'   : 'on',
                            'spellcheck'    : 'true',
                        }
                    %}
                    <input {{ macros.setAttributes(attr) }}/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="publisherregurl" class="control-label">Registration Link</label>
                </div>
                <div class="col-md-9">
                    {%
                        set attr = {
                            'type'          : 'url',
                            'id'            : 'publisherregurl',
                            'class'         : 'form-control',
                            'name'          : 'publisherregurl',
                            'value'         : form.publisherregurl|escape,
                            'autocomplete'  : 'on',
                            'autocorrect'   : 'on',
                            'spellcheck'    : 'true',
                        }
                    %}
                    <input {{ macros.setAttributes(attr) }}/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="fname" class="control-label">Audience</label>
                    <p class="hint-text small">
                        <em>
                            Select more then one <strong>Language</strong> by holding CTRL or CMD key.
                            To add new one, just simply type-in, then hit Enter key.<br/>
                            <br/>
                            Select <strong>Country</strong> and a suggested <strong>Region</strong> will be assign,
                            or vice-versa, <strong>filtered Countries</strong> will be available.
                        </em>
                    </p>
                </div>
                <div class="col-md-9">
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <div class="form-group-default">
                                <label>Languages</label>
                                {%
                                    set attr = {
                                        'id'              : 'audiencelanguages-select',
                                        'class'           : 'form-control show-tick',
                                        'name'            : 'audiencelanguages[]',
                                        'multiple'        : true,
                                        'data-init-plugin': 'select2',
                                        'data-tags'       : 'true',
                                        'data-allow-clear': 'true',
                                        'data-placeholder': 'n/a',
                                        'style'           : 'width: 100%;',
                                    }
                                %}
                                <select {{ macros.setAttributes(attr) }}>
                                    <option value=""></option>
                                    {%- for language in template.audiencelanguages -%}
                                        {%-
                                            set attr = {
                                                'value'   : language.value,
                                                'selected': language.selected,
                                            }
                                        -%}
                                        <option {{ macros.setAttributes(attr) }}>{{ language.value }}</option>
                                    {%- endfor -%}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group-default">
                                <label>Country</label>
                                {%
                                    set attr = {
                                        'id'              : 'audiencecountry-select',
                                        'class'           : 'form-control show-tick',
                                        'name'            : 'audiencecountry',
                                        'multiple'        : false,
                                        'data-init-plugin': 'select2',
                                        'data-tags'       : 'false',
                                        'data-allow-clear': 'true',
                                        'data-placeholder': 'n/a',
                                        'style'           : 'width: 100%;',
                                    }
                                %}
                                <select {{ macros.setAttributes(attr) }}>
                                    <option value=""></option>
                                    {%- for country in template.audiencecountry -%}
                                        {%-
                                            set attr = {
                                                'value'   : country.isocode,
                                                'selected': country.selected,
                                            }
                                        -%}
                                        <option {{ macros.setAttributes(attr) }}>{{ country.name }}</option>
                                    {%- endfor -%}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group-default">
                                <label>Region</label>
                                {%
                                    set attr = {
                                        'id'              : 'audienceregion-select',
                                        'class'           : 'form-control show-tick',
                                        'name'            : 'audienceregion',
                                        'multiple'        : false,
                                        'data-init-plugin': 'select2',
                                        'data-tags'       : 'false',
                                        'data-allow-clear': 'true',
                                        'data-placeholder': 'n/a',
                                        'style'           : 'width: 100%;',
                                    }
                                %}
                                <select {{ macros.setAttributes(attr) }}>
                                    <option value=""></option>
                                    {%- for region in template.audienceregion -%}
                                        {%-
                                            set attr = {
                                                'value'   : region.id,
                                                'title'   : region.name,
                                                'selected': region.selected,
                                            }
                                        -%}
                                        <option {{ macros.setAttributes(attr) }}>{{ region.caption }}</option>
                                    {%- endfor -%}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="edition" class="control-label">Editions</label>
                    <p class="hint-text small">
                        <em>Select more then one <strong>Editions</strong> by holding CTRL or CMD key.<br/>
                        To add new one, just simply type-in, then hit Enter key.</em>
                    </p>
                </div>
                <div class="col-md-9">
                    {%
                        set attr = {
                            'id'              : 'edition-select',
                            'class'           : 'form-control show-tick',
                            'name'            : 'edition[]',
                            'multiple'        : true,
                            'data-init-plugin': 'select2',
                            'data-tags'       : 'true',
                            'data-allow-clear': 'true',
                            'data-placeholder': 'n/a',
                            'style'           : 'width: 100%;',
                        }
                    %}
                    <select {{ macros.setAttributes(attr) }}>
                        <option value=""></option>
                        {%- for language in template.edition -%}
                            {%-
                                set attr = {
                                    'value'   : language.value,
                                    'selected': language.selected,
                                }
                            -%}
                            <option {{ macros.setAttributes(attr) }}>{{ language.value }}</option>
                        {%- endfor -%}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="copyright" class="control-label">Copyright</label>
                </div>
                <div class="col-md-9">
                    {%
                        set attr = {
                            'type'          : 'text',
                            'id'            : 'copyright',
                            'class'         : 'form-control',
                            'name'          : 'copyright',
                            'value'         : form.copyright|escape,
                            'autocomplete'  : 'on',
                            'autocorrect'   : 'on',
                            'spellcheck'    : 'true',
                        }
                    %}
                    <input {{ macros.setAttributes(attr) }}/>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-default">
        <div class="card-body">
            <h5>Abstract / Full Text</h5>
            <div class="form-group row">
                <label class="col-md-3 control-label">Abstract</label>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Abstract?</p>
                            {{ macros.printRadioFields('opt-has-abstract',
                                {
                                        'inline': true,
                                        'values' : template.absabstract
                                    },
                                    'absabstract'
                                )
                            }}
                        </div>
                        <div class="col-md-4">
                            <p>Register for Abstract?</p>
                            {{ macros.printRadioFields('opt-register-for-abstract',
                                {
                                        'inline': true,
                                        'values' : template.absregforabstract
                                    },
                                    'absregforabstract'
                                )
                            }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 control-label">FullText</label>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-5">
                            <p>FullText Available?</p>
                            {{ macros.printRadioFields('opt-has-fulltext',
                                {
                                        'inline': true,
                                        'values' : template.absftavailable
                                    },
                                    'absftavailable'
                                )
                            }}
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Register for FullText?</p>
                                    {{ macros.printRadioFields('opt-register-for-fulltext',
                                        {
                                                'inline': true,
                                                'values' : template.absregforfulltext
                                            },
                                            'absregforfulltext'
                                        )
                                    }}
                                </div>
                                <div class="col-md-6">
                                    <p>Fee for FullText?</p>
                                    {{ macros.printRadioFields('opt-fee-for-fulltext',
                                        {
                                                'inline': true,
                                                'values' : template.absfeeforfulltext
                                            },
                                            'absfeeforfulltext'
                                        )
                                    }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="fname" class="control-label">Comments</label>
                </div>
                <div class="col-md-9">
                    <textarea name="abscomments" rows="5" class="form-control">{{ form.abscomments|raw }}</textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-default">
        <div class="card-body">
            <h5>Validation</h5>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="fname" class="control-label">Document</label>
                </div>
                <div class="col-md-9">
                    <div class="row mb-2">
                        <div class="col-md-12">
                            <div class="form-group-default">
                                <label>Status</label>
                                {%
                                    set attr = {
                                        'class'           : 'form-control show-tick',
                                        'name'            : 'valstatus',
                                        'data-init-plugin': 'select2',
                                        'data-allow-clear': 'true',
                                        'style'           : 'width: 100%;',
                                    }
                                %}
                                <select {{ macros.setAttributes(attr) }}>
                                    {%- for status in template.valstatus -%}
                                        {%-
                                            set attr = {
                                                'value'   : status.value,
                                                'selected': status.selected,
                                            }
                                        -%}
                                        <option {{ macros.setAttributes(attr) }}>{{ status.caption }}</option>
                                    {%- endfor -%}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group-default">
                                <label for="valauthor">Author</label>
                                {%
                                    set attr = {
                                        'type'          : 'text',
                                        'id'            : 'valauthor',
                                        'class'         : 'form-control',
                                        'name'          : 'valauthor',
                                        'value'         : form.valauthor|escape,
                                        'autocomplete'  : 'on',
                                        'autocorrect'   : 'on',
                                        'spellcheck'    : 'true',
                                    }
                                %}
                                <input {{ macros.setAttributes(attr) }}/>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div id="valdatecomposed-datetimepicker-area"></div>
                            <div class="form-group-default" id="valdatecomposed-wrapper" data-target-input="#valdatecomposed-input">
                                <label for="valdatecomposed-input">Updated On</label>
                                {%
                                    set attr = {
                                        'type'          : 'text',
                                        'id'            : 'valdatecomposed-input',
                                        'class'         : 'form-control datetimepicker-input',
                                        'name'          : 'valdatecomposed',
                                        'value'         : form.valdatecomposed,
                                        'autocapitalize': 'none',
                                        'autocomplete'  : 'off',
                                        'autocorrect'   : 'off',
                                        'spellcheck'    : 'false',
                                        'required'      : false,
                                        'data-target'   : '#valdatecomposed-wrapper',
                                        'placeholder'   : 'Format YYYY-MM-DD HH:MM:SS',
                                    }
                                %}
                                <input {{ macros.setAttributes(attr) }}/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="fname" class="control-label">Cleared</label>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group-default">
                                <label for="valclearedby">By</label>
                                {%
                                    set attr = {
                                        'type'          : 'text',
                                        'id'            : 'valclearedby',
                                        'class'         : 'form-control',
                                        'name'          : 'valclearedby',
                                        'value'         : form.valclearedby|escape,
                                        'autocomplete'  : 'on',
                                        'autocorrect'   : 'on',
                                        'spellcheck'    : 'true',
                                    }
                                %}
                                <input {{ macros.setAttributes(attr) }}/>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div id="valclearedon-datetimepicker-area"></div>
                            <div class="form-group-default" id="valclearedon-wrapper" data-target-input="#valclearedon-input">
                                <label for="valclearedon-input">On</label>
                                {%
                                    set attr = {
                                        'type'          : 'text',
                                        'id'            : 'valclearedon-input',
                                        'class'         : 'form-control datetimepicker-input',
                                        'name'          : 'valclearedon',
                                        'value'         : form.valclearedon,
                                        'autocapitalize': 'none',
                                        'autocomplete'  : 'off',
                                        'autocorrect'   : 'off',
                                        'spellcheck'    : 'false',
                                        'required'      : false,
                                        'data-target'   : '#valclearedon-wrapper',
                                        'placeholder'   : 'Format YYYY-MM-DD HH:MM:SS',
                                    }
                                %}
                                <input {{ macros.setAttributes(attr) }}/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 control-label">Exports</label>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Copied / Exported?</p>
                            {{ macros.printRadioFields('opt-has-export',
                                {
                                        'inline': true,
                                        'values' : template.valexported
                                    },
                                    'valexported'
                                )
                            }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="valmodified" class="control-label">Last Modified</label>
                </div>
                <div class="col-md-9">
                    {%
                        set attr = {
                            'type'          : 'text',
                            'id'            : 'valmodified',
                            'class'         : 'form-control',
                            'name'          : 'valmodified',
                            'value'         : form.valmodified|escape,
                            'autocomplete'  : 'on',
                            'autocorrect'   : 'on',
                            'spellcheck'    : 'true',
                        }
                    %}
                    <input {{ macros.setAttributes(attr) }}/>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-default">
        <div class="card-body">
            <h5>Article Ordering</h5>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="artodrhtmlcode" class="control-label">Journal HTML Order Code</label>
                </div>
                <div class="col-md-9">
                    {%
                        set attr = {
                            'type'          : 'text',
                            'id'            : 'artodrhtmlcode',
                            'class'         : 'form-control',
                            'name'          : 'artodrhtmlcode',
                            'value'         : form.artodrhtmlcode|escape,
                            'autocomplete'  : 'on',
                            'autocorrect'   : 'on',
                            'spellcheck'    : 'true',
                        }
                    %}
                    <input {{ macros.setAttributes(attr) }}/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="artodrcgival" class="control-label">CGI Value</label>
                </div>
                <div class="col-md-9">
                    {%
                        set attr = {
                            'type'          : 'text',
                            'id'            : 'artodrcgival',
                            'class'         : 'form-control',
                            'name'          : 'artodrcgival',
                            'value'         : form.artodrcgival|escape,
                            'autocomplete'  : 'on',
                            'autocorrect'   : 'on',
                            'spellcheck'    : 'true',
                        }
                    %}
                    <input {{ macros.setAttributes(attr) }}/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="artodrprinter" class="control-label">Printer Name</label>
                </div>
                <div class="col-md-9">
                    {%
                        set attr = {
                            'type'          : 'text',
                            'id'            : 'artodrprinter',
                            'class'         : 'form-control',
                            'name'          : 'artodrprinter',
                            'value'         : form.artodrprinter|escape,
                            'autocomplete'  : 'on',
                            'autocorrect'   : 'on',
                            'spellcheck'    : 'true',
                        }
                    %}
                    <input {{ macros.setAttributes(attr) }}/>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-default">
        <div class="card-body">
            <h5>Miscellaneous</h5>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="prevunid" class="control-label">UNID</label>
                    <p class="hint-text small">
                        <em>
                            32 Characters identifier from previous system, for reference only.
                            This Journal is reachable by this ID.
                        </em>
                    </p>
                </div>
                <div class="col-md-9">
                    {%
                        set attr = {
                            'type'          : 'text',
                            'id'            : 'prevunid',
                            'class'         : 'form-control text-master',
                            'value'         : (journal is defined ? (journal.getUnid() ?? '') : ''),
                            'disabled'      : true,
                        }
                    %}
                    <input {{ macros.setAttributes(attr) }}/>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="prevunid" class="control-label">Row GUID</label>
                    <p class="hint-text small">
                        <em>
                            Another identifier used on previous system, for reference only.
                            Journal not reachable by this ID.
                        </em>
                    </p>
                </div>
                <div class="col-md-9">
                    {%
                        set attr = {
                            'type'          : 'text',
                            'id'            : 'prevunid',
                            'class'         : 'form-control text-master',
                            'value'         : (journal is defined ? journal.getDetailsPreviousRowGuid() : ''),
                            'disabled'      : true,
                        }
                    %}
                    <input {{ macros.setAttributes(attr) }}/>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <div>
                {% if journal is defined %}
                    {%
                        set attr = {
                            'id'   : 'remove-journal',
                            'class': 'btn btn-danger',
                            'href' : path('journal_remove', {'id': journal.getid() }),
                        }
                    %}
                    <a {{ macros.setAttributes(attr) }}>
                        <i class="far fa-trash-alt fa-lg mr-1"></i>
                        Remove this Journal
                    </a>
                {% endif %}
            </div>
            <div>
                {%
                    set attr = {
                        'type'    : 'submit',
                        'class'   : 'btn btn-primary',
                        'disabled': (not is_granted('ROLE_EDITOR')),
                    }
                %}
                <button {{ macros.setAttributes(attr) }}>
                    <i class="fa fa-save fa-lg mr-1"></i>
                    {{ (journal is defined ? 'Update' : 'Register') }} Journal
                </button>
            </div>
        </div>
    </div>
</form>