{# templates/pages/journals/search.html.twig #}
{% extends 'layouts/content-central.html.twig' %}
{% import "__macros.html.twig" as macros %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ '/assets/vendor/datatables/dataTables.bootstrap4.min.css' }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/build/page-confjour-advance-search.min.css') }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ '/assets/vendor/datatables/jquery.dataTables.min.js' }}"></script>
    <script type="text/javascript" src="{{ '/assets/vendor/datatables/dataTables.bootstrap4.min.js' }}"></script>
    <script type="text/javascript" src="{{ asset('assets/build/page-confjour-advance-search.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/build/page-journal-search.min.js') }}"></script>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('dashboard') }}">
                <i class="fa fa-home fa-lg"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <span>{{ head.entity }}</span>
        </li>
        <li class="breadcrumb-item active">
            <a href="{{ path(app.request.attributes.get('_route')) }}">{{ head.action }}</a>
        </li>
    </ol>
{% endblock %}

{% block inner_body %}
    <div class="container-fluid p-l-25 p-r-25 p-t-0 p-b-25 sm-padding-10">
        <div class="row">
            <div class="col-12">
                <div class="card card-transparent m-b-0">
                    <div class="card-header">
                        <div class="card-title">
                            {{ head.entity }}
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="text-primary">
                            <i class="fa fa-book-reader"></i>
                            {{ head.subtitle }}
                        </h3>
                        <a name="results"></a>

                        <div class="card card-default {{ (meta.overall > 0 ? 'card-collapsed' : '') }}" data-pages="card">
                            <div class="card-header" data-toggle="collapse">
                                <div class="card-title">
                                    Search Form
                                </div>
                                <div class="card-controls">
                                    <ul>
                                        <li>
                                            <a data-toggle="collapse" class="card-collapse" href="#">
                                                <i class="icon fas fa-level-{{ (meta.overall > 0 ? 'down' : 'up') }}-alt"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body mt-2" {{ (meta.overall > 0 ? 'style="display:none;"' : '') }}>
                                <form id="journals-search" class="search-form" role="form" method="GET" autocomplete="off" autofill="off">
                                    <div class="row">
                                        <div class="col-md-8 col-lg-7 col-xl-8">
                                            <div class="form-group form-group-default">
                                                <label>Name / Abbreviation **</label>
                                                <p class="help-text text-primary hint-text small" style="display: none;">
                                                    Either Journal Name or Abbreviation filter. Consider using the search-symbol below to help filter down the results.
                                                </p>
                                                {%
                                                    set attr = {
                                                        'type'          : 'text',
                                                        'class'         : 'form-control',
                                                        'name'          : 'name',
                                                        'value'         : form.name,
                                                        'autocapitalize': 'none',
                                                        'autocomplete'  : 'off',
                                                        'autocorrect'   : 'off',
                                                        'spellcheck'    : 'false',
                                                        'required'      : false,
                                                    }
                                                %}
                                                <input {{ macros.setAttributes(attr) }}>
                                            </div>
                                            <div class="form-group form-group-default">
                                                <label>Volume / Issue / Number **</label>
                                                <p class="help-text text-primary hint-text small" style="display: none;">
                                                    Either Volume or Issue / Number filter. Consider using the search-symbol below to help filter down the results.
                                                </p>
                                                {%
                                                    set attr = {
                                                        'type'          : 'text',
                                                        'class'         : 'form-control',
                                                        'name'          : 'volume',
                                                        'value'         : form.volume,
                                                        'autocapitalize': 'none',
                                                        'autocomplete'  : 'off',
                                                        'autocorrect'   : 'off',
                                                        'spellcheck'    : 'false',
                                                        'required'      : false,
                                                    }
                                                %}
                                                <input {{ macros.setAttributes(attr) }}>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label>Status</label>
                                                        <p class="help-text text-primary hint-text small" style="display: none;">
                                                            "None" refers to Journals with no value assigned for Status, its neither Active or Archived.
                                                        </p>
                                                        {%
                                                            set attr = {
                                                                'class'           : 'form-control show-tick',
                                                                'name'            : 'status',
                                                                'data-init-plugin': 'select2',
                                                                'data-allow-clear': 'true',
                                                                'style'           : 'width: 100%;',
                                                            }
                                                        %}
                                                        <select {{ macros.setAttributes(attr) }}>
                                                            {%- for status in template.status -%}
                                                                {%-
                                                                    set attr = {
                                                                        'value'   : status.value,
                                                                        'selected': status.selected,
                                                                    }
                                                                -%}
                                                                <option {{ macros.setAttributes(attr) }}>{{ status.caption }}</option>
                                                            {%- endfor -%}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label>ISSN **</label>
                                                        {%
                                                            set attr = {
                                                                'type'          : 'text',
                                                                'class'         : 'form-control mt-2',
                                                                'name'          : 'issn',
                                                                'value'         : form.issn,
                                                                'autocapitalize': 'none',
                                                                'autocomplete'  : 'off',
                                                                'autocorrect'   : 'off',
                                                                'spellcheck'    : 'false',
                                                                'required'      : false,
                                                            }
                                                        %}
                                                        <input {{ macros.setAttributes(attr) }}>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-group-default">
                                                <label>Specialties</label>
                                                <p class="help-text text-primary hint-text small" style="display: none;">
                                                    You may select multiple Specialties by holding the CLRT or CMD key, or enter new one (as partial search) then hit enter.<br/>
                                                    This will <b>narrow</b> the search results to which assigned the selected Specialty.
                                                </p>
                                                {%
                                                    set attr = {
                                                        'class'           : 'form-control show-tick',
                                                        'name'            : 'specialty[]',
                                                        'multiple'        : true,
                                                        'data-init-plugin': 'select2',
                                                        'data-tags'       : 'true',
                                                        'data-allow-clear': 'true',
                                                        'data-placeholder': 'Any Specialty',
                                                        'style'           : 'width: 100%;',
                                                    }
                                                %}
                                                <select {{ macros.setAttributes(attr) }}>
                                                    {%- for specialty in template.specialty -%}
                                                        {%-
                                                            set attr = {
                                                                'value'   : specialty.id,
                                                                'selected': specialty.selected,
                                                            }
                                                        -%}
                                                        <option {{ macros.setAttributes(attr) }}>{{ specialty.name }}</option>
                                                    {%- endfor -%}
                                                </select>
                                            </div>
                                            <div class="form-group form-group-default">
                                                <label>ID / UNID **</label>
                                                <p class="help-text text-primary hint-text small" style="display: none;">
                                                    Lookup on several IDs generated from current or previous system
                                                </p>
                                                {%
                                                    set attr = {
                                                        'type'          : 'text',
                                                        'class'         : 'form-control',
                                                        'name'          : 'ids',
                                                        'value'         : form.ids,
                                                        'autocapitalize': 'none',
                                                        'autocomplete'  : 'off',
                                                        'autocorrect'   : 'off',
                                                        'spellcheck'    : 'false',
                                                        'required'      : false,
                                                    }
                                                %}
                                                <input {{ macros.setAttributes(attr) }}/>
                                            </div>
                                            <div class="form-group form-group-default">
                                                <p class="text-muted fs-12">** Use these symbols to drill down the search result;</p>
                                                <ul class="text-muted fs-12 mt-2">
                                                    <li><code class="readable">^</code>&nbsp; Begins with <code class="readable">^X</code></li>
                                                    <li><code class="readable">$</code>&nbsp; Ends with <code class="readable">X$</code></li>
                                                    <li><code class="readable">*</code>&nbsp; Any / Wildcard <code class="readable">ab*x</code></li>
                                                    <li><code class="readable">+</code>&nbsp; Space concatenate between 2 words <code class="readable">ali+baba</code></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-4 col-lg-5 col-xl-4">
                                            <div class="row no-gutters">
                                                <div class="col-6 col-md-12">
                                                    <div class="form-group form-group-default">
                                                        <label>MedLine Journals</label>
                                                        {{ macros.printRadioFields('opt-is-medline',
                                                            {
                                                                    'inline': true,
                                                                    'values' : template.ismedline
                                                                },
                                                                'ismedline'
                                                            )
                                                        }}
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-12">
                                                    <div class="form-group form-group-default">
                                                        <label>DGAbstract Journals</label>
                                                        {{ macros.printRadioFields('opt-is-dgabstract',
                                                            {
                                                                    'inline': true,
                                                                    'values' : template.isdgabstract
                                                                },
                                                                'isdgabstract'
                                                            )
                                                        }}
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-12">
                                                    <div class="form-group form-group-default">
                                                        <label>SecondLine Journal</label>
                                                        {{ macros.printRadioFields('opt-is-secondline',
                                                            {
                                                                    'inline': true,
                                                                    'values' : template.issecondline
                                                                },
                                                                'issecondline'
                                                            )
                                                        }}
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-12">
                                                    <div class="form-group form-group-default">
                                                        <label>Marked not being Updated</label>
                                                        {{ macros.printRadioFields('opt-is-not-being-updated',
                                                            {
                                                                    'inline': true,
                                                                    'values' : template.notbeingupdated
                                                                },
                                                                'notbeingupdated'
                                                            )
                                                        }}
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-12">
                                                    <div class="form-group form-group-default">
                                                        <label>Marked Drugs being Monitored</label>
                                                        {{ macros.printRadioFields('opt-drug-monitored',
                                                            {
                                                                    'inline': true,
                                                                    'values' : template.drugbeingmonitored
                                                                },
                                                                'drugbeingmonitored'
                                                            )
                                                        }}
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-12">
                                                    <div class="form-group form-group-default">
                                                        <label>Marked Deleted</label>
                                                        {{ macros.printRadioFields('opt-deleted',
                                                            {
                                                                    'inline': true,
                                                                    'values' : template.deleted
                                                                },
                                                                'deleted'
                                                            )
                                                        }}
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-12">
                                                    <div class="form-group form-group-default">
                                                        <label>Show Corrupted</label>
                                                        <p class="help-text text-primary hint-text small" style="display: none;">
                                                            Imported Journal may have blank Name.
                                                        </p>
                                                        {{ macros.printRadioFields('opt-showcorrupted',
                                                            {
                                                                    'inline': true,
                                                                    'values' : template.showcorrupted
                                                                },
                                                                'showcorrupted'
                                                            )
                                                        }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-between">
                                            <div>
                                                <a href="#" id="help-text-toggle" class="btn btn-secondary">
                                                    <i class="fas fa-info-circle"></i>
                                                    Help
                                                </a>
                                                <button id="search-reset" type="reset" class="btn btn-secondary active" value="clear">
                                                    <i class="fas fa-redo-alt"></i>
                                                    Reset
                                                </button>
                                            </div>
                                            <button type="submit" class="btn btn-primary active">
                                                <i class="fas fa-search"></i>
                                                Search
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        {% if meta.searched is not empty %}
                            <div class="card card-transparent" id="results-card">
                                <div class="card-body">
                                    <h3 class="text-primary">Search Results</h3>
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <div>
                                                <p>
                                                    {% if (meta.count == meta.overall) %}
                                                        Found {{ meta.count|number_format(0, '.', ',') }} Result{{ macros.ifTrueThenReturn((meta.count > 1), 's', '') }}.
                                                    {% else %}
                                                        Found {{ meta.overall|number_format(0, '.', ',') }} related results,
                                                        showing page {{ meta.page }} contains {{ meta.count|number_format(0, '.', ',') }} of result{{ macros.ifTrueThenReturn((meta.count > 1), 's', '') }}.
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="mt-1">
                                                {% include 'components/pagination.html.twig' with {
                                                    currentPage: meta.page,
                                                    lastPage   : meta.maxpage,
                                                } only %}
                                            </div>
                                        </div>
                                        {% if (meta.count > 0) %}
                                        <div>
                                            <a href="#" id="export-csv" class="btn btn-primary btn-sm" style="display: none;">
                                                <i class="fa fa-file-csv fa-2x"></i>
                                                &nbsp;Export CSV
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                    {% if (meta.count > 0) %}
                                        <div class="mt-4">
                                            <div class="table-responsive">
                                                <table id="search-results" class="table table-sm table-striped table-condensed dataTable no-footer" role="grid">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th width="50%">Journal Name / Abbreviation (ISSN)</th>
                                                            <th>Specialties</th>
                                                            <th>Attributes</th>
                                                            <th width="10%">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% set action_viewable = is_granted('ROLE_USER') %}
                                                        {% set action_editable = is_granted('ROLE_EDITOR') %}
                                                        {% for journal in results %}
                                                            <tr>
                                                                <td data-id="{{ journal.getId() }}" title="#{{ journal.getId() }} - {{ journal.getName() }}">
                                                                    <h6>{{ journal.getName() ?? '(No Name)' }}</h6>
                                                                    <div>
                                                                        {{ (journal.getAbbreviation() ? journal.getAbbreviation() : '')  }}
                                                                        {{ (journal.getMedlineIssn() ? ' (' ~ journal.getMedlineIssn() ~ ')' : '')  }}
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex flex-wrap badge-wrapper">
                                                                        {% for specialty in journal.getSpecialties()|slice(0, 5) %}
                                                                            <span class="badge badge-info" title="{{ specialty.getSpecialty().getSpecialty() }}">
                                                                                {{- specialty.getSpecialty().getSpecialty() -}}
                                                                            </span>
                                                                        {% endfor %}
                                                                        {% if (journal.getSpecialties().count() > 5) %}
                                                                            <span class="badge badge-secondary">{{ journal.getSpecialties().count() - 5 }} more...</span>
                                                                        {% endif %}
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex flex-wrap badge-wrapper">
                                                                        {% if (journal.isStatusNone()) %}
                                                                            <span class="badge badge-warning">None</span>
                                                                        {% elseif (journal.isStatusActive()) %}
                                                                            <span class="badge badge-success">Active</span>
                                                                        {% elseif (journal.isStatusArchived()) %}
                                                                            <span class="badge badge-info">Archived</span>
                                                                        {% endif %}
                                                                        {% if (journal.isMedLine()) %}
                                                                            <span class="badge badge-info">MedLine</span>
                                                                        {% endif %}
                                                                        {% if (journal.isDgAbstract()) %}
                                                                            <span class="badge badge-info">DgAbstract</span>
                                                                        {% endif %}
                                                                        {% if (journal.isSecondLine()) %}
                                                                            <span class="badge badge-info">SecondLine</span>
                                                                        {% endif %}
                                                                        {% if (journal.isNotBeingUpdated()) %}
                                                                            <span class="badge badge-danger">Not Updated</span>
                                                                        {% endif %}
                                                                        {% if (journal.isDrugsMonitored()) %}
                                                                            <span class="badge badge-info">Drugs Monitored</span>
                                                                        {% endif %}
                                                                        {% if (journal.isDeleted()) %}
                                                                            <span class="badge badge-danger">Deleted</span>
                                                                        {% endif %}
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    {% if action_viewable %}
                                                                        <a href="{{ path('journal_view', {'id': journal.getId() }) }}" class="btn btn-primary" title="View Journal">
                                                                            <i class="far fa-eye"></i>
                                                                        </a>
                                                                    {% endif %}
                                                                    {% if action_editable %}
                                                                        <a href="{{ path('journal_modify', {'id': journal.getId() }) }}" class="btn btn-secondary active" title="Edit Journal">
                                                                            <i class="far fa-edit"></i>
                                                                        </a>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}