{# templates/pages/journals/view.html.twig #}
{% extends 'layouts/content-central-with-right-pane.html.twig' %}
{% import "__macros.html.twig" as macros %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/assets/vendor/clipboard/clipboard.min.js"></script>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('dashboard') }}">
                <i class="fa fa-home fa-lg"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <span>{{ head.entity }}</span>
        </li>
        <li class="breadcrumb-item active">
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">{{ head.action }}</a>
        </li>
    </ol>
{% endblock %}

{%
    set sidedata = {
        'Details': [
            {
                'caption': 'MedLine Journal',
                'value'  : (journal.isMedLine() ? 'Yes' : 'No'),
                'color'  : (journal.isMedLine() ? 'success' : 'info'),
            },
            {
                'caption': 'DGAbstract Journal',
                'value'  : (journal.isDgAbstract() ? 'Yes' : 'No'),
                'color'  : (journal.isDgAbstract() ? 'success' : 'info'),
            },
            {
                'caption': 'SecondLine Journal',
                'value'  : (journal.isSecondLine() ? 'Yes' : 'No'),
                'color'  : (journal.isSecondLine() ? 'success' : 'info'),
            },
            {
                'caption': 'Global Edition Journal',
                'value'  : (journal.isGlobalEditionJournal() ? 'Yes' : 'No'),
                'color'  : (journal.isGlobalEditionJournal() ? 'success' : 'info'),
            },
            {
                'caption': 'Manual Creation',
                'value'  : (journal.isManualCreation() ? 'Yes' : 'No'),
                'color'  : (journal.isManualCreation() ? 'success' : 'info'),
            },
            {
                'caption': 'Marked Not being Updated',
                'value'  : (journal.isNotBeingUpdated() ? 'Yes' : 'No'),
                'color'  : (journal.isNotBeingUpdated() ? 'danger' : 'info'),
            },
            {
                'caption': 'Marked Drugs being Monitored',
                'value'  : (journal.isDrugsMonitored() ? 'Yes' : 'No'),
                'color'  : (journal.isDrugsMonitored() ? 'danger' : 'info'),
            },
            {
                'caption': 'Marked Deleted',
                'value'  : (journal.isDeleted() ? 'Yes' : 'No'),
                'color'  : (journal.isDeleted() ? 'danger' : 'info'),
            },
            {
                'caption': 'Marked Copied',
                'value'  : (journal.isExported() ? 'Yes' : 'No'),
                'color'  : (journal.isExported() ? 'success' : 'info'),
            },
            {
                'caption': 'Specialties',
                'value'  : (journal.getSpecialties().count()) ~ ' count' ~ (journal.getSpecialties().count() > 1 ? 's' : ''),
                'color'  : (journal.getSpecialties().count() > 0 ? 'success' : 'info'),
            }
        ],
        'Abstract': [
            {
                'caption': 'Abstract Available',
                'value'  : (journal.getDetailsAbstractAbstract() ? 'Yes' : 'No'),
                'color'  : (journal.getDetailsAbstractAbstract() ? 'success' : 'info'),
            },
            {
                'caption': 'Register for Abstract',
                'value'  : (journal.getDetailsAbstractRegForAbstract() ? 'Yes' : 'No'),
                'color'  : (journal.getDetailsAbstractRegForAbstract() ? 'danger' : 'info'),
            }
        ],
        'Fulltext': [
            {
                'caption': 'Fulltext Available',
                'value'  : (journal.getDetailsAbstractFullTextAvailablity() ? 'Yes' : 'No'),
                'color'  : (journal.getDetailsAbstractFullTextAvailablity() ? 'success' : 'info'),
            },
            {
                'caption': 'Register for Fulltext',
                'value'  : (journal.getDetailsAbstractRegForFullText() ? 'Yes' : 'No'),
                'color'  : (journal.getDetailsAbstractRegForFullText() ? 'danger' : 'info'),
            },
            {
                'caption': 'Fulltext Fee',
                'value'  : (journal.getDetailsAbstractFeeForFullText() ? 'Yes' : 'No'),
                'color'  : (journal.getDetailsAbstractFeeForFullText() ? 'danger' : 'info'),
            }
        ],
        'Record': [
            {
                'caption': 'Created by',
                'show'   : (journal.getDetailsMetaCreatedBy() != null),
                'value'  : [
                                (journal.getDetailsMetaCreatedBy() ? journal.getDetailsMetaCreatedBy() : ''),
                                (journal.getDetailsMetaCreatedOn() ? journal.getDetailsMetaCreatedOn().format('j M Y') : ''),
                           ],
                'color'  : 'info'
            },
            {
                'caption': 'Updated by',
                'show'   : (journal.getDetailsMetaModifiedBy() != null),
                'value'  : [
                                (journal.getDetailsMetaModifiedBy() ? journal.getDetailsMetaModifiedBy() : ''),
                                (journal.getDetailsMetaModifiedOn() ? journal.getDetailsMetaModifiedOn().format('j M Y') : ''),
                           ],
                'color'  : 'info'
            }
        ],
    }
%}

{% block inner_links %}
    <div class="btn-group" role="group">
        {%
            set attr = {
                'target'  : '_blank',
                'href'    : journal.getDetailsUrlUrl() ? journal.getDetailsUrlUrl() : '#',
                'class'   : 'btn btn-secondary active' ~ (journal.getDetailsUrlUrl()|length == 0 ? ' disabled' : ''),
                'disabled': (journal.getDetailsUrlUrl()|length == 0),
                'title'   : 'Follow link' ~ (parsed_links.details_url ? ' to ' ~ parsed_links.details_url.host : ''),
            }
        %}
        <a {{ macros.setAttributes(attr) }}>
            <i class="fa fa-external-link-alt"></i>
            Journal URL
        </a>
        {% if is_granted('ROLE_EDITOR') %}
            <a href="{{ path('journal_modify', {'id': journal.getId()}) }}" class="btn btn-primary">
                <i class="fa fa-pencil-alt"></i>
                Edit
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block inner_body %}
    <div class="container-fluid">
        <div class="card card-transparent mb-1">
            <div class="card-header ">
                <div class="card-title">
                    {{ head.subtitle }}
                </div>
            </div>
            <div class="card-body">
                <h3 class="indented-heading-with-icon mb-0">
                    <i class="fa fa-book"></i>
                    <span>{{ journal.getName() ?? '(no name)'  }}</span>
                </h3>
                <h5 class="text-secondary mt-0 m-l-35">
                    {{- journal.getAbbreviation() ?? '(no abbreviation)' -}}
                </h5>

                <div class="d-block d-lg-none">
                    <div class="text-right">
                        {{ block('inner_links') }}
                    </div>
                    {% for title, side in sidedata %}
                        <h6 class="mt-3 mb-1">{{ title }}</h6>
                        <div class="row no-gutters">
                        {% for sid in side %}
                            {% if ((sid.show is not defined) or ((sid.show is defined) and (sid.show == true))) %}
                                <div class="col-6 col-sm-4">
                                    <div class="bg-white b-a b-grey pl-2 py-1 mr-1 mb-1">
                                        <div class="font-weight-bolder">{{ sid.caption }}</div>
                                        <div class="mb-1">
                                            {% if sid.value is iterable %}
                                                {% for val in sid.value %}
                                                    <span class="badge badge-{{ sid.color }} fs-13 px-2 mt-1">{{ val }}</span>
                                                {% endfor %}
                                            {% else %}
                                                <span class="badge badge-{{ sid.color }} fs-13 px-2 mt-1">{{ sid.value }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endfor %}
                </div>

                <div class="table table-responsive mt-4">
                    <table class="table table-horizontal">
                        <tbody>
                            {% if journal.getSpecialties().count() > 0 %}
                            <tr>
                                <th width="15%" class="d-none d-md-table-cell">Specialties</th>
                                <td>
                                    <h4 class="mt-0 d-block d-md-none">Specialties</h4>
                                    <p class="mb-0">
                                        {% for specialty in journal.getSpecialties() %}
                                            <span class="badge badge-info fs-13 mr-1 mb-2 py-2 px-3">
                                                {{- specialty.getSpecialty().getSpecialty() -}}
                                            </span>
                                        {% endfor %}
                                    </p>
                                </td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th class="d-none d-md-table-cell">Serial</th>
                                <td>
                                    <h4 class="mt-0 d-block d-md-none">Serial</h4>
                                    <ul class="list-group list-group-xs list-separation separation-value-too head-bold list-group-flush flush-all" data-separation-addt-value="70">
                                        <li class="list-group-item">
                                            <span class="heading">Year</span>
                                            <span class="value">{{ journal.getVolume() }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="heading">Volume / Issue</span>
                                            <span class="value">{{ journal.getNumber() }}</span>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            {% if journal.getMedlineIssn() %}
                            <tr>
                                <th class="d-none d-md-table-cell">ISSN</th>
                                <td>
                                    <h4 class="mt-0 d-block d-md-none">ISSN</h4>
                                    <btn class="btn btn-sm btn-secondary clipboard" data-clipboard-text="{{ journal.getMedlineIssn() }}">
                                        <i class="far fa-clone"></i>
                                        Copy
                                    </btn>
                                    <span><code class="px-2 py-2 fs-14">{{ journal.getMedlineIssn() }}</code></span>
                                </td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th class="d-none d-md-table-cell">Link</th>
                                <td>
                                    <h4 class="mt-0 d-block d-md-none">Link</h4>
                                    <ul class="list-group list-group-xs list-separation head-bold list-group-flush flush-all mb-4">
                                        <li class="list-group-item">
                                            <span class="heading">URL</span>
                                            <span class="value">
                                                {% if journal.getDetailsUrlUrl()|length > 0 %}
                                                    <btn class="btn btn-sm btn-secondary clipboard" data-clipboard-text="{{- journal.getDetailsUrlUrl() -}}">
                                                        <i class="far fa-clone"></i>
                                                        Copy
                                                    </btn>
                                                    <a href="{{- journal.getDetailsUrlUrl() -}}" class="btn btn-sm btn-primary" target="_blank">
                                                        {% if parsed_links.details_url != null %}
                                                            <span class="text-truncate mx-250px">
                                                                {{- parsed_links.details_url.host -}}
                                                            </span>
                                                            {% if parsed_links.details_url.path %}
                                                                <span class="text-truncate mx-200px hint-text ml-2 d-none d-xl-inline-block v-align-bottom">
                                                                    {{- parsed_links.details_url.path -}}
                                                                </span>
                                                            {% endif %}
                                                        {% else %}
                                                            <span class="text-truncate mx-250px">Follow Link</span>
                                                            <span class="text-truncate mx-200px hint-text ml-2 d-none d-xl-inline-block v-align-bottom">
                                                                {{- journal.getDetailsUrlUrl() -}}
                                                            </span>
                                                        {% endif %}
                                                    </a>
                                                {% else %}
                                                    <span class="hint-text">no link</span>
                                                {% endif %}
                                            </span>
                                        </li>
                                    </ul>

                                    <ul class="list-group list-group-xs list-separation separation-value-too head-bold list-group-flush flush-all mb-2" data-separation-addt-value="20">
                                        <li class="list-group-item d-flex justify-content-start">
                                            <div class="d-flex-item">
                                                <span class="heading">Updated On</span>
                                                <span class="value">{{ journal.getDetailsUrlUpdatedOn() ? journal.getDetailsUrlUpdatedOn().format('j F Y') : 'Never' }}</span>
                                            </div>
                                            <div class="d-flex-item">
                                                <span class="heading">Viewed On</span>
                                                <span class="value">{{ journal.getDetailsUrlViewedOn() ? journal.getDetailsUrlViewedOn().format('j F Y') : 'Never' }}</span>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-start">
                                            <div class="d-flex-item">
                                                <span class="heading">To Update</span>
                                                <span class="value">{{ journal.getDetailsUrlToUpdate() ? journal.getDetailsUrlToUpdate().format('j F Y') : '' }}</span>
                                            </div>
                                            <div class="d-flex-item">
                                                <span class="heading">Frequency</span>
                                                <span class="value">
                                                    <span class="text-truncate mx-250px">{{ journal.getDetailsUrlFrequency() }}</span>
                                                </span>
                                            </div>
                                        </li>
                                    </ul>

                                    <ul class="list-group list-group-xs list-separation head-bold list-group-flush flush-all">
                                       {% if journal.getDetailsUrlUsername()|length > 0 %}
                                            <li class="list-group-item">
                                                <span class="heading">Username</span>
                                                <span class="value">
                                                    <btn class="btn btn-sm btn-secondary clipboard" data-clipboard-text="{{- journal.getDetailsUrlUsername() -}}">
                                                        <i class="far fa-clone"></i>
                                                        Copy
                                                    </btn>
                                                    <span><code class="px-2 py-2 fs-14">{{- journal.getDetailsUrlUsername() -}}</code></span>
                                                </span>
                                            </li>
                                        {% endif %}
                                        {% if journal.getDetailsUrlPassword()|length > 0 %}
                                            <li class="list-group-item">
                                                <span class="heading">Password</span>
                                                <span class="value">
                                                    <btn class="btn btn-sm btn-secondary clipboard" data-clipboard-text="{{- journal.getDetailsUrlPassword() -}}">
                                                        <i class="far fa-clone"></i>
                                                        Copy
                                                    </btn>
                                                    <span><code class="px-2 py-2 fs-14">{{- journal.getDetailsUrlPassword() -}}</code></span>
                                                </span>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </td>
                            </tr>
                            {% if journal.getDetailsUrlNote()|length > 0 %}
                            <tr>
                                <th class="d-none d-md-table-cell">Note</th>
                                <td>
                                    <h4 class="mt-0 d-block d-md-none">Note</h4>
                                    {{ journal.getDetailsUrlNote()|nl2br }}
                                </td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th class="d-none d-md-table-cell">Publisher</th>
                                <td>
                                    <h4 class="mt-0 d-block d-md-none">Publisher</h4>
                                    <ul class="list-group list-group-xs list-separation head-bold list-group-flush flush-all">
                                        <li class="list-group-item">
                                            <span class="heading">Name</span>
                                            <span class="value">{{ journal.getDetailsPublisherName() }}</span>
                                        </li>
                                        {% if journal.getDetailsPublisherRegUrl()|length > 0 %}
                                            <li class="list-group-item">
                                                <span class="heading">URL</span>
                                                <span class="value">
                                                    <btn class="btn btn-sm btn-secondary clipboard" data-clipboard-text="{{- journal.getDetailsPublisherRegUrl() -}}">
                                                        <i class="far fa-clone"></i>
                                                        Copy
                                                    </btn>
                                                    {% set link_url = journal.getDetailsPublisherRegUrl() %}
                                                    {% if (('http' not in link_url) and ('//' not in link_url)) %}
                                                        {% set link_url = '//' ~ link_url %}
                                                    {% endif %}
                                                    <a href="{{- link_url -}}" class="btn btn-sm btn-primary" target="_blank">
                                                        {% if parsed_links.details_pubreg != null %}
                                                            <span class="text-truncate mx-250px">
                                                                {{- parsed_links.details_pubreg.host -}}
                                                            </span>
                                                            {% if parsed_links.details_pubreg.path %}
                                                                <span class="text-truncate mx-200px hint-text ml-2 d-none d-xl-inline-block v-align-bottom">
                                                                    {{- parsed_links.details_pubreg.path -}}
                                                                </span>
                                                            {% endif %}
                                                        {% else %}
                                                            <span class="text-truncate mx-250px">Follow Link</span>
                                                            <span class="text-truncate mx-200px hint-text ml-2 d-none d-xl-inline-block v-align-bottom">
                                                                {{- link_url -}}
                                                            </span>
                                                        {% endif %}
                                                    </a>
                                                </span>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th class="d-none d-md-table-cell">Audience</th>
                                <td>
                                    <h4 class="mt-0 d-block d-md-none">Audience</h4>
                                    <ul class="list-group list-group-xs list-separation separation-value-too head-bold list-group-flush flush-all" data-separation-addt-value="70">
                                        <li class="list-group-item">
                                            <span class="heading">Language</span>
                                            <span class="value">
                                                {%- if journal.getDetailsLanguage()|length > 0 -%}
                                                    {% set items = journal.getDetailsLanguage()|split(';') %}
                                                    {{ items|join(', ') }}
                                                {%- endif -%}
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="heading">City</span>
                                            <span class="value">{{ audience.country is not null ? audience.country.getCapitalCity() : '' }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="heading">Country</span>
                                            <span class="value">{{ audience.country is not null ? audience.country.getName() : '' }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="heading">Region</span>
                                            <span class="value">{{- audience.region is not null ? audience.region.getName() : '' -}}</span>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            {% if journal.getDetailsEdition()|length > 0 %}
                            <tr>
                                <th class="d-none d-md-table-cell">Editions</th>
                                <td>
                                    <h4 class="mt-0 d-block d-md-none">Editions</h4>
                                    {%- if journal.getDetailsEdition()|length > 0 -%}
                                        {% set items = journal.getDetailsEdition()|split(';') %}
                                        {{ items|join(', ') }}
                                    {%- endif -%}
                                </td>
                            </tr>
                            {% endif %}
                            {% if journal.getDetailsCopyright()|length > 0 %}
                            <tr>
                                <th class="d-none d-md-table-cell">Copyright</th>
                                <td>
                                    <h4 class="mt-0 d-block d-md-none">Copyright</h4>
                                    {{ journal.getDetailsCopyright() }}
                                </td>
                            </tr>
                            {% endif %}
                            {% if journal.getDetailsAbstractComments()|length > 0 %}
                            <tr>
                                <th class="d-none d-md-table-cell">Abstract / FullText Comments</th>
                                <td>
                                    <h4 class="mt-0 d-block d-md-none">Abstract / FullText Comments</h4>
                                    {{ journal.getDetailsAbstractComments()|nl2br }}
                                </td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th class="d-none d-md-table-cell">Validation</th>
                                <td>
                                    <h4 class="mt-0 d-block d-md-none">Validation</h4>
                                    <ul class="list-group list-group-xs list-separation separation-value-too head-bold list-group-flush flush-all" data-separation-addt-value="70">
                                        <li class="list-group-item">
                                            <span class="heading">Document Status</span>
                                            <span class="value">{{ journal.getStatusReadable() }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="heading">Document Author</span>
                                            <span class="value">
                                                {{- journal.getDetailsValidationAuthor() -}}
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="heading">Date Composed</span>
                                            <span class="value">
                                                {{- journal.getDetailsValidationDateComposed() ? journal.getDetailsValidationDateComposed().format('j F Y') : '' -}}
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="heading">Cleared by</span>
                                            <span class="value">
                                                {{- journal.getDetailsValidationClearedBy() -}}
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="heading">Cleared on</span>
                                            <span class="value">
                                                {{- journal.getDetailsValidationClearedOn() ? journal.getDetailsValidationClearedOn().format('j F Y') : '' -}}
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="heading">Exported</span>
                                            <span class="value">{{ journal.isExported() ? 'Yes' : 'No' }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="heading">Last updated by</span>
                                            <span class="value">
                                                {{- journal.getDetailsValidationModified() -}}
                                            </span>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th class="d-none d-md-table-cell">Article Ordering</th>
                                <td>
                                    <h4 class="mt-0 d-block d-md-none">Article Ordering</h4>
                                    <ul class="list-group list-group-xs list-separation head-bold list-group-flush flush-all" data-separation-addt="5">
                                        <li class="list-group-item">
                                            <span class="heading">Journal HTML Order Code</span>
                                            <span class="value">
                                                {% if journal.getDetailsOrderingHtmlCode()|length > 0 %}
                                                    <btn class="btn btn-sm btn-secondary clipboard" data-clipboard-text="{{ journal.getDetailsOrderingHtmlCode() }}">
                                                        <i class="far fa-clone"></i>
                                                        Copy
                                                    </btn>
                                                    <span><code class="px-2 py-2 fs-14">{{ journal.getDetailsOrderingHtmlCode() }}</code></span>
                                                {% else %}
                                                    <span class="hint-text"></span>
                                                {% endif %}
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="heading">CGI value</span>
                                            <span class="value">
                                                {% if journal.getDetailsOrderingCgiValue()|length > 0 %}
                                                    <btn class="btn btn-sm btn-secondary clipboard" data-clipboard-text="{{ journal.getDetailsOrderingCgiValue() }}">
                                                        <i class="far fa-clone"></i>
                                                        Copy
                                                    </btn>
                                                    <span><code class="px-2 py-2 fs-14">{{ journal.getDetailsOrderingCgiValue() }}</code></span>
                                                {% else %}
                                                    <span class="hint-text"></span>
                                                {% endif %}
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="heading">Printer Name</span>
                                            <span class="value">{{ journal.getDetailsOrderingPrinterName() }}</span>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th class="d-none d-md-table-cell">IDs</th>
                                <td>
                                    <h4 class="mt-0 d-block d-md-none">IDs</h4>
                                    <ul class="list-group list-group-xs list-separation head-bold list-group-flush flush-all">
                                        <li class="list-group-item">
                                            <span class="heading">
                                                System ID
                                            </span>
                                            <span class="value">
                                                #{{ journal.getId() }}
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="heading">
                                                UNID
                                            </span>
                                            <span class="value">
                                                {{ journal.getUnid() }}
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="heading">
                                                GUID
                                            </span>
                                            <span class="value">
                                                {{ journal.getDetailsPreviousRowGuid() }}
                                            </span>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block right_pane %}
    <div class="row no-gutters">
        <div class="col-12">
            <div class="mx-2 mb-4 text-center pt-4">
                {{ block('inner_links') }}
            </div>

            {% for title, side in sidedata %}
                <h6 class="p-3">{{ title }}</h6>
                <ul class="list-group list-group-flush mb-4">
                {% for sid in side %}
                    {% if ((sid.show is not defined) or ((sid.show is defined) and (sid.show == true))) %}
                        <li class="list-group-item d-flex justify-content-between">
                            <span class="text-truncate">
                                {{ sid.caption }}
                            </span>
                            <span class="text-right">
                                {% if sid.value is iterable %}
                                    {% for val in sid.value %}
                                        <span class="badge badge-{{ sid.color }} fs-13 px-2">{{ val }}</span>
                                    {% endfor %}
                                {% else %}
                                    <span class="badge badge-{{ sid.color }} fs-13 px-2">{{ sid.value }}</span>
                                {% endif %}
                            </span>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}