{% import "__macros.html.twig" as macros %}
<hr/>
<div class="row">
    <div class="col-md-5 col-md-push-7 push-pull-items">
        <h4>Guide</h4>
        <ul class="p-l-20">
            <li>Input type <strong>New</strong> will <strong>Register the Drug On-The-Fly</strong>, then pull them on map.</li>
            <li>Input type <strong>Existing</strong> will allow you to <strong>Search the Drug</strong>, then pull into the map.</li>
            <li>Best to Select <strong>Type</strong> for enter Drug Name.</li>
            <li><strong>Valid</strong> switch will available for Drug Registration.</li>
            <li>Searching:
                <ul class="p-l-15">
                    <li>Begin Searching drug by changing <strong>Input</strong> to <strong>Existing</strong>, then select <strong>Type</strong>.</li>
                    <li>Then start typing the search term related to Drug name; minimum 2 characters.</li>
                    <li>If there any found, a list of    Drug will appear, and selecting on them will select it.</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-7 col-md-pull-5 push-pull-items">
        <form class="form-horizontal add-new-drug" role="form">

            <div class="form-group">
                <label class="col-sm-3 control-label">Input</label>
                <div class="col-sm-9">
                    <div class="fg-line">
                        <label class="radio radio-inline m-r-20">
                            <input type="radio" name="input" value="new" checked>
                            <i class="input-helper"></i>
                            New
                        </label>
                        <label class="radio radio-inline m-r-20">
                            <input type="radio" name="input" value="search">
                            <i class="input-helper"></i>
                            Existing
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Type</label>
                <div class="col-sm-9">
                    <div class="fg-line">
                        <label class="radio radio-inline m-r-20">
                            <input type="radio" name="type" value="experimental" checked>
                            <i class="input-helper"></i>
                            Experimental
                        </label>
                        <label class="radio radio-inline m-r-20">
                            <input type="radio" name="type" value="generic">
                            <i class="input-helper"></i>
                            Generic
                        </label>
                        <label class="radio radio-inline m-r-20">
                            <input type="radio" name="type" value="brand">
                            <i class="input-helper"></i>
                            Brand
                        </label>
                        <label class="radio radio-inline m-r-20" id="type-selector" style="display: none;">
                            <input type="radio" name="type" value="any">
                            <i class="input-helper"></i>
                            Any
                        </label>
                    </div>
                </div>
            </div>

            <div class="new-drug-set">
                <div class="form-group name-new">
                    <label class="col-sm-3 control-label">Drug Name</label>
                    <div class="col-sm-9">
                        <div class="fg-line">
                            {%
                                set attr = {
                                    'type'        : 'text',
                                    'class'       : 'form-control input-sm drug-name-field',
                                    'placeholder' : 'Enter a New Drug Name',
                                    'name'        : 'name_new',
                                    'value'       : '',
                                    'title'       : '2 characters minimum',
                                    'pattern'     : '.{2,}',
                                    'minlength'   : 2,
                                    'maxlength'   : 150,
                                    'spellcheck'  : 'false',
                                    'autocomplete': 'off',
                                    'required'    : true
                                }
                            %}
                            <input {{ macros.setAttributes(attr) }}/>
                        </div>
                    </div>
                </div>

                <div class="form-group drug-valid">
                    <label class="col-sm-3 control-label">Valid</label>
                    <div class="col-sm-9">
                        <div class="fg-line">
                            <div class="toggle-switch" data-ts-color="green">
                                {%
                                    set attr = {
                                        'id'     : 'ts-valid-main',
                                        'type'   : 'checkbox',
                                        'hidden' : 'hidden',
                                        'name'   : 'valid',
                                        'value'  : '1',
                                        'checked': false
                                    }
                                %}
                                <input {{ macros.setAttributes(attr) }}/>
                                <label for="ts-valid-main" class="ts-helper"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-drug-set">
                <div class="form-group name-search">
                    <label class="col-sm-3 control-label">Drug Name</label>
                    <div class="col-sm-9">
                        <div class="fg-line">
                            {%
                                set attr = {
                                    'type'        : 'text',
                                    'class'       : 'form-control input-sm',
                                    'placeholder' : 'Search for a Drug Name',
                                    'name'        : 'name_search',
                                    'value'       : '',
                                    'maxlength'   : 150,
                                    'spellcheck'  : 'false',
                                    'autocomplete': 'off'
                                }
                            %}
                            <input {{ macros.setAttributes(attr) }}/>
                            {%
                                set attr = {
                                    'type' : 'hidden',
                                    'class': 'hidden',
                                    'name' : 'name_search_id',
                                    'value': ''
                                }
                            %}
                            <input {{ macros.setAttributes(attr) }}/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group new-drug-submit">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary btn-md waves-effect">
                        Register Drug
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
<hr/>