{# templates/components/drug/heading.html.twig #}
{% import "__macros.html.twig" as macros %}
<div class="row">
    <div class="col-12">
        <div class="card card-transparent">
            <div class="card-header d-md-flex justify-content-between">
                <div class="card-title">
                    {{ template.type }} {{ head.entity }}
                </div>
                {% if not (is_granted('ROLE_EDITOR')) %}
                <div class="card-notice small text-danger hint-text">
                    Limited Permission, form disabled for viewing only.
                </div>
                {% endif %}
            </div>
            <div class="card-body pb-1">
                <div class="row">
                    <div class="col-12 col-md-7">
                        <h3 class="text-primary no-margin">
                            {{ macros.printDrugFaIcon(template.type) }}
                            {{ head.subtitle }}
                        </h3>
                    </div>
                    {% if (false == new) %}
                        <div class="col-12 col-md-5 drug-page-icon-list-wrapper" style="display: none;">
                            <div class="row no-gutters hint-text drug-page-icon-list pt-4 pt-md-0" data-id="{{ drug.id }}" data-type="{{ template.type }}">
                                <div class="col-3 offset-md-1 text-center drug-icon-experimental">
                                    <a href="#" class="text-muted cursor-initial">
                                        {{ macros.printDrugFaIcon('experimental', 'fa-lg') }}
                                        <p class="m-0 text-truncate drug-icon-name"></p>
                                    </a>
                                </div>
                                <div class="col-1 text-center" style="margin-top: 0.5em;">
                                    <i class="fa fa-chevron-right fa-lg"></i>
                                </div>
                                <div class="col-3 text-center drug-icon-generic">
                                    <a href="#" class="text-muted cursor-initial">
                                        {{ macros.printDrugFaIcon('generic', 'fa-lg') }}
                                        <p class="m-0 text-truncate drug-icon-name"></p>
                                    </a>
                                </div>
                                <div class="col-1 text-center" style="margin-top: 0.5em;">
                                    <i class="fa fa-chevron-right fa-lg"></i>
                                </div>
                                <div class="col-3 text-center drug-icon-brand">
                                    <a href="#" class="text-muted cursor-initial">
                                        {{ macros.printDrugFaIcon('brand', 'fa-lg') }}
                                        <p class="m-0 text-truncate drug-icon-name"></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>