{# templates/components/drug/keywords-typos.html.twig #}
{% import "__macros.html.twig" as macros %}
<div class="col-md-6 keyword-section-{{ type }}-typo keyword-section-brekdown">
    {# TYPOS #}
    <div class="pmb-block">
        <div class="pmbb-subheader">
            <h5><i class="fa fa-remove-format m-r-5"></i>Typos</h5>
        </div>
        <div class="pmbb-body keywords">
            <div class="repeater">
                <div class="pmbb-edit" data-repeater-list="{{ type }}_typos">
                    {% for typo in typos_prelist %}
                        {{
                            macros.printDrugKeywordTypoRepeaterRow(
                                type,
                                typo.id,
                                typo.name,
                                "Original Typo [\##{ typo.id }]: #{ typo.name }",
                                "New Typo",
                                "Remove Typo",
                                "Remove"
                            )
                        }}
                    {% endfor %}
                    {{
                        macros.printDrugKeywordTypoRepeaterRow(
                            type,
                            "new",
                            "",
                            "New Typo",
                            "New Typo",
                            "Remove Typo",
                            "Remove"
                        )
                    }}
                </div>
                <div class="row pmbb-repeater-action">
                    <div class="col-lg-12">
                        {%
                            set attr = {
                                'class'               : "btn btn-primary btn-xs m-t-5 repeater-add-btn",
                                'title'               : 'Add Synonym',
                                'data-repeater-create': true,
                                'disabled'            : (not is_granted('ROLE_EDITOR'))
                            }
                        %}
                        <button {{ macros.setAttributes(attr) }}>
                            <i class="fa fa-plus-square"></i>
                            <span class="">Add Typo</span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>