{# templates/components/drug/keywords-synonyms.html.twig #}
{% import "__macros.html.twig" as macros %}
<div class="col-md-6 keyword-section-{{ type }}-synonyms keyword-section-brekdown">
    {# SYNONYMS #}
    <div class="pmb-block">
        <div class="pmbb-subheader">
            <h5><i class="fa fa-spell-check m-r-5"></i>Synonyms</h5>
        </div>
        <div class="pmbb-body keywords">
            <div class="repeater">
                <div class="pmbb-edit" data-repeater-list="{{ type }}_synonyms">
                    {% for synonym in synonyms_prelist %}
                        {{
                            macros.printDrugKeywordSynonymsRepeaterRow(
                                type,
                                synonym.id,
                                synonym.name,
                                (synonym.country | join(',')),
                                "Original Synonym [\##{ synonym.id }]: #{ synonym.name }",
                                "New Synonym",
                                "Remove Synonym",
                                "Remove"
                            )
                        }}
                    {% endfor %}
                    {{
                        macros.printDrugKeywordSynonymsRepeaterRow(
                            type,
                            "new",
                            "",
                            'DE,ES,FR,GB,IT',
                            "New Synonym",
                            "New Synonym",
                            "Remove Synonym",
                            "Remove"
                        )
                    }}
                </div>
                <div class="row pmbb-repeater-action">
                    <div class="col-lg-12">
                        {%
                            set attr = {
                                'class'               : "btn btn-primary btn-xs m-t-5 repeater-add-btn",
                                'title'               : 'Add Synonym',
                                'data-repeater-create': true,
                                'disabled'            : (not is_granted('ROLE_EDITOR'))
                            }
                        %}
                        <button {{ macros.setAttributes(attr) }}>
                            <i class="fa fa-plus-square"></i>
                            <span class="">Add Synonym</span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>