{% macro ifTrueThenReturn(theBoolean, string, elsestring) %}
    {%- if theBoolean -%}
        {{- string -}}
    {%- endif -%}
    {%- if (theBoolean == FALSE) and (elsestring is not empty) -%}
        {{- elsestring -}}
    {%- endif -%}
{% endmacro %}

{% macro setAttributes(attributes) -%}
    {%- if attributes is not empty -%}
        {%- for atK, atV in attributes -%}
            {%- if atV is same as(TRUE) -%}
                {{- " #{atK}"| raw -}}
            {%- elseif atV is same as(FALSE) -%}
                {# say nothing #}
            {%- else -%}
                {{- " #{atK}=\"#{atV}\""| raw -}}
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endmacro %}

{% macro printDrugFaIcon(type, extended) -%}
    {%- import _self as twigmicros -%}
    <i class="{{ twigmicros.getDrugFaIconClass(type) }} {{ extended ?? '' }}"></i>
{%- endmacro %}

{% macro getDrugFaIconClass(type) -%}
    {%- if 'experimental' == type -%}
        fa fa-microscope
    {%- elseif 'generic' == type -%}
        fa fa-mortar-pestle
    {%- elseif 'brand' == type -%}
        fa fa-pills
    {%- endif -%}
{%- endmacro %}

{% macro printDrugKeywordsSection(type, synonyms_prelist, typos_prelist) %}
    <div class="row sub-drugs">
        <div class="col-12 drug-section">
            <div class="row keyword-section-{{ type }}">
                {% include 'components/drug/keywords-synonyms.html.twig' %}
                {% include 'components/drug/keywords-typos.html.twig' %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro printDrugKeywordTypoRepeaterRow(type, id, value, placeholder, placeholder_default, remove_title, remove_caption) %}
    {% import _self as twigmicros %}
    <div class="row" data-repeater-item>
        <div class="col-sm-12">
            <table class="table table-xs w-100 keyword-table-input typo-table">
                <tbody>
                    <tr>
                        <td>
                            <div class="fg-line">
                                {%
                                    set attr = {
                                        'type'                    : "text",
                                        'class'                   : "form-control input-sm",
                                        'value'                   : value,
                                        'name'                    : id,
                                        'placeholder'             : placeholder,
                                        'data-placeholder-default': placeholder_default,
                                        'maxlength'               : 150,
                                        'autocomplete'            : 'off',
                                        'spellcheck'              : 'false',
                                        'disabled'                : (not is_granted('ROLE_EDITOR'))
                                    }
                                %}
                                <input {{ twigmicros.setAttributes(attr) }}/>
                            </div>
                        </td>
                        <td class="align-middle action w-20 text-center">
                            {%
                                set attr = {
                                    'class'               : "btn btn-xs btn-danger",
                                    'title'               : remove_title,
                                    'data-repeater-delete': true,
                                    'disabled'            : (not is_granted('ROLE_EDITOR'))
                                }
                            %}
                            <button {{ twigmicros.setAttributes(attr) }}>
                                <i class="fa fa-minus-square"></i>
                                <span class="d-none d-sm-inline-block d-md-none d-lg-inline-block">&nbsp;{{ remove_caption }}</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endmacro %}

{% macro printDrugKeywordSynonymsRepeaterRow(type, id, value, country, placeholder, placeholder_default, remove_title, remove_caption) %}
    {% import _self as twigmicros %}
    <div class="row" data-repeater-item>
        <div class="col-sm-12">
            <table class="table table-xs w-100 keyword-table-input synonym-table">
                <tbody>
                    <tr>
                        <td>
                            <div class="fg-line">
                                {%
                                    set attr = {
                                        'type'                    : "text",
                                        'class'                   : "form-control input-sm",
                                        'value'                   : value,
                                        'name'                    : id,
                                        'placeholder'             : placeholder,
                                        'data-placeholder-default': placeholder_default,
                                        'maxlength'               : 150,
                                        'autocomplete'            : 'off',
                                        'spellcheck'              : 'false',
                                        'disabled'                : (not is_granted('ROLE_EDITOR'))
                                    }
                                %}
                                <input {{ twigmicros.setAttributes(attr) }}/>
                            </div>
                        </td>
                        <td rowspan="2" class="align-middle action w-20 text-center">
                            {%
                                set attr = {
                                    'class'               : "btn btn-xs btn-danger",
                                    'title'               : remove_title,
                                    'data-repeater-delete': true,
                                    'disabled'            : (not is_granted('ROLE_EDITOR'))
                                }
                            %}
                            <button {{ twigmicros.setAttributes(attr) }}>
                                <i class="fa fa-minus-square"></i>
                                <span class="d-none d-sm-inline-block d-md-none d-lg-inline-block">&nbsp;{{ remove_caption }}</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="fg-line select2-wrapper {{ (is_granted('ROLE_EDITOR') ? 'active' : 'disabled') }}">
                                {%
                                    set attr = {
                                        'class'                       : "select2 show-tick form-control input-sm w-100",
                                        'data-live-search'            : "true",
                                        'data-live-search-placeholder': "Synonym Country",
                                        'data-show-subtext'           : "true",
                                        'name'                        : "country",
                                        'data-preselected'            : country,
                                        'title'                       : 'No country selected',
                                        'multiple'                    : true,
                                        'disabled'                    : (not is_granted('ROLE_EDITOR')),
                                        'style'                       : 'height: 2px!important;overflow: hidden;',
                                    }
                                %}
                                <select {{ twigmicros.setAttributes(attr) }}></select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endmacro %}

{% macro printDrugSubmitCard(type, new, id) %}
    {% import _self as twigmicros %}
    <div class="card-footer d-flex justify-content-between">
        <div>
            {% if (new == false) %}
                {%
                    set attr = {
                        'href' : path('drug_map', {'type': type, 'id': id}),
                        'class': 'btn btn-secondary active btn-sm',
                    }
                %}
                <a {{ twigmicros.setAttributes(attr) }}>
                    <i class="fa fa-link fa-lg mr-1"></i>
                    View in Drug Map
                </a>
            {% endif %}
        </div>
        <div>
            {% if (new == false) %}
                {%
                    set attr = {
                        'href'     : '#',
                        'id'       : 'action-delete',
                        'class'    : 'btn btn-danger btn-sm',
                        'data-type': type,
                        'data-id'  : id,
                        'disabled' : (not is_granted('ROLE_EDITOR')),
                    }
                %}
                <button {{ twigmicros.setAttributes(attr) }}>
                    <i class="fa fa-trash fa-lg mr-1"></i>
                    Delete Drug
                </button>
            {% endif %}
            {%
                set attr = {
                    'type'    : 'submit',
                    'class'   : 'btn btn-primary btn-sm',
                    'disabled': (not is_granted('ROLE_EDITOR')),
                }
            %}
            <button {{ twigmicros.setAttributes(attr) }}>
                <i class="fa fa-save fa-lg mr-1"></i>
                {{- (new ? 'Register Drug' : 'Update Drug') -}}
            </button>
        </div>
    </div>
{% endmacro %}

{% macro printRadioFields(id, options, name, color) %}
    {%- import _self as twigmicros -%}
    {%- set color  = color|default('success') -%}
    {%- set id     = id|default('') -%}
    {%- set name   = name|default(id) -%}
    {%-
        set attr = {
            'id'   : id,
            'class': options.wrapper_class|default('d-lg-flex justify-content-start') ~ ' radio radio-' ~ color,
        }
    -%}
    <div {{ twigmicros.setAttributes(attr) }}>
        {% for atK, atV in options.values %}
            <div class="{{ (options.inline|default(false) ? 'mr-1' : '') }}">
                {%
                    set attr = {
                        'type'   : 'radio',
                        'value'  : atV.value,
                        'name'   : name,
                        'id'     : id ~ '-' ~ atV.value|default('none'),
                        'checked': atV.checked|default(false),
                    }
                %}
                <input {{ twigmicros.setAttributes(attr) }}>
                {%
                    set attr = {
                        'class': (options.inline|default(false) ? 'd-inline-block' : options.label_class|default(false)) ~ ' text-truncate',
                        'for'  : id ~ '-' ~ atV.value|default('none'),
                    }
                %}
                <label {{ twigmicros.setAttributes(attr) }}>{{ atV.caption }}</label>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro printConferenceContactRepeaterFields(name, type, singular, values) %}
    {%- import _self as twigmicros -%}
    <div class="repeater" id="contact-{{ name }}-repeater">
        <div class="contact-repeater-edit" data-repeater-list="{{ name }}">
            {% for value in values %}
                {{ twigmicros.printConferenceContactRepeaterRow(type, singular, value) }}
            {% endfor %}
            {{ twigmicros.printConferenceContactRepeaterRow(type, singular) }}
        </div>
        <div class="row contact-repeater-action">
            <div class="col-lg-12">
                {%
                    set attr = {
                        'class'               : "btn btn-primary btn-xs m-t-5 repeater-add-btn",
                        'title'               : 'Add new ' ~ singular,
                        'data-repeater-create': true,
                    }
                %}
                <button {{ twigmicros.setAttributes(attr) }}>
                    <i class="fa fa-plus-square"></i>
                    <span class="">Add {{ singular }}</span>
                </button>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro printConferenceContactRepeaterRow(type, singular, value) %}
    {%- import _self as twigmicros -%}
    <div class="d-flex justify-content-between mb-2" data-repeater-item>
        <div class="flex-fill mr-2">
            {%
                set attr = {
                    'type'                    : type|default('text'),
                    'class'                   : "form-control",
                    'value'                   : value|default('')|escape,
                    'name'                    : 'input',
                    'placeholder'             : 'New ' ~ singular,
                    'data-placeholder-default': 'New ' ~ singular,
                    'maxlength'               : 150,
                    'autocomplete'            : 'off',
                    'spellcheck'              : 'false',
                }
            %}
            <input {{ twigmicros.setAttributes(attr) }}/>
        </div>
        <button class="align-self-center btn btn-xs btn-danger" title="Remove {{ singular }}" data-repeater-delete>
            <i class="fa fa-minus-square"></i>
            Remove
        </button>
    </div>
{% endmacro %}

{% macro printConferenceLinksRepeaterFields(name, values) %}
    {%- import _self as twigmicros -%}
    <div class="repeater" id="guide-links-repeater">
        <div class="guide-links-repeater-edit" data-repeater-list="{{ name }}">
            {% for value in values %}
                {{ twigmicros.printConferenceLinksRepeaterRow(value) }}
            {% endfor %}
            {{ twigmicros.printConferenceLinksRepeaterRow() }}
        </div>
        <div class="row guide-links-repeater-action">
            <div class="col-lg-12">
                {%
                    set attr = {
                        'class'               : "btn btn-primary btn-xs m-t-5 repeater-add-btn",
                        'title'               : 'Add new Link',
                        'data-repeater-create': true,
                    }
                %}
                <button {{ twigmicros.setAttributes(attr) }}>
                    <i class="fa fa-plus-square"></i>
                    <span class="">Add Link</span>
                </button>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro printConferenceLinksRepeaterRow(value) %}
    {%- import _self as twigmicros -%}
    <div class="d-flex justify-content-between mb-4" data-repeater-item>
        <div class="flex-fill mr-2">
            <div class="">
                {%
                    set attr = {
                        'type'                    : "text",
                        'class'                   : "form-control mb-2",
                        'value'                   : value.caption|default('')|escape,
                        'name'                    : 'caption',
                        'placeholder'             : 'Link Caption',
                        'data-placeholder-default': 'Link Caption',
                        'maxlength'               : 150,
                        'autocomplete'            : 'off',
                        'spellcheck'              : 'false',
                    }
                %}
                <input {{ twigmicros.setAttributes(attr) }}/>
            </div>
            <div class="">
                {%
                    set attr = {
                        'type'                    : "url",
                        'class'                   : "form-control",
                        'value'                   : value.url|default('')|escape,
                        'name'                    : 'url',
                        'placeholder'             : 'URL Address',
                        'data-placeholder-default': 'URL Address',
                        'maxlength'               : 150,
                        'autocomplete'            : 'off',
                        'spellcheck'              : 'false',
                    }
                %}
                <input {{ twigmicros.setAttributes(attr) }}/>
            </div>
        </div>
        <button class="align-self-center btn btn-xs btn-danger" title="Remove Link" data-repeater-delete>
            <i class="fa fa-minus-square"></i>
            Remove
        </button>
    </div>
{% endmacro %}