{# templates/base.html.twig #}
<!DOCTYPE html>
    <head>
        {# LOADING METAs #}
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
        <meta name="description" content="All work copyright of P\S\L Group © 2018-2019 " />
        <meta name="author" content="P\S\L Group" />
        {% if (app.user is not empty) %}
        {# WILL USE JS TO AVOID DISORIENT USER #}
        <noscript>
            <meta http-equiv="refresh" content="{{ (app.session.getMetadataBag().getLifetime() > 0 ? (app.session.getMetadataBag().getLifetime() + 5) : 1440) }}">
        </noscript>
        {% endif %}
        <title>{{ head.title|default('Drugs Database') }}</title>

        {# LOADING FAVICONS #}
        {% include 'components/heading-favicon.html.twig' %}

        {# LOADING VENDORS CSS #}
        <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/assets/vendor/font-awesome/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/assets/vendor/jquery.scrollbar/jquery.scrollbar.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/assets/vendor/select2/css/select2.min.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/assets/vendor/sweetalert2/sweetalert2.min.css" media="screen" />
        {# <link rel="stylesheet" type="text/css" href="/assets/vendor/simplebar/simplebar.min.css" media="screen" /> #}

        {# LOADING TEMPLATE CSS #}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/base/template-pages.min.css') }}" class="main-stylesheet" />

        {# LOADING PAGE CSS #}
        {% block stylesheets %}{% endblock %}

        {# LOADING CSS OVERRIDES AFTER #}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/base/template-pages-post.min.css') }}" class="main-stylesheet" />

        {# LOADING PAGE JS VARS #}
        {% if (template is defined) %}
            <script type="text/javascript">
                //<![CDATA[
                var CONST_ROOT     = "{{ absolute_url(path('root')) }}";
                var CONST_USERMAIL = "{{ (app.user is not empty ? user.getEmail() : '') }}";
                var CONST_MREFRESH = {{ (app.user is not empty ? (app.session.getMetadataBag().getLifetime()) : 0) }};
                //]]>
            </script>
        {% endif %}

        {# LOADING ANY HOOK BEFORE HEADING OFF #}
        {% block heading_closure %}{% endblock %}
    </head>
    <body class="fixed-header {{ template.body_classes|default([])|join(' ') }} {{ body_classes|default('') }} page_{{ app.request.get('_route') }}">
        {# BODY DEFAULTS - avoid stopped during error #}
        {% set head = head ?? {'action': '?', 'title': '?'} %}
        {% set template = template ?? {'id': '?'} %}

        {# LOADING BODY #}
        {% block body %}{% endblock %}

        {# LOADING VENDORS JS #}
        <script type="text/javascript" src="/assets/vendor/font-awesome/js/all.min.js"></script>
        <script type="text/javascript" src="/assets/vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/vendor/jquery-ui-dist/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/assets/vendor/popper.js/popper.min.js"></script>
        <script type="text/javascript" src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="/assets/vendor/bootstrap4-toggle/js/bootstrap4-toggle.min.js"></script>
        <script type="text/javascript" src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
        <script type="text/javascript" src="/assets/vendor/jquery-unveil/jquery.unveil.js"></script>
        <script type="text/javascript" src="/assets/vendor/jquery.ioslist/js/jquery.ioslist.min.js"></script>
        <script type="text/javascript" src="/assets/vendor/jquery.actual/jquery.actual.min.js"></script>
        <script type="text/javascript" src="/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
        <script type="text/javascript" src="/assets/vendor/desandro-classie/classie.js"></script>
        <script type="text/javascript" src="/assets/vendor/select2/js/select2.full.min.js"></script>
        <script type="text/javascript" src="/assets/vendor/sweetalert2/sweetalert2.min.js"></script>
        <script type="text/javascript" src="/assets/vendor/js-cookie/js.cookie.js"></script>
        {# <script type="text/javascript" src="/assets/vendor/simplebar/simplebar.min.js"></script> #}

        {# LOADING TEMPLATE JS #}
        <script type="text/javascript" src="{{ asset('assets/base/template-pages.min.js') }}"></script>

        {# LOADING VENDOR AFTER TEMPLATE #}
        <script type="text/javascript" src="/assets/vendor/pace-js/pace.min.js"></script>

        {# LOADING PAGE JS #}
        {% block javascripts %}{% endblock %}

        {# LOADING JS OVERRIDES AFTER #}
        <script type="text/javascript" src="{{ asset('assets/base/template-pages-post.min.js') }}"></script>

        {# LOADING BODY OVERLAYS #}
        {% block body_overlays %}{% endblock %}

        {# LOADING OVERLAYS #}
        {% include 'components/overlay-noscript.html.twig' %}
        {% include 'components/overlay-old-browser.html.twig' %}
        {% if (app.user is not empty) %}
            {% include 'components/modal-user-profile.html.twig' %}
        {% endif %}
        {% if (is_granted('ROLE_USER') and (has_search_overlay|default(false))) %}
            {% include 'components/overlay-search.html.twig' %}
        {% endif %}
        {% if (is_granted('ROLE_USER') and (has_drug_view_overlay|default(false))) %}
            {% include 'components/overlay-drug-view.html.twig' %}
        {% endif %}
    </body>
</html>