{# templates/layouts/content-central-nav-bottom.html.twig #}
<div class="container-fluid container-fixed-lg footer">
    <div class="copyright sm-text-center">
        <p class="small no-margin pull-left sm-pull-reset">
            <span class="hint-text">
                Copyright © {{ head.year|default('?') }}.
                P\S\L Group.
                All rights reserved.
                Version v{{ head.version|default('?') }}-{{ head.sym|default('?') }}.
            </span>
        </p>
        <div class="clearfix"></div>
    </div>
</div>