{# templates/components/content-central-flash-alerts.html.twig #}
{# START FLASHES #}
{% apply spaceless %}
<div class="pgn-wrapper" data-position="top" style="top: 60px;">
    <div class="pgn push-on-sidebar-open pgn-bar">
        <div class="flash-messages">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        {{ message|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{# END FLASHES #}
{% endapply %}