{# templates/components/content-central-limited-user.html.twig #}
<div class="row mt-4">
    <div class="col-6">
        <div class="card card-default">
            <div class="card-header separator">
                <div class="card-title">Limited Access
                </div>
            </div>
            <div class="card-body">
                <h3>Welcome <span class="semi-bold">{{ app.user.getNickName() }}</span>!</h3>
                <p>
                    You just login as a Visitor, which had very limited access to the functionality we offers.<br/>
                    Please contact Administrator for access.
                </p>
                <div class="mt-4">
                    <div class="m-t-5 inline">
                        <i class="fa fa-user-shield fa-2x"></i>
                    </div>
                    <div class="inline m-l-10">
                        <p class="small hint-text m-t-5">
                            Drugs Database<br>
                            {{ head.year|default('2019') }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>