{# templates/components/content-central-nav-left.twig.html #}
{% import "__macros.html.twig" as macros %}
<nav class="page-sidebar" data-pages="sidebar">
    {# BEGIN SIDEBAR MENU TOP TRAY CONTENT #}
    <div class="sidebar-overlay-slide from-top" id="appMenu">
    </div>
    {# END SIDEBAR MENU TOP TRAY CONTENT #}
    {# BEGIN SIDEBAR MENU HEADER #}
    <div class="sidebar-header">
        <img src="/assets/images/logo/logo-drugdb-h100.png" alt="logo" class="brand" data-src="/assets/images/logo/logo-drugdb-h100.png" data-src-retina="/assets/images/logo/logo-drugdb-h100.png" width="124" height="35">
    </div>
    {# END SIDEBAR MENU HEADER #}
    {# START SIDEBAR MENU  #}
    <div class="sidebar-menu">
        {# BEGIN SIDEBAR MENU ITEMS #}
        <ul class="menu-items">
            <li class="m-t-30 clearfix"></li>

            <li class="d-block d-lg-none">
                <a href="javascript:;" data-toggle="search">
                    <span class="title">Search</span>
                </a>
                <span class="icon-thumbnail">
                    <i class="fa fa-search"></i>
                </span>
            </li>

            {%
                set attr = {
                    'class': ('dashboard' == app.request.get('_route') ? 'active' : '')
                }
            %}
            <li {{ macros.setAttributes(attr) }}>
                <a href="{{ path('dashboard') }}" class="">
                    <span class="title">Dashboard</span>
                </a>
                <span class="icon-thumbnail">
                    <i class="fa fa-home"></i>
                </span>
            </li>

            {%
                set attr = {
                    'class': ('admin_' in app.request.get('_route') ? 'active' : ''),
                    'style': (not is_granted('ROLE_ADMIN') ? 'display: none;' : '')
                }
            %}
            <li {{ macros.setAttributes(attr) }}>
                <a href="javascript:;">
                    <span class="title">Administration</span>
                    <span class="arrow"></span>
                </a>
                <span class="icon-thumbnail"><i class="fa fa-user-shield"></i></span>
                <ul class="sub-menu">
                    {%
                        set attr = {
                            'class': ('admin_manage_roles' == app.request.get('_route') ? 'active' : ''),
                        }
                    %}
                    <li {{ macros.setAttributes(attr) }}>
                        <a href="{{ path('admin_manage_roles') }}">Manage Roles</a>
                        <span class="icon-thumbnail"><i class="fa fa-user-tag"></i></span>
                    </li>
                </ul>
            </li>

            {%
                set attr = {
                    'class': ('drug_' in app.request.get('_route') ? 'active' : ''),
                    'style': (not is_granted('ROLE_USER') ? 'display: none;' : '')
                }
            %}
            <li {{ macros.setAttributes(attr) }}>
                <a href="javascript:;">
                    <span class="title">Drugs</span>
                    <span class="arrow"></span>
                </a>
                <span class="icon-thumbnail"><i class="fa fa-prescription"></i></span>
                <ul class="sub-menu">
                    {%
                        set attr = {
                            'class': ('drug_search' == app.request.get('_route') ? 'active' : ''),
                            'style': (not is_granted('ROLE_USER') ? 'display: none;' : '')
                        }
                    %}
                    <li {{ macros.setAttributes(attr) }}>
                        <a href="{{ path('drug_search') }}">Advance Search</a>
                        <span class="icon-thumbnail"><i class="fab fa-searchengin fa-lg"></i></span>
                    </li>

                    {%
                        set attr = {
                            'class': ('drug_open_map' == app.request.get('_route') ? 'active' : ''),
                            'style': (not is_granted('ROLE_EDITOR') ? ('drug_open_map' == app.request.get('_route') ? '' : 'display: none;') : '')
                        }
                    %}
                    <li {{ macros.setAttributes(attr) }}>
                        <a href="{{ path('drug_open_map') }}">Drug Map</a>
                        <span class="icon-thumbnail"><i class="fa fa-link"></i></span>
                    </li>

                    <li class="saperator">
                        <span>&nbsp;</span>
                    </li>

                    {% for idx in ['experimental', 'generic', 'brand'] %}
                        {%
                            set attr = {
                                'class': ('drug_register_' ~ idx == app.request.get('_route') ? 'active' : ''),
                                'style': (not is_granted('ROLE_EDITOR') ? 'display: none;' : '')
                            }
                        %}
                        <li {{ macros.setAttributes(attr) }}>
                            <a href="{{ path('drug_register_' ~ idx) }}">Add {{ idx|capitalize }}</a>
                            <span class="icon-thumbnail">
                                <span class="fa-layers fa-fw">
                                    <span class="fa-layers-text" data-fa-transform="grow-8 left-12">+</span>
                                    <i class="{{ macros.getDrugFaIconClass(idx) }}" data-fa-transform="down-2 right-6"></i>
                                </span>
                            </span>
                        </li>
                        {% if ('drug_edit_' ~ idx == app.request.get('_route')) %}
                            <li class="active">
                                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
                                    {{ head.action }} {{ idx|capitalize }} #{{ app.request.attributes.get('_route_params')['id'] }}
                                </a>
                                <span class="icon-thumbnail">
                                    <span class="fa-layers fa-fw">
                                        <i class="fas fa-pencil-alt" data-fa-transform="shrink-4 left-10 flip-h"></i>
                                        <i class="{{ macros.getDrugFaIconClass(idx) }}" data-fa-transform="down-2 right-6"></i>
                                    </span>
                                </span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>

            {%
                set attr = {
                    'class': ('journal_' in app.request.get('_route') ? 'active' : ''),
                    'style': (not is_granted('ROLE_USER') ? 'display: none;' : '')
                }
            %}
            <li {{ macros.setAttributes(attr) }}>
                <a href="javascript:;">
                    <span class="title">Journals</span>
                    <span class="arrow"></span>
                </a>
                <span class="icon-thumbnail"><i class="fa fa-book-medical"></i></span>
                <ul class="sub-menu">
                    {%
                        set attr = {
                            'class': ('journal_search' == app.request.get('_route') ? 'active' : ''),
                            'style': (not is_granted('ROLE_USER') ? 'display: none;' : '')
                        }
                    %}
                    <li {{ macros.setAttributes(attr) }}>
                        {% set mayActive = (('journal_search' == app.request.get('_route')) and (2 == app.request.query.keys()|length)) %}
                        <a href="{{ path('journal_search') }}">Advance Search</a>
                        <span class="arrow open active"></span>
                        <span class="icon-thumbnail"><i class="fa fa-book-reader fa-lg"></i></span>
                        <ul class="sub-menu pt-0 mb-0 pb-1" style="display: block;">
                            <li class="{{ (((mayActive ? (app.request.get('status') ?? '') : '') == '1') ? 'active' : '') }}">
                                <a href="{{ path('journal_search', {'status': '1', 'showcorrupted': 'no'}) }}" class="p-0" title="List Journals marked Active">Active</a>
                                <span class="icon-thumbnail">Ac</span>
                            </li>
                            <li class="{{ (((mayActive ? (app.request.get('status') ?? '') : '') == '5') ? 'active' : '') }}">
                                <a href="{{ path('journal_search', {'status': '5', 'showcorrupted': 'no'}) }}" class="p-0" title="List Journals marked Archived">Archived</a>
                                <span class="icon-thumbnail">Av</span>
                            </li>
                            <li class="{{ (((mayActive ? (app.request.get('ismedline') ?? '') : '') == 'yes') ? 'active' : '') }}">
                                <a href="{{ path('journal_search', {'ismedline': 'yes', 'showcorrupted': 'no'}) }}" class="p-0" title="List MedLine Journals">MedLine</a>
                                <span class="icon-thumbnail">Ml</span>
                            </li>
                            <li class="{{ (((mayActive ? (app.request.get('ismedline') ?? '') : '') == 'no') ? 'active' : '') }}">
                                <a href="{{ path('journal_search', {'ismedline': 'no', 'showcorrupted': 'no'}) }}" class="p-0" title="List Not MedLine Journals">Not MedLine</a>
                                <span class="icon-thumbnail">xM</span>
                            </li>
                            <li class="{{ (((mayActive ? (app.request.get('isdgabstract') ?? '') : '') == 'yes') ? 'active' : '') }}">
                                <a href="{{ path('journal_search', {'isdgabstract': 'yes', 'showcorrupted': 'no'}) }}" class="p-0" title="List DgAbstract Journals">DgAbstract</a>
                                <span class="icon-thumbnail">Da</span>
                            </li>
                            <li class="{{ (((mayActive ? (app.request.get('issecondline') ?? '') : '') == 'yes') ? 'active' : '') }}">
                                <a href="{{ path('journal_search', {'issecondline': 'yes', 'showcorrupted': 'no'}) }}" class="p-0" title="List SecondLine Journals">SecondLine</a>
                                <span class="icon-thumbnail">Sl</span>
                            </li>
                        </ul>
                    </li>

                    {%
                        set attr = {
                            'class': ('journal_registry' == app.request.get('_route') ? 'active' : ''),
                            'style': (not is_granted('ROLE_EDITOR') ? 'display: none;' : '')
                        }
                    %}
                    <li {{ macros.setAttributes(attr) }}>
                        <a href="{{ path('journal_registry') }}">Registry</a>
                        <span class="icon-thumbnail"><i class="fa fa-atlas fa-lg"></i></span>
                    </li>

                    {% if ('journal_modify' == app.request.get('_route')) %}
                        <li class="active">
                            {%
                                set attr = {
                                    'class': 'active',
                                    'style': (not is_granted('ROLE_EDITOR') ? 'display: none;' : '')
                                }
                            %}
                            <li {{ macros.setAttributes(attr) }}>
                                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
                                    {{ head.action }} #{{ template.id }}
                                </a>
                                <span class="icon-thumbnail"><i class="fa fa-book fa-lg"></i></span>
                            </li>
                        </li>
                    {% endif %}

                    {% if ('journal_view' == app.request.get('_route')) %}
                        <li class="active">
                            {%
                                set attr = {
                                    'class': 'active',
                                    'style': (not is_granted('ROLE_USER') ? 'display: none;' : '')
                                }
                            %}
                            <li {{ macros.setAttributes(attr) }}>
                                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
                                    {{ head.action }} #{{ template.id }}
                                </a>
                                <span class="icon-thumbnail"><i class="fa fa-book fa-lg"></i></span>
                            </li>
                        </li>
                    {% endif %}
                </ul>
            </li>

            {%
                set attr = {
                    'class': ('conference_' in app.request.get('_route') ? 'active' : ''),
                    'style': (not is_granted('ROLE_USER') ? 'display: none;' : '')
                }
            %}
            <li {{ macros.setAttributes(attr) }}>
                <a href="javascript:;">
                    <span class="title">Conferences</span>
                    <span class="arrow"></span>
                </a>
                <span class="icon-thumbnail"><i class="fa fa-calendar-check"></i></span>
                <ul class="sub-menu">
                    {%
                        set attr = {
                            'class': ('conference_search' == app.request.get('_route') ? 'active' : ''),
                            'style': (not is_granted('ROLE_USER') ? 'display: none;' : '')
                        }
                    %}
                    <li {{ macros.setAttributes(attr) }}>
                        <a href="{{ path('conference_search') }}">Advance Search</a>
                        <span class="icon-thumbnail"><i class="fa fa-calendar-day fa-lg"></i></span>
                    </li>

                    {%
                        set attr = {
                            'class': ('conference_registry' == app.request.get('_route') ? 'active' : ''),
                            'style': (not is_granted('ROLE_EDITOR') ? 'display: none;' : '')
                        }
                    %}
                    <li {{ macros.setAttributes(attr) }}>
                        <a href="{{ path('conference_registry') }}">Registry</a>
                        <span class="icon-thumbnail"><i class="far fa-calendar-plus fa-lg"></i></span>
                    </li>

                    {% if ('conference_modify' == app.request.get('_route')) %}
                        <li class="active">
                            {%
                                set attr = {
                                    'class': 'active',
                                    'style': (not is_granted('ROLE_EDITOR') ? 'display: none;' : '')
                                }
                            %}
                            <li {{ macros.setAttributes(attr) }}>
                                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
                                    {{ head.action|default('') }} #{{ template.id|default('') }}
                                </a>
                                <span class="icon-thumbnail"><i class="far fa-calendar-times fa-lg"></i></span>
                            </li>
                        </li>
                    {% endif %}

                    {% if ('conference_view' == app.request.get('_route')) %}
                        <li class="active">
                            {%
                                set attr = {
                                    'class': 'active',
                                    'style': (not is_granted('ROLE_USER') ? 'display: none;' : '')
                                }
                            %}
                            <li {{ macros.setAttributes(attr) }}>
                                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
                                    {{ head.action|default('') }} #{{ template.id|default('') }}
                                </a>
                                <span class="icon-thumbnail"><i class="far fa-calendar-check fa-lg"></i></span>
                            </li>
                        </li>
                    {% endif %}
                </ul>
            </li>
            {%
                set attr = {
                'class': ('dgmonitor_' in app.request.get('_route') ? 'active' : ''),
                'style': (not is_granted('ROLE_USER') ? 'display: none;' : '')
            }
            %}
            <li {{ macros.setAttributes(attr) }}>
                <a href="javascript:;">
                    <span class="title">DG Content</span>
                    <span class="arrow"></span>
                </a>
                <span class="icon-thumbnail"><i class="fa fa-list-alt"></i></span>
                <ul class="sub-menu">
                    {%
                        set attr = {
                        'class': ('dgmonitor_papers_only' == app.request.get('_route') ? 'active' : ''),
                        'style': (not is_granted('ROLE_USER') ? 'display: none;' : '')
                    }
                    %}
                    <li {{ macros.setAttributes(attr) }}>
                        <a href="{{ path('dgmonitor_papers_only') }}">DG Papers Only</a>
                        <span class="icon-thumbnail"><i class="far fa-newspaper"></i></span>
                    </li>
                    {%
                        set attr = {
                        'class': ('dgmonitor_abstracts_read_only' == app.request.get('_route') ? 'active' : ''),
                        'style': (not is_granted('ROLE_USER') ? 'display: none;' : '')
                    }
                    %}
                    <li {{ macros.setAttributes(attr) }}>
                        <a href="{{ path('dgmonitor_abstracts_read_only') }}">Abstracts Read Only</a>
                        <span class="icon-thumbnail"><i class="fa fa-list-ul"></i></span>
                    </li>
                    {%
                        set attr = {
                        'class': ('dgmonitor_time_stamp' == app.request.get('_route') ? 'active' : ''),
                        'style': (not is_granted('ROLE_USER') ? 'display: none;' : '')
                    }
                    %}
                    <li {{ macros.setAttributes(attr) }}>
                        <a href="{{ path('dgmonitor_time_stamp') }}">Time Stamp</a>
                        <span class="icon-thumbnail"><i class="far fa-clock"></i></span>
                    </li>
                </ul>
            </li>
            {%
                set attr = {
                'class': ('fb_article_list' == app.request.get('_route') ? 'active' : '')
            }
            %}
            <li {{ macros.setAttributes(attr) }}>
                <a href="{{ path('fb_article_list') }}" class="">
                    <span class="title">Feedbuilder</span>
                </a>
                <span class="icon-thumbnail">
                    <i class="fas fa-file-alt"></i>
                    <i class="fas fa-search"></i>
                </span>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    {# END SIDEBAR MENU  #}
</nav>