{# templates/components/content-central-nav-top.twig.html #}
<div class="header light bg-white">
    {# START MOBILE SIDEBAR TOGGLE  #}
    <a href="#" class="btn-link toggle-sidebar d-lg-none" data-toggle="sidebar"><i class="fa fa-bars"></i></a>
    {# END MOBILE SIDEBAR TOGGLE  #}

    {% if is_granted('ROLE_USER') %}
    <div class="searched-centered-brand-inline" data-toggle="search">
        <div class="brand inline">
            <img src="/assets/images/logo/logo-drugdb-h100.png" alt="logo" data-src="/assets/images/logo/logo-drugdb-h100.png" data-src-retina="/assets/images/logo/logo-drugdb-h100.png" width="124" height="35">
        </div>
        <a href="#" class="search-link d-none d-lg-inline-block d-xl-inline-block" data-toggle="search" title="Type anywhere to search">
            <i class="fab fa-searchengin fa-lg"></i>Type anywhere to <span class="bold">search</span>
        </a>
    </div>
    {% else %}
    <div class="searched-centered-brand-inline">
        <div class="brand inline">
            <img src="/assets/images/logo/logo-drugdb-h100.png" alt="logo" data-src="/assets/images/logo/logo-drugdb-h100.png" data-src-retina="/assets/images/logo/logo-drugdb-h100.png" width="124" height="35">
        </div>
    </div>
    {% endif %}

    <div class="d-flex align-items-center">
        {# START User Info #}
        <div class="pull-left p-r-10 fs-14 font-heading d-lg-inline-block d-none m-l-20">
            <span class="semi-bold">{{ user ? user.getDisplayName() : '' }}</span>
        </div>
        <div class="dropdown pull-right mr-0 mr-lg-4">
            <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="inline">
                <i class="far fa-user-circle fa-2x"></i>
            </span>
            </button>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
                {% if (head is defined) %}
                    <a href="#" class="dropdown-item" data-toggle="modal" data-target="#profile-modal">
                        <i class="fa fa-cogs"></i>
                        Profile
                    </a>
                {% endif %}
                <a href="#" id="switch-color-theme" class="dropdown-item" style="display: none;">
                    <i class="fa fa-desktop"></i>
                    Switch to <span class="theme-caption"></span>
                </a>
                <a href="{{ path('app_logout') }}" class="clearfix bg-master-lighter dropdown-item">
                    <span class="pull-left">Logout</span>
                    <span class="pull-right"><i class="fa fa-power-off"></i></span>
                </a>
            </div>
        </div>
        {# END User Info #}
    </div>
</div>