{# templates/components/modal-user-profile.html.twig #}
<div class="modal fade slide-right" id="profile-modal" tabindex="-1" role="dialog" aria-labelledby="profile-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title p-l-15">Your Profile</h2>
            </div>
            <div class="modal-body">
                <table class="table table-borderless table-condensed no-footer" role="grid">
                    <tbody>
                        <tr class="d-flex">
                            <td class="bold col-3" scope="row">Name</td>
                            <td class="col-9">{{ user.getDisplayName() }}</td>
                        </tr>
                        <tr class="d-flex">
                            <td class="bold col-3" scope="row">Username</td>
                            <td class="col-9">{{ user.getUsername() }}</td>
                        </tr>
                        <tr class="d-flex">
                            <td class="bold col-3" scope="row">Email</td>
                            <td class="col-9">{{ user.getEmail() }}</td>
                        </tr>
                        <tr class="d-flex">
                            <td class="bold col-3" scope="row">Position</td>
                            <td class="col-9">{{ user.getPosition() }}</td>
                        </tr>
                        <tr class="d-flex">
                            <td class="bold col-3" scope="row">Given Role</td>
                            <td class="col-9">
                                {% if (user.getRoles()[0] is defined) %}
                                    {% set userrole = user.getRoles()[0]|split('_') %}
                                    {{ userrole[1]|capitalize }}
                                {% else %}
                                    Visitor
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <td class="bold col-3" scope="row">Last Login</td>
                            <td class="col-9">{{ (user.getLastLogin() ? (user.getLastLogin().format('D, jS M Y \@ g:ia (e)')) : 'Never') }}</td>
                        </tr>
                    </tbody>
                </table>
                <p class="m-t-35 p-l-15">Your Profile is not editable.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>