{# templates/components/overlay-search.html.twig #}
{% import "__macros.html.twig" as macros %}
{% apply spaceless %}
<div class="overlay hide" data-pages="search" data-simplebar>
    {# BEGIN Overlay Content #}
    <div class="overlay-content has-results m-t-20">
        {# BEGIN Overlay Header #}
        <div class="container-fluid">
            {# BEGIN Overlay Logo #}
            <img class="overlay-brand" src="/assets/images/logo/logo-drugdb-clear-h100.png" alt="logo" data-src="/assets/images/logo/logo-drugdb-clear-h100.png" data-src-retina="/assets/images/logo/logo-drugdb-clear-h100.png" height="50">
            {# END Overlay Logo #}
            <div class="btn-group ml-4 mt-sm-1 float-right float-sm-none">
                <a href="{{ path('dashboard') }}" class="btn btn-sm btn-info" title="Go to Dashboard">
                    <i class="fa fa-home fa-lg"></i>
                    <span class="ml-1 d-none d-xl-inline-block">Dashboard</span>
                </a>

                {% for idx in ['experimental', 'generic', 'brand'] %}
                    <a href="{{ path('drug_register_' ~ idx) }}" class="btn btn-sm btn-info" title="Create new {{ idx|capitalize }} Drug">
                        <span class="fa-layers fa-fw mr-1">
                            <span class="fa-layers-text" data-fa-transform="grow-4 left-12">+</span>
                            <i class="{{ macros.getDrugFaIconClass(idx) }}" data-fa-transform="right-2"></i>
                        </span>
                        <span class="ml-1 d-none d-lg-inline-block d-xl-inline-block">Add {{ idx|capitalize }}</span>
                    </a>
                {% endfor %}

                <a href="#" class="btn btn-sm btn-default active overlay-close d-none d-sm-inline-block" title="Cancel search">
                    <i class="fa fa-times"></i>
                    <span class="ml-1 d-none d-xl-inline-block">Cancel search</span>
                </a>
            </div>
            {# BEGIN Overlay Close #}
            <a href="#" class="close-icon-light overlay-close text-black">
                <i class="fa fa-times"></i>
            </a>
            {# END Overlay Close #}
        </div>

        {# END Overlay Header #}
        <div class="container-fluid">
            {# BEGIN Overlay Controls #}
            <input id="overlay-search" class="no-border overlay-search bg-transparent" placeholder="Search..." autocomplete="off" spellcheck="false">
            <br>
            <div class="inline-block m-l-1">
                <p class="fs-13">
                    Lookup Drugs by Name, Synonym or Typo, also Journal Title and Conference Event Name.</span>
                </p>
            </div>
            {# END Overlay Controls #}
        </div>

        {# BEGIN Overlay Search Results #}
        <div class="container-fluid">
            <span>
                <strong>Suggestion: </strong>
            </span>
            <span id="overlay-suggestions"></span>
            <br>
            <div class="search-results m-t-40" style="display: none;">
                <div class="row">
                    <div class="result-section col-xl-4 col-lg-12 m-b-35" id="search-overlay-search-results-drug">
                        <div class="result-heading d-flex justify-content-between align-items-center">
                            <h3>Drugs</h3>
                            <div class="result-heading-caption small"></div>
                        </div>
                        <div class="result-progress progress"></div>
                        <div class="list-group result-results"></div>
                        <div class="result-template" style="display: none;">
                            <div class="template">
                                <a href="#" class="list-group-item list-group-item-action flex-column p-2">
                                    <div class="row no-gutters">
                                        <div class="col-1 d-none d-lg-inline-block text-center">
                                            <i class="drug-icon mt-1"></i>
                                        </div>
                                        <div class="col-12 col-md-11">
                                            <div class="enforce-grid">
                                                <span class="bold drug-name text-truncate"></span>
                                            </div>
                                            <div class="hinted-text small drug-desc"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="result-section col-xl-4 col-lg-12 m-b-35" id="search-overlay-search-results-journal">
                        <div class="result-heading d-flex justify-content-between align-items-center">
                            <h3>Journals</h3>
                            <div class="result-heading-caption small"></div>
                        </div>
                        <div class="result-progress progress"></div>
                        <div class="list-group result-results"></div>
                        <div class="result-template" style="display: none;">
                            <div class="template">
                                <a href="#" class="list-group-item list-group-item-action flex-column p-2">
                                    <div class="row no-gutters">
                                        <div class="col-12">
                                            <div class="enforce-grid">
                                                <span class="bold journal-name text-truncate"></span>
                                            </div>
                                            <div class="hinted-text small journal-desc"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="result-section col-xl-4 col-lg-12 m-b-35" id="search-overlay-search-results-conference">
                        <div class="result-heading d-flex justify-content-between align-items-center">
                            <h3>Conferences</h3>
                            <div class="result-heading-caption small"></div>
                        </div>
                        <div class="result-progress progress"></div>
                        <div class="list-group result-results"></div>
                        <div class="result-template" style="display: none;">
                            <div class="template">
                                <a href="#" class="list-group-item list-group-item-action flex-column p-2">
                                    <div class="row no-gutters">
                                        <div class="col-12">
                                            <div class="enforce-grid">
                                                <span class="bold conference-name text-truncate"></span>
                                            </div>
                                            <div class="hinted-text small conference-desc">
                                                <div class="date-locality"></div>
                                                <div class="attrs"></div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# END Overlay Search Results #}
    </div>
    {# END Overlay Content #}
</div>
{% endapply %}