{# templates/components/overlay-drug-view.html.twig #}
<div class="modal fade" id="drug-view-overlay" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content-wrapper">
            <div class="modal-content">
                <div class="modal-header clearfix text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row no-gutters hint-text drug-icon-list d-flex justify-content-center">
                        <div class="col-3 text-center drug-icon-experimental">
                            <a href="#" class="text-muted cursor-initial">
                                <h6 class="drug-icon-heading">Experimental</h6>
                                <i class="fa fa-microscope fa-3x"></i>
                                <p class="m-0 text-truncate drug-icon-name"></p>
                            </a>
                        </div>
                        <div class="col-1 text-center" style="margin-top: 3em;">
                            <i class="fa fa-chevron-right fa-2x"></i>
                        </div>
                        <div class="col-3 text-center drug-icon-generic">
                            <a href="#" class="text-muted cursor-initial">
                                <h6 class="drug-icon-heading">Generic</h6>
                                <i class="fa fa-mortar-pestle fa-3x"></i>
                                <p class="m-0 text-truncate drug-icon-name"></p>
                            </a>
                        </div>
                        <div class="col-1 text-center" style="margin-top: 3em;">
                            <i class="fa fa-chevron-right fa-2x"></i>
                        </div>
                        <div class="col-3 text-center drug-icon-brand">
                            <a href="#" class="text-muted cursor-initial">
                                <h6 class="drug-icon-heading">Brand</h6>
                                <i class="fa fa-pills fa-3x"></i>
                                <p class="m-0 text-truncate drug-icon-name"></p>
                            </a>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <small class="hint-text">Name</small>
                            <h4 class="mt-0 text-truncate drug-detail-name"></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <small class="hint-text">ID</small>
                            <p class="drug-detail-id"></p>
                        </div>
                        <div class="col-6">
                            <small class="hint-text">UUID</small>
                            <p class="drug-detail-uuid"></p>
                        </div>
                        <div class="col-2">
                            <small class="hint-text">Valid</small>
                            <p class="drug-detail-valid"></p>
                        </div>
                        <div class="col-3 drug-detail-specific drug-detail-specific-generic" style="display: none;">
                            <small class="hint-text">Full code</small>
                            <p class="drug-detail-fullcode"></p>
                        </div>
                        <div class="col-3 drug-detail-specific drug-detail-specific-experimental" style="display: none;">
                            <small class="hint-text">Type</small>
                            <p class="drug-detail-type"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <small class="hint-text">Comment</small>
                            <p class="text-justify drug-detail-comment"></p>
                        </div>
                    </div>
                    <div class="row drug-detail-specific drug-detail-specific-generic drug-detail-specific-brand drug-detail-typos-wrapper" style="display: none;">
                        <div class="col-12">
                            <small class="hint-text">Typos</small>
                            <div class="bootstrap-tagsinput border-0 drug-detail-typos"></div>
                        </div>
                    </div>
                    <div class="row drug-detail-specific drug-detail-specific-generic drug-detail-specific-brand drug-detail-synonyms-wrapper" style="display: none;">
                        <div class="col-12">
                            <small class="hint-text">Synonyms</small>
                            <div class="bootstrap-tagsinput border-0 drug-detail-synonyms"></div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12 text-right">
                            <a href="#" class="btn btn-primary btn-xs drug-link-edit">
                                <i class="fa fa-edit"></i>
                                Edit Drug
                            </a>
                            <a href="#" class="btn btn-primary btn-xs drug-link-map">
                                <i class="fa fa-link"></i>
                                View Drug Map
                            </a>
                            <a href="#" class="btn btn-xs drug-link-close" data-dismiss="modal">
                                Close
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>