{# components/overlay-ncbi-search.html.twig #}
<div class="modal fade slide-right" id="ncbi-search-modal" tabindex="-1" role="dialog" aria-labelledby="ncbi-search-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-start ncbi-logo">
                    <img src="/assets/images/logo/ncbi-logo-notag-w502-h616.png" alt="NCBI Logo" width="35" height="50" />
                    <h2 class="modal-title">NCBI Journal Search</h2>
                </div>
            </div>

            <div class="modal-body">
                <p class="info" style="display: none;">
                    Look up by <strong id="ncbi-search-field" class="all-caps"></strong>, with term "<strong id="ncbi-search-term"></strong>".
                </p>

                <div class="loading">
                    <div class="wait" style="display: none;">
                        <i class="fas fa-spinner fa-pulse"></i> <span></span>
                    </div>
                    <div class="found small" style="display: none;"></div>
                    <div class="pagination mt-1" style="display: none;">
                        <div class="btn-group btn-group-xs" role="group" aria-label="Pagination"></div>
                    </div>
                </div>

                <div class="results mt-2" style="display: none;">
                    <div class="list-group"></div>
                </div>

                <div id="result-list-template" style="display: none;">
                    <div class="list-group-item list-group-item-action pt-1">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 j-name"></h5>
                        </div>
                        <p class="mb-1 j-abbr"></p>
                        <div class="detail">
                            <div class="short">
                                <small>
                                    <strong>ISSN:</strong>
                                    <span class="span j-issn"></span>
                                </small>
                                <small>
                                    <strong>Publisher:</strong>
                                    <span class="j-pub"></span>
                                </small>
                            </div>
                            <div class="detail-list" style="display: none;">
                                <strong class="small">Other Details</strong>

                                <div class="d-flex justify-content-start">
                                    <ul class="list-1 small mt-1"></ul>
                                    <ul class="list-2 small mt-1"></ul>
                                </div>

                                <div class="d-flex justify-content-between mt-2">
                                    <div>
                                        <div class="btn-group btn-group-sm" role="group">
                                            <button class="btn btn-sm btn-primary j-action-copy" data-pull-field="all" title="Take multiple Journal attributes as Entry">
                                                <i class="far fa-arrow-alt-circle-left fs-14"></i>
                                                <span class="mb-1">Pull All</span>
                                            </button>
                                            <button class="btn btn-sm btn-info j-action-copy" data-pull-field="name" title="Take Journal Name Only">
                                                Name
                                            </button>
                                            <button class="btn btn-sm btn-info j-action-copy" data-pull-field="abbreviation" title="Take Journal Abbreviation Only">
                                                Abbv
                                            </button>
                                            <button class="btn btn-sm btn-info j-action-copy" data-pull-field="issn" title="Take Journal ISSN Only">
                                                ISSN
                                            </button>
                                            <button class="btn btn-sm btn-info j-action-copy-others" title="Other attributes">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div>
                                        <a href="#" class="btn btn-sm btn-secondary active j-ncbi-link" target="_blank" style="display: none;">
                                            View on NCBI
                                            <i class="far fa-arrow-alt-circle-right fs-14"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="copy-extras" style="display: none;">
                                    <div class="btn-group btn-group-xs" role="group">
                                        <button class="btn btn-xs btn-info j-action-copy" data-pull-field="specialty" title="Take Journal Specialties Only">
                                            Specialties
                                        </button>
                                        <button class="btn btn-xs btn-info j-action-copy" data-pull-field="publisher" title="Take Journal Publisher Only">
                                            Publisher
                                        </button>
                                        <button class="btn btn-xs btn-info j-action-copy" data-pull-field="language" title="Take Journal Languages Only">
                                            Languages
                                        </button>
                                        <button class="btn btn-xs btn-info j-action-copy" data-pull-field="country" title="Take Journal Country Only">
                                            Country
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="loading">
                    <div class="pagination mt-2" style="display: none;">
                        <div class="btn-group btn-group-xs" role="group" aria-label="Pagination"></div>
                    </div>

                    <div class="onncbi mt-3 mb-2" style="display: none;">
                        <a href="" target="_blank" class="onncbi-manual btn btn-info btn-xs">
                            Manually search NCBI
                        </a>
                        <a href="" target="_blank" class="onncbi-view-result btn btn-complete active btn-xs">
                            View search results on NCBI
                        </a>
                    </div>
                </div>
            </div>

            <div class="modal-footer bg-white">
                <button type="button" class="btn btn-secondary active btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>