{# templates/components/overlay-old-browser.html.twig #}
{% apply spaceless %}
<!--[if IE < 9 ]>
    <div class="ie-warning">
        <h1 class="text-white display-3">Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>

        {% include 'components/overlay-error-browsers-list.html.twig' %}

        <p>Sorry for the inconvenience!</p>
    </div>
<![endif]-->
{% endapply %}