{# templates/components/overlay-noscript.html.twig #}
{% apply spaceless %}
<noscript>
    <div class="ie-warning">
        <h1 class="text-white display-3">Warning!!</h1>
        <p>JavaScript is Required. Please change browser.</p>

        {% include 'components/overlay-error-browsers-list.html.twig' %}

        <p>Sorry for the inconvenience!</p>
    </div>
</noscript>
{% endapply %}