{#
  Source: http://dev.dbl-a.com/symfony-2-0/symfony2-and-twig-pagination/
  Updated by: Simon Schick <simonsimcity@gmail.com>
  Updated by: Coderlogy <junior@coderlogy.com> AUG 2019

  Parameters:
    * paginationPath (string) : the route name to use for links
    * currentPage (int) : the current page you are in
    * lastPage (int) : represents the total number of existing pages
    *
    * currentFilters (array) : associative array that contains the current route-arguments
    * extremePagesLimit (int) : max pages limit list
    * nearbyPagesLimit (int) : max nearby pages limit list
    * showAlwaysFirstAndLast (bool) : Always show first and last link (just disabled)
    *
    * btnSize (string) : bootstrap btn-{size}
    * btnColor (string) : bootstrap btn-{color}
#}
{% apply spaceless %}
    {% if lastPage > 1 %}
        {# route-path #}
        {% set paginationPath = paginationPath ?? app.request.get('_route') %}

        {# $_GET #}
        {% set currentFilters = currentFilters ?? app.request.query.all() %}

        {# the number of first and last pages to be displayed #}
        {% set extremePagesLimit = extremePagesLimit ?? 3 %}

        {# the number of pages that are displayed around the active page #}
        {% set nearbyPagesLimit = nearbyPagesLimit ?? 2 %}

        {# Always show first and last link #}
        {% set showAlwaysFirstAndLast = showAlwaysFirstAndLast ?? false %}

        {# the bootstrap btn-{size} #}
        {% set btnSize = btnSize ?? 'xs' %}

        {# the bootstrap btn-{color} #}
        {% set btnColor = btnColor ?? 'secondary' %}

        <div class="btn-group" role="group">
            {% if currentPage > 1 %}
                <a href="{{ path(paginationPath, currentFilters|merge({page: currentPage-1})) }}" class="btn btn-{{ btnSize }} btn-{{ btnColor }}">Previous</a>

                {% for i in range(1, extremePagesLimit) if ( i < currentPage - nearbyPagesLimit ) %}
                    <a href="{{ path(paginationPath, currentFilters|merge({page: i})) }}" class="btn btn-{{ btnSize }} btn-{{ btnColor }}">{{ i }}</a>
                {% endfor %}

                {% if extremePagesLimit + 1 < currentPage - nearbyPagesLimit %}
                    <span class="px-2 hint-text sep-dots">...</span>
                {% endif %}

                {% for i in range(currentPage-nearbyPagesLimit, currentPage-1) if ( i > 0 ) %}
                    <a href="{{ path(paginationPath, currentFilters|merge({page: i})) }}" class="btn btn-{{ btnSize }} btn-{{ btnColor }}">{{ i }}</a>
                {% endfor %}
            {% elseif showAlwaysFirstAndLast %}
                <span class="px-2 hint-text disabled">Previous</span>
            {% endif %}

            <a href="{{ path(paginationPath, currentFilters|merge({ page: currentPage })) }}" class="btn btn-{{ btnSize }} btn-{{ btnColor }} active">{{ currentPage }}</a>

            {% if currentPage < lastPage %}
                {% for i in range(currentPage+1, currentPage + nearbyPagesLimit) if ( i <= lastPage ) %}
                    <a href="{{ path(paginationPath, currentFilters|merge({page: i})) }}" class="btn btn-{{ btnSize }} btn-{{ btnColor }}">{{ i }}</a>
                {% endfor %}

                {% if  (lastPage - extremePagesLimit) > (currentPage + nearbyPagesLimit) %}
                    <span class="px-2 hint-text sep-dots">...</span>
                {% endif %}

                {% for i in range(lastPage - extremePagesLimit+1, lastPage) if ( i > currentPage + nearbyPagesLimit ) %}
                    <a href="{{ path(paginationPath, currentFilters|merge({page: i})) }}" class="btn btn-{{ btnSize }} btn-{{ btnColor }}">{{ i }}</a>
                {% endfor %}

                <a href="{{ path(paginationPath, currentFilters|merge({page: currentPage+1})) }}" class="btn btn-{{ btnSize }} btn-{{ btnColor }}">Next</a>
            {% elseif showAlwaysFirstAndLast %}
                <span class="px-2 hint-text disabled">Next</span>
            {% endif %}
        </div>
    {% endif %}
{% endapply %}