{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% if ((loggedin is defined) and (loggedin)) %}
    {% set templateUseThis = 'layouts/content-central.html.twig' %}
{% else %}
    {% set templateUseThis = 'layouts/content-boxed-center.html.twig' %}
{% endif %}

{% extends templateUseThis %}

{% set type = status_code|trans|split('') %}

{% block stylesheets %}
    <meta http-equiv="refresh" content="1800; url={{ path('dashboard') }}">
{% endblock %}

{% block inner_body %}
    <div class="m-t-35">
        <h3>Unexpected Error Occur Code {{ status_code }}: {{ status_text }}</h3>
        {% if head is defined %}
            >>> {{ head.title }}
        {% endif %}

        <h5 class="text-danger">{{ exception.getMessage() }}</h5>

        <p>
            {% if status_code == "404" %}
                Requested page is not longer available.
            {% elseif status_code == "403" %}
                Permission denied, you trying to access restricted area.
            {% elseif (type[0] == "5") or (status_code == 0) %}
                Something is broken. Please let us know what you were doing when this error occurred.<br/>
                We will fix it as soon as possible. Sorry for any inconvenience caused.
            {% else %}
                The server returned a "{{ status_code }} {{ status_text }}".
            {% endif %}
        </p>

        <h6>Occur at:</h6>
        <code>
            {{- exception.getFile() ~ " at line " ~ exception.getLine() -}}
        </code>

        {% if ('dev' == app.getEnvironment()) %}
            <h6>Trace:</h6>
            {{- dump(exception.getTrace()) -}}
        {% endif %}

        <div class="p-t-35">
            {% if ((loggedin is defined) and (loggedin)) %}
                <a href="{{ path('dashboard') }}" class="btn btn-primary btn-cons m-t-10">
                    <i class="icon icon-home"></i>
                    Go to Dashboard
                </a>
            {% else %}
                <a href="{{ path('login') }}" class="btn btn-primary btn-cons m-t-10">
                    Go to Login Page
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}