{% extends 'layouts/content-central.html.twig' %}
{% import "__macros.html.twig" as macros %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ '/assets/vendor/datatables/dataTables.bootstrap4.min.css' }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ '/assets/vendor/datatables/jquery.dataTables.min.js' }}"></script>
    <script type="text/javascript" src="{{ '/assets/vendor/datatables/dataTables.bootstrap4.min.js' }}"></script>
    <script type="text/javascript" src="{{ asset('assets/build/page-admin-manage-roles.min.js') }}"></script>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('dashboard') }}">
                <i class="fa fa-home fa-lg"></i>
            </a>
        </li>
        <li class="breadcrumb-item">
            <span>{{ head.entity }}</span>
        </li>
        <li class="breadcrumb-item active">
            <a href="{{ path('admin_manage_roles') }}">{{ head.action }}</a>
        </li>
    </ol>
{% endblock %}

{% block inner_body %}
    <div class="container-fluid p-l-25 p-r-25 p-t-0 p-b-25 sm-padding-10">
        <div class="row">
            <div class="col-12">
                <div class="card card-transparent">
                    <div class="card-header ">
                        <div class="card-title">
                            {{ head.entity }}
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="text-primary no-margin">
                            <i class="fa fa-user-tag"></i>
                            {{ head.subtitle }}
                        </h3>

                        <div class="row m-t-20 m-b-20">
                            <div class="col-12 d-flex justify-content-between">
                                <btn class="btn btn-sm btn-secondary" type="button" data-toggle="collapse" data-target="#roles-info" aria-expanded="false" aria-controls="roles-info">
                                    <i class="fa fa-info-circle fa-lg"></i>
                                    Information
                                </btn>
                                <btn id="add-new-role" class="btn btn-sm btn-primary" type="button">
                                    <i class="fa fa-user-plus fa-lg"></i>
                                    Add New User
                                </btn>
                            </div>
                            <div class="col-12 collapse" id="roles-info">
                                <p class="p-2">
                                    Application using P\S\L Official LDAP authentication. No profile is editable from this end.<br/>
                                    All authenticated LDAP users is a  Visitor, unless assigned here with special capability.
                                </p>
                                <ul class="list">
                                    <li><strong>Visitor</strong> virtually have <u>no access</u> to see Dashboard, View or Search any data within this application.</li>
                                    <li><strong>User</strong> may access Dashboard, and<u> View and Search</u> Drug, Journal &amp; Conference, but will not able to make any changes.</li>
                                    <li><strong>Editor</strong> will have access to View and Search Drug, Journal &amp; Conference, and <u>make relevant changes</u>.</li>
                                    <li><strong>Admin</strong>, on top all Editor access, they will be able to access Administration pages; <u>managing users</u> &amp; etc.</li>
                                </ul>
                                <p class="p-2">
                                    This feature also available on Command layer see:<br/>
                                    <code class="readable d-block">$ app/bin drugDb:assign-role --help</code>
                                </p>
                                <hr/>
                            </div>
                        </div>

                        <h4 class="m-t-15">
                            Registered Users
                        </h4>

                        <div class="mt-4">
                            <table id="user-list" class="table table-striped table-condensed"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="user-action-temp" style="display: none;">
        <button class="btn btn-xs btn-info edit-role">
            <i class="fa fa-user-edit fa-lg"></i>&nbsp;
            Edit
        </button>
        <button class="btn btn-xs btn-danger remove-role">
            <i class="fa fa-user-times fa-lg"></i>&nbsp;
            Remove
        </button>
    </div>
    <div id="role-selector-temp" style="display: none;">
        <select id="role-input">
            {% for role_key, role_set in body.roles|reverse %}
                <option value="{{ role_key }}">{{ role_key|capitalize }}</option>
            {% endfor %}
        </select>
    </div>
{% endblock %}