<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <title>{{ heading }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
        span.preheader { display: none !important; }
    </style>
</head>
<body>
    <span style="display:none;" class="preheader">{{ preheading|default(content_top)|raw }}</span>
    <div style="padding:0;width:100%!important;margin:0" marginheight="0" marginwidth="0">
        <center>
            <table cellpadding="8" cellspacing="0" style="padding:0;width:100%!important;background:#ffffff;margin:0;background-color:#ffffff" border="0">
                <tbody>
                    <tr>
                        <td valign="top">
                            <table cellpadding="0" cellspacing="0" style="border-radius:4px;border:1px #dceaf5 solid" border="0" align="center">
                                <tbody>
                                    <tr>
                                        <td colspan="3" height="6"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table cellpadding="0" cellspacing="0" style="line-height:25px" border="0" align="center">
                                                <tbody>
                                                    <tr>
                                                        <td colspan="3" height="30"></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="36"></td>
                                                        <td width="454" align="left" style="color:#444444;border-collapse:collapse;font-size:11pt;font-family:proxima_nova,'Open Sans','Lucida Grande','Segoe UI',Arial,Verdana,'Lucida Sans Unicode',Tahoma,'Sans Serif';max-width:454px" valign="top">
                                                            {{ greeting }}
                                                            <br>
                                                            <br>
                                                            {{ content_top }}
                                                            <br>
                                                            <br>
                                                            {% if pre_content is defined %}
                                                            <table style="border-radius:4px;width:100%!important;background:#e8f2fa">
                                                                <tbody>
                                                                    <tr>
                                                                        <td height="16px"></td>
                                                                        <td height="16px"></td>
                                                                        <td height="16px"></td>
                                                                    </tr>
                                                                    {% if pre_content_before is defined %}
                                                                    <tr>
                                                                        <td height="16px"></td>
                                                                        <td height="16px">{{ pre_content_before }}</td>
                                                                        <td height="16px"></td>
                                                                    </tr>
                                                                    {% endif %}
                                                                    <tr>
                                                                        <td width="20px"></td>
                                                                        <td>
                                                                            <pre style="white-space:pre-wrap;font-size:12px;line-height:12px;background-color:#e8f2fa;color:#000;">
                                                                                {{- pre_content|raw -}}
                                                                            </pre>
                                                                        </td>
                                                                        <td width="20px"></td>
                                                                    </tr>
                                                                    {% if pre_content_after is defined %}
                                                                    <tr>
                                                                        <td height="16px"></td>
                                                                        <td height="16px">{{ pre_content_after }}</td>
                                                                        <td height="16px"></td>
                                                                    </tr>
                                                                    {% endif %}
                                                                    <tr>
                                                                        <td height="20px"></td>
                                                                        <td height="20px"></td>
                                                                        <td height="20px"></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <br>
                                                            {% endif %}
                                                            {% if content_bottom is defined %}
                                                            {{ content_bottom }}
                                                            <br>
                                                            {% endif %}
                                                            <br>Auto generated by <a href="{{ absolute_url(path('login')) }}" target="_blank" style="font-weight:bold;text-decoration:none;color:#000;">Drugs Database</a>.
                                                            <br>
                                                        </td>
                                                        <td width="36"></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3" height="36"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table cellpadding="0" cellspacing="0" align="center" border="0">
                                <tbody>
                                    <tr>
                                        <td height="10"></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0;border-collapse:collapse">
                                            <table cellpadding="0" cellspacing="0" align="center" border="0">
                                                <tbody>
                                                    <tr style="color:#a8b9c6;font-size:11px;font-family:proxima_nova,'Open Sans','Lucida Grande','Segoe UI',Arial,Verdana,'Lucida Sans Unicode',Tahoma,'Sans Serif'">
                                                        <td width="400" align="left"></td>
                                                        <td width="128" align="right">&copy; 2019 DrugsDb</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </div>
</body>
</html>