<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <title>{{ heading }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
        span.preheader { display: none !important; }
    </style>
</head>
<body>
    <span style="display:none;" class="preheader">{{ preheading|default(content)|raw }}</span>
    <table align="center" bgcolor="#f9f9f9" border="0" cellpadding="0" cellspacing="0" style="font-family:'Helvetica Neue',Arial,sans-serif;background:#f9f9f9;border-collapse:collapse;line-height:100%!important;margin:0;padding:0;width:100%!important">
        <tbody>
            <tr>
                <td>
                    <table style="border-collapse:collapse;margin:auto;max-width:635px;min-width:320px;width:100%">
                        <tbody>
                            <tr>
                                <td valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#c0c0c0;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;line-height:26px;margin:0 auto 26px;width:100%"> </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:0 20px" valign="top">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-radius:3px;color:#545454;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;line-height:20px;margin:0 auto;width:100%">
                                        <tbody>
                                            <tr>
                                                <td valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;border:none;font-size:1px;height:2px;line-height:3px;width:100%">
                                                        <tbody>
                                                            <tr>
                                                                <td bgcolor="#0468d2" style="background:#7e6399;border:none;font-family:'Helvetica Neue',Arial,sans-serif;width:100%" valign="top">&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-color:#dddddd;border-radius:0 0 3px 3px;border-style:solid;border-width:0 1px 1px;width:100%">
                                                        <tbody>
                                                            <tr>
                                                                <td bgcolor="white" style="background:white;border-radius:0 0 3px 3px;color:#525252;font-family:'Helvetica Neue',Arial,sans-serif;font-size:15px;line-height:22px;overflow:hidden;padding:40px 40px 30px;text-align:justify">
                                                                    <h2 style="line-height: 1.5; margin: 0px 0px 17px; padding-top: 0px; text-align: center;">{{ heading }}</h2>
                                                                    <p>&nbsp;</p>
                                                                    {{ content|raw }}
                                                                    <p>&nbsp;</p>
                                                                    <p style="text-align: center;">{{ closing|default('') }}</p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div>
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;margin:0 auto;max-width:100%;width:100%">
                                            <tbody>
                                                <tr>
                                                    <td valign="top" width="100%">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#545454;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;line-height:20px;margin:0 auto;max-width:100%;width:100%">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td width="100%">
                                                                    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;color:#545454;font-family:'Helvetica Neue',Arial,sans-serif;font-size:13px;line-height:20px;margin:0 auto;max-width:100%;width:100%" width="100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="color: rgb(153, 153, 153); text-align: center;"><b style="color:#6f6f6f">{{ footer|default('') }}</b> </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td width="25%">&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="20" valign="top">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>